<template>
  <div>
    <header-list :title="$t('menu.recurrents')">
      <template v-slot:filters>
        <div class="d-block d-md-inline-block pt-1">
          <div class="d-inline-block float-md-left mr-1 align-top d-flex">
            <simple-select
              class="mr-1"
              filterBy="business_name"
              :apiUrl="consortiumSearchUrl"
              @onInput="searchChange"
              valueField="consortium_id"
              placeholder="Consorcio"
              style="min-width:200px"
            />
            <simple-select
              class="mr-1"
              filterBy="name"
              :apiUrl="providerSearchUrl"
              @onInput="searchChange"
              valueField="provider_id"
              placeholder="Proveedor"
              style="min-width:200px"
            />
            <v-select
              @input="val => searchChange('type', val)"
              placeholder="Tipo de monto"
              label="text"
              :options="typeOptions"
              :reduce="(typeOptions) => typeOptions.value"
              style="min-width:200px"
            />
          </div>
        </div>

        <page-options
          :from="from"
          :to="to"
          :total="total"
          :perPage="perPage"
          :pageSizes="pageSizes"
          :changePageSize="changePageSize"
        />
      </template>
      <template v-slot:buttons>
        <div class="top-right-button-container">
          <b-button
            variant="primary"
            class="top-right-button"
            @click="$router.push({ name: 'spending-recurrent-create' })"
          >{{ $t("buttons.create-new") }}</b-button>
        </div>
      </template>
    </header-list>
    <Datatable
      ref="datatable"
      :apiBase="apiBase"
      :columns="computedColumns"
      :perPage="perPage"
      :contextMenuItems="contextMenuItems"
      :filter="filter"
      @getPagination="getPagination"
      @onContextMenuAction="onContextMenuAction"
      :slotNames="slotNames"
    >
      <template v-slot:type="props">
        <div>{{typeFormatter(props.props.rowData.type)}}</div>
      </template>
      <template v-slot:due_date="props">
        <div>{{dueDateFormatter(props.props.rowData.due_date)}}</div>
      </template>
      <template v-slot:amount="props">
        <div>{{amountFormatter(props.props.rowData.amount)}}</div>
      </template>
    </Datatable>
    <confirm-modal
      ref="confirmModal"
      :title="$t('forms.remove')"
      :description="$t('forms.spendings.recurrents.description-modal')"
      :confirm="$t('forms.confirm')"
      :cancel="$t('forms.cancel')"
      @acceptModal="acceptModal"
    ></confirm-modal>
  </div>
</template>

<script>
import HeaderList from "@/components/Common/HeaderList";
import SimpleSearch from "@/components/Filter/SimpleSearch";
import SimpleSelect from "@/components/Filter/Select";
import PageOptions from "@/components/Common/PageOptions";
import Datatable from "@/components/Common/Datatable";
import ChangePageMixin from "@/mixins/ChangePageMixin";
import dataTableMixin from "@/mixins/dataTableMixin";
import SpendingsRecurrentsRepository from "@/repositories/SpendingsRecurrentsRepository";
import ConfirmModal from "@/components/Common/ConfirmModal";
import vSelect from "vue-select";
import "vue-select/dist/vue-select.css";

const BASEURL = process.env.VUE_APP_BASEURL;

export default {
  data() {
    return {
      columns: [
        {
          name: "consortium.fancy_name",
          title: "Consorcio",
          titleClass: "",
          dataClass: "text-muted",
          width: "20%"
        },
        {
          name: "provider.name",
          title: "Proveedor",
          titleClass: "",
          dataClass: "text-muted",
          width: "20%"
        },
        {
          name: "periodicity",
          title: "Periodicidad",
          titleClass: "",
          dataClass: "text-muted",
          width: "15%"
        },
        {
          name: "__slot:type",
          title: "Tipo",
          titleClass: "",
          dataClass: "text-muted",
          width: "15%"
        },
        {
          name: "__slot:due_date",
          title: "Fecha de Vto.",
          titleClass: "",
          dataClass: "text-muted",
          width: "25%"
        },
        {
          name: "__slot:amount",
          title: "Monto",
          titleClass: "",
          dataClass: "text-muted",
          width: "10%"
        }
      ],
      typeOptions: [
        {
          text: "Fijo",
          value: "fixed"
        },
        {
          text: "Variable",
          value: "variable"
        }
      ],
      apiBase: BASEURL + "/spending-recurrent/",
      consortiumSearchUrl: BASEURL + "/consortium",
      providerSearchUrl: BASEURL + "/provider",
      perPage: 10,
      pageSizes: [10, 15, 20, 25],
      slotNames: ["type", "due_date", "amount"],
      contextMenuItems: [
        {
          text: "Ver Perfil",
          icon: "simple-icon-book-open",
          action: "spending-recurrent-edit"
        },
        {
          text: "Borrar gasto",
          icon: "simple-icon-trash",
          action: "spending-recurrent-delete"
        }
      ]
    };
  },
  methods: {
    onContextMenuAction(action, element) {
      switch (action) {
        case "spending-recurrent-edit":
          this.$router.push({
            name: "spending-recurrent-edit",
            params: { id: element.id }
          });
          break;

        case "spending-recurrent-delete":
          this.idSelect = element.id;
          this.$refs.confirmModal.$bvModal.show("confirmModal");
          break;

        default:
          break;
      }
    },
    async deleteSpendingRecurrent(id) {
      try {
        await SpendingsRecurrentsRepository.destroySpendingRecurrent(
          this.user.authHeader,
          id
        );
        this.$refs.datatable.$refs.vuetable.refresh();
        this.$notify(
          "success",
          "Gasto eliminado",
          "El gasto recurrente fue eliminado satisfactoriamente.",
          { duration: 3000, permanent: false }
        );
      } catch (error) {
        this.$notify(
          "error",
          "Error al eliminar gasto",
          error.response.data.message,
          { duration: 3000, permanent: false }
        );
      }
    },
    acceptModal() {
      this.$refs.confirmModal.$bvModal.hide("confirmModal");
      this.deleteSpendingRecurrent(this.idSelect);
    },
    dueDateFormatter(due_date) {
      return due_date ? due_date : "-";
    },
    typeFormatter(type) {
      return type === "variable" ? "Variable" : "Fijo";
    }
  },
  components: {
    HeaderList,
    SimpleSearch,
    PageOptions,
    Datatable,
    ConfirmModal,
    SimpleSelect,
    vSelect
  },
  mixins: [ChangePageMixin, dataTableMixin]
};
</script>
