<template>
  <div>
    <header-list :title="$t('pages.create-recurrent-spending')"></header-list>

    <b-row align-h="center">
      <b-colxx cols="12" lg="10">
        <b-card class="pt-3">
          <spending-recurrent-form
            ref="spendingRecurrentForm"
            :submitSpendingRecurrent="submitSpendingRecurrent"
            v-bind.sync="formData"
          />
        </b-card>
      </b-colxx>
    </b-row>
  </div>
</template>

<script>
import HeaderList from "../../../../components/Common/HeaderList";
import SpendingRecurrentForm from "../../../../containers/forms/SpendingRecurrentForm";
import SpendingsRecurrentsRepository from "../../../../repositories/SpendingsRecurrentsRepository";
import { mapGetters } from "vuex";
import moment from "moment";
export default {
  name: "SpendingRecurrentCreate",
  data() {
    return {
      formData: {
        consortium_id: null,
        percentage_consortium_id: null,
        category_id: null,
        provider_id: null,
        service_id: null,
        periodicity: null,
        start_date: "",
        due_date: null,
        type: null,
        amount: null,
        description: ""
      }
    };
  },
  methods: {
    async submitSpendingRecurrent() {
      let validate = this.validateForm("spendingRecurrentForm");
      if (validate) {
        this.formData.start_date = this.dateFormatter(this.formData.start_date);
        if (this.formData.due_date != null) {
          this.formData.due_date = this.dateFormatter(this.formData.due_date);
        }
        try {
          await SpendingsRecurrentsRepository.createSpendingRecurrent(
            this.user.authHeader,
            this.formData
          );
          this.$notify(
            "success",
            "Gasto recurrente creado",
            "El gasto recurrente fue creado satisfactoriamente.",
            { duration: 3000, permanent: false }
          );
          this.$router.push({ name: "spending-recurrent-list" });
        } catch (error) {
          this.$notify(
            "error",
            "Error creando descripción de gasto",
            error.response.data.message,
            { duration: 3000, permanent: false }
          );
        }
      }
    },
    dateFormatter(dateToFormat) {
      return moment(dateToFormat).format("DD-MM-YYYY");
    },
    validateForm(refName) {
      this.$refs[refName].$v.$touch();
      return !this.$refs[refName].$v.$anyError;
    }
  },
  components: {
    HeaderList,
    SpendingRecurrentForm
  },
  computed: {
    ...mapGetters({
      user: "currentUser"
    })
  }
};
</script>
