<template>
  <b-row>
    <b-col cols="12">
      <b-row>
        <b-col cols="12" sm="4">
          <InputFilter
            ref="nameFilter"
            @onInput="addPartialFilters"
            label="Nombre"
            placeholder="Filtre por nombre"
            field="first_name"
          />
        </b-col>
        <b-col cols="12" sm="4">
          <InputFilter
            ref="lastNameFilter"
            @onInput="addPartialFilters"
            label="Apellido"
            placeholder="Filtre por Apellido"
            field="last_name"
          />
        </b-col>
        <b-col cols="12" sm="4">
          <CuitFilter
            ref="cuilFilter"
            @onInput="addPartialFilters"
            label="Cuil"
            field="cuil"
          />
        </b-col>
        <b-col cols="12" sm="4">
          <OptionsFilter
            ref="stateFilter"
            @onInput="addPartialFilters"
            label="Tipo de estado"
            :options="stateFilter"
            labelField="text"
            placeholder="Filtre por tipo de estado"
            field="active"
          />
        </b-col>
        <b-col cols="12" sm="4">
          <OptionsFilter
            ref="functionFilter"
            @onInput="addPartialFilters"
            label="Tipo de función"
            :options="professionalFunctions"
            labelField="name"
            placeholder="Filtre por tipo de función"
            field="professional_function_id"
            keyValue="id"
          />
        </b-col>
      </b-row>
    </b-col>
    <b-col cols="12">
      <div class="separator mt-2 mb-3" />
    </b-col>
    <b-col cols="12" class="d-flex justify-content-end">
      <b-button variant="outline-primary" class="mr-3" @click="cleanFilter">{{
        $t("forms.filters.erase")
      }}</b-button>
      <b-button variant="primary" @click="setFilters">{{
        $t("forms.filters.filter")
      }}</b-button>
    </b-col>
  </b-row>
</template>

<script>
import OptionsFilter from "@/components/Filter/OptionsFilter";
import CuitFilter from "@/components/Filter/CuitFilter";
import InputFilter from "@/components/Filter/InputFilter";
import ProfessionalFunctionsRepository from "@/repositories/ProfessionalFunctionsRepository";
import { mapGetters } from "vuex";
export default {
  name: "EmployeeFilter",
  props: ["show"],
  components: {
    OptionsFilter,
    InputFilter,
    CuitFilter,
  },
  data() {
    return {
      partialFilters: {},
      professionalFunctions: [],
      searchProfessionalFunctions: false,
      stateFilter: [
        {
          text: "Activo",
          value: true,
        },
        {
          text: "Inactivo",
          value: false,
        },
      ],
    };
  },
  computed: {
    ...mapGetters({
      user: "currentUser",
    }),
  },
  methods: {
    addPartialFilters(filter = {}) {
      this.partialFilters = { ...this.partialFilters, ...filter };
    },
    setFilters() {
      this.$emit("setFilters", this.partialFilters);
    },
    cleanFilter() {
      let refs = Object.keys(this.$refs);
      refs.map((refName) => {
        this.$refs[refName].cleanFields();
      });
      this.partialFilters = {};
      this.setFilters();
    },
    async getProfessionalFunctions() {
      try {
        let response = await ProfessionalFunctionsRepository.getProfessionalFunctionsList(
          this.user.authHeader
        );
        this.professionalFunctions = response.rows;
        return response;
      } catch (error) {
        throw error;
      }
    },
  },
  watch: {
    show: async function(val) {
      if (!this.searchProfessionalFunctions) {
        this.getProfessionalFunctions();
      }
      this.searchProfessionalFunctions = true;
    },
  },
};
</script>
<style lang="scss" scoped></style>
