<template>
  <b-row>
    <b-col cols="12">
      <b-row>
        <b-col cols="12" sm="6">
          <RangeDateFilter
              ref="RangeDateFilter"
              @onInput="addPartialFilters"
              :labelGroup="$t('forms.filters.range-date')"
              fromField="date_from"
              :fromLabel="$t('forms.from-date')"
              toField="date_to"
              :toLabel="$t('forms.to-date')"
          />
        </b-col>
        <b-col cols="12" sm="6">
          <RangeAmountFilter
              ref="RangeAmountFilter"
              @onInput="addPartialFilters"
              :labelGroup="$t('forms.filters.range-amount')"
              fromField="amount_from"
              :fromLabel="$t('forms.from-date')"
              toField="amount_to"
              :toLabel="$t('forms.to-date')"
          />
        </b-col>
        <b-col cols="12" sm="4">
          <OptionsFilter
              ref="typeMovementFilter"
              @onInput="addPartialFilters"
              label="Tipo de movimiento"
              :options="type_movement"
              labelField="text"
              placeholder="Filtre por tipo de movimiento"
              field="type_movement"
          />
        </b-col>
        <b-col cols="12" sm="4">
          <InputFilter
              ref="descriptionFilter"
              @onInput="addPartialFilters"
              label="Descripcion"
              placeholder="Filtre por tipo descripcion"
              field="description"
          />
        </b-col>
        <b-col cols="12" sm="4">
          <OptionsFilter
              ref="identifiedFilter"
              @onInput="addPartialFilters"
              label="Gasto identificado"
              :options="identifiedOptions"
              labelField="text"
              placeholder="Filtre por gasto identificado"
              field="identified"
          />
        </b-col>
      </b-row>
    </b-col>
    <b-col cols="12">
      <div class="separator mt-2 mb-3" />
    </b-col>
    <b-col cols="12" class="d-flex justify-content-end">
      <b-button variant="outline-primary" class="mr-3" @click="cleanFilter">{{
          $t("forms.filters.erase")
        }}</b-button>
      <b-button variant="primary" @click="setFilters">{{
          $t("forms.filters.filter")
        }}</b-button>
    </b-col>
  </b-row>
</template>

<script>
import RangeDateFilter from "@/components/Filter/RangeDateFilter";
import RangeAmountFilter from "@/components/Filter/RangeAmountFilter";
import OptionsFilter from "@/components/Filter/OptionsFilter";
import InputFilter from "@/components/Filter/InputFilter";
export default {
  name: "FinancialStatementListFilter",
  components: {
    RangeDateFilter,
    RangeAmountFilter,
    OptionsFilter,
    InputFilter,
  },
  data() {
    return {
      partialFilters: {},
      type_movement: [
        {
          text: "Ingresos",
          value: "income",
        },
        {
          text: "Egresos",
          value: "outflow",
        },
        {
          text: "Sin filtrar",
          value: null,
        },
      ],
      identifiedOptions: [
        {
          text: "Identificado",
          value: true,
        },
        {
          text: "No Identificado",
          value: false,
        },
        {
          text: "Sin filtrar",
          value: null,
        },
      ],
    };
  },
  methods: {
    addPartialFilters(filter = {}) {
      this.partialFilters = { ...this.partialFilters, ...filter };
    },
    setFilters() {
      let dateResponse = this.$refs.RangeDateFilter.validate();
      let amountResponse = this.$refs.RangeAmountFilter.validate();
      if (dateResponse && amountResponse) {
        this.$emit("setFilters", this.partialFilters);
      }
    },
    cleanFilter() {
      let refs = Object.keys(this.$refs);
      refs.map((refName) => {
        this.$refs[refName].cleanFields();
      });
      this.partialFilters = {};
      this.setFilters();
    },
  },
};
</script>
<style lang="scss" scoped></style>
