<template>
  <b-row>
    <b-col cols="12">
      <b-row>
        <b-col cols="12" sm="4">
          <InputFilter
            ref="nameFilter"
            @onInput="addPartialFilters"
            label="Nombre"
            placeholder="Filtre por Nombre"
            field="name"
          />
        </b-col>
        <b-col cols="12" sm="4">
          <InputFilter
            ref="cuitFilter"
            @onInput="addPartialFilters"
            label="Cuit"
            placeholder="Filtre por Cuit"
            field="cuit"
          />
        </b-col>
        <b-col cols="12" sm="4">
          <InputFilter
            ref="emailFilter"
            @onInput="addPartialFilters"
            label="Email"
            placeholder="Filtre por Email"
            field="email"
          />
        </b-col>
      </b-row>
    </b-col>
    <b-col cols="12">
      <div class="separator mt-2 mb-3" />
    </b-col>
    <b-col cols="12" class="d-flex justify-content-end">
      <b-button variant="outline-primary" class="mr-3" @click="cleanFilter">{{
        $t("forms.filters.erase")
      }}</b-button>
      <b-button variant="primary" @click="setFilters">{{
        $t("forms.filters.filter")
      }}</b-button>
    </b-col>
  </b-row>
</template>

<script>
import InputFilter from "@/components/Filter/InputFilter";

export default {
  name: "ProvidersFilter",
  components: {
    InputFilter,
  },
  date() {
    return {
      partialFilters: {},
    };
  },
  methods: {
    addPartialFilters(filter = {}) {
      this.partialFilters = { ...this.partialFilters, ...filter };
    },
    setFilters() {
      this.$emit("setFilters", this.partialFilters);
    },
    cleanFilter() {
      let refs = Object.keys(this.$refs);
      refs.map((refName) => {
        this.$refs[refName].cleanFields();
      });
      this.partialFilters = {};
      this.setFilters();
    },
  },
};
</script>

<style lang="scss" scoped></style>
