<template>
  <b-modal id="PaymentOrdersSpendingModal" size="xl" :title="$t('forms.payment-orders.search-spendings')">
    <Datatable
        ref="datatable"
        :apiBase="apiBase"
        :columns="columns"
        :perPage="perPage"
        :filter="filter"
        @getPagination="getPagination"
        :slotNames="slotNames"
    >
      <template v-slot:selection="props">
        <div>
          <b-checkbox v-model="selectedSpendings" :value="props.props.rowData"/>
        </div>
      </template>
      <template v-slot:amount="props">
        <div>{{ amountFormatter(props.props.rowData.amount) }}</div>
      </template>
      <template v-slot:invoice="props">
        <div>{{ invoiceFormatter(props.props.rowData) }}</div>
      </template>
      <template v-slot:description="props">
        <div>{{ trimDescription(props) }}</div>
      </template>
    </Datatable>
    <template slot="modal-footer">
      <b-button variant="secondary" @click="cancelModal">
        {{ $t('forms.cancel') }}
      </b-button>
      <b-button variant="primary" @click="acceptModal" class="mr-1">
        {{ $t('forms.confirm') }}
      </b-button>
    </template>
  </b-modal>
</template>

<script>
import HeaderList from '@/components/Common/HeaderList';
import SimpleSearch from '@/components/Filter/SimpleSearch';
import SimpleSelect from '@/components/Filter/Select';
import PageOptions from '@/components/Common/PageOptions';
import Datatable from '@/components/Common/Datatable';
import ChangePageMixin from '@/mixins/ChangePageMixin';
import dataTableMixin from '@/mixins/dataTableMixin';
import vSelect from 'vue-select';
import 'vue-select/dist/vue-select.css';

const BASEURL = process.env.VUE_APP_BASEURL;

export default {
  name: 'PaymentOrderSpendingModal',
  data() {
    return {
      columns: [
        {
          name: '__slot:selection',
          title: 'Acciones',
          titleClass: 'text-center',
          dataClass: 'text-muted text-center',
          width: '1%',
        },
        {
          name: 'spending.consortium.fancy_name',
          title: 'Consorcio',
          titleClass: 'text-center',
          dataClass: 'text-muted text-center',
        },
        {
          name: '__slot:description',
          title: 'Descripción',
          titleClass: 'text-center',
          dataClass: 'text-muted text-center',
        },
        {
          name: '__slot:invoice',
          title: 'Nro. de Factura',
          titleClass: 'text-center',
          dataClass: 'text-muted text-center',
        },
        {
          name: 'number',
          title: 'Cuota',
          titleClass: 'text-center',
          dataClass: 'text-muted text-center',
        },
        {
          name: '__slot:amount',
          title: 'Monto',
          titleClass: 'text-center',
          dataClass: 'text-muted text-center',
        },
      ],
      showFilters: true,
      apiBase: BASEURL + '/spending-installment',
      consortiumSearchUrl: BASEURL + '/consortium',
      providerSearchUrl: BASEURL + '/provider',
      categorySearchUrl: BASEURL + '/categories',
      perPage: 5,
      pageSizes: [10, 15, 20, 25],
      slotNames: ['amount', 'invoice', 'description', 'selection'],
      selectedSpendings: [],
    };
  },
  methods: {
    invoiceFormatter(rowData) {
      return rowData.invoice_number ? rowData.invoice_number : '-';
    },
    trimDescription(props) {
      let description = props.props.rowData.spending.description;
      return description.length > 30
          ? `${description.substr(0, 30)}...`
          : description;
    },
    acceptModal() {
      this.$emit('acceptModal', this.selectedSpendings);
    },
    cancelModal() {
      this.$bvModal.hide('PaymentOrdersSpendingModal');
    },
  },
  components: {
    HeaderList,
    SimpleSearch,
    PageOptions,
    Datatable,
    SimpleSelect,
    vSelect,
  },
  mixins: [ChangePageMixin, dataTableMixin],
};
</script>
