<template>
  <div>
    <vuetable
        ref="vuetable"
        class="table-divided order-with-arrow"
        no-data-template="No se encontraron registros"
        :data="data"
        :api-mode="false"
        :per-page="perPage"
        :fields="columns"
    >
      <template v-slot:amount="props">
        <div>{{ amountFormatter(props.rowData.amount) }}</div>
      </template>
      <template v-slot:invoice="props">
        <div>{{ invoiceFormatter(props.rowData) }}</div>
      </template>
      <template v-slot:description="props">
        <div>{{ trimDescription(props.rowData) }}</div>
      </template>
      <template v-slot:actions="props">
        <div>
          <b-button variant="outline-danger" size="xs" block @click="dropInstallment(props.rowData)">
            {{ $t('buttons.remove') }}
          </b-button>
        </div>
      </template>
    </vuetable>
  </div>
</template>

<script>
import HeaderList from '@/components/Common/HeaderList';
import SimpleSearch from '@/components/Filter/SimpleSearch';
import SimpleSelect from '@/components/Filter/Select';
import PageOptions from '@/components/Common/PageOptions';
import dataTableMixin from '@/mixins/dataTableMixin';
import vSelect from 'vue-select';
import 'vue-select/dist/vue-select.css';
import vuetable from 'vuetable-2';

const BASEURL = process.env.VUE_APP_BASEURL;

export default {
  name: 'PaymentOrderSpendings',
  data() {
    return {
      columns: [
        {
          name: 'spending.consortium.fancy_name',
          title: 'Consorcio',
          titleClass: 'text-center',
          dataClass: 'text-muted text-center',
        },
        {
          name: '__slot:description',
          title: 'Descripción',
          titleClass: 'text-center',
          dataClass: 'text-muted text-center',
        },
        {
          name: '__slot:invoice',
          title: 'Nro. de Factura',
          titleClass: 'text-center',
          dataClass: 'text-muted text-center',
        },
        {
          name: 'number',
          title: 'Cuota',
          titleClass: 'text-center',
          dataClass: 'text-muted text-center',
        },
        {
          name: '__slot:amount',
          title: 'Monto',
          titleClass: 'text-center',
          dataClass: 'text-muted text-center',
        },
        {
          name: '__slot:actions',
          title: 'Acciones',
          titleClass: 'text-center',
          dataClass: 'text-muted text-center',
        },
      ],
      showFilters: true,
      consortiumSearchUrl: BASEURL + '/consortium',
      providerSearchUrl: BASEURL + '/provider',
      categorySearchUrl: BASEURL + '/categories',
      perPage: 10,
      slotNames: ['amount', 'invoice', 'description', 'actions'],
    };
  },
  methods: {
    invoiceFormatter(rowData) {
      return rowData.invoice_number
          ? rowData.invoice_number
          : '-';
    },
    trimDescription(props) {
      let description = props.spending.description;
      return description.length > 30
          ? `${description.substr(0, 30)}...`
          : description;
    },
    addToSpendings(rowData) {
      this.$emit('addToSpendings', rowData);
    },
    dropInstallment(rowData) {
      this.$emit('dropInstallment', rowData);
      this.$refs.vuetable.normalizeFields();
      if (this.data.length === 0) {
        this.$refs.vuetable.resetData();
      }
    },
  },
  components: {
    HeaderList,
    SimpleSearch,
    PageOptions,
    vuetable,
    SimpleSelect,
    vSelect,
  },
  mixins: [dataTableMixin],
  props: ['data'],
  computed: {
    parsedData() {
      return {
        data: this.data,
        metadata: {
          'total': this.data.length,
          'count': this.data.length,
          'per_page': '10',
          'current_page': 1,
          'total_pages': Math.ceil(this.data.length / 10),
        },
      };
    },
  },
};
</script>
