<template>
  <b-row>
    <b-colxx xxs="12">
      <h5 v-if="cards.titleCard" class="mb-4 card-title">
        {{ cards.titleCard }}
      </h5>
      <b-row class="icon-cards-row mb-3">
        <b-colxx
          xxs="12"
          sm="6"
          md="6"
          lg="3"
          v-for="(iconCard, index) in cards.info"
          :key="index"
        >
          <icon-card
            :title="iconCard.title"
            :icon="iconCard.icon"
            :value="iconCard.value"
            :currency="iconCard.currency"
          />
        </b-colxx>
      </b-row>
    </b-colxx>
  </b-row>
</template>

<script>
import IconCard from "../../components/Cards/IconCard";
export default {
  name: "IconCards",
  components: {
    IconCard,
  },
  props: ["cards"],
};
</script>

<style lang="scss" scoped></style>
