/*
  v-select BASE
*/

.v-select {
  position: relative;
  font-family: inherit;
}

.v-select,
.v-select * {
  box-sizing: border-box;
}

@-webkit-keyframes vSelectSpinner {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}

@keyframes vSelectSpinner {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}

.vs__fade-enter-active,
.vs__fade-leave-active {
  pointer-events: none;
  transition: opacity 0.15s cubic-bezier(1, 0.5, 0.8, 1);
}

.vs__fade-enter,
.vs__fade-leave-to {
  opacity: 0;
}

.v-select.vs--disabled .vs__clear,
.v-select.vs--disabled .vs__dropdown-toggle,
.v-select.vs--disabled .vs__open-indicator,
.v-select.vs--disabled .vs__search,
.v-select.vs--disabled .vs__selected-options,
.v-select.vs--disabled .vs__selected {
  cursor: not-allowed !important;
  background-color: $background-color !important;
}

.v-select[dir="rtl"] .vs__actions {
  padding: 0 3px 0 6px;
}

.v-select[dir="rtl"] .vs__clear {
  margin-left: 6px;
  margin-right: 0;
}

.v-select[dir="rtl"] .vs__deselect {
  margin-left: 0;
  margin-right: 2px;
}

.v-select[dir="rtl"] .vs__dropdown-menu {
  text-align: right;
}

.vs__dropdown-toggle {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: flex;
  padding: 0 0 4px;
  background: none;
  border: 1px solid rgba(60, 60, 60, 0.26);
  border-radius: 4px;
  white-space: normal;
}

.vs__selected-options {
  display: flex;
  flex-basis: 100%;
  flex-grow: 1;
  flex-wrap: wrap;
  padding: 0 2px;
  position: relative;
}

.vs__actions {
  display: flex;
  align-items: center;
  padding: 4px 6px 0 3px;
}

.vs--searchable .vs__dropdown-toggle {
  cursor: text;
}

.vs--unsearchable .vs__dropdown-toggle {
  cursor: pointer;
}

.vs--open .vs__dropdown-toggle {
  border-bottom-color: transparent;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.vs__open-indicator {
  fill: rgba(60, 60, 60, 0.5);
  transform: scale(1);
  transition: transform 0.15s cubic-bezier(1, -0.115, 0.975, 0.855);
  transition-timing-function: cubic-bezier(1, -0.115, 0.975, 0.855);
}

.vs--open .vs__open-indicator {
  transform: rotate(180deg) scale(1);
}

.vs--loading .vs__open-indicator {
  opacity: 0;
}

.vs__clear {
  fill: rgba(60, 60, 60, 0.5);
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  margin-right: 8px;
}

.vs__dropdown-menu {
  display: block;
  box-sizing: border-box;
  position: absolute;
  top: calc(100% - 1px);
  left: 0;
  z-index: 1000;
  padding: 5px 0;
  margin: 0;
  width: 100%;
  max-height: 350px;
  min-width: 160px;
  overflow-y: auto;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(60, 60, 60, 0.26);
  border-top-style: none;
  border-radius: 0 0 4px 4px;
  text-align: left;
  list-style: none;
  background: #fff;
}

.vs__no-options {
  text-align: center;
}

.vs__dropdown-option {
  line-height: 1.42857143;
  display: block;
  padding: 3px 20px;
  clear: both;
  color: #333;
  white-space: nowrap;
}

.vs__dropdown-option:hover {
  cursor: pointer;
}

.vs__dropdown-option--highlight {
  background: #5897fb;
  color: #fff;
}

.vs__dropdown-option--disabled {
  background: inherit;
  color: rgba(60, 60, 60, 0.5);
}

.vs__dropdown-option--disabled:hover {
  cursor: inherit;
}

.vs__selected {
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  border: 1px solid rgba(60, 60, 60, 0.26);
  border-radius: 4px;
  color: #333;
  line-height: 1.4;
  margin: 4px 2px 0;
  padding: 0 0.25em;
  z-index: 0;
}

.vs__deselect {
  display: inline-flex;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-left: 4px;
  padding: 0;
  border: 0;
  cursor: pointer;
  background: none;
  fill: rgba(60, 60, 60, 0.5);
  text-shadow: 0 1px 0 #fff;
}

.vs--single .vs__selected {
  background-color: transparent;
  border-color: transparent;
}

.vs--single.vs--open .vs__selected {
  position: absolute;
  opacity: 0.4;
}

.vs--single.vs--searching .vs__selected {
  display: none;
}

.vs__search::-webkit-search-cancel-button {
  display: none;
}

.vs__search::-ms-clear,
.vs__search::-webkit-search-decoration,
.vs__search::-webkit-search-results-button,
.vs__search::-webkit-search-results-decoration {
  display: none;
}

.vs__search,
.vs__search:focus {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  line-height: 1.4;
  font-size: 1em;
  border: 1px solid transparent;
  border-left: none;
  outline: none;
  margin: 4px 0 0;
  padding: 0 7px;
  background: none;
  box-shadow: none;
  width: 0;
  max-width: 100%;
  flex-grow: 1;
  z-index: 1;
}

.vs__search::-webkit-input-placeholder {
  color: inherit;
}

.vs__search::-moz-placeholder {
  color: inherit;
}

.vs__search:-ms-input-placeholder {
  color: inherit;
}

.vs__search::-ms-input-placeholder {
  color: inherit;
}

.vs__search::placeholder {
  color: inherit;
}

.vs--unsearchable .vs__search {
  opacity: 1;
}

.vs--unsearchable:not(.vs--disabled) .vs__search:hover {
  cursor: pointer;
}

.vs--single.vs--searching:not(.vs--open):not(.vs--loading) .vs__search {
  opacity: 0.2;
}

.vs__spinner {
  align-self: center;
  opacity: 0;
  font-size: 5px;
  text-indent: -9999em;
  overflow: hidden;
  border: 0.9em solid hsla(0, 0%, 39.2%, 0.1);
  border-left-color: rgba(60, 60, 60, 0.45);
  transform: translateZ(0);
  -webkit-animation: vSelectSpinner 1.1s linear infinite;
  animation: vSelectSpinner 1.1s linear infinite;
  transition: opacity 0.1s;
}

.vs__spinner,
.vs__spinner:after {
  border-radius: 50%;
  width: 5em;
  height: 5em;
}

.vs--loading .vs__spinner {
  opacity: 1;
}

/*
  v-select PIAF
*/

.v-select {
  color: $primary-color;
  outline: initial !important;
  box-shadow: none !important;

  .vs__search {
    margin: 2px !important;
    line-height: 1.5rem !important;
  }
  .vs__actions {
    color: $secondary-color;
    display: flex;
    padding: 0 10px 0 3px;
  }

  .vs__selected-options {
    outline: initial !important;
    box-shadow: none !important;
    padding: 0.4rem !important;
    background: $foreground-color !important;
  }

  .vs__no-options {
    padding: 5px !important;
  }

  .vs__dropdown-menu {
    padding-bottom: 0;
    padding-top: 0;
    overflow: auto !important;
    box-shadow: initial !important;
    border-radius: initial !important;
    background: $foreground-color;
    border-color: rgba($theme-color-1, 0.6) !important;

    .vs__dropdown-option {
      transition: initial;
      background: $foreground-color !important;
      color: $primary-color !important;
      padding: 8px 12px !important;

      &.vs__dropdown-option--highlight {
        background: rgba($theme-color-1, 0.6) !important;
        color: $button-text-color !important;
      }
      &.vs__dropdown-option--selected {
        display: none;
      }
    }
  }

  .vs__dropdown-toggle::after {
    display: none;
  }

  .vs__dropdown-toggle {
    border-radius: $border-radius !important;
    border: 1px solid $separator-color !important;
    background: $input-background !important;
    outline: initial !important;
    box-shadow: none !important;
    padding: 0px !important;
  }

  .vs__open-indicator {
    display: flex;
    align-items: center;
    cursor: pointer;
    pointer-events: all;
    opacity: 1;
    width: 12px;

    path {
      display: none;
    }
  }
  .vs__open-indicator,
  .vs__open-indicator {
    transition: all 0.15s cubic-bezier(1, -0.115, 0.975, 0.855);
    transition-timing-function: cubic-bezier(1, -0.115, 0.975, 0.855);
  }
  .vs__open-indicator {
    border-color: $separator-color !important;
    border-width: 2px 2px 0 0 !important;
    height: 6px !important;
    width: 6px !important;

    border-style: solid;
    content: "";
    display: inline-block;
    vertical-align: text-top;
    transform: rotate(133deg);
    box-sizing: inherit;
  }
  &.vs--open .vs__open-indicator {
    transform: rotate(315deg);
  }
  &.vs--loading .vs__open-indicator {
    opacity: 0;
  }

  .vs__actions .vs__clear {
    display: none;
  }

  .vs__actions svg {
    width: 15px;
    height: 15px;
  }

  &.vs--open {
    .vs__dropdown-toggle {
      border-color: rgba($theme-color-1, 0.6) !important;
    }
  }

  .vs__actions,
  &.vs--open .vs__actions {
    outline: initial;
    box-shadow: initial;

    &:active,
    &:focus,
    &:hover {
      color: $theme-color-1 !important;
    }
  }

  &.vs--single .vs__selected {
    padding: 6px 5px !important;
    background-color: transparent !important;
    border-color: transparent !important;
    color: $primary-color !important;
    font-size: inherit !important;
    position: initial !important;
  }
}
