<template>
  <div>
    <header-list :title="$t('menu.spendings')">
      <template v-slot:filters>
        <div class="d-block d-md-inline-block pt-1">
          <div class="d-inline-block float-md-left mr-1 align-top d-flex">
            <simple-select
              class="mr-1"
              style="min-width:200px"
              filterBy="business_name"
              :apiUrl="consortiumSearchUrl"
              @onInput="searchChange"
              valueField="consortium_id"
              placeholder="Consorcio"
            />
            <simple-select
              class="mr-1"
              style="min-width:200px"
              filterBy="name"
              :apiUrl="providerSearchUrl"
              @onInput="searchChange"
              valueField="provider_id"
              placeholder="Proveedor"
            />
            <simple-select
              style="min-width:200px"
              filterBy="name"
              :apiUrl="categorySearchUrl"
              @onInput="searchChange"
              valueField="category_id"
              placeholder="Rubro"
            />
            <b-button
              class="mx-2"
              size="xs"
              variant="outline-primary"
              @click="showFilters = !showFilters"
            >Filtros Avanzados</b-button>
          </div>
        </div>
        <page-options
          :from="from"
          :to="to"
          :total="total"
          :perPage="perPage"
          :pageSizes="pageSizes"
          :changePageSize="changePageSize"
        />
      </template>
      <template v-slot:buttons>
        <div class="top-right-button-container">
          <b-button
            variant="primary"
            class="top-right-button"
            @click="$router.push({ name: 'spending-create' })"
          >{{ $t("buttons.create-new") }}</b-button>
        </div>
      </template>
    </header-list>
    <b-collapse v-model="showFilters" class="mb-4">
      <spending-list-filter @setFilters="setFilters" />
    </b-collapse>
    <Datatable
      ref="datatable"
      :apiBase="apiBase"
      :columns="columns"
      :perPage="perPage"
      :contextMenuItems="contextMenuItems"
      :filter="filter"
      @getPagination="getPagination"
      :slotNames="slotNames"
    >
      <template v-slot:selection="props">
        <div>
          <b-checkbox v-model="selectedSpendings" :value="props.props.rowData.id"/>
        </div>
      </template>
      <template v-slot:amount="props">
        <div>{{amountFormatter(props.props.rowData.amount)}}</div>
      </template>
      <template v-slot:invoice="props">
        <div>{{invoiceFormatter(props.props.rowData)}}</div>
      </template>
      <template v-slot:description="props">
        <div>{{trimDescription(props)}}</div>
      </template>
    </Datatable>
    <confirm-modal
      ref="confirmModal"
      :title="$t('forms.remove')"
      :description="$t('forms.spendings.recurrents.description-modal')"
      :confirm="$t('forms.confirm')"
      :cancel="$t('forms.cancel')"
      @acceptModal="acceptModal"
    ></confirm-modal>
  </div>
</template>

<script>
import HeaderList from "@/components/Common/HeaderList";
import SimpleSearch from "@/components/Filter/SimpleSearch";
import SimpleSelect from "@/components/Filter/Select";
import PageOptions from "@/components/Common/PageOptions";
import Datatable from "@/components/Common/Datatable";
import ChangePageMixin from "@/mixins/ChangePageMixin";
import dataTableMixin from "@/mixins/dataTableMixin";
import ConfirmModal from "@/components/Common/ConfirmModal";
import vSelect from "vue-select";
import "vue-select/dist/vue-select.css";
import SpendingListFilter from "@/containers/filters/SpendingListFilter";

const BASEURL = process.env.VUE_APP_BASEURL;

export default {
  data() {
    return {
      columns: [
        {
          name: "consortium.fancy_name",
          title: "Consorcio",
          titleClass: "",
          dataClass: "text-muted",
          width: "20%"
        },
        {
          name: "provider.name",
          title: "Proveedor",
          titleClass: "",
          dataClass: "text-muted",
          width: "20%"
        },
        {
          name: "__slot:description",
          title: "Descripción",
          titleClass: "text-center",
          dataClass: "text-muted text-center",
        },
        {
          name: "__slot:invoice",
          title: "Nro. de Factura",
          titleClass: "text-center",
          dataClass: "text-muted text-center",
        },
        {
          name: "__slot:amount",
          title: "Monto",
          titleClass: "",
          dataClass: "text-muted",
          width: "15%"
        }
      ],
      showFilters: false,
      apiBase: BASEURL + "/spending",
      consortiumSearchUrl: BASEURL + "/consortium",
      providerSearchUrl: BASEURL + "/provider",
      categorySearchUrl: BASEURL + "/categories",
      perPage: 10,
      pageSizes: [10, 15, 20, 25],
      slotNames: ["amount", "invoice", "description"],
      contextMenuItems: [
        {
          text: "Ver Perfil",
          icon: "simple-icon-book-open",
          action: "spending-edit"
        },
        {
          text: "Borrar gasto",
          icon: "simple-icon-trash",
          action: "spending-delete"
        }
      ]
    };
  },
  methods: {
    onContextMenuAction(action, element) {
      switch (action) {
        case "spending-edit":
          this.$router.push({
            name: "spending-edit",
            params: { id: element.id }
          });
          break;

        case "spending-delete":
          this.idSelect = element.id;
          this.$refs.confirmModal.$bvModal.show("confirmModal");
          break;

        default:
          break;
      }
    },
    async deleteSpending(id) {
      try {
        await SpendingRepository.destroySpending(this.user.authHeader, id);
        this.$refs.datatable.$refs.vuetable.refresh();
        this.$notify(
          "success",
          "Gasto eliminado",
          "El gasto recurrente fue eliminado satisfactoriamente.",
          { duration: 3000, permanent: false }
        );
      } catch (error) {
        this.$notify(
          "error",
          "Error al eliminar gasto",
          error.response.data.message,
          { duration: 3000, permanent: false }
        );
      }
    },
    acceptModal() {
      this.$refs.confirmModal.$bvModal.hide("confirmModal");
      this.deleteSpending(this.idSelect);
    },
    invoiceFormatter(rowData) {
      return rowData.installments[0].invoice_number
        ? rowData.installments[0].invoice_number
        : "-";
    },
    trimDescription(props) {
      let description = props.props.rowData.description;
      return description.length > 30
        ? `${description.substr(0, 30)}...`
        : description;
    },
    addToSpendings(rowData) {
      this.$emit('addToSpendings', rowData);
    }
  },
  components: {
    HeaderList,
    SimpleSearch,
    PageOptions,
    Datatable,
    SimpleSelect,
    vSelect,
    SpendingListFilter,
    ConfirmModal
  },
  mixins: [ChangePageMixin, dataTableMixin]
};
</script>
