<template>
  <div>
    <header-list :title="$t('pages.create-spending')"></header-list>
    <b-row align-h="center">
      <b-colxx cols="12" lg="10">
        <b-card class="pt-3" id="spendingForm">
          <spending-form
            ref="spendingForm"
            :submitSpending="submitSpending"
            v-bind.sync="formData"
            :areInstallments="areInstallments"
            :percentagesCollapse="percentagesCollapse"
            @consortiumChange="consortiumChange"
          >
            <template v-slot:description>
              <b-button
                variant="primary"
                class="top-right-button"
                @click.prevent="showDescriptionModal"
              >{{ $t("forms.spendings.search-descriptions") }}</b-button>
            </template>
            <template v-slot:percentages>
              <b-col cols="12">
                <span v-if="!formData.amount">
                  {{
                  $t("forms.spendings.indicate-amount")
                  }}
                </span>
              </b-col>
              <b-col cols="12">
                <span id="noDestiny" v-if="noDestiny" class="text-error">
                  {{
                  $t("forms.spendings.indicate-destiny")
                  }}
                </span>
              </b-col>
              <b-col cols="12" md="12" class="d-flex justify-content-end">
                <b-button
                  v-show="formData.amount"
                  @click="percentagesCollapse = !percentagesCollapse"
                  variant="primary"
                  :disabled="isDisable"
                >
                  {{
                  percentagesCollapse
                  ? $t("forms.cancel")
                  : $t("forms.spendings.select-percentages")
                  }}
                </b-button>
              </b-col>
              <b-collapse id="collapse1" v-model="percentagesCollapse">
                <b-container v-show="formData.amount">
                  <b-row>
                    <b-col
                      cols="12"
                      sm="4"
                      md="6"
                      v-for="(percentage, index) in percentagesForm"
                      :key="index"
                    >
                      <b-form-group :label="percentage.name" label-class="lead-xs">
                        <div class="separator mb-2"></div>
                        <b-row>
                          <b-col cols="12" md="6">
                            <b-form-group label="Monto">
                              <b-form-input
                                type="text"
                                v-model="percentage.amount"
                                @blur="(event) => copyValues(event, index)"
                              />
                            </b-form-group>
                          </b-col>
                          <b-col cols="12" md="6">
                            <b-form-group label="Porcentaje">
                              <b-form-input
                                type="text"
                                v-model="percentage.value"
                                @input="(value) => copyAmounts(value, index)"
                              />
                            </b-form-group>
                          </b-col>
                        </b-row>
                      </b-form-group>
                    </b-col>
                  </b-row>
                  <span v-if="percentagesError" class="text-error">
                    {{
                    $t("forms.spendings.distribute-amount")
                    }}
                  </span>
                </b-container>
              </b-collapse>
            </template>
            <template v-slot:installments>
              <div>
                <b-row v-if="!percentagesCollapse">
                  <b-col cols="12" sm="4">
                    <b-form-group :label="$t('forms.spendings.installments-info')">
                      <v-select
                        label="text"
                        v-model="areInstallments"
                        :reduce="(booleanOptions) => booleanOptions.value"
                        :options="booleanOptions"
                      />
                    </b-form-group>
                  </b-col>
                  <b-col cols="12" sm="8" v-if="areInstallments">
                    <b-form-group :label="$t('forms.spendings.installments')">
                      <v-select
                        label="text"
                        v-model="installmentsQuantity"
                        :options="installmentsOptions"
                      />
                    </b-form-group>
                  </b-col>
                  <b-collapse id="collapse2" v-model="areInstallments">
                    <b-container class="mt-3">
                      <installments-form
                        v-for="(installment, index) in installments"
                        :key="index"
                        v-bind.sync="installment"
                        :index="index"
                        :date="formData.date"
                        :ref="`installment${installment.number}`"
                      />
                      <span
                        v-if="installmentsDistributionError"
                        class="text-error"
                      >{{ $t("forms.spendings.installments-sum") }}</span>
                    </b-container>
                  </b-collapse>
                </b-row>
                <span v-else>
                  {{
                  $t("forms.spendings.no-installments-percentages")
                  }}
                </span>
              </div>
            </template>
          </spending-form>
        </b-card>
      </b-colxx>
    </b-row>
    <description-modal ref="descriptionModal" @acceptModal="acceptDescriptionModal" />
  </div>
</template>

<script>
import HeaderList from "@/components/Common/HeaderList";
import SpendingForm from "@/containers/forms/SpendingForm";
import SpendingRepository from "@/repositories/SpendingRepository";
import ConsortiumPercentageRepository from "@/repositories/ConsortiumPercentageRepository";
import DescriptionModal from "@/components/Form/Spendings/DescriptionModal";
import InstallmentsForm from "@/components/Form/Spendings/InstallmentsForm";
import { validationMixin } from "vuelidate";
import { required, minValue } from "vuelidate/lib/validators";
import vSelect from "vue-select";
import "vue-select/dist/vue-select.css";
import { booleanOptions } from "../../../constants/constants";
import { mapGetters } from "vuex";
import moment from "moment";
export default {
  name: "SpendingCreate",
  data() {
    return {
      formData: {
        consortium_id: null,
        category_id: null,
        provider_id: null,
        service_id: null,
        date: "",
        amount: null,
        description: "",
        invoice_number: null,
        affect_financial_section: false,
        prorate_in_expenses: false,
        functional_unit_id: null,
        percentage_consortium_id: null
      },
      booleanOptions,
      noDestiny: false,
      percentagesCollapse: false,
      percentagesForm: [],
      percentagesError: false,
      installmentsDistributionError: false,
      installmentsQuantity: 2,
      areInstallments: false,
      installments: [
        {
          amount: 0,
          date_pay: null,
          payed: false,
          invoice_number: null,
          number: 1,
          include_open_period: true
        },
        {
          amount: 0,
          date_pay: null,
          payed: false,
          invoice_number: null,
          number: 2,
          include_open_period: true
        }
      ],
      installmentsOptions: [
        2,
        3,
        4,
        5,
        6,
        7,
        8,
        9,
        10,
        11,
        12,
        13,
        14,
        15,
        16,
        17,
        18
      ]
    };
  },
  methods: {
    async submitSpending() {
      let validate = this.fullValidate();
      if (validate) {
        this.formData.date = this.dateFormatter(this.formData.date);
        console.log(this.formData.date);
        let installments = this.areInstallments ? this.installments : [];
        if (this.percentagesCollapse) {
          await this.createSpending({
            percentages: this.percentagesForm,
            ...this.formData,
            installments
          });
        } else if (this.formData.percentage_consortium_id) {
          let percentages = [
            {
              percentage_consortium_id: this.formData.percentage_consortium_id,
              value: 100
            }
          ];
          await this.createSpending({
            percentages,
            ...this.formData,
            installments
          });
        } else {
          await this.createSpending({
            ...this.formData,
            installments
          });
        }
      }
    },
    dateFormatter(dateToFormat) {
      return moment(dateToFormat).format("DD-MM-YYYY");
    },
    showDescriptionModal() {
      this.$refs.descriptionModal.$bvModal.show("descriptionModal");
    },
    acceptDescriptionModal(description) {
      this.$refs.descriptionModal.$bvModal.hide("descriptionModal");
      this.formData.description = description;
    },
    copyValues(event, index) {
      let inputValue = parseFloat(event.target.value);
      let percentageValue =
        (inputValue * 100) / parseFloat(this.formData.amount);
      this.percentagesForm[index].value = percentageValue.toFixed(2);
    },
    copyAmounts(value, index) {
      let inputValue = parseFloat(value);
      let amountValue = (inputValue * parseFloat(this.formData.amount)) / 100;
      this.percentagesForm[index].amount = amountValue.toFixed(2);
    },
    async createSpending(spendingData) {
      try {
        await SpendingRepository.createSpending(
          this.user.authHeader,
          spendingData
        );
        this.$notify(
          "success",
          "Gasto creado",
          "El gasto fue creado satisfactoriamente.",
          { duration: 3000, permanent: false }
        );
        this.$router.push({ name: "spending-list" });
      } catch (error) {
        this.$notify(
          "error",
          "Error creando gasto",
          error.response.data.message,
          { duration: 3000, permanent: false }
        );
      }
    },
    validateForm(refName) {
      this.$refs[refName].$v.$touch();
      return !this.$refs[refName].$v.$anyError;
    },
    validatePercentages() {
      let totalValue = this.percentagesForm.reduce(
        (a, b) => a + parseFloat(b.value),
        0
      );
      return totalValue !== 100 ? true : false;
    },
    validateInstallmentsDistribution() {
      let totalValue = this.installments.reduce(
        (a, b) => a + parseFloat(b.amount),
        0
      );
      return totalValue !== parseFloat(this.formData.amount) ? true : false;
    },
    validateInstallments(number) {
      this.$refs[`installment${number}`][0].$v.$touch();
      return !this.$refs[`installment${number}`][0].$v.$anyError;
    },
    fullValidate() {
      if (this.validateForm("spendingForm")) {
        if (this.percentagesCollapse) {
          this.percentagesError = this.validatePercentages();
          if (this.percentagesError) {
            return this.scrollToError("collapse1");
          }
        } else if (
          !this.formData.functional_unit_id &&
          !this.formData.percentage_consortium_id
        ) {
          this.noDestiny = true;
          return this.scrollToError("noDestiny");
        }
        if (this.areInstallments) {
          this.installmentsDistributionError = this.validateInstallmentsDistribution();
          this.installmentsError = !this.installments.every(installment =>
            this.validateInstallments(installment.number)
          );
          if (this.installmentsError || this.installmentsDistributionError) {
            return this.scrollToError("collapse2");
          }
        }
        return true;
      } else {
        return this.scrollToError("spendingForm");
      }
    },
    scrollToError(elementID) {
      this.$scrollTo(`#${elementID}`, 200, {
        easing: "ease-in",
        offset: -50
      });
    },
    consortiumChange() {
      this.percentagesCollapse = false;
    }
  },
  watch: {
    async percentagesCollapse(value) {
      if (value) {
        let percentages = await ConsortiumPercentageRepository.getConsortiumPercentages(
          this.user.authHeader,
          this.formData.consortium_id
        );
        this.percentagesForm = percentages.rows.map(element => {
          return {
            percentage_consortium_id: element.id,
            value: 0,
            name: element.name,
            amount: 0
          };
        });
      } else {
        this.percentagesForm = [];
      }
    },
    installmentsQuantity(value) {
      while (value > this.installments.length) {
        this.installments.push({
          amount: 0,
          date_pay: this.formData.date
            ? moment(this.formData.date)
                .add(30 * this.installments.length, "days")
                .format("MM-DD-YYYY")
            : null,
          payed: false,
          invoice_number: null,
          number: this.installments.length + 1,
          include_open_period: true
        });
      }
      while (value < this.installments.length) {
        this.installments.pop();
      }
    }
  },
  components: {
    HeaderList,
    SpendingForm,
    DescriptionModal,
    InstallmentsForm,
    vSelect
  },
  mixins: [validationMixin],
  computed: {
    ...mapGetters({
      user: "currentUser"
    }),
    isDisable() {
      return (
        !this.formData.consortium_id ||
        !!this.formData.functional_unit_id ||
        !!this.formData.percentage_consortium_id
      );
    }
  }
};
</script>
