<template>
  <div @click="onClick">
    <div class="inline field">
      <label>Saldo Anterior:</label>
      <span>$60.154,00</span>
    </div>
    <div class="inline field">
      <label>Monto Reaudado:</label>
      <span>$60.154,00</span>
    </div>
    <div class="inline field">
      <label>Gastos:</label>
      <span>$60.154,00</span>
    </div>
    <div class="inline field">
      <label>Porcentual A:</label>
      <span>$60.154,00</span>
    </div>
    <div class="inline field">
      <label>Porcentual B:</label>
      <span>$60.154,00</span>
    </div>
    <div class="inline field">
      <label>Porcentual C:</label>
      <span>$60.154,00</span>
    </div>
  </div>
</template>

<script>
export default {
  name: "ConsortiumDetailRow",
  props: {
    rowData: {
      type: Object,
      required: true
    },
    rowIndex: {
      type: Number
    }
  },
  mounted() {

  },
  methods: {
    onClick(event) {
     
    }
  }
};
</script>
