<template>
  <div v-if="this.movementData">
    <div class="total mb-2">
      <span class="lead-xs">Total:</span>
      <currency :amount="this.movementData.total_amount" />
    </div>
    <div class="cash mb-2" v-if="this.movementData.cash_amount != 0">
      <span class="lead-xs">Efectivo:</span>
      <currency :amount="this.movementData.cash_amount" />
    </div>
    <div class="check mb-2" v-if="typeMovement.length != 0">
      <span class="lead-xs">Cheques:</span>
      <ul class="mb-0">
        <li v-for="check in typeMovement" :key="check.id">
          <div>
            <span>Numero Cheque:</span>
            <span>{{ check.number }}</span>
          </div>
          <div>
            <span>Total:</span>
            <currency :amount="check.amount" />
          </div>
          <div>
            <span>Vencimiento:</span>
            <span>{{ check.due_date }}</span>
          </div>
        </li>
      </ul>
    </div>
    <div class="tranfers" v-if="this.movementData.transfers.length != 0">
      <span class="lead-xs">Transferencias:</span>
      <ul class="mb-0">
        <li v-for="transfer in this.movementData.transfers" :key="transfer.id">
          <div>
            <span>Numero Cuenta:</span>
            <span>{{ transfer.bank_account_id }}</span>
          </div>
          <div>
            <span>Total:</span>
            <currency :amount="transfer.amount" />
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import CashboxMovementRepository from "@/repositories/CashboxMovementsRepository";
import { mapGetters } from "vuex";

export default {
  name: "CashboxListDetailRow",
  props: {
    rowData: {
      type: Object,
      required: true,
    },
    rowIndex: {
      type: Number,
    },
  },
  data() {
    return {
      movementData: null,
    };
  },
  computed: {
    ...mapGetters({
      user: "currentUser",
    }),
    typeMovement() {
      return this.movementData.type_movement === "income"
        ? this.movementData.checks_income
        : this.movementData.checks_outflow;
    },
  },
  async created() {
    let cashbox_id = this.rowData.cashbox_id;
    let movement_id = this.rowData.id;
    try {
      let response = await CashboxMovementRepository.getCashboxMovement(
        this.user.authHeader,
        cashbox_id,
        movement_id
      );
      this.movementData = response;
      console.log(response);
    } catch (error) {}
  },
};
</script>

<style lang="scss" scoped></style>
