<template>
  <div>
    <header-list :title="$t('menu.forgive-debt')"></header-list>

    <b-row align-h="center">
      <b-colxx cols="12" lg="10">
        <functional-unit-debt-form
          ref="functionalUnitDebtForm"
          :submitDebt="submitDebt"
          v-bind.sync="formData"
          :forgive="true"
        />
      </b-colxx>
    </b-row>
  </div>
</template>

<script>
import HeaderList from "@/components/Common/HeaderList";
import FunctionalUnitDebtForm from "@/containers/forms/FunctionalUnitDebtForm";
import FunctionalUnitMovementRepository from "@/repositories/FunctionalUnitMovementRepository";
import { mapGetters } from "vuex";

export default {
  name: "RegisterDebt",
  data() {
    return {
      formData: {
        capital: null,
        interest: null,
        description: "",
      },
    };
  },
  methods: {
    async submitDebt() {
      let validate = this.validateForm("functionalUnitDebtForm");
      if (validate) {
        let fUId = this.$route.params.fUId;
        this.cleanForm();
        try {
          await FunctionalUnitMovementRepository.createMovement(
            this.user.authHeader,
            { ...this.formData, type_movement: "income" },
            fUId
          );
          this.$notify(
            "success",
            "Deuda perdonada",
            "La deuda fue perdonada satisfactoriamente.",
            { duration: 3000, permanent: false }
          );
          this.$router.push({ name: "functional-units-cc" });
        } catch (error) {
          this.$notify(
            "error",
            "Error registrando deuda",
            error.response.data.message,
            { duration: 3000, permanent: false }
          );
        }
      }
    },
    cleanForm() {
      for (let key in this.formData) {
        if (this.formData[key] === "" || this.formData[key] === null) {
          delete this.formData[key];
        }
      }
    },
    validateForm(refName) {
      this.$refs[refName].$v.$touch();
      return !this.$refs[refName].$v.$anyError;
    },
  },
  components: {
    HeaderList,
    FunctionalUnitDebtForm,
  },
  computed: {
    ...mapGetters({
      user: "currentUser",
    }),
  },
};
</script>
