<template>
  <div>
    <header-list :title="$t('menu.current-account')">
      <template v-slot:filters>
        <div class="d-block d-md-inline-block pt-1">
          <div class="d-inline-block float-md-left mr-1 align-top d-flex">
            <simple-select
              filterBy="business_name"
              :apiUrl="consortiumSearchUrl"
              @onInput="onSelectedConsortium"
              valueField="consortium_id"
              placeholder="Consorcio"
              style="min-width:200px"
              :selected="consortiumSelected"
              class="mr-2"
            />
            <simple-select
              filterBy="functional_unit_number"
              :apiUrl="functionalUnitSearchUrl"
              @onInput="setApiBase"
              valueField="id"
              placeholder="Unidad Funcional"
              style="min-width:200px"
              :disabled="!consortiumSelected"
              :selected="functionalUnitSelected"
            />
          </div>
        </div>
        <page-options
          :from="from"
          :to="to"
          :total="total"
          :perPage="perPage"
          :pageSizes="pageSizes"
          :changePageSize="changePageSize"
        />
      </template>
      <template v-slot:buttons>
        <div class="top-right-button-container">
          <b-button
            variant="primary"
            class="top-right-button"
            @click="
              $router.push({
                name: 'functional-units-register-debt',
                params: { fUId: functionalUnitSelected },
              })
            "
            :disabled="!functionalUnitSelected"
            >{{ $t("menu.register-debt") }}</b-button
          >
          <b-button
            variant="primary"
            class="top-right-button"
            @click="
              $router.push({
                name: 'functional-units-forgive-debt',
                params: { fUId: functionalUnitSelected },
              })
            "
            :disabled="!functionalUnitSelected"
            >{{ $t("menu.forgive-debt") }}</b-button
          >
        </div>
      </template>
    </header-list>
    <Datatable
      ref="datatable"
      :apiBase="apiBase"
      :columns="columns"
      :perPage="perPage"
      :filter="filter"
      :loadStart="false"
      :slotNames="slotNames"
      :contextMenuItems="contextMenuItems"
      @getPagination="getPagination"
    >
      <template v-slot:description="props">
        <div>{{ trimDescription(props) }}</div>
      </template>
      <template v-slot:due="props">
        <currency
          v-if="props.props.rowData.type_movement === 'outflow'"
          :amount="props.props.rowData.amount"
        />
        <span v-else>-</span>
      </template>
      <template v-slot:havings="props">
        <currency
          v-if="props.props.rowData.type_movement === 'income'"
          :amount="props.props.rowData.amount"
        />
        <span v-else>-</span>
      </template>
      <template v-slot:balance="props">
        <currency
          v-if="props.props.rowData.balance"
          :amount="props.props.rowData.balance"
        />
        <span v-else>-</span>
      </template>
    </Datatable>
  </div>
</template>

<script>
import HeaderList from "@/components/Common/HeaderList";
import SimpleSearch from "@/components/Filter/SimpleSearch";
import SimpleSelect from "@/components/Filter/Select";
import PageOptions from "@/components/Common/PageOptions";
import Datatable from "@/components/Common/Datatable";
import ChangePageMixin from "@/mixins/ChangePageMixin";
import dataTableMixin from "@/mixins/dataTableMixin";
import ConfirmModal from "@/components/Common/ConfirmModal";
import vSelect from "vue-select";
import "vue-select/dist/vue-select.css";
const BASEURL = process.env.VUE_APP_BASEURL;

export default {
  name: "FunctionalUnitsCurrentAccount",
  data() {
    return {
      consortiumSearchUrl: BASEURL + "/consortium",
      slotNames: ["description", "due", "havings", "balance"],
      perPage: 10,
      pageSizes: [10, 15, 20, 25],
      columns: [
        {
          name: "date",
          title: "Fecha",
          titleClass: "",
          dataClass: "text-muted",
          width: "15%",
        },
        {
          name: "__slot:description",
          title: "Descrición",
          titleClass: "",
          dataClass: "text-muted",
          width: "30%",
        },
        {
          name: "__slot:due",
          title: "Debe",
          titleClass: "",
          dataClass: "text-muted red",
          width: "20%",
        },
        {
          name: "__slot:havings",
          title: "Haber",
          titleClass: "",
          dataClass: "text-muted",
          width: "20%",
        },
        {
          name: "__slot:balance",
          title: "Saldo",
          titleClass: "",
          dataClass: "text-muted",
          width: "15%",
        },
      ],
      contextMenuItems: [
        {
          text: "Registrar deuda/interés",
          icon: "simple-icon-book-open",
          action: "fu-cc-register-debt",
        },
        {
          text: "Perdonar deuda/interés",
          icon: "simple-icon-trash",
          action: "fu-cc-forgive-debt",
        },
      ],
      consortiumSelected: null,
      functionalUnitSelected: null,
    };
  },
  methods: {
    setApiBase(field, functionalUnitId) {
      this.functionalUnitSelected = functionalUnitId;
      if (functionalUnitId) {
        this.apiBase =
          BASEURL + `/functional-units/${functionalUnitId}/movement`;
      }
    },
    onSelectedConsortium(field, idConsortium) {
      this.consortiumSelected = idConsortium;
    },
    trimDescription(props) {
      let description = props.props.rowData.description;
      return description.length > 50
        ? `${description.substr(0, 50)}...`
        : description;
    },
  },
  watch: {
    consortiumSelected() {
      this.functionalUnitSelected = null;
    },
  },
  computed: {
    functionalUnitSearchUrl() {
      return `${this.consortiumSearchUrl}/${this.consortiumSelected}/functional-units`;
    },
  },
  components: {
    HeaderList,
    SimpleSearch,
    SimpleSelect,
    PageOptions,
    Datatable,
    vSelect,
    ConfirmModal,
  },
  mixins: [ChangePageMixin, dataTableMixin],
};
</script>

<style lang="scss" scoped></style>
