<template>
  <b-row>
    <b-col cols="12" md="6" lg="3">
      <b-form-group :label="$t('forms.art-percentage')">
        <b-form-input v-model.trim="$v.art_percentage.$model" :state="!$v.art_percentage.$error" />
      </b-form-group>
    </b-col>
    <b-col cols="12" md="6" lg="3">
      <b-form-group :label="$t('forms.fix-art')">
        <b-form-input
          type="number"
          v-model.trim="$v.art_amount.$model"
          :state="!$v.art_amount.$error"
        />
      </b-form-group>
    </b-col>
  </b-row>
</template>

<script>
import { validationMixin } from "vuelidate";
import SyncMixin from "../../../mixins/SyncMixin";
const {
  required,
  numeric,
  minValue,
  maxValue,
  decimal
} = require("vuelidate/lib/validators");
export default {
  name: "ART",
  mixins: [validationMixin, SyncMixin],
  validations: {
    art_percentage: {
      decimal
    },
    art_amount: {
      numeric
    }
  },
  sync: ["art_percentage", "art_amount"]
};
</script>

<style lang="scss" scoped></style>
