<template>
  <b-row>
    <b-col cols="12" sm="4" md="2">
      <b-form-group :label="$t('forms.order')">
        <b-form-input type="number" v-model.trim="$v.order.$model" :state="!$v.order.$error" />
        <b-form-invalid-feedback>
          {{
          $t("forms.required")
          }}
        </b-form-invalid-feedback>
      </b-form-group>
    </b-col>
    <b-col cols="12" sm="8" md="3" xl="3">
      <b-form-group :label="$t('forms.business-name')">
        <b-form-input
          type="text"
          v-model.trim="$v.business_name.$model"
          :state="!$v.business_name.$error"
        />
        <b-form-invalid-feedback v-if="!$v.business_name.required">
          {{
          $t("forms.required")
          }}
        </b-form-invalid-feedback>
      </b-form-group>
    </b-col>
    <b-col cols="12" sm="6" md="4">
      <b-form-group :label="$t('forms.fantasy-name')">
        <b-form-input
          type="text"
          v-model.trim="$v.fancy_name.$model"
          :state="!$v.fancy_name.$error"
        />
      </b-form-group>
    </b-col>
    <b-col cols="12" sm="6" md="3">
      <b-form-group :label="$t('forms.cuit')">
        <b-form-input
          type="text"
          v-mask="'##-########-#'"
          placeholder="##-########-#"
          v-model.trim="$v.cuit.$model"
          :state="!$v.cuit.$error"
        />
        <b-form-invalid-feedback v-if="!$v.cuit.required">
          {{
          $t("forms.required")
          }}
        </b-form-invalid-feedback>
        <b-form-invalid-feedback v-if="!$v.cuit.cuitValidator && $v.cuit.required">Cuit invalido</b-form-invalid-feedback>
      </b-form-group>
    </b-col>
    <b-col cols="12" sm="5" md="6">
      <b-form-group :label="$t('forms.street')">
        <b-form-input
          type="text"
          v-model.trim="$v.address_street.$model"
          :state="!$v.address_street.$error"
        />
        <b-form-invalid-feedback>
          {{
          $t("forms.required")
          }}
        </b-form-invalid-feedback>
      </b-form-group>
    </b-col>
    <b-col cols="12" sm="3">
      <b-form-group :label="$t('forms.number')">
        <b-form-input
          type="number"
          v-model.trim="$v.address_number.$model"
          :state="!$v.address_number.$error"
        />
        <b-form-invalid-feedback>
          {{
          $t("forms.required")
          }}
        </b-form-invalid-feedback>
      </b-form-group>
    </b-col>
    <b-col cols="12" sm="4" md="3">
      <b-form-group :label="$t('forms.postal-code')">
        <b-form-input
          type="text"
          v-mask="'A####AAA'"
          placeholder="ej. B1636FDA"
          v-model.trim="$v.postal_code.$model"
          :state="!$v.postal_code.$error"
        />
        <b-form-invalid-feedback>
          {{
          $t("forms.required")
          }}
        </b-form-invalid-feedback>
      </b-form-group>
    </b-col>
    <b-col cols="12" sm="6" md="4">
      <b-form-group :label="$t('forms.country')">
        <v-select
          label="text"
          v-model="$v.country_id.$model"
          :reduce="(countries) => countries.value"
          :options="countries"
        />
        <b-form-invalid-feedback
          v-if="$v.country_id.$model === null && $v.country_id.$anyError"
          class="d-block"
        >{{ $t("forms.required") }}</b-form-invalid-feedback>
      </b-form-group>
    </b-col>

    <b-col cols="12" sm="6" md="4">
      <b-form-group :label="$t('forms.province')">
        <v-select
          label="text"
          v-model="$v.province_id.$model"
          :reduce="(provinces) => provinces.value"
          :options="provinces"
        />
        <b-form-invalid-feedback
          class="d-block"
          v-if="$v.province_id.$model === null && $v.province_id.$anyError"
        >{{ $t("forms.required") }}</b-form-invalid-feedback>
      </b-form-group>
    </b-col>
    <b-col cols="12" sm="4" md="4">
      <b-form-group :label="$t('forms.location')">
        <b-form-input type="text" v-model.trim="$v.location.$model" :state="!$v.location.$error" />
        <b-form-invalid-feedback>
          {{
          $t("forms.required")
          }}
        </b-form-invalid-feedback>
      </b-form-group>
    </b-col>
    <b-col cols="12" sm="4" md="3">
      <b-form-group :label="$t('forms.cantidad-floors')">
        <b-form-input
          type="number"
          v-model.trim="$v.count_floors.$model"
          :state="!$v.count_floors.$error"
        />
        <b-form-invalid-feedback v-if="!$v.count_floors.required">{{ $t("forms.required") }}</b-form-invalid-feedback>
      </b-form-group>
    </b-col>
    <b-col cols="12" sm="4" md="3">
      <b-form-group :label="$t('forms.fu-quantity')">
        <b-form-input
          type="number"
          v-model.trim="$v.count_functional_units.$model"
          :state="!$v.count_functional_units.$error"
        />
        <b-form-invalid-feedback
          v-if="!$v.count_functional_units.required"
        >{{ $t("forms.required") }}</b-form-invalid-feedback>
      </b-form-group>
    </b-col>
    <b-col cols="12" sm="6" md="3">
      <b-form-group :label="$t('forms.building-info')">
        <v-select
          label="text"
          v-model="$v.category.$model"
          :reduce="(categoryConsortiaOptions) => categoryConsortiaOptions.value"
          :options="categoryConsortiaOptions"
        />
        <b-form-invalid-feedback
          v-if="$v.category.$model === null && $v.category.$anyError"
          class="d-block"
        >{{ $t("forms.required") }}</b-form-invalid-feedback>
      </b-form-group>
    </b-col>
    <b-col cols="12" sm="6" md="3">
      <b-form-group :label="$t('forms.managment-start')">
        <datepicker
          :language="es"
          :bootstrap-styling="true"
          v-model="$v.start_date.$model"
          :state="!$v.start_date.$error"
        ></datepicker>
      </b-form-group>
    </b-col>
    <b-col cols="12" sm="6" md="3">
      <b-form-group :label="$t('forms.email')">
        <b-form-input type="text" v-model.trim="$v.email.$model" :state="!$v.email.$error" />
        <b-form-invalid-feedback v-if="$v.email.$model != '' && !$v.email.email">Formato incorrecto!</b-form-invalid-feedback>
      </b-form-group>
    </b-col>
    <b-col cols="12" sm="6" md="3">
      <b-form-group :label="$t('forms.liquidation-type')">
        <v-select
          label="text"
          v-model="$v.liquidation.$model"
          :reduce="(liquidationOptions) => liquidationOptions.value"
          :options="liquidationOptions"
        />
        <b-form-invalid-feedback
          v-if="$v.liquidation.$model === null && $v.liquidation.$anyError"
          class="d-block"
        >{{ $t("forms.required") }}</b-form-invalid-feedback>
      </b-form-group>
    </b-col>
    <b-col cols="12" sm="6" md="3" lg="2">
      <b-form-group :label="$t('forms.suterh-key')">
        <b-form-input
          type="number"
          v-model.trim="$v.suterh_code.$model"
          :state="!$v.suterh_code.$error"
        />
        <b-form-invalid-feedback>Clave suterh requerida!</b-form-invalid-feedback>
      </b-form-group>
    </b-col>
    <b-col cols="12" sm="6" md="3" lg="4">
      <b-form-group :label="$t('forms.rounding-type')">
        <v-select
          label="text"
          v-model="$v.rounding_type.$model"
          :reduce="(roundingTypeOptions) => roundingTypeOptions.value"
          :options="roundingTypeOptions"
        />
        <b-form-invalid-feedback
          v-if="$v.rounding_type.$model === null && $v.rounding_type.$anyError"
          class="d-block"
        >{{ $t("forms.required") }}</b-form-invalid-feedback>
      </b-form-group>
    </b-col>
    <b-col cols="12" sm="6" md="6" lg="5">
      <b-form-group :label="$t('forms.building-type')">
        <v-select
          label="text"
          v-model="$v.type_of_building.$model"
          :reduce="(typeOfBuildingOptions) => typeOfBuildingOptions.value"
          :options="typeOfBuildingOptions"
        />
        <b-form-invalid-feedback
          v-if="
            $v.type_of_building.$model === null && $v.type_of_building.$anyError
          "
          class="d-block"
        >{{ $t("forms.required") }}</b-form-invalid-feedback>
      </b-form-group>
    </b-col>
    <b-col cols="12" sm="6" md="6" lg="3">
      <b-form-group :label="$t('forms.self-managment')">
        <v-select
          label="text"
          v-model="$v.self_managment.$model"
          :reduce="(booleanOptions) => booleanOptions.value"
          :options="booleanOptions"
        />
        <b-form-invalid-feedback
          v-if="
            $v.self_managment.$model === null && $v.self_managment.$anyError
          "
          class="d-block"
        >{{ $t("forms.required") }}</b-form-invalid-feedback>
      </b-form-group>
    </b-col>
    <b-col cols="12" sm="6" md="6" lg="2">
      <b-form-group :label="$t('forms.escrow')">
        <v-select
          label="text"
          v-model="$v.escrow.$model"
          :reduce="(booleanOptions) => booleanOptions.value"
          :options="booleanOptions"
        />
        <b-form-invalid-feedback
          v-if="$v.escrow.$model === null && $v.escrow.$anyError"
          class="d-block"
        >{{ $t("forms.required") }}</b-form-invalid-feedback>
      </b-form-group>
    </b-col>
    <b-col cols="12" sm="6" md="6" lg="2">
      <b-form-group :label="$t('forms.enrollment')">
        <b-form-input
          type="number"
          v-mask="'###########'"
          v-model.trim="$v.license.$model"
          :state="!$v.license.$error"
        />
        <b-form-invalid-feedback>Clave suterh requerida!</b-form-invalid-feedback>
      </b-form-group>
    </b-col>
    <b-col cols="12">
      <b-form-group :label="$t('forms.observations')">
        <b-form-textarea
          v-model.trim="$v.observations.$model"
          :state="!$v.observations.$error"
          rows="2"
          max-rows="6"
        ></b-form-textarea>
        <b-form-invalid-feedback>Razón social requerido!</b-form-invalid-feedback>
      </b-form-group>
    </b-col>
  </b-row>
</template>

<script>
import vSelect from "vue-select";
import "vue-select/dist/vue-select.css";
import Datepicker from "vuejs-datepicker";
import { es } from "vuejs-datepicker/dist/locale";
import { validationMixin } from "vuelidate";
import SyncMixin from "../../../mixins/SyncMixin";
import cuitValidator from "../../../utils/CuitValidator";
import { required, numeric, email } from "vuelidate/lib/validators";
import moment from "moment";

import {
  countries,
  provinces,
  categoryConsortiaOptions,
  roundingTypeOptions,
  liquidationOptions,
  typeOfBuildingOptions,
  booleanOptions
} from "../../../constants/constants";
export default {
  name: "BuildingInformation",
  components: {
    datepicker: Datepicker,
    vSelect
  },
  data() {
    return {
      countries,
      provinces,
      categoryConsortiaOptions,
      roundingTypeOptions,
      liquidationOptions,
      typeOfBuildingOptions,
      booleanOptions,
      es: es
    };
  },
  mixins: [validationMixin, SyncMixin],
  validations: {
    order: {
      required,
      numeric
    },
    business_name: {
      required
    },
    fancy_name: {},
    address_street: {
      required
    },
    address_number: {
      required,
      numeric
    },
    email: {
      email
    },
    location: {
      required
    },
    postal_code: {
      required
    },
    province_id: {
      required
    },
    country_id: {
      required
    },
    cuit: {
      required,
      cuitValidator
    },
    category: {
      required
    },
    liquidation: {},
    suterh_code: {},
    rounding_type: {},
    type_of_building: {},
    count_floors: {
      required
    },
    count_functional_units: {
      required
    },
    self_managment: {},
    escrow: {},
    license: {},
    start_date: {},
    observations: {}
  },
  sync: [
    "order",
    "business_name",
    "fancy_name",
    "address_street",
    "address_number",
    "email",
    "location",
    "postal_code",
    "province_id",
    "country_id",
    "cuit",
    "category",
    "liquidation",
    "suterh_code",
    "rounding_type",
    "type_of_building",
    "count_floors",
    "count_functional_units",
    "self_managment",
    "escrow",
    "license",
    "start_date",
    "observations"
  ]
};
</script>

<style lang="scss" scoped></style>
