<template>
  <b-row>
    <!-- <b-col cols="12" sm="6" md="6" lg="4">
      <b-form-group :label="$t('forms.expense-salary-breakdown')">
        <v-select
          label="text"
          v-model="$v.payslips_details.$model"
          :reduce="(booleanOptions) => booleanOptions.value"
          :options="booleanOptions"
        />
      </b-form-group>
    </b-col>-->
    <b-col cols="12" sm="6" md="6" lg="6" xl="4">
      <b-form-group :label="$t('forms.salary-receipt-roundings')">
        <v-select
          label="text"
          v-model="$v.rounding_payslips.$model"
          :reduce="(roundingPayslipsOptions) => roundingPayslipsOptions.value"
          :options="roundingPayslipsOptions"
        />
      </b-form-group>
    </b-col>
    <b-col cols="12" sm="6" md="6" lg="6" xl="4">
      <b-form-group :label="$t('forms.garage-quantity')">
        <b-form-input
          type="number"
          v-model.trim="$v.garage_amount.$model"
          :state="!$v.garage_amount.$error"
        />
      </b-form-group>
    </b-col>
    <b-col cols="12" md="12" lg="6" xl="4">
      <b-form-group :label="$t('forms.waste-removal-quantity')">
        <b-form-input
          type="number"
          v-model.trim="$v.waste_removal_ammount.$model"
          :state="!$v.waste_removal_ammount.$error"
        />
      </b-form-group>
    </b-col>
    <b-col cols="12" md="12" lg="6" xl="4">
      <b-form-group :label="$t('forms.next-mobile-sheets')">
        <b-form-input
          type="number"
          v-model.trim="$v.next_moving_sheet_number.$model"
          :state="!$v.next_moving_sheet_number.$error"
        />
      </b-form-group>
    </b-col>
    <b-col cols="12" class="mt-2">
      <b-form-group>
        <b-form-checkbox v-model="$v.payslips_details.$model">
          {{
          $t("forms.expense-salary-breakdown")
          }}
        </b-form-checkbox>
      </b-form-group>
    </b-col>
  </b-row>
</template>

<script>
import vSelect from "vue-select";
import "vue-select/dist/vue-select.css";
import SyncMixin from "../../../mixins/SyncMixin";
import { validationMixin } from "vuelidate";
import {
  booleanOptions,
  roundingPayslipsOptions
} from "../../../constants/constants";
const {
  required,
  numeric,
  minValue,
  maxValue
} = require("vuelidate/lib/validators");

export default {
  name: "Employees",
  components: {
    vSelect
  },
  data() {
    return {
      booleanOptions,
      roundingPayslipsOptions
    };
  },
  mixins: [validationMixin, SyncMixin],
  validations: {
    payslips_details: {},
    rounding_payslips: {},
    garage_amount: {},
    waste_removal_ammount: {},
    next_moving_sheet_number: {}
  },
  sync: [
    "payslips_details",
    "rounding_payslips",
    "garage_amount",
    "waste_removal_ammount",
    "next_moving_sheet_number"
  ]
};
</script>

<style lang="scss" scoped></style>
