<template>
  <b-row>
    <b-col cols="12" sm="6" md="4">
      <b-form-group :label="$t('forms.header')">
        <v-select
          label="text"
          v-model="$v.expense_header_id.$model"
          :reduce="(headerOpts) => headerOpts.value"
          :options="headerOpts"
        />
        <b-form-invalid-feedback
          v-if="
            $v.expense_header_id.$model === null &&
              $v.expense_header_id.$anyError
          "
          class="d-block"
        >{{ $t("forms.required") }}</b-form-invalid-feedback>
      </b-form-group>
    </b-col>
    <b-col cols="12" sm="6" md="4">
      <b-form-group :label="$t('forms.provider-location')">
        <v-select
          label="text"
          v-model="$v.provider_spending_location.$model"
          :reduce="
            (providerSpendingLocationOpts) => providerSpendingLocationOpts.value
          "
          :options="providerSpendingLocationOpts"
        />
        <b-form-invalid-feedback
          v-if="
            $v.provider_spending_location.$model === null &&
              $v.provider_spending_location.$anyError
          "
          class="d-block"
        >{{ $t("forms.required") }}</b-form-invalid-feedback>
      </b-form-group>
    </b-col>
    <b-col cols="12" class="mt-2 mb-4">
      <b-form-group :label="'Mostrar items en la expensa:'" label-class="mb-2">
        <b-form-checkbox v-model="$v.legends_my_expenses.$model" inline>
          {{
          $t("forms.my-expenses-caption")
          }}
        </b-form-checkbox>
        <b-form-checkbox v-model="$v.show_bank_movements.$model" inline>
          {{
          $t("forms.show-cc-movement")
          }}
        </b-form-checkbox>
        <b-form-checkbox v-model="$v.show_patrimonial_status.$model" inline>
          {{
          $t("forms.show-patrimony")
          }}
        </b-form-checkbox>
        <b-form-checkbox v-model="$v.show_judgements_section.$model" inline>
          {{
          $t("forms.show-trials")
          }}
        </b-form-checkbox>
        <b-form-checkbox v-model="$v.show_previous_balance.$model" inline>
          {{
          $t("forms.show-previous-balance")
          }}
        </b-form-checkbox>
        <b-form-checkbox v-model="$v.show_payments.$model" inline>
          {{
          $t("forms.show-payments")
          }}
        </b-form-checkbox>
      </b-form-group>
    </b-col>
  </b-row>
</template>

<script>
import vSelect from "vue-select";
import "vue-select/dist/vue-select.css";
import { validationMixin } from "vuelidate";
import SyncMixin from "../../../mixins/SyncMixin";
const { required, numeric, email } = require("vuelidate/lib/validators");
import {
  headerOpts,
  providerSpendingLocationOpts
} from "../../../constants/constants";
export default {
  name: "ExpensesConfiguration",
  components: {
    vSelect
  },
  data() {
    return {
      headerOpts,
      providerSpendingLocationOpts
    };
  },
  mixins: [validationMixin, SyncMixin],
  validations: {
    legends_my_expenses: {},
    expense_header_id: {},
    show_bank_movements: {},
    show_provider_data: {},
    provider_spending_location: {},
    show_patrimonial_status: {},
    show_judgements_section: {},
    show_previous_balance: {},
    show_payments: {}
  },
  sync: [
    "legends_my_expenses",
    "expense_header_id",
    "show_bank_movements",
    "show_provider_data",
    "provider_spending_location",
    "show_patrimonial_status",
    "show_judgements_section",
    "show_previous_balance",
    "show_payments"
  ]
};
</script>

<style lang="scss" scoped></style>
