<template>
  <b-row>
    <b-col cols="12" sm="6" md="6" lg="4" xl="3">
      <b-form-group :label="$t('forms.first-due-date')">
        <b-form-input
          type="number"
          v-mask="'##'"
          placeholder="ej. 12"
          v-model.trim="$v.first_due_date.$model"
          :state="!$v.first_due_date.$error"
        />
        <b-form-invalid-feedback v-if="!$v.first_due_date.$required">
          {{
          $t("forms.required")
          }}
        </b-form-invalid-feedback>
        <b-form-invalid-feedback
          v-if="
            $v.first_due_date.$model != '' &&
              (!$v.first_due_date.$minValue || !$v.first_due_date.$maxValue)
          "
        >Dia invalido!</b-form-invalid-feedback>
      </b-form-group>
    </b-col>
    <b-col cols="12" sm="6" md="6" lg="4" xl="3">
      <b-form-group :label="$t('forms.second-due-date')">
        <b-form-input
          type="number"
          v-mask="'##'"
          placeholder="ej. 22"
          v-model.trim="$v.second_due_date.$model"
          :state="
            $v.second_due_date_check.$model
              ? !$v.second_due_date_check.$model
              : !$v.second_due_date.$anyError
          "
          :disabled="$v.second_due_date_check.$model"
        />
        <b-form-invalid-feedback
          v-if="!$v.second_due_date.$minValue || !$v.second_due_date.$maxValue"
          v-show="!$v.second_due_date_check.$model"
        >Dia invalido!</b-form-invalid-feedback>
      </b-form-group>
    </b-col>
    <b-col cols="12" sm="6" md="6" lg="4" xl="3">
      <b-form-group :label="$t('forms.second-due-date-interests')">
        <b-form-input
          placeholder="ej. 10%"
          v-model.trim="$v.second_due_date_interests.$model"
          :state="!$v.second_due_date_interests.$error"
        />
      </b-form-group>
    </b-col>
    <b-col cols="12" sm="6" md="6" lg="4" xl="3">
      <b-form-group :label="$t('forms.punitive-interests')">
        <b-form-input
          type="number"
          placeholder
          v-model.trim="$v.penalty_interests.$model"
          :state="!$v.penalty_interests.$error"
        />
      </b-form-group>
    </b-col>
    <b-col cols="12" sm="6" md="6" lg="4" xl="3">
      <b-form-group :label="$t('forms.punitive-interests-mode')">
        <v-select
          label="text"
          v-model="$v.penalty_interests_mode.$model"
          :reduce="
            (penaltyInterestsModeOptions) => penaltyInterestsModeOptions.value
          "
          :options="penaltyInterestsModeOptions"
        />
      </b-form-group>
    </b-col>
    <b-col cols="12" sm="6" md="6" lg="4" xl="3">
      <b-form-group :label="$t('forms.early-payment-discount')">
        <b-form-input
          placeholder
          v-model.trim="$v.early_payment_discount.$model"
          :state="!$v.early_payment_discount.$error"
        />
      </b-form-group>
    </b-col>
    <b-col cols="12" sm="6" md="6" lg="4" xl="3">
      <b-form-group :label="$t('forms.early-payment-discount-days')">
        <b-form-input
          type="number"
          v-mask="'##'"
          placeholder
          v-model.trim="$v.early_payment_discount_days.$model"
          :state="!$v.early_payment_discount_days.$error"
        />
        <b-form-invalid-feedback
          v-if="
            $v.first_due_date.$model != '' &&
              (!$v.first_due_date.$minValue || !$v.first_due_date.$maxValue)
          "
        >Dia invalido!</b-form-invalid-feedback>
      </b-form-group>
    </b-col>
    <b-col cols="12" class="mt-2">
      <b-form-group>
        <b-form-checkbox v-model="$v.second_due_date_check.$model">
          {{
          $t("forms.last-day-due-date")
          }}
        </b-form-checkbox>
      </b-form-group>
    </b-col>
  </b-row>
</template>

<script>
import vSelect from "vue-select";
import "vue-select/dist/vue-select.css";
import { validationMixin } from "vuelidate";
import SyncMixin from "../../../mixins/SyncMixin";
import { penaltyInterestsModeOptions } from "../../../constants/constants";
const {
  required,
  numeric,
  minValue,
  maxValue,
  boolean,
  decimal
} = require("vuelidate/lib/validators");

export default {
  name: "Expiration",
  components: {
    vSelect
  },
  data() {
    return {
      penaltyInterestsModeOptions
    };
  },
  mixins: [validationMixin, SyncMixin],
  validations: {
    first_due_date: {
      required,
      numeric,
      minValue: minValue(1),
      maxValue: maxValue(31)
    },
    second_due_date: {
      numeric,
      minValue: minValue(1),
      maxValue: maxValue(31)
    },
    second_due_date_interests: {
      decimal
    },
    second_due_date_check: {},
    penalty_interests: {
      numeric
    },
    penalty_interests_mode: {},
    early_payment_discount: {
      decimal
    },
    early_payment_discount_days: {
      numeric,
      minValue: minValue(1),
      maxValue: maxValue(31)
    }
  },
  sync: [
    "first_due_date",
    "second_due_date",
    "second_due_date_interests",
    "second_due_date_check",
    "penalty_interests",
    "penalty_interests_mode",
    "early_payment_discount",
    "early_payment_discount_days"
  ]
};
</script>

<style lang="scss" scoped></style>
