<template>
  <b-row>
    <b-col cols="12" sm="6" md="4">
      <b-form-group :label="$t('forms.payment-methods')">
        <v-select
          label="text"
          v-model="$v.payment_method_id.$model"
          :reduce="(paymentMethodOptions) => paymentMethodOptions.value"
          :options="paymentMethodOptions"
        />
        <b-form-invalid-feedback>
          {{
          $t("forms.required")
          }}
        </b-form-invalid-feedback>
      </b-form-group>
    </b-col>
    <b-col cols="12" sm="6" md="4">
      <b-form-group :label="$t('forms.integration-code')">
        <b-form-input
          type="number"
          v-model.trim="$v.payment_method_code.$model"
          :state="
            $v.payment_method_id.$model === null
              ? false
              : !$v.payment_method_code.$error
          "
          :disabled="$v.payment_method_id.$model === null"
        />
      </b-form-group>
    </b-col>
    <b-col cols="12" sm="6" md="4">
      <b-form-group :label="$t('forms.next-payment-receipt')">
        <b-form-input
          type="number"
          v-model.trim="$v.next_payment_receipt_number.$model"
          :state="!$v.next_payment_receipt_number.$error"
        />
        <b-form-invalid-feedback>
          {{
          $t("forms.required")
          }}
        </b-form-invalid-feedback>
      </b-form-group>
    </b-col>
  </b-row>
</template>

<script>
import vSelect from "vue-select";
import "vue-select/dist/vue-select.css";
import { validationMixin } from "vuelidate";
import SyncMixin from "../../../mixins/SyncMixin";
import { paymentMethodOptions } from "../../../constants/constants";
const { numeric } = require("vuelidate/lib/validators");
export default {
  name: "PaymentMethod",
  components: {
    vSelect
  },
  data() {
    return { paymentMethodOptions };
  },
  mixins: [validationMixin, SyncMixin],
  validations: {
    payment_method_id: {},
    payment_method_code: {
      numeric
    },
    next_payment_receipt_number: {
      numeric
    }
  },
  sync: [
    "payment_method_id",
    "payment_method_code",
    "next_payment_receipt_number"
  ]
};
</script>

<style lang="scss" scoped></style>
