<template>
  <b-row>
    <b-col cols="12" class="mt-2 mb-2">
      <b-form-group>
        <b-form-checkbox v-model="$v.show_claims.$model" inline>
          {{
          $t("forms.show-claims")
          }}
        </b-form-checkbox>
        <b-form-checkbox v-model="$v.show_ammenities.$model" inline>
          {{
          $t("forms.show-amenities")
          }}
        </b-form-checkbox>
        <b-form-checkbox v-model="$v.need_ammenities_approval.$model" inline>
          {{
          $t("forms.amenities-approval")
          }}
        </b-form-checkbox>
      </b-form-group>
    </b-col>
    <b-col cols="12" sm="6" md="6" lg="6" class="mb-2">
      <b-form-group :label="$t('forms.show-friendly-expenses')">
        <v-select
          label="text"
          v-model="$v.enable_friendly_expenses.$model"
          :reduce="(boolean_options) => boolean_options.value"
          :options="boolean_options"
        />
        <b-form-invalid-feedback
          v-if="
            $v.enable_friendly_expenses.$model === null &&
              $v.enable_friendly_expenses.$anyError
          "
          class="d-block"
        >{{ $t("forms.required") }}</b-form-invalid-feedback>
      </b-form-group>
    </b-col>
    <b-col cols="12">
      <b-form-group>
        <b-form-checkbox
          v-model="$v.show_consortium_current_account.$model"
          :disabled="!$v.enable_friendly_expenses.$model"
          inline
        >{{ $t("forms.building-cc") }}</b-form-checkbox>
        <b-form-checkbox
          v-model="$v.show_consortium_bank_account.$model"
          :disabled="!$v.enable_friendly_expenses.$model"
          inline
        >{{ $t("forms.bank-cc") }}</b-form-checkbox>
        <b-form-checkbox
          v-model="$v.show_money_in_debt.$model"
          :disabled="!$v.enable_friendly_expenses.$model"
          inline
        >{{ $t("forms.spending") }}</b-form-checkbox>
        <b-form-checkbox
          v-model="$v.show_spendings.$model"
          :disabled="!$v.enable_friendly_expenses.$model"
          inline
        >{{ $t("forms.fu-debts") }}</b-form-checkbox>
      </b-form-group>
    </b-col>
  </b-row>
</template>

<script>
import vSelect from "vue-select";
import "vue-select/dist/vue-select.css";
import { validationMixin } from "vuelidate";
import SyncMixin from "../../../mixins/SyncMixin";
const { required, numeric, email } = require("vuelidate/lib/validators");
export default {
  name: "PortalModule",
  components: {
    vSelect
  },
  data() {
    return {
      boolean_options: [
        { value: true, text: "Si" },
        { value: false, text: "No" }
      ]
    };
  },
  mixins: [validationMixin, SyncMixin],
  validations: {
    enable_friendly_expenses: {},
    show_claims: {},
    show_ammenities: {},
    need_ammenities_approval: {},
    show_consortium_current_account: {},
    show_consortium_bank_account: {},
    show_money_in_debt: {},
    show_spendings: {}
  },
  sync: [
    "enable_friendly_expenses",
    "show_claims",
    "show_ammenities",
    "need_ammenities_approval",
    "show_consortium_current_account",
    "show_consortium_bank_account",
    "show_money_in_debt",
    "show_spendings"
  ]
};
</script>

<style lang="scss" scoped></style>
