<template>
  <div>
    <header-list :title="$t('pages.create-contact')"></header-list>

    <b-row align-h="center">
      <b-colxx cols="12" lg="10">
        <b-card class="pt-3">
          <contact-form ref="ContactForm" :submitContact="submitContact" v-bind.sync="formData" />
        </b-card>
      </b-colxx>
    </b-row>
  </div>
</template>

<script>
import HeaderList from "@/components/Common/HeaderList";
import ContactForm from "@/containers/forms/ContactForm";
import FunctionalUnitContactsRepository from "@/repositories/FunctionalUnitContactsRepository";
import { mapGetters } from "vuex";
import moment from "moment";

export default {
  name: "ContactCreate",
  data() {
    return {
      formData: {
        contact_type: "PROPIETARIO",
        first_name: "",
        last_name: "",
        address_street: "",
        postal_code: "",
        document_number: "",
        birth_date: "",
        phone_personal: "",
        phone_work: "",
        phone_cel: "",
        email: "",
        expenses_by_email: true,
        council_member: false,
        observations: "",
        primary: false
      }
    };
  },
  methods: {
    async submitContact() {
      let validate = this.validateForm("ContactForm");
      if (validate) {
        this.formData.birth_date = this.dateFormatter(this.formData.birth_date);

        try {
          await FunctionalUnitContactsRepository.createContact(
            this.user.authHeader,
            this.formData,
            this.idFunctionalUnit
          );
          this.$notify(
            "success",
            "Contacto creado",
            "El Contacto fue creado satisfactoriamente.",
            { duration: 3000, permanent: false }
          );
          this.$router.push({
            name: "functional-units-contacts-list",
            params: { idFU: this.idFunctionalUnit }
          });
        } catch (error) {
          this.$notify(
            "error",
            "Error al crear el contacto",
            error.response.data.message,
            { duration: 5000, permanent: false }
          );
        }
      }
    },
    dateFormatter(dateToFormat) {
      if (dateToFormat == "") {
        return null;
      }
      return moment(dateToFormat).format("DD-MM-YYYY");
    },
    validateForm(refName) {
      this.$refs[refName].$v.$touch();
      return !this.$refs[refName].$v.$anyError;
    }
  },
  components: {
    HeaderList,
    ContactForm
  },
  beforeMount() {
    this.idFunctionalUnit = this.$route.params.idFU;
  },
  computed: {
    ...mapGetters({
      user: "currentUser"
    })
  }
};
</script>
