<template>
  <div>
    <header-list :title="$t('pages.edit-contact')"></header-list>

    <b-row align-h="center">
      <b-colxx cols="12" lg="10">
        <b-card class="pt-3">
          <contact-form ref="ContactForm" :submitContact="submitContact" v-bind.sync="formData" />
        </b-card>
      </b-colxx>
    </b-row>
  </div>
</template>

<script>
import HeaderList from "@/components/Common/HeaderList";
import ContactForm from "@/containers/forms/ContactForm";
import FunctionalUnitContactsRepository from "@/repositories/FunctionalUnitContactsRepository";
import ContactsRepository from "@/repositories/ContactsRepository";
import { mapGetters } from "vuex";
import moment from "moment";

export default {
  name: "ContactCreate",
  data() {
    return {
      formData: {
        contact_type: "",
        first_name: "",
        last_name: "",
        address_street: "",
        postal_code: "",
        document_number: "",
        birth_date: "",
        phone_personal: "",
        phone_work: "",
        phone_cel: "",
        email: "",
        expenses_by_email: true,
        council_member: false,
        observations: "",
        primary: false
      }
    };
  },

  async beforeMount() {
    this.id = this.$route.params.id;
    this.idFU = this.$route.params.idFU;
    this.idFUContact = this.$route.params.idContact;
    this.idContact = null;

    try {
      let fuContactData = await FunctionalUnitContactsRepository.showContact(
        this.user.authHeader,
        this.idFU,
        this.idFUContact
      );
      let {
        id,
        functional_unit_id,
        contact_id,
        contact_type,
        primary,
        created_at,
        updated_at
      } = fuContactData[0];
      this.idContact = contact_id;
      let {
        first_name,
        last_name,
        address_street,
        postal_code,
        document_number,
        birth_date,
        phone_personal,
        phone_work,
        phone_cel,
        email,
        expenses_by_email,
        council_member,
        observations
      } = await ContactsRepository.showContact(
        this.user.authHeader,
        this.idContact
      );
      // Adjust data
      if (birth_date == null) {
        birth_date = "";
      }

      this.formData = {
        contact_type,
        first_name,
        last_name,
        address_street,
        postal_code,
        document_number,
        birth_date,
        phone_personal,
        phone_work,
        phone_cel,
        email,
        expenses_by_email,
        council_member,
        observations,
        primary
      };
    } catch (error) {
      this.$notify(
        "error",
        "Error al obtener el Contacto",
        error.response.data.message,
        { duration: 5000, permanent: false }
      );
    }
  },

  methods: {
    async submitContact() {
      let validate = this.validateForm("ContactForm");
      if (validate) {
        this.formData.birth_date = this.dateFormatter(this.formData.birth_date);
        try {
          await ContactsRepository.updateContact(
            this.user.authHeader,
            this.formData,
            this.idContact
          );
          this.$notify(
            "success",
            "Contacto actualizado",
            "El Contacto fue actualizado satisfactoriamente.",
            { duration: 3000, permanent: false }
          );
        } catch (error) {
          this.$notify(
            "error",
            "Error al actualizar el contacto",
            error.response.data.message,
            { duration: 10000, permanent: false }
          );
        }
      }
    },
    dateFormatter(dateToFormat) {
      if (dateToFormat == null) {
        return null;
      }
      if (dateToFormat == "") {
        return null;
      }
      return moment(dateToFormat).format("DD-MM-YYYY");
    },
    validateForm(refName) {
      this.$refs[refName].$v.$touch();
      return !this.$refs[refName].$v.$anyError;
    }
  },
  components: {
    HeaderList,
    ContactForm
  },
  computed: {
    ...mapGetters({
      user: "currentUser"
    })
  }
};
</script>