<template>
  <div>
    <header-list :title="$t('menu.contacts')">
      <template v-slot:filters>
        <simple-search placeholder="buscar" :field="'searchString'" :searchChange="searchChange" />
        <page-options
          :from="from"
          :to="to"
          :total="total"
          :perPage="perPage"
          :pageSizes="pageSizes"
          :changePageSize="changePageSize"
        />
      </template>
      <template v-slot:buttons>
        <div class="top-right-button-container">
          <b-button
            variant="primary"
            class="top-right-button"
            @click="$router.push({ name: 'functional-units-contacts-create' })"
          >{{ $t("buttons.create-new") }}</b-button>
        </div>
      </template>
    </header-list>
    <Datatable
      ref="datatable"
      :apiBase="apiBase"
      :columns="computedColumns"
      :perPage="perPage"
      :contextMenuItems="contextMenuItems"
      :filter="filter"
      @getPagination="getPagination"
      @onContextMenuAction="onContextMenuAction"
    ></Datatable>
    <confirm-modal
      ref="confirmModal"
      :title="$t('forms.functional-units.title-modal')"
      :description="$t('forms.functional-units.description-modal')"
      :confirm="$t('forms.confirm')"
      :cancel="$t('forms.cancel')"
      @acceptModal="acceptModal"
    ></confirm-modal>
  </div>
</template>

<script>
import HeaderList from "@/components/Common/HeaderList";
import SimpleSearch from "@/components/Filter/SimpleSearch";
import PageOptions from "@/components/Common/PageOptions";
import Datatable from "@/components/Common/Datatable";
import ChangePageMixin from "@/mixins/ChangePageMixin";
import dataTableMixin from "@/mixins/dataTableMixin";
import ConfirmModal from "@/components/Common/ConfirmModal";
import FunctionalUnitContactsRepository from "@/repositories/FunctionalUnitContactsRepository";

const BASEURL = process.env.VUE_APP_BASEURL;

export default {
  data() {
    return {
      columns: [
        {
          name: "first_name",
          title: "Nombre",
          titleClass: "",
          dataClass: "list-item-heading",
          width: "20%"
        },
        {
          name: "last_name",
          title: "Apellido",
          titleClass: "",
          dataClass: "list-item-heading",
          width: "20%"
        },
        {
          name: "contact_type",
          title: "Tipo de Contacto",
          titleClass: "",
          dataClass: "list-item-heading",
          width: "20%"
        },
        {
          name: "phone_cel",
          title: "Teléfono",
          titleClass: "",
          dataClass: "list-item-heading",
          width: "20%"
        },
        {
          name: "email",
          title: "Email",
          titleClass: "",
          dataClass: "list-item-heading",
          width: "20%"
        }
      ],
      apiBase: BASEURL + "/functional-units",
      perPage: 10,
      pageSizes: [10, 15, 20, 25],
      contextMenuItems: [
        {
          text: "Ver Contacto",
          icon: "simple-icon-user",
          action: "contact-edit"
        },
        {
          text: "Enviar Invitación",
          icon: "simple-icon-action-redo",
          action: "contact-invite"
        },
        {
          text: "Borrar Contacto",
          icon: "simple-icon-trash",
          action: "contact-delete"
        }
      ]
    };
  },
  created() {
    let functionalUnitId = this.$route.params.idFU;
    this.apiBase = `${this.apiBase}/${functionalUnitId}/contact/`;
  },
  methods: {
    onContextMenuAction(action, element) {
      switch (action) {
        case "contact-edit":
          this.$router.push({
            name: "functional-units-contacts-edit",
            params: {
              id: this.$route.params.id,
              idFU: this.$route.params.idFU,
              idContact: element.functional_unit_contacts_id
            }
          });
          break;

        case "contact-delete":
          this.idSelect = element.functional_unit_contacts_id;
          this.$refs.confirmModal.$bvModal.show("confirmModal");
          break;

        default:
          break;
      }
    },
    async deleteContact(id) {
      try {
        await FunctionalUnitContactsRepository.destroyContact(
          this.user.authHeader,
          this.$route.params.idFU,
          id
        );
        this.$refs.datatable.$refs.vuetable.refresh();
        this.$notify(
          "success",
          "Contacto eliminado",
          "El contacto fue eliminado satisfactoriamente.",
          { duration: 3000, permanent: false }
        );
      } catch (error) {
        this.$notify(
          "error",
          "Error al eliminar contacto",
          error.response.data.message,
          { duration: 3000, permanent: false }
        );
      }
    },
    acceptModal() {
      this.$refs.confirmModal.$bvModal.hide("confirmModal");
      this.deleteContact(this.idSelect);
    }
  },
  components: {
    HeaderList,
    SimpleSearch,
    PageOptions,
    Datatable,
    ConfirmModal
  },
  mixins: [ChangePageMixin, dataTableMixin]
};
</script>
