<template>
  <b-modal id="checks" :title="$t('forms.financial-statement.checks')">
    <div class="mb-4">
      <simple-select
        filterBy="number"
        :apiUrl="checksUrl"
        @onInput="searchChange"
        :filters="filters"
        :placeholder="
          ownCheck === true
            ? $t('forms.financial-statement.own-checks')
            : $t('forms.financial-statement.other-checks')
        "
      />
    </div>
    <h4>{{ check.number }}</h4>
    <h5 v-if="check.bank">{{ check.bank.name }}</h5>
    <currency v-if="check.id" :amount="check.amount" />
    <template slot="modal-footer">
      <b-button variant="secondary" @click="cancelModal">{{ $t('forms.cancel') }}</b-button>
      <b-button
        variant="primary"
        @click="acceptModal"
        class="mr-1"
        :disabled="!check.id"
      >{{ $t('forms.confirm') }}</b-button>
    </template>
  </b-modal>
</template>

<script>
import SimpleSelect from "@/components/Filter/Select";
import CheckRepository from "@/repositories/CheckRepository";
import { mapGetters } from "vuex";

const BASEURL = process.env.VUE_APP_BASEURL;

export default {
  data() {
    return {
      checksUrl: BASEURL + "/check",
      check: {},
      filters: {
        consortium_id: this.consortiumId,
        cashbox_movement_income_id: null,
        cashbox_movement_outflow_id: null,
        own: this.ownCheck,
      },
    };
  },
  props: ["consortiumId", "ownCheck"],
  watch: {
    consortiumId(value) {
      this.filters.consortium_id = value;
    },
    ownCheck(value) {
      this.filters.own = value;
    },
  },
  methods: {
    acceptModal() {
      this.$emit("acceptModal", this.check);
      this.check = {};
    },
    cancelModal() {
      this.$bvModal.hide("checks");
      this.check = {};
    },
    async searchChange(field, value) {
      try {
        this.check = await CheckRepository.showCheck(
          this.user.authHeader,
          value
        );
      } catch (error) {
        this.$notify(
          "error",
          "Error obteniendo descripción de gasto",
          error.response.data.message,
          { duration: 3000, permanent: false }
        );
      }
    },
  },
  computed: {
    ...mapGetters({
      user: "currentUser",
    }),
  },
  components: {
    SimpleSelect,
  },
};
</script>
