<template>
  <b-modal id="transfers" :title="$t('forms.financial-statement.transfers')">
    <div class="mb-4">
      <simple-select
        :get-label="getLabel"
        filterBy="account_number"
        :apiUrl="banksUrl"
        @onInput="searchChange"
        :placeholder="$t('forms.financial-statement.bank-accounts')"
      />
    </div>
    <div v-if="account.id">
      <h4>{{ account.bank.name }}</h4>
      <h5><currency :amount="account.balance" /></h5>
      <b-form-group :label="$t('forms.financial-statement.transfer-amount')">
        <b-form-input type="text" v-model.trim="$v.amount.$model" :state="!$v.amount.$error" />
        <b-form-invalid-feedback v-if="!$v.amount.required">{{ $t("forms.required") }}</b-form-invalid-feedback>
        <b-form-invalid-feedback
          v-if="!$v.amount.minValue"
        >{{ $t("forms.financial-statement.min-amount") }}</b-form-invalid-feedback>
      </b-form-group>
    </div>
    <template slot="modal-footer">
      <b-button variant="secondary" @click="cancelModal">{{ $t('forms.cancel') }}</b-button>
      <b-button
        variant="primary"
        @click="acceptModal"
        class="mr-1"
        :disabled="!account.id"
      >{{ $t('forms.confirm') }}</b-button>
    </template>
  </b-modal>
</template>

<script>
import SimpleSelect from "@/components/Filter/Select";
import BankAccountsRepository from "@/repositories/BankAccountsRepository";
import { mapGetters } from "vuex";
import { validationMixin } from "vuelidate";
import { required, minValue } from "vuelidate/lib/validators";

const BASEURL = process.env.VUE_APP_BASEURL;

export default {
  data() {
    return {
      baseUrl: `${BASEURL}/consortium`,
      account: {},
      amount: null,
      consortium_id: this.consortiumId,
    };
  },
  props: ["consortiumId"],
  watch: {
    consortiumId(value) {
      this.consortium_id = value;
      (this.account = {}), (this.amount = null);
    },
  },
  methods: {
    acceptModal() {
      this.$v.$touch();
      if (!this.$v.$anyError) {
        this.$emit("acceptModal", this.account, this.amount);
        this.account = {};
        this.amount = null;
      }
    },
    cancelModal() {
      this.$bvModal.hide("transfers");
      this.account = {};
      this.amount = null;
    },
    async searchChange(field, value) {
      try {
        this.account = await BankAccountsRepository.getBankAccount(
          this.user.authHeader,
          this.consortiumId,
          value
        );
      } catch (error) {
        this.$notify(
          "error",
          "Error obteniendo cuenta bancaria",
          error.response.data.message,
          { duration: 3000, permanent: false }
        );
      }
    },
    getLabel(option) {
      return `N° ${option.account_number} ${option.bank.name}`;
    },
  },
  computed: {
    ...mapGetters({
      user: "currentUser",
    }),
    banksUrl() {
      return `${this.baseUrl}/${this.consortium_id}/bank-account`;
    },
  },
  mixins: [validationMixin],
  validations: {
    amount: {
      required,
      minValue: minValue(0.01),
    },
  },
  components: {
    SimpleSelect,
  },
};
</script>
