<template>
  <img alt="logo" :src="logoSize" class="header-logo" />
</template>

<script>
import logo from "../../assets/img/octopus_logo.png";
import logoLarge from "../../assets/img/octopus_logo_large.png";
export default {
  data() {
    return {
      logo,
      logoLarge,
      windowWidth: null,
    };
  },
  computed: {
    logoSize() {
      return this.windowWidth < 420 ? logo : logoLarge;
    },
  },
  mounted() {
    window.addEventListener("resize", this.handleWindowResize);
    this.handleWindowResize();
  },
  methods: {
    handleWindowResize(event) {
      if (event && !event.isTrusted) {
        return;
      }
      this.windowWidth = window.innerWidth;
    },
  },
};
</script>

<style lang="scss" scoped>
.header-logo {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: auto;
  height: inherit;
}
</style>
