<template>
  <img alt="logo" :src="logo" class="logo" />
</template>

<script>
import logo from "../../assets/img/octopus_logo_large.png";
export default {
  data() {
    return {
      logo,
    };
  },
};
</script>

<style lang="scss" scoped>
.logo {
  width: 100%;
}
</style>
