<template>
  <b-form-group :label="label">
    <b-form-input
      v-model="value"
      type="text"
      @input="onInput"
      v-mask="'##-########-#'"
      placeholder="##-########-#"
    />
  </b-form-group>
</template>

<script>
export default {
  name: "CuitFilter",
  props: {
    field: String,
    placeholder: String,
    label: String,
  },
  data() {
    return {
      value: "",
    };
  },
  methods: {
    onInput(val) {
      let optionFilter = {};
      optionFilter[this.field] = val;
      this.$emit("onInput", optionFilter);
    },
    cleanFields() {
      this.value = "";
    },
  },
};
</script>

<style lang="scss" scoped></style>
