<template>
  <b-form-group :label="label">
    <v-select
      :label="labelField"
      :reduce="(options) => options[keyValue]"
      :options="options"
      :placeholder="placeholder"
      :clearable="true"
      v-model="value"
      @input="onInput"
    />
  </b-form-group>
</template>

<script>
import vSelect from "vue-select";
import "vue-select/dist/vue-select.css";
export default {
  name: "OptionsFilter",
  props: {
    multiple: { type: Boolean, default: false },
    label: String,
    labelField: String,
    field: String,
    placeholder: String,
    options: Array,
    keyValue: { type: String, default: "value" },
  },
  data() {
    return {
      value: null,
    };
  },
  methods: {
    onInput(val) {
      let optionFilter = {};
      optionFilter[this.field] = val;
      this.$emit("onInput", optionFilter);
    },
    cleanFields() {
      this.value = null;
    },
  },
  components: {
    vSelect,
  },
};
</script>

<style lang="scss" scoped></style>
