<template>
  <div>
    <b-form-group :label="labelGroup" label-class="lead-small">
      <div class="separator mb-3" />
      <b-form-row>
        <b-col cols="12" sm="6">
          <b-form-group :label="this.fromLabel">
            <datepicker
              @selected="(val) => onInput(val, this.fromField)"
              @cleared="() => onCleared(this.fromField)"
              v-model="from"
              :language="es"
              :bootstrap-styling="true"
              :disabled-dates="fromDisabled"
              :clear-button="true"
            ></datepicker>
            <b-form-invalid-feedback
              v-if="!this.from && this.fromError"
              class="d-block"
            >{{ $t("forms.required") }}</b-form-invalid-feedback>
          </b-form-group>
        </b-col>
        <b-col cols="12" sm="6">
          <b-form-group :label="this.toLabel">
            <datepicker
              @selected="(val) => onInput(val, this.toField)"
              @cleared="() => onCleared(this.toField)"
              v-model="to"
              :language="es"
              :bootstrap-styling="true"
              :disabled-dates="toDisabled"
              :clear-button="true"
            ></datepicker>
            <b-form-invalid-feedback
              v-if="!this.to && this.toError"
              class="d-block"
            >{{ $t("forms.required") }}</b-form-invalid-feedback>
          </b-form-group>
        </b-col>
      </b-form-row>
    </b-form-group>
  </div>
</template>

<script>
import Datepicker from "vuejs-datepicker";
import { es } from "vuejs-datepicker/dist/locale";
import moment from "moment";
export default {
  name: "RangeDateFilter",
  props: ["toField", "fromField", "fromLabel", "toLabel", "labelGroup"],
  components: {
    Datepicker
  },
  data() {
    return {
      es,
      from: null,
      fromError: false,
      fromDisabled: {
        from: null
      },
      to: null,
      toError: false,
      toDisabled: {
        to: null,
        from: null,
      },
    };
  },
  methods: {
    onInput(val, field) {
      if (field === this.fromField) {
        this.fromError = false;
      } else {
        this.toError = false;
      }
      let date = {};
      date[field] = val != null ? moment(val).format("DD-MM-YYYY") : val;
      this.disabledDates(field, val);
      this.$emit("onInput", date);
    },
    validate() {
      return true;
    },
    disabledDates(field, val) {
      if (field === this.fromField) {
        this.toDisabled.to = val;
      } else {
        this.fromDisabled.from = val;
      }
    },
    cleanFields() {
      (this.from = null), (this.to = null);
      this.toError = false;
      this.fromError = false;
    },
    onCleared(field) {
      if (field === this.fromField) {
        this.toError = false;
      } else {
        this.fromError = false;
      }
    }
  }
};
</script>

<style lang="scss" scoped></style>
