<template>
  <div>
    <b-form-group :label="labelGroup" label-class="lead-small">
      <div class="separator mb-3" />
      <b-form-row>
        <b-col cols="12" sm="6">
          <b-form-group :label="this.fromLabel">
            <b-form-input
              type="number"
              v-model="from"
              @input="(val) => onInput(val, this.fromField)"
            />
            <b-form-invalid-feedback
              v-if="!this.from && this.fromError"
              class="d-block"
            >{{ $t("forms.required") }}</b-form-invalid-feedback>
            <b-form-invalid-feedback v-if="this.wrongValues" class="d-block">Valores incorrectos</b-form-invalid-feedback>
          </b-form-group>
        </b-col>
        <b-col cols="12" sm="6">
          <b-form-group :label="this.toLabel">
            <b-form-input type="number" v-model="to" @input="(val) => onInput(val, this.toField)" />
            <b-form-invalid-feedback
              v-if="!this.to && this.toError"
              class="d-block"
            >{{ $t("forms.required") }}</b-form-invalid-feedback>
            <b-form-invalid-feedback v-if="this.wrongValues" class="d-block">Valores incorrectos</b-form-invalid-feedback>
          </b-form-group>
        </b-col>
      </b-form-row>
    </b-form-group>
  </div>
</template>

<script>
export default {
  name: "RangeAmountFilter",
  props: ["toField", "fromField", "fromLabel", "toLabel", "labelGroup"],
  data() {
    return {
      from: "",
      fromError: false,
      to: "",
      toError: false,
      wrongValues: false
    };
  },
  methods: {
    onInput(val, field) {
      this.wrongValues = false;
      let amount = {};
      amount[field] = val;
      this.$emit("onInput", amount);
    },
    validate() {
      if (this.from != "" && this.to != "") {
        if (Number(this.from) > Number(this.to)) {
          this.wrongValues = true;
          return false;
        }
      }
      return true;
    },
    cleanFields() {
      (this.from = ""), (this.to = "");
      this.toError = false;
      this.fromError = false;
      this.wrongValues = false;
    }
  }
};
</script>

<style lang="scss" scoped></style>
