<template>
  <v-select
    @search="onSearch"
    @input="onInput"
    :label="filterBy"
    :get-option-label="getLabel"
    :reduce="(searchOptions) => searchOptions.id"
    :options="options"
    :placeholder="placeholder"
    :disabled="disabled"
    :value="selected"
    :multiple="multiple"
  />
</template>

<script>
import vSelect from "vue-select";
import "vue-select/dist/vue-select.css";
import Axios from "axios";
import { debounce } from "lodash";
import { mapGetters } from "vuex";

export default {
  props: {
    apiUrl: String,
    multiple: { type: Boolean, default: false },
    filterBy: { type: String, required: true },
    valueField: String,
    placeholder: String,
    disabled: { type: Boolean, default: false },
    selected: { type: Number, default: null },
    getLabel: {
      type: Function,
      default(option) {
        if (typeof option === "object") {
          if (!option.hasOwnProperty(this.label)) {
            return console.warn(
              `[vue-select warn]: Label key "option.${this.label}" does not` +
                ` exist in options object ${JSON.stringify(option)}.\n` +
                "https://vue-select.org/api/props.html#getoptionlabel"
            );
          }
          return option[this.label];
        }
        return option;
      },
    },
    filters: { type: Object, default: null },
  },
  data() {
    return {
      options: [],
    };
  },
  components: {
    vSelect,
  },
  computed: {
    ...mapGetters({
      user: "currentUser",
    }),
  },
  async created() {
    if (!this.disabled) {
      await this.setOptions();
    }
  },
  watch: {
    async apiUrl(value) {
      if (!this.disabled && !this.selected) {
        await this.setOptions();
      }
    },
    async disabled(value) {
      if (!value) {
        await this.setOptions();
      }
    },
    async selected(value) {
      if (value) {
        let response = await Axios.get(
          `${this.apiUrl}?filters=${JSON.stringify({ id: value })}`,
          this.user.authHeader
        );
        this.options = response.data.data.rows;
        this.$emit("onSet", this.valueField, value);
      } else {
        await this.setOptions();
      }
    },
  },
  methods: {
    onSearch(search, loading) {
      if (!this.selected) {
        loading(true);
        this.search(loading, search, this);
      }
    },
    search: debounce((loading, search, vm) => {
      Axios.get(
        `${vm.apiUrl}?filters=${JSON.stringify({
          ...vm.filters,
          [vm.filterBy]: search,
        })}`,
        vm.user.authHeader
      ).then((res) => {
        vm.options = res.data.data.rows;
        loading(false);
      });
    }, 350),
    onInput(val) {
      this.$emit("onInput", this.valueField, val);
    },
    async setOptions() {
      let apiUrl = this.filters
        ? `${this.apiUrl}?filters=${JSON.stringify({ ...this.filters })}`
        : this.apiUrl;
      let response = await Axios.get(apiUrl, this.user.authHeader);
      this.options = response.data.data.rows;
    },
  },
};
</script>
