<template>
   <div class="d-block d-md-inline-block pt-1">
       <div class="search-sm d-inline-block float-md-left mr-1 align-top">
           <b-input
               :placeholder="placeholder"
               @input="filterSearch"
           />
       </div>
   </div>
</template>

<script>
    import { debounce } from 'lodash';

    export default {
        props: [
            'field',
            'placeholder',
            'searchChange'
        ],
        methods: {
            filterSearch(value) {
                this.debouncedAnswer(this.field, value);
            }
        },
        created() {
            this.debouncedAnswer = debounce(this.searchChange, 1500);
        }
    }
</script>
