<template>
  <div id="root">
    <div class="fixed-background">
      <main>
        <div class="container">
          <b-row class="h-100">
            <b-colxx xxs="12" md="10" class="mx-auto my-auto">
              <b-card class="auth-card" no-body>
                <div class="position-relative image-side ">
                  <img class="svg-image" :src="errorSvg" alt="Login svg" />
                </div>
                <div class="form-side">
                  <router-link tag="a" to="/">
                    <div class="mb-4" style="max-width:120px">
                      <Logo />
                    </div>
                  </router-link>
                  <h6 class="mb-4">{{ $t("pages.error-title") }}</h6>
                  <b-button
                    type="submit"
                    variant="primary"
                    size="lg"
                    class="btn-shadow"
                    @click="goBack"
                  >
                    {{ $t("pages.go-back-home") }}
                  </b-button>
                </div>
              </b-card>
            </b-colxx>
          </b-row>
        </div>
      </main>
    </div>
  </div>
</template>

<script>
import Logo from "../components/Logo/Logo";
import errorSvg from "../assets/img/undraw_page_not_found.svg";
export default {
  components: {
    Logo,
    errorSvg,
  },
  data() {
    return {
      Logo,
      errorSvg,
    };
  },
  methods: {
    goBack() {
      this.$router.push("/");
    },
  },
  mounted: function() {
    document.body.classList.add("background");
  },
  beforeDestroy() {
    document.body.classList.remove("background");
  },
};
</script>
<style lang="scss" scoped>
.svg-image {
  width: 70%;
}
</style>
