<template>
  <div>
    <header-list :title="$t('menu.employees')">
      <template v-slot:filters>
        <div class="d-block d-md-inline-block pt-1">
          <div class="d-inline-block float-md-left mr-1 align-top d-flex">
            <v-select
              class="mr-2"
              placeholder="Elegir por"
              label="text"
              v-model="typeConsortiumField"
              :options="typeOptions"
              :reduce="(typeOptions) => typeOptions.value"
              style="min-width:100px"
            />
            <simple-select
              :filterBy="typeConsortiumField"
              :apiUrl="consortiumSearchUrl"
              @onInput="onSelectedConsortium"
              valueField="consortium_id"
              placeholder="Consorcio"
              style="min-width:200px"
            />
            <b-button
              class="mx-2"
              size="xs"
              variant="outline-primary"
              @click="showFilters = !showFilters"
              >Filtros Avanzados</b-button
            >
          </div>
        </div>
        <page-options
          :from="from"
          :to="to"
          :total="total"
          :perPage="perPage"
          :pageSizes="pageSizes"
          :changePageSize="changePageSize"
        />
      </template>
      <template v-slot:buttons>
        <div class="top-right-button-container">
          <b-button
            variant="primary"
            class="top-right-button"
            @click="$router.push({ name: 'employee-create' })"
            >{{ $t("buttons.create-new") }}</b-button
          >
        </div>
      </template>
    </header-list>
    <b-collapse v-model="showFilters" class="mb-4">
      <EmployeeFilter @setFilters="setFilters" :show="showFilters" />
    </b-collapse>
    <Datatable
      ref="datatable"
      :apiBase="apiBase"
      :columns="columns"
      :perPage="perPage"
      :filter="filter"
      :contextMenuItems="contextMenuItems"
      @getPagination="getPagination"
      @onContextMenuAction="onContextMenuAction"
      :slotNames="slotNames"
    >
      <template v-slot:fullName="props">
        <span>{{ fullName(props) }}</span>
      </template>
      <template v-slot:active="props">
        <div class="w-15 w-sm-100">
          <b-badge
            pill
            :variant="statusVariantColor(props.props.rowData.active)"
          >
            {{ statusText(props.props.rowData.active) }}</b-badge
          >
        </div>
      </template>
    </Datatable>
  </div>
</template>

<script>
import HeaderList from "@/components/Common/HeaderList";
import SimpleSearch from "@/components/Filter/SimpleSearch";
import SimpleSelect from "@/components/Filter/Select";
import PageOptions from "@/components/Common/PageOptions";
import Datatable from "@/components/Common/Datatable";
import EmployeeFilter from "@/containers/filters/EmployeeFilter";
import ChangePageMixin from "@/mixins/ChangePageMixin";
import dataTableMixin from "@/mixins/dataTableMixin";
import vSelect from "vue-select";

const BASEURL = process.env.VUE_APP_BASEURL;
export default {
  name: "EmployeesList",
  data() {
    return {
      consortiumSearchUrl: BASEURL + "/consortium",
      showFilters: false,
      typeOptions: [
        {
          text: "Orden",
          value: "order",
        },
        {
          text: "Razon Social",
          value: "business_name",
        },
        {
          text: "Nombre fantasia",
          value: "fancy_name",
        },
      ],
      slotNames: ["fullName", "active"],
      columns: [
        {
          name: "__slot:fullName",
          title: "Nombre",
          titleClass: "",
          dataClass: "text-muted",
          width: "20%",
        },
        {
          name: "cuil",
          title: "Cuil",
          titleClass: "",
          dataClass: "text-muted",
          width: "15%",
        },
        {
          name: "professional_function.name",
          title: "Función",
          titleClass: "",
          dataClass: "text-muted red",
          width: "40%",
        },
        {
          name: "__slot:active",
          title: "Estado",
          titleClass: "",
          dataClass: "text-muted",
          width: "15%",
        },
        {
          name: "__slot:actions",
          title: "Acciones",
          titleClass: "",
          dataClass: "text-muted",
          width: "10%",
        },
      ],
      contextMenuItems: [
        {
          text: "Ver Perfil",
          icon: "simple-icon-book-open",
          action: "employee-profile",
        },
        {
          text: "Beneficiarios",
          icon: "simple-icon-home",
          action: "employee-functional-units",
        },
        {
          text: "Datos Afip",
          icon: "iconsminds-file",
          action: "employee-percenteges",
        },
        {
          text: "Deshabilitar",
          icon: "simple-icon-trash",
          action: "employee-disable",
        },
      ],
      typeConsortiumField: "business_name",
      apiBase: BASEURL + `/employee`,
      perPage: 10,
      pageSizes: [10, 15, 20, 25],
      partialFilters: null,
      consortiumFilter: {
        consortium_id: null,
      },
      professionalFunctions: null,
    };
  },
  methods: {
    setFilters(filters) {
      if (filters) {
        this.partialFilters = { ...filters, ...this.consortiumFilter };
      } else {
        this.partialFilters = {
          ...this.partialFilters,
          ...this.consortiumFilter,
        };
      }
      for (let key in this.partialFilters) {
        if (
          this.partialFilters[key] === "" ||
          this.partialFilters[key] === null
        ) {
          delete this.partialFilters[key];
        }
      }
      this.filter = this.partialFilters;
      this.$nextTick(() => {
        this.$refs.datatable.$refs.vuetable.refresh();
      });
    },
    fullName(props) {
      return `${props.props.rowData.first_name} ${props.props.rowData.last_name}`;
    },
    statusVariantColor(state) {
      return state ? "secondary" : "outline-danger";
    },
    statusText(state) {
      return state ? this.$t("badges.active") : this.$t("badges.inactive");
    },
    async onSelectedConsortium(field, idConsortium) {
      this.consortiumFilter.consortium_id = idConsortium;
      this.setFilters();
    },
    onContextMenuAction(action, element) {
      switch (action) {
        case "consortium-profile":
          this.$router.push({
            name: "consortium-profile",
            params: { id: element.id },
          });
          break;

        case "consortium-disable":
          this.idSelect = element.id;
          this.$refs.confirmModal.$bvModal.show("confirmModal");
          break;

        case "consortium-functional-units":
          this.$router.push({
            name: "functional-units-list",
            params: { id: element.id },
          });
          break;

        case "consortium-percenteges":
          this.$router.push({
            params: { id: `${element.id}` },
            name: "consortium-percentage-list",
          });
          break;

        default:
          break;
      }
    },
  },

  components: {
    HeaderList,
    SimpleSearch,
    SimpleSelect,
    PageOptions,
    Datatable,
    EmployeeFilter,
    vSelect,
  },
  mixins: [ChangePageMixin, dataTableMixin],
};
</script>

<style lang="scss" scoped></style>
