<template>
  <div>
    <header-list :title="$t('pages.create-description')"></header-list>

    <b-row align-h="center">
      <b-colxx cols="12" lg="10">
        <b-card class="pt-3">
          <description-form
            ref="descriptionForm"
            :submitDescription="submitDescription"
            v-bind.sync="formData"
          />
        </b-card>
      </b-colxx>
    </b-row>
  </div>
</template>

<script>
import HeaderList from "../../../../components/Common/HeaderList";
import DescriptionForm from "../../../../containers/forms/DescriptionForm";
import DescriptionsRepository from "../../../../repositories/DescriptionsRepository";
import { mapGetters } from "vuex";

export default {
  name: "DescriptionCreate",
  data() {
    return {
      formData: {
        title: "",
        description: ""
      }
    };
  },
  methods: {
    async submitDescription() {
      let validate = this.validateForm("descriptionForm");
      if (validate) {
        try {
          await DescriptionsRepository.createDescription(
            this.user.authHeader,
            this.formData
          );
          this.$notify(
            "success",
            "Descripción creada",
            "La descripción de gasto fue creada satisfactoriamente.",
            { duration: 3000, permanent: false }
          );
          this.$router.push({ name: "spending-descriptions-list" });
        } catch (error) {
          this.$notify(
            "error",
            "Error creando descripción de gasto",
            error.response.data.message,
            { duration: 3000, permanent: false }
          );
        }
      }
    },
    validateForm(refName) {
      this.$refs[refName].$v.$touch();
      return !this.$refs[refName].$v.$anyError;
    }
  },
  components: {
    HeaderList,
    DescriptionForm
  },
  computed: {
    ...mapGetters({
      user: "currentUser"
    })
  }
};
</script>
