<template>
  <div>
    <header-list :title="$t('menu.descriptions')">
      <template v-slot:filters>
        <simple-search placeholder="Titulo" field="title" :searchChange="searchChange" />
        <simple-search placeholder="Descripción" field="description" :searchChange="searchChange" />
        <page-options
          :from="from"
          :to="to"
          :total="total"
          :perPage="perPage"
          :pageSizes="pageSizes"
          :changePageSize="changePageSize"
        />
      </template>
      <template v-slot:buttons>
        <div class="top-right-button-container">
          <b-button
            variant="primary"
            class="top-right-button"
            @click="$router.push({ name: 'spending-descriptions-create' })"
          >{{ $t("buttons.create-new") }}</b-button>
        </div>
      </template>
    </header-list>
    <Datatable
      ref="datatable"
      :apiBase="apiBase"
      :columns="computedColumns"
      :perPage="perPage"
      :contextMenuItems="contextMenuItems"
      :filter="filter"
      @getPagination="getPagination"
      @onContextMenuAction="onContextMenuAction"
      :slotNames="slotNames"
    >
      <template v-slot:description="props">
        <div>{{trimDescription(props)}}</div>
      </template>
      <template v-slot:created_at="props">
        <div>{{dateFormatter(props.props.rowData.created_at)}}</div>
      </template>
    </Datatable>
    <confirm-modal
      ref="confirmModal"
      :title="$t('forms.remove')"
      :description="$t('forms.spendings.descriptions.description-modal')"
      :confirm="$t('forms.confirm')"
      :cancel="$t('forms.cancel')"
      @acceptModal="acceptModal"
    ></confirm-modal>
  </div>
</template>

<script>
import HeaderList from "@/components/Common/HeaderList";
import SimpleSearch from "@/components/Filter/SimpleSearch";
import PageOptions from "@/components/Common/PageOptions";
import Datatable from "@/components/Common/Datatable";
import ChangePageMixin from "@/mixins/ChangePageMixin";
import dataTableMixin from "@/mixins/dataTableMixin";
import DescriptionsRepository from "@/repositories/DescriptionsRepository";
import ConfirmModal from "@/components/Common/ConfirmModal";

const BASEURL = process.env.VUE_APP_BASEURL;

export default {
  data() {
    return {
      columns: [
        {
          name: "title",
          title: "Título",
          titleClass: "",
          dataClass: "text-muted",
          width: "25%"
        },
        {
          name: "__slot:description",
          title: "Descripción",
          titleClass: "",
          dataClass: "text-muted",
          width: "60%"
        },
        {
          name: "__slot:created_at",
          title: "Fecha de Creación",
          titleClass: "",
          dataClass: "text-muted",
          width: "45%"
        }
      ],
      apiBase: BASEURL + "/spending-description/",
      slotNames: ["description", "created_at"],
      perPage: 10,
      pageSizes: [10, 15, 20, 25],
      contextMenuItems: [
        {
          text: "Editar descripción",
          icon: "simple-icon-book-open",
          action: "spending-descriptions-edit"
        },
        {
          text: "Borrar descripción",
          icon: "simple-icon-trash",
          action: "spending-description-delete"
        }
      ]
    };
  },
  methods: {
    onContextMenuAction(action, element) {
      switch (action) {
        case "spending-descriptions-edit":
          this.$router.push({
            name: "spending-descriptions-edit",
            params: { id: element.id }
          });
          break;

        case "spending-description-delete":
          this.idSelect = element.id;
          this.$refs.confirmModal.$bvModal.show("confirmModal");
          break;

        default:
          break;
      }
    },
    async deleteDescription(id) {
      try {
        await DescriptionsRepository.destroyDescription(
          this.user.authHeader,
          id
        );
        this.$refs.datatable.$refs.vuetable.refresh();
        this.$notify(
          "success",
          "Descripción eliminada",
          "La descripción de gastofue eliminada satisfactoriamente.",
          { duration: 3000, permanent: false }
        );
      } catch (error) {
        this.$notify(
          "error",
          "Error al eliminar descripción",
          error.response.data.message,
          { duration: 3000, permanent: false }
        );
      }
    },
    acceptModal() {
      this.$refs.confirmModal.$bvModal.hide("confirmModal");
      this.deleteDescription(this.idSelect);
    },
    trimDescription(props) {
      let description = props.props.rowData.description;
      return description.length > 50
        ? `${description.substr(0, 50)}...`
        : description;
    }
  },
  components: {
    HeaderList,
    SimpleSearch,
    PageOptions,
    Datatable,
    ConfirmModal
  },
  mixins: [ChangePageMixin, dataTableMixin]
};
</script>
