<template>
  <div>
    <header-list :title="$t('pages.edit-spending')"></header-list>

    <b-row align-h="center">
      <b-colxx cols="12" lg="10">
        <b-card class="pt-3">
          <description-form
            ref="descriptionForm"
            :submitDescription="submitDescription"
            :editDescription="editDescription"
            v-bind.sync="formData"
          />
        </b-card>
      </b-colxx>
    </b-row>
  </div>
</template>

<script>
import HeaderList from "../../../../components/Common/HeaderList";
import DescriptionForm from "../../../../containers/forms/DescriptionForm";
import DescriptionsRepository from "../../../../repositories/DescriptionsRepository";
import { mapGetters } from "vuex";

export default {
  name: "DescriptionUpdate",
  data() {
    return {
      idDescription: "",
      editDescription: true,
      formData: {
        title: "",
        description: ""
      }
    };
  },
  async beforeMount() {
    this.idDescription = this.$route.params.id;
    try {
      this.formData = await DescriptionsRepository.showDescription(
        this.user.authHeader,
        this.idDescription
      );
    } catch (error) {
      this.$notify(
        "error",
        "Error obteniendo descripción de gasto",
        error.response.data.message,
        { duration: 3000, permanent: false }
      );
    }
  },
  methods: {
    async submitDescription() {
      let validate = this.validateForm("descriptionForm");
      if (validate) {
        try {
          await DescriptionsRepository.updateDescription(
            this.user.authHeader,
            this.formData,
            this.idDescription
          );
          this.$notify(
            "success",
            "Descripción actualizada",
            "La descripcion de gasto fue actualizada satisfactoriamente.",
            { duration: 3000, permanent: false }
          );
          this.$router.push({ name: "spending-descriptions-list" });
        } catch (error) {
          this.$notify(
            "error",
            "Error creando descripción de gasto",
            error.response.data.message,
            { duration: 3000, permanent: false }
          );
        }
      }
    },
    validateForm(refName) {
      this.$refs[refName].$v.$touch();
      return !this.$refs[refName].$v.$anyError;
    }
  },
  components: {
    HeaderList,
    DescriptionForm
  },
  computed: {
    ...mapGetters({
      user: "currentUser"
    })
  }
};
</script>
