<template>
  <div>
    <header-list :title="$t('menu.current-account-providers')">
      <template v-slot:filters>
        <div class="d-block d-md-inline-block pt-1">
          <div class="d-inline-block float-md-left mr-1 align-top d-flex">
            <simple-select
              :filterBy="typeProviderField"
              :apiUrl="providerSearchUrl"
              @onInput="onSelectedProvider"
              valueField="provider_id"
              placeholder="Proveedor"
              style="min-width:200px"
            />
            <simple-select
              :filterBy="typeConsortiumField"
              :apiUrl="consortiumSearchUrl"
              @onInput="onSelectedConsortium"
              valueField="consortium_id"
              placeholder="Consorcio"
              style="min-width:200px"
            />
            <b-button
              class="mx-2"
              size="xs"
              variant="outline-primary"
              @click="showFilters = !showFilters"
              >Filtros Avanzados</b-button
            >
          </div>
        </div>
        <page-options
          :from="from"
          :to="to"
          :total="total"
          :perPage="perPage"
          :pageSizes="pageSizes"
          :changePageSize="changePageSize"
        />
      </template>
    </header-list>
    <b-collapse v-model="showFilters" class="mb-4">
      <CurrentAccountProviderFilter @setFilters="setFilters" />
    </b-collapse>
    <Datatable
      ref="datatable"
      :apiBase="apiBase"
      :columns="columns"
      :perPage="perPage"
      :filter="filter"
      :loadStart="false"
      @getPagination="getPagination"
      :slotNames="slotNames"
    >
      <template v-slot:due="props">
        <currency
          v-if="props.props.rowData.transaction_type === 'credit'"
          :amount="props.props.rowData.amount"
        />
        <span v-else>-</span>
      </template>
      <template v-slot:havings="props">
        <currency
          v-if="props.props.rowData.transaction_type === 'debit'"
          :amount="props.props.rowData.amount"
        />
        <span v-else>-</span>
      </template>
      <template v-slot:balance="props">
        <currency
          v-if="props.props.rowData.balance"
          :currencyClass="
            props.props.rowData.balance < 0 ? 'text-error' : 'text-success'
          "
          :amount="props.props.rowData.balance"
        />
      </template>
    </Datatable>
  </div>
</template>

<script>
import Vue from "vue";
import HeaderList from "@/components/Common/HeaderList";
import SimpleSearch from "@/components/Filter/SimpleSearch";
import SimpleSelect from "@/components/Filter/Select";
import PageOptions from "@/components/Common/PageOptions";
import Datatable from "@/components/Common/Datatable";
import ChangePageMixin from "@/mixins/ChangePageMixin";
import dataTableMixin from "@/mixins/dataTableMixin";
import CashboxListDetailRow from "@/containers/datatable/cashboxList/CashboxListDetailRow";
import IconCards from "@/containers/ui/IconCards";
import vSelect from "vue-select";
import "vue-select/dist/vue-select.css";
const BASEURL = process.env.VUE_APP_BASEURL;

import CurrentAccountProviderFilter from "@/containers/filters/CurrentAccountProviderFilter";

export default {
  data() {
    return {
      name: "CurrentAccountProviderList",
      slotNames: ["due", "havings", "balance"],
      providerSearchUrl: BASEURL + "/provider",
      consortiumSearchUrl: BASEURL + "/consortium",
      showFilters: false,
      typeProviderField: "business_name",
      typeConsortiumField: "business_name",
      columns: [
        {
          name: "date",
          title: "Fecha",
          titleClass: "",
          dataClass: "text-muted",
          width: "15%",
        },
        {
          name: "description",
          title: "Description",
          titleClass: "",
          dataClass: "text-muted",
          width: "30%",
        },
        {
          name: "__slot:due",
          title: "Debe",
          titleClass: "",
          dataClass: "text-muted red",
          width: "20%",
        },
        {
          name: "__slot:havings",
          title: "Haber",
          titleClass: "",
          dataClass: "text-muted",
          width: "20%",
        },
        {
          name: "__slot:balance",
          title: "Saldo",
          titleClass: "",
          dataClass: "text-muted",
          width: "15%",
        },
      ],
      apiBase: "",
      perPage: 10,
      pageSizes: [10, 15, 20, 25],
      idProviderSelected: "",
      idConsortiumSelected: "",
    };
  },
  methods: {
    addPartialFilters(filter) {
      this.partialFilters = { ...this.partialFilters, ...filter };
    },
    setFilters(filters) {
      let incomeFilters = filters;
      for (let key in incomeFilters) {
        if (incomeFilters[key] === "" || incomeFilters[key] === null) {
          delete incomeFilters[key];
        }
      }
      this.filter = incomeFilters;
      this.$nextTick(() => {
        this.$refs.datatable.$refs.vuetable.refresh();
      });
    },
    setApiBase(id) {
      this.apiBase = BASEURL + `/provider/${id}/movement/`;
    },
    async onSelectedProvider(field, idProvider) {
      if (idProvider != null) {
        this.setApiBase(idProvider);
      }
    },
    async onSelectedConsortium(field, idConsortium) {
      if (idConsortium != null) {
      }
    },
  },
  components: {
    HeaderList,
    SimpleSearch,
    SimpleSelect,
    PageOptions,
    Datatable,
    IconCards,
    vSelect,
    CurrentAccountProviderFilter,
  },
  mixins: [ChangePageMixin, dataTableMixin],
};
</script>
