<template>
  <div>
    <header-list :title="$t('menu.consortium-percentages')">
      <template v-slot:filters>
        <page-options
          :from="from"
          :to="to"
          :total="total"
          :perPage="perPage"
          :pageSizes="pageSizes"
          :changePageSize="changePageSize"
        />
      </template>
      <template v-slot:buttons>
        <div class="top-right-button-container">
          <b-button
            variant="primary"
            class="top-right-button"
            @click="$router.push({ name: 'consortium-percentage-create' })"
          >{{ $t("buttons.create-new") }}</b-button>
        </div>
      </template>
    </header-list>
    <Datatable
      ref="datatable"
      :apiBase="apiBase"
      :columns="computedColumns"
      :perPage="perPage"
      :contextMenuItems="contextMenuItems"
      :filter="filter"
      @getPagination="getPagination"
      @onContextMenuAction="onContextMenuAction"
    />
    <confirm-modal
      ref="confirmModal"
      :title="$t('forms.consortium-percentage.title-modal')"
      :description="$t('forms.consortium-percentage.description-modal')"
      :confirm="$t('forms.confirm')"
      :cancel="$t('forms.cancel')"
      @acceptModal="acceptModal"
    ></confirm-modal>
  </div>
</template>

<script>
import HeaderList from "../../../../components/Common/HeaderList";
import PageOptions from "../../../../components/Common/PageOptions";
import Datatable from "../../../../components/Common/Datatable";
import ChangePageMixin from "../../../../mixins/ChangePageMixin";
import dataTableMixin from "@/mixins/dataTableMixin";
import ConsortiumPercentageRepository from "../../../../repositories/ConsortiumPercentageRepository";
import ConfirmModal from "../../../../components/Common/ConfirmModal";

const BASEURL = process.env.VUE_APP_BASEURL;

export default {
  data() {
    return {
      columns: [
        {
          name: "position",
          title: "Posición",
          titleClass: "",
          dataClass: "list-item-heading",
          width: "15%"
        },
        {
          name: "name",
          title: "Nombre",
          titleClass: "",
          dataClass: "list-item-heading",
          width: "80%"
        }
      ],
      apiBase: BASEURL + `/consortium/${this.idConsortium}/percentage/`,
      perPage: 10,
      pageSizes: [10, 15, 20, 25],
      contextMenuItems: [
        {
          text: "Editar porcentaje",
          icon: "simple-icon-book-open",
          action: "consortium-percentage-edit"
        },
        {
          text: "Borrar porcentaje",
          icon: "simple-icon-trash",
          action: "consortium-percentage-delete"
        }
      ]
    };
  },
  methods: {
    onContextMenuAction(action, element) {
      switch (action) {
        case "consortium-percentage-edit":
          this.$router.push({
            name: "consortium-percentage-edit",
            params: { idPercentage: element.id }
          });
          break;

        case "consortium-percentage-delete":
          this.idSelect = element.id;
          this.$refs.confirmModal.$bvModal.show("confirmModal");
          break;

        default:
          break;
      }
    },
    async deletePercentage(idConsortium, idPercentage) {
      try {
        await ConsortiumPercentageRepository.destroyConsortiumPercentage(
          this.user.authHeader,
          idConsortium,
          idPercentage
        );
        this.$refs.datatable.$refs.vuetable.refresh();
        this.$notify(
          "success",
          "Porcentaje eliminado",
          "El porcentaje fue eliminado satisfactoriamente.",
          { duration: 3000, permanent: false }
        );
      } catch (error) {
        this.$notify(
          "error",
          "Error al borrar el porcentaje",
          error.response.data.message.id[0],
          { duration: 3000, permanent: false }
        );
      }
    },
    acceptModal() {
      this.$refs.confirmModal.$bvModal.hide("confirmModal");
      this.deletePercentage(this.idConsortium, this.idSelect);
    }
  },
  components: {
    HeaderList,
    PageOptions,
    Datatable,
    ConfirmModal
  },
  mixins: [ChangePageMixin, dataTableMixin],
  beforeCreate() {
    this.idConsortium = this.$route.params.id;
  }
};
</script>
