<template>
  <div>
    <header-list :title="$t('pages.create-consortium-percentage')"></header-list>

    <b-row align-h="center">
      <b-colxx cols="12" lg="10">
        <b-card class="pt-3">
          <consortium-percentage-form
            ref="consortiumPercentageForm"
            :idConsortium="idConsortium"
            :submitConsortiumPercentage="submitConsortiumPercentage"
            v-bind.sync="formData"
          />
        </b-card>
      </b-colxx>
    </b-row>
  </div>
</template>

<script>
import HeaderList from "../../../../components/Common/HeaderList";
import ConsortiumPercentageForm from "../../../../containers/forms/ConsortiumPercentageForm";
import ConsortiumPercentageRepository from "../../../../repositories/ConsortiumPercentageRepository";
import { mapGetters } from "vuex";

export default {
  name: "ConsortiumPercentageCreate",
  data() {
    return {
      idConsortium: "",
      formData: {
        name: "",
        description: "",
        position: "",
        particular_percentage: false,
        hidden_expense_spending: false,
        hidden_in_proration: false,
        hidden_percentage_value: false,
        equal_parts: false
      }
    };
  },
  methods: {
    async submitConsortiumPercentage() {
      let validate = this.validateForm("consortiumPercentageForm");
      if (validate) {
        try {
          await ConsortiumPercentageRepository.storeConsortiumPercentage(
            this.user.authHeader,
            this.formData,
            this.idConsortium
          );
          this.$notify(
            "success",
            "Porcentaje creado",
            "El porcentaje fue creado satisfactoriamente.",
            { duration: 3000, permanent: false }
          );
          this.$router.push({ name: "consortium-percentage-list" });
        } catch (error) {
          this.$notify(
            "error",
            "Error al crear el porcentaje",
            error.response.data.message.position[0],
            { duration: 3000, permanent: false }
          );
        }
      }
    },
    validateForm(refName) {
      this.$refs[refName].$v.$touch();
      return !this.$refs[refName].$v.$anyError;
    }
  },
  components: {
    HeaderList,
    ConsortiumPercentageForm
  },
  beforeMount() {
    this.idConsortium = this.$route.params.id;
  },
  computed: {
    ...mapGetters({
      user: "currentUser"
    })
  }
};
</script>
