<template>
  <div>
    <header-list :title="$t('pages.edit-consortium-percentage')"></header-list>

    <b-row align-h="center">
      <b-colxx cols="12" lg="10">
        <b-card class="pt-3">
          <consortium-percentage-form
            ref="consortiumPercentageForm"
            :idConsortium="idConsortium"
            :submitConsortiumPercentage="submitConsortiumPercentage"
            :editPercentage="editPercentage"
            v-bind.sync="formData"
          />
        </b-card>
      </b-colxx>
    </b-row>
  </div>
</template>

<script>
import HeaderList from "../../../../components/Common/HeaderList";
import ConsortiumPercentageForm from "../../../../containers/forms/ConsortiumPercentageForm";
import ConsortiumPercentageRepository from "../../../../repositories/ConsortiumPercentageRepository";
import { mapGetters } from "vuex";

export default {
  name: "ConsortiumPercentageEdit",
  data() {
    return {
      idConsortium: "",
      idPercentage: "",
      editPercentage: true,
      formData: {
        name: "",
        description: "",
        position: "",
        particular_percentage: false,
        hidden_expense_spending: false,
        hidden_in_proration: false,
        hidden_percentage_value: false,
        equal_parts: false
      }
    };
  },
  methods: {
    async submitConsortiumPercentage() {
      let validate = this.validateForm("consortiumPercentageForm");
      if (validate) {
        try {
          await ConsortiumPercentageRepository.updateConsortiumPercentage(
            this.user.authHeader,
            this.idConsortium,
            this.idPercentage,
            this.formData
          );
          this.$notify(
            "success",
            "Porcentaje actualizado",
            "El porcentaje fue actualizado satisfactoriamente.",
            { duration: 3000, permanent: false }
          );
          this.$router.push({ name: "consortium-percentage-list" });
        } catch (error) {
          this.$notify(
            "error",
            "Error al actualizar el porcentaje",
            error.response.data.message.position[0],
            { duration: 3000, permanent: false }
          );
        }
      }
    },
    validateForm(refName) {
      this.$refs[refName].$v.$touch();
      return !this.$refs[refName].$v.$anyError;
    }
  },
  components: {
    HeaderList,
    ConsortiumPercentageForm
  },
  async beforeMount() {
    this.idConsortium = this.$route.params.id;
    this.idPercentage = this.$route.params.idPercentage;
    try {
      let response = await ConsortiumPercentageRepository.showConsortiumPercentage(
        this.user.authHeader,
        this.idConsortium,
        this.idPercentage
      );
      for (let key in this.formData) {
        this.formData[key] = response[key];
      }
    } catch (error) {
      this.$notify("error", "Error get header", error.response.data.message, {
        duration: 3000,
        permanent: false
      });
    }
  },
  computed: {
    ...mapGetters({
      user: "currentUser"
    })
  }
};
</script>
