<template>
  <div>
    <header-list :title="$t('pages.edit-header')"></header-list>

    <b-row align-h="center">
      <b-colxx cols="12" lg="10">
        <b-card class="pt-3">
          <header-form
            ref="headerForm"
            :submitHeader="submitHeader"
            :editHeader="editHeader"
            v-bind.sync="formData"
          />
        </b-card>
      </b-colxx>
    </b-row>
  </div>
</template>

<script>
import HeaderList from "../../../../components/Common/HeaderList";
import HeaderForm from "../../../../containers/forms/HeaderForm";
import HeaderRepository from "../../../../repositories/HeaderRepository";
import { mapGetters } from "vuex";

export default {
  name: "HeaderUpdate",
  data() {
    return {
      idHeader: "",
      editHeader: true,
      formData: {
        name_header: "",
        cuit: "",
        name: "",
        address_street: "",
        address_number: "",
        email: "",
        phone: "",
        fiscal_situation: "",
        postal_code: "",
        rpa: ""
      }
    };
  },
  async beforeMount() {
    this.idHeader = this.$route.params.id;
    try {
      this.formData = await HeaderRepository.showHeader(
        this.user.authHeader,
        this.idHeader
      );
    } catch (error) {
      this.$notify("error", "Error get header", error.response.data.message, {
        duration: 3000,
        permanent: false
      });
    }
  },
  methods: {
    async submitHeader() {
      let validate = this.validateForm("headerForm");
      if (validate) {
        try {
          await HeaderRepository.updateHeader(
            this.user.authHeader,
            this.formData,
            this.idHeader
          );
          this.$notify(
            "success",
            "Cabecera actualizada",
            "La cabecera fue actualizada satisfactoriamente.",
            { duration: 3000, permanent: false }
          );
          this.$router.push({ name: "headers-list" });
        } catch (error) {
          this.$notify("error", "Error header", error.response.data.message, {
            duration: 3000,
            permanent: false
          });
        }
      }
    },
    validateForm(refName) {
      this.$refs[refName].$v.$touch();
      return !this.$refs[refName].$v.$anyError;
    }
  },
  components: {
    HeaderList,
    HeaderForm
  },
  computed: {
    ...mapGetters({
      user: "currentUser"
    })
  }
};
</script>
