<template>
  <div>
    <header-list :title="$t('pages.create-header')"></header-list>

    <b-row align-h="center">
      <b-colxx cols="12" lg="10">
        <b-card class="pt-3">
          <header-form ref="headerForm" :submitHeader="submitHeader" v-bind.sync="formData" />
        </b-card>
      </b-colxx>
    </b-row>
  </div>
</template>

<script>
import HeaderList from "../../../../components/Common/HeaderList";
import HeaderForm from "../../../../containers/forms/HeaderForm";
import HeaderRepository from "../../../../repositories/HeaderRepository";
import { mapGetters } from "vuex";

export default {
  name: "HeaderCreate",
  data() {
    return {
      formData: {
        name_header: "",
        cuit: "",
        name: "",
        address_street: "",
        address_number: "",
        email: "",
        phone: "",
        fiscal_situation: "",
        postal_code: "",
        rpa: ""
      }
    };
  },
  methods: {
    async submitHeader() {
      let validate = this.validateForm("headerForm");
      if (validate) {
        try {
          await HeaderRepository.createHeader(
            this.user.authHeader,
            this.formData
          );
          this.$notify(
            "success",
            "Cabecera creada",
            "La cabecera fue creada satisfactoriamente.",
            { duration: 3000, permanent: false }
          );
          this.$router.push({ name: "headers-list" });
        } catch (error) {
          this.$notify("error", "Error header", error.response.data.message, {
            duration: 3000,
            permanent: false
          });
        }
      }
    },
    validateForm(refName) {
      this.$refs[refName].$v.$touch();
      return !this.$refs[refName].$v.$anyError;
    }
  },
  components: {
    HeaderList,
    HeaderForm
  },
  computed: {
    ...mapGetters({
      user: "currentUser"
    })
  }
};
</script>
