<template>
  <div>
    <header-list :title="$t('menu.cash-count')">
      <template v-slot:filters>
        <div class="d-block d-md-inline-block pt-1">
          <div class="d-inline-block float-md-left mr-1 align-top d-flex">
            <v-select
              class="mr-2"
              placeholder="Elegir por"
              label="text"
              v-model="typeConsortiumField"
              :options="typeOptions"
              :reduce="(typeOptions) => typeOptions.value"
              style="min-width:100px"
            />
            <simple-select
              :filterBy="typeConsortiumField"
              :apiUrl="consortiumSearchUrl"
              @onInput="onSelectedConsortium"
              valueField="consortium_id"
              placeholder="Consorcio"
              style="min-width:200px"
            />
            <b-button
              class="mx-2"
              size="xs"
              variant="outline-primary"
              @click="showFilters = !showFilters"
            >Filtros Avanzados</b-button>
          </div>
        </div>
        <page-options
          :from="from"
          :to="to"
          :total="total"
          :perPage="perPage"
          :pageSizes="pageSizes"
          :changePageSize="changePageSize"
        />
      </template>
    </header-list>
    <IconCards :cards="cards" />
    <b-collapse v-model="showFilters" class="mb-4">
      <CashboxListFilter @setFilters="setFilters" />
    </b-collapse>
    <Datatable
      ref="datatable"
      :apiBase="apiBase"
      :columns="columns"
      :perPage="perPage"
      :filter="filter"
      :loadStart="false"
      detailRow="cashbox-detail-row"
      @getPagination="getPagination"
      :slotNames="slotNames"
    >
      <template v-slot:due="props">
        <span v-if="props.props.rowData.type_movement === 'outflow'">
          <currency :amount="props.props.rowData.total_amount" />
        </span>
        <span v-else>-</span>
      </template>
      <template v-slot:havings="props">
        <span v-if="props.props.rowData.type_movement === 'income'">
          <currency :amount="props.props.rowData.total_amount" />
        </span>
        <span v-else>-</span>
      </template>
      <template v-slot:balance="props">
        <currency
          v-if="props.props.rowData.balance"
          :amount="props.props.rowData.balance"
          :currencyClass="
            props.props.rowData.balance < 0 ? 'text-error' : 'text-success'
          "
        />
      </template>
    </Datatable>
  </div>
</template>

<script>
import Vue from "vue";
import HeaderList from "@/components/Common/HeaderList";
import SimpleSearch from "@/components/Filter/SimpleSearch";
import SimpleSelect from "@/components/Filter/Select";
import PageOptions from "@/components/Common/PageOptions";
import Datatable from "@/components/Common/Datatable";
import ChangePageMixin from "@/mixins/ChangePageMixin";
import dataTableMixin from "@/mixins/dataTableMixin";
import ConsortiumRepository from "@/repositories/ConsortiumRepository";
import CashboxMovementsRepository from "@/repositories/CashboxMovementsRepository";
import CashboxListDetailRow from "@/containers/datatable/cashboxList/CashboxListDetailRow";
import IconCards from "@/containers/ui/IconCards";
import vSelect from "vue-select";
import "vue-select/dist/vue-select.css";
const BASEURL = process.env.VUE_APP_BASEURL;
Vue.component("cashbox-detail-row", CashboxListDetailRow);

import CashboxListFilter from "@/containers/filters/CashboxListFilter";

export default {
  data() {
    return {
      name: "CashboxList",
      slotNames: ["due", "havings", "balance"],
      consortiumSearchUrl: BASEURL + "/consortium",
      showFilters: false,
      typeOptions: [
        {
          text: "Orden",
          value: "order"
        },
        {
          text: "Razon Social",
          value: "business_name"
        },
        {
          text: "Nombre fantasia",
          value: "fancy_name"
        }
      ],
      typeConsortiumField: "business_name",
      columns: [
        {
          name: "date",
          title: "Fecha",
          titleClass: "",
          dataClass: "text-muted",
          width: "15%"
        },
        {
          name: "description",
          title: "Description",
          titleClass: "",
          dataClass: "text-muted",
          width: "30%"
        },
        {
          name: "__slot:due",
          title: "Debe",
          titleClass: "",
          dataClass: "text-muted red",
          width: "20%"
        },
        {
          name: "__slot:havings",
          title: "Haber",
          titleClass: "",
          dataClass: "text-muted",
          width: "20%"
        },
        {
          name: "__slot:balance",
          title: "Saldo",
          titleClass: "",
          dataClass: "text-muted",
          width: "15%"
        }
      ],
      apiBase: BASEURL + `/cashbox/1/movement`,
      perPage: 10,
      pageSizes: [10, 15, 20, 25],
      cards: {
        titleCard: this.$t("cards.consolidated-balances"),
        info: [
          {
            title: this.$t("cards.cash"),
            icon: "iconsminds-dollar",
            currency: this.$n(0, "currency", "es-AR"),
            value: 0,
            name: "balance_cash_amount"
          },
          {
            title: this.$t("cards.bank"),
            icon: "iconsminds-bank",
            currency: this.$n(0, "currency", "es-AR"),
            value: 0,
            name: "balance_transfers"
          },
          {
            title: this.$t("cards.check"),
            icon: "iconsminds-password-field",
            currency: this.$n(0, "currency", "es-AR"),
            value: 0,
            name: "balance_checks"
          },
          {
            title: this.$t("cards.consortium"),
            icon: "iconsminds-building",
            currency: this.$n(0, "currency", "es-AR"),
            value: 0,
            name: "balance"
          }
        ]
      },
      idConsortiumSelected: "",
      cashboxBalance: {}
    };
  },
  methods: {
    addPartialFilters(filter) {
      this.partialFilters = { ...this.partialFilters, ...filter };
    },
    setFilters(filters) {
      let incomeFilters = filters;
      for (let key in incomeFilters) {
        if (incomeFilters[key] === "" || incomeFilters[key] === null) {
          delete incomeFilters[key];
        }
      }
      this.filter = incomeFilters;
      this.$nextTick(() => {
        this.$refs.datatable.$refs.vuetable.refresh();
      });
    },
    setBalance(balances) {
      this.cards.info.map(card => {
        card.value = this.cashboxBalance[card.name];
        card.currency = this.$n(
          this.cashboxBalance[card.name],
          "currency",
          "es-AR"
        );
      });
    },
    setApiBase(id) {
      this.apiBase = BASEURL + `/cashbox/${id}/movement/`;
    },
    async onSelectedConsortium(field, idConsortium) {
      if (idConsortium != null) {
        this.setApiBase(idConsortium);
        this.cashboxBalance = await this.getCashboxMovementBalance(
          idConsortium
        );
        this.setBalance(this.cashboxBalance);
      }
    },
    async getListConsortium() {
      return await ConsortiumRepository.getListConsortium(this.user.authHeader);
    },
    async getConsortiumCashbox(id) {
      return await ConsortiumRepository.getConsortiumCashbox(
        this.user.authHeader,
        id
      );
    },
    async getCashboxMovementBalance(id) {
      return await CashboxMovementsRepository.getCashboxMovementBalance(
        this.user.authHeader,
        id
      );
    }
  },
  components: {
    HeaderList,
    SimpleSearch,
    SimpleSelect,
    PageOptions,
    Datatable,
    IconCards,
    vSelect,
    CashboxListFilter
  },
  async created() {
    try {
      let consortiumList = await this.getListConsortium();
      this.idConsortiumSelected = consortiumList.rows[0].id;
      let cashbox = await this.getConsortiumCashbox(this.idConsortiumSelected);
      this.cashboxBalance = await this.getCashboxMovementBalance(cashbox.id);
      this.setBalance(this.cashboxBalance);
      this.setApiBase(cashbox.id);
    } catch (error) {
      this.$notify("error", "Ocurrio un error", error.response.data.message, {
        duration: 3000,
        permanent: false
      });
      throw error;
    }
  },
  mixins: [ChangePageMixin, dataTableMixin]
};
</script>
