<template>
  <div class="wizard-basic-step">
    <b-form class="av-tooltip tooltip-label-right">
      <b-container>
        <b-form-row>
          <b-col cols="12" sm="2">
            <b-form-group :label="$t('forms.order')">
              <b-form-input
                type="number"
                v-model.trim="$v.order.$model"
                :state="!$v.order.$error"
                :disabled="disableInputs"
              />
              <b-form-invalid-feedback>{{$t("forms.required")}}</b-form-invalid-feedback>
            </b-form-group>
          </b-col>
          <b-col cols="12" sm="7">
            <b-form-group :label="$t('forms.business-name')">
              <b-form-input
                type="text"
                required
                v-model.trim="$v.business_name.$model"
                :state="!$v.business_name.$error"
                :disabled="disableInputs"
              />
              <b-form-invalid-feedback>{{$t("forms.required")}}</b-form-invalid-feedback>
            </b-form-group>
          </b-col>
          <b-col cols="12" sm="3">
            <b-form-group :label="$t('forms.cuit')">
              <b-form-input
                :disabled="disableInputs"
                v-mask="'##-########-#'"
                placeholder="##-########-#"
                type="text"
                v-model.trim="$v.cuit.$model"
                :state="!$v.cuit.$error"
              />
              <b-form-invalid-feedback v-if="!$v.cuit.required">{{$t("forms.required")}}</b-form-invalid-feedback>
              <b-form-invalid-feedback
                v-if="!$v.cuit.cuitValidator && $v.cuit.required"
              >Cuit invalido</b-form-invalid-feedback>
            </b-form-group>
          </b-col>
          <b-col cols="12" sm="6">
            <b-form-group :label="$t('forms.street')">
              <b-form-input
                :disabled="disableInputs"
                type="text"
                v-model.trim="$v.address_street.$model"
                :state="!$v.address_street.$error"
              />
              <b-form-invalid-feedback>
                {{
                $t("forms.required")
                }}
              </b-form-invalid-feedback>
            </b-form-group>
          </b-col>
          <b-col cols="12" sm="3">
            <b-form-group :label="$t('forms.number')">
              <b-form-input
                :disabled="disableInputs"
                type="number"
                v-model.trim="$v.address_number.$model"
                :state="!$v.address_number.$error"
              />
              <b-form-invalid-feedback>{{$t("forms.required")}}</b-form-invalid-feedback>
            </b-form-group>
          </b-col>
          <b-col cols="12" sm="3">
            <b-form-group :label="$t('forms.postal-code')">
              <b-form-input
                :disabled="disableInputs"
                type="text"
                v-mask="'A####AAA'"
                placeholder="ej. B1636FDA"
                v-model.trim="$v.postal_code.$model"
                :state="!$v.postal_code.$error"
              />
              <b-form-invalid-feedback>
                {{
                $t("forms.required")
                }}
              </b-form-invalid-feedback>
            </b-form-group>
          </b-col>

          <b-col cols="12" sm="4">
            <b-form-group :label="$t('forms.country')">
              <v-select
                :disabled="disableInputs"
                label="text"
                v-model="$v.country_id.$model"
                :options="countries"
                :reduce="(countries) => countries.value"
              />
              <b-form-invalid-feedback
                v-if="$v.country_id.$model === null && $v.country_id.$anyError"
                class="d-block"
              >{{ $t("forms.required") }}</b-form-invalid-feedback>
            </b-form-group>
          </b-col>

          <b-col cols="12" sm="4">
            <b-form-group :label="$t('forms.province')">
              <v-select
                :disabled="disableInputs"
                label="text"
                v-model="$v.province_id.$model"
                :options="provinces"
                :reduce="(provinces) => provinces.value"
              />
              <b-form-invalid-feedback
                class="d-block"
                v-if="$v.province_id.$model === null && $v.province_id.$anyError"
              >{{ $t("forms.required") }}</b-form-invalid-feedback>
            </b-form-group>
          </b-col>
          <b-col cols="12" sm="4">
            <b-form-group :label="$t('forms.location')">
              <b-form-input
                :disabled="disableInputs"
                type="text"
                v-model.trim="$v.location.$model"
                :state="!$v.location.$error"
              />
              <b-form-invalid-feedback>{{$t("forms.required")}}</b-form-invalid-feedback>
            </b-form-group>
          </b-col>
          <b-col cols="12" sm="4" md="3">
            <b-form-group :label="$t('forms.floors-quantity')">
              <b-form-input
                :disabled="disableInputs"
                type="number"
                v-model.trim="$v.count_floors.$model"
                :state="!$v.count_floors.$error"
              />
              <b-form-invalid-feedback v-if="!$v.count_floors.required">{{$t("forms.required")}}</b-form-invalid-feedback>
              <b-form-invalid-feedback
                v-if="!$v.count_floors.minValue"
              >Unicamente caracteres numericos positivos!</b-form-invalid-feedback>
            </b-form-group>
          </b-col>
          <b-col cols="12" sm="4" md="3">
            <b-form-group :label="$t('forms.fu-quantity')">
              <b-form-input
                :disabled="disableInputs"
                type="number"
                v-model.trim="$v.count_functional_units.$model"
                :state="!$v.count_functional_units.$error"
              />
              <b-form-invalid-feedback
                v-if="!$v.count_functional_units.required"
              >{{$t("forms.required")}}</b-form-invalid-feedback>
              <b-form-invalid-feedback v-if="!$v.count_functional_units.minValue">
                Unicamente caracteres numericos
                positivos!
              </b-form-invalid-feedback>
            </b-form-group>
          </b-col>
          <b-col cols="12" sm="4" md="3">
            <b-form-group :label="$t('forms.building-info')">
              <v-select
                :disabled="disableInputs"
                label="text"
                v-model="$v.category.$model"
                :options="categoryConsortiaOptions"
                :reduce="(categoryConsortiaOptions) => categoryConsortiaOptions.value"
              />
              <b-form-invalid-feedback
                class="d-block"
                v-if="$v.category.$model === null && $v.category.$anyError"
              >{{ $t("forms.required") }}</b-form-invalid-feedback>
            </b-form-group>
          </b-col>
          <b-col cols="12" sm="4" md="3">
            <b-form-group :label="$t('forms.first-due-date')">
              <b-form-input
                :disabled="disableInputs"
                type="number"
                v-model.trim="$v.first_due_date.$model"
                :state="!$v.first_due_date.$error"
              ></b-form-input>
              <b-form-invalid-feedback v-if="!$v.first_due_date.required">{{$t("forms.required")}}</b-form-invalid-feedback>
              <b-form-invalid-feedback
                v-if="!$v.first_due_date.minValue"
              >El dia no puede ser menor a 1</b-form-invalid-feedback>
              <b-form-invalid-feedback
                v-if="!$v.first_due_date.maxValue"
              >El dia no puede ser mayor a 31</b-form-invalid-feedback>
            </b-form-group>
          </b-col>
        </b-form-row>
      </b-container>
    </b-form>
  </div>
</template>

<script>
import vSelect from "vue-select";
import "vue-select/dist/vue-select.css";
import { validationMixin } from "vuelidate";
import SyncMixin from "../../../mixins/SyncMixin";
import {
  countries,
  provinces,
  categoryConsortiaOptions
} from "../../../constants/constants";
import cuitValidator from "../../../utils/CuitValidator";
import {
  required,
  email,
  minValue,
  minLength,
  maxLength,
  maxValue
} from "vuelidate/lib/validators";

export default {
  data() {
    return {
      select: null,
      categoryConsortiaOptions,
      countries,
      provinces
    };
  },
  props: ["disableInputs"],
  mixins: [validationMixin, SyncMixin],
  components: {
    vSelect
  },
  validations: {
    order: {
      required
    },
    business_name: {
      required
    },
    address_street: {
      required
    },
    address_number: {
      required
    },
    country_id: {
      required
    },
    province_id: {
      required
    },
    location: {
      required
    },
    postal_code: {
      required
    },
    cuit: {
      required,
      cuitValidator
    },
    category: {
      required
    },
    count_floors: {
      required,
      minValue: minValue(0)
    },
    count_functional_units: {
      required,
      minValue: minValue(0)
    },
    first_due_date: {
      required,
      minValue: minValue(1),
      maxValue: maxValue(31)
    }
  },
  sync: [
    "order",
    "business_name",
    "address_street",
    "address_number",
    "country_id",
    "province_id",
    "location",
    "postal_code",
    "cuit",
    "category",
    "count_floors",
    "count_functional_units",
    "first_due_date"
  ]
};
</script>
