<template>
  <b-form-row>
    <b-col cols="2">
      <b-form-group :label="$t('forms.position')">
        <!-- <b-form-input type="number" v-model="idPlus" /> -->
        <div style="padding: 0.5rem 1rem;font-weight: 600;">
          <span>{{ id + 1 }}</span>
        </div>
        <b-form-invalid-feedback>{{$t("forms.required")}}</b-form-invalid-feedback>
      </b-form-group>
    </b-col>
    <b-col cols="8" sm="8">
      <b-form-group :label="$t('forms.percentage-name')">
        <b-form-input type="text" v-model.trim="$v.name.$model" :state="!$v.name.$error" />
        <b-form-invalid-feedback v-if="!$v.name.required">Nombre porcentaje requerido</b-form-invalid-feedback>
      </b-form-group>
    </b-col>
    <b-col cols="2" sm="2" class="align-self-center text-right">
      <button
        type="button"
        class="btn btn-primary mt-2"
        @click.prevent="removeEmitter(id)"
        :disabled="disabledRemoveButton"
      >
        <i class="simple-icon-minus"></i>
      </button>
    </b-col>
  </b-form-row>
</template>

<script>
import SyncMixin from "../../../mixins/SyncMixin";
import { validationMixin } from "vuelidate";
const {
  required,
  email,
  minValue,
  minLength,
  maxLength,
  alpha
} = require("vuelidate/lib/validators");

export default {
  mixins: [validationMixin, SyncMixin],
  validations: {
    name: {
      required
    }
  },
  computed: {
    disabledRemoveButton() {
      return this.total === 1;
    },
    idPlus() {
      return this.id + 1;
    }
  },
  methods: {
    removeEmitter(id) {
      this.$emit("removePorcentage", id);
    }
  },
  props: ["id", "total"],
  sync: ["name", "position"]
};
</script>
