<template>
  <b-form-row>
    <b-col cols="12" sm="1">
      <b-form-group :label="$t('forms.fu-number')">
        <b-form-input
          type="number"
          v-model="$v.functional_unit_number.$model"
          :state="!$v.functional_unit_number.$error"
          :disabled="disableInputs"
        />
        <b-form-invalid-feedback v-if="!$v.functional_unit_number.required">{{$t("forms.required")}}</b-form-invalid-feedback>
      </b-form-group>
    </b-col>
    <b-col cols="12" sm="1">
      <b-form-group :label="$t('forms.floor')">
        <b-form-input
          type="number"
          v-model="$v.floor.$model"
          :state="!$v.floor.$error"
          :disabled="disableInputs"
        />
        <b-form-invalid-feedback v-if="!$v.floor.required">{{$t("forms.required")}}</b-form-invalid-feedback>
      </b-form-group>
    </b-col>
    <b-col cols="12" sm="3">
      <b-form-group :label="$t('forms.type')">
        <v-select
          label="text"
          v-model="$v.functional_unit_type_id.$model"
          :options="functionalUnitTypes"
          :reduce="(functionalUnitTypes) => functionalUnitTypes.value"
          :disabled="disableInputs"
        />
        <b-form-invalid-feedback
          class="d-block"
          v-if="!$v.functional_unit_type_id.$model.length && $v.functional_unit_type_id.$anyError"
        >{{ $t("forms.required") }}</b-form-invalid-feedback>
      </b-form-group>
    </b-col>
    <b-col cols="12" sm="2">
      <b-form-group :label="$t('forms.owner-name')">
        <b-form-input
          :disabled="disableInputs"
          type="text"
          v-model="$v.owner_first_name.$model"
          :state="!$v.owner_first_name.$error"
        />
        <b-form-invalid-feedback v-if="!$v.owner_first_name.required">{{$t("forms.required")}}</b-form-invalid-feedback>
      </b-form-group>
    </b-col>
    <b-col cols="12" sm="3">
      <b-form-group :label="$t('forms.owner-lastname')">
        <b-form-input
          :disabled="disableInputs"
          type="text"
          v-model="$v.owner_last_name.$model"
          :state="!$v.owner_last_name.$error"
        />
        <b-form-invalid-feedback v-if="!$v.owner_last_name.required">{{$t("forms.required")}}</b-form-invalid-feedback>
      </b-form-group>
    </b-col>
    <b-col cols="12" sm="2">
      <b-form-group :label="$t('forms.initial-balance')">
        <b-form-input
          :disabled="disableInputs"
          type="text"
          v-model="$v.currencyBalance.$model"
          :state="!$v.currencyBalance.$error"
          @blur="saveData"
          v-mask="mask"
          @input="saveInitialBalance"
        />
        <b-form-invalid-feedback v-if="!$v.currencyBalance.required">{{$t("forms.required")}}</b-form-invalid-feedback>
      </b-form-group>
    </b-col>
  </b-form-row>
</template>

<script>
import vSelect from "vue-select";
import { validationMixin } from "vuelidate";
import SyncMixin from "../../../mixins/SyncMixin";
import { functionalUnitTypes } from "../../../constants/constants";
import createNumberMask from "text-mask-addons/dist/createNumberMask";

const {
  required,
  email,
  minValue,
  minLength,
  maxLength,
  alpha
} = require("vuelidate/lib/validators");
const currencyMask = createNumberMask({
  prefix: "$",
  allowDecimal: true,
  includeThousandsSeparator: true,
  allowNegative: true
});

export default {
  data() {
    return {
      functionalUnitTypes,
      mask: currencyMask,
      currencyBalance: ""
    };
  },
  mixins: [validationMixin, SyncMixin],
  components: {
    vSelect
  },
  validations: {
    functional_unit_number: {
      required
    },
    floor: {
      required
    },
    functional_unit_type_id: {
      required
    },
    owner_first_name: {
      required
    },
    owner_last_name: {
      required
    },
    currencyBalance: {
      required
    }
  },
  props: ["id", "disableInputs"],
  sync: [
    "functional_unit_number",
    "floor",
    "functional_unit_type_id",
    "owner_first_name",
    "owner_last_name",
    "initial_balance"
  ],
  methods: {
    saveData() {
      let formStep3 = JSON.parse(localStorage.getItem("formStep3"));
      formStep3[this.id] = {
        functional_unit_number: this.$v.functional_unit_number.$model,
        floor: this.$v.floor.$model,
        functional_unit_type_id: this.$v.functional_unit_type_id.$model,
        owner_first_name: this.$v.owner_first_name.$model,
        owner_last_name: this.$v.owner_last_name.$model,
        initial_balance: this.initial_balance
      };
      localStorage.setItem("formStep3", JSON.stringify(formStep3));
    },
    saveInitialBalance() {
      this.initial_balance = Number(
        this.$v.currencyBalance.$model.replace(/[^0-9\.]+/g, "")
      );
    }
  }
};
</script>
