<template>
  <div>
    <header-list :title="$t('pages.create-cashbox')"> </header-list>

    <b-row align-h="center">
      <b-colxx cols="12" lg="10">
        <b-card class="pt-3">
          <OthersCashboxesForm
            ref="othersCashboxesFormRef"
            :submitOthersCashboxes="submitOthersCashboxes"
            v-bind.sync="formData"
          />
        </b-card>
      </b-colxx>
    </b-row>
  </div>
</template>

<script>
import HeaderList from "@/components/Common/HeaderList";
import OthersCashboxesForm from "@/containers/forms/OthersCashboxesForm";
import BankMovementsRepository from "@/repositories/BankMovementsRepository";
import VirtualCashboxRepository from "@/repositories/VirtualCashboxRepository";

import moment from "moment";
import { mapGetters } from "vuex";
export default {
  name: "OthersCashboxesCreate",
  data() {
    return {
      formData: {
        consortium_id: null,
        name: "",
        description: "",
        show_in_expense: false,
        independent: false,
        balance: null,
        date: null,
        percentage: null,
        cash_amount: "",
        checks: [],
        transfers: [],
      },
    };
  },
  methods: {
    async submitOthersCashboxes() {
      let validate = this.validateForm("othersCashboxesFormRef");
      if (validate) {
        try {
          let cashboxStored = await this.storeVirtualCashbox();
          let bank_account_movements = [];
          if (this.formData.balance != 0) {
            if (this.formData.transfers.length) {
              bank_account_movements = await this.submitTransfers();
            }
            let checks = this.cleanChecks();
            let cash_amount = !this.formData.cash_amount.length
              ? (this.formData.cash_amount = 0)
              : this.formData.cash_amount;
            let initialBalanceResponse = await this.storeInitialBalance(
              cashboxStored.id,
              {
                total_amount: this.formData.balance,
                cash_amount,
                checks,
                bank_account_movements,
              }
            );
          }
          this.$notify(
            "success",
            "Caja creada",
            "La Caja fue creada satisfactoriamente.",
            { duration: 3000, permanent: false }
          );
          this.$router.push({ name: "others-cashboxes" });
        } catch (error) {
          this.$notify(
            "error",
            "Error creación Caja",
            error.response.data.message,
            {
              duration: 3000,
              permanent: false,
            }
          );
        }
      }
    },
    validateForm(refName) {
      this.$refs[refName].$v.$touch();
      return !this.$refs[refName].$v.$anyError;
    },
    async storeVirtualCashbox() {
      return await VirtualCashboxRepository.storeVirtualCashbox(
        this.user.authHeader,
        this.formData.consortium_id,
        this.formData
      );
    },
    async storeInitialBalance(idCashbox, initialBalance) {
      return await VirtualCashboxRepository.storeVirtualCashboxInitialBalance(
        this.user.authHeader,
        this.formData.consortium_id,
        idCashbox,
        initialBalance
      );
    },
    async submitTransfers() {
      let transfersId = await this.formData.transfers.map(async (transfer) => {
        transfer.date = this.formData.date
          ? this.dateFormatter(this.formData.date)
          : this.dateFormatter(transfer.date);
        let response = await BankMovementsRepository.storeBankAccountMovement(
          this.user.authHeader,
          this.formData.consortium_id,
          transfer.bank_account_id,
          transfer
        );
        return response.id;
      });
      return await Promise.all(transfersId);
    },
    dateFormatter(dateToFormat) {
      return moment(dateToFormat).format("DD-MM-YYYY");
    },
    cleanChecks() {
      return [...this.formData.checks.map((check) => check.id)];
    },
  },
  components: {
    HeaderList,
    OthersCashboxesForm,
  },
  computed: {
    ...mapGetters({
      user: "currentUser",
    }),
  },
};
</script>

<style lang="scss" scoped></style>
