<template>
  <div>
    <header-list :title="$t('menu.others-cashboxes')">
      <template v-slot:filters>
        <div class="d-block d-md-inline-block pt-1">
          <div class="d-inline-block float-md-left mr-1 align-top d-flex">
            <v-select
              class="mr-2"
              placeholder="Elegir por"
              label="text"
              v-model="typeConsortiumField"
              :options="typeOptions"
              :reduce="(typeOptions) => typeOptions.value"
              style="min-width:100px"
            />
            <simple-select
              :filterBy="typeConsortiumField"
              :apiUrl="consortiumSearchUrl"
              @onInput="onSelectedConsortium"
              valueField="consortium_id"
              placeholder="Consorcio"
              style="min-width:200px"
            />
          </div>
        </div>
        <page-options
          :from="from"
          :to="to"
          :total="total"
          :perPage="perPage"
          :pageSizes="pageSizes"
          :changePageSize="changePageSize"
        />
      </template>
      <template v-slot:buttons>
        <div class="top-right-button-container">
          <b-button
            v-b-modal.modalright
            variant="primary"
            class="top-right-button"
            @click="$router.push({ name: 'others-cashboxes-create' })"
            >{{ $t("buttons.create-cashbox") }}</b-button
          >
        </div>
      </template>
    </header-list>
    <Datatable
      ref="datatable"
      :apiBase="apiBase"
      :columns="computedColumns"
      :perPage="perPage"
      :filter="filter"
      :loadStart="false"
      :slotNames="slotNames"
      :contextMenuItems="contextMenuItems"
      @getPagination="getPagination"
      @onContextMenuAction="onContextMenuAction"
    >
      <template v-slot:description="props">
        <div>{{ trimDescription(props) }}</div>
      </template>
    </Datatable>
    <confirm-modal
      ref="confirmModal"
      :title="$t('forms.bank-account.title-modal')"
      :description="$t('forms.bank-account.description-modal')"
      :confirm="$t('forms.confirm')"
      :cancel="$t('forms.cancel')"
      @acceptModal="acceptModal"
    ></confirm-modal>
  </div>
</template>

<script>
import HeaderList from "@/components/Common/HeaderList";
import SimpleSearch from "@/components/Filter/SimpleSearch";
import SimpleSelect from "@/components/Filter/Select";
import PageOptions from "@/components/Common/PageOptions";
import Datatable from "@/components/Common/Datatable";
import ChangePageMixin from "@/mixins/ChangePageMixin";
import dataTableMixin from "@/mixins/dataTableMixin";
import ConfirmModal from "@/components/Common/ConfirmModal";

import VirtualCashboxRepository from "../../../../repositories/VirtualCashboxRepository";
import vSelect from "vue-select";
import "vue-select/dist/vue-select.css";
const BASEURL = process.env.VUE_APP_BASEURL;

export default {
  name: "OthersCashboxes",
  data() {
    return {
      consortiumSearchUrl: BASEURL + "/consortium",
      slotNames: ["description"],
      typeOptions: [
        {
          text: "Orden",
          value: "order",
        },
        {
          text: "Razon Social",
          value: "business_name",
        },
        {
          text: "Nombre fantasia",
          value: "fancy_name",
        },
      ],
      typeConsortiumField: "business_name",
      perPage: 10,
      pageSizes: [10, 15, 20, 25],
      apiBase:
        BASEURL + `/consortium/${this.consortiumSelected}/virtual-cashbox`,
      columns: [
        {
          name: "name",
          title: "Nombre Caja",
          titleClass: "",
          dataClass: "text-muted",
          width: "25%",
        },
        {
          name: "__slot:description",
          title: "Descripcion",
          titleClass: "",
          dataClass: "text-muted",
          width: "45%",
        },
        {
          name: "balance",
          title: "Saldo",
          titleClass: "",
          dataClass: "text-muted",
          width: "25%",
        },
      ],
      contextMenuItems: [
        {
          text: "Ver Perfil",
          icon: "simple-icon-book-open",
          action: "others-cashboxes-edit",
        },
        {
          text: "Ver Movimientos",
          icon: "iconsminds-repeat-4",
          action: "others-cashboxes-movements",
        },
        {
          text: "Transferir",
          icon: "iconsminds-financial",
          action: "others-cashboxes-transfer",
        },
        {
          text: "Deshabilitar caja",
          icon: "simple-icon-trash",
          action: "others-cashboxes-delete",
        },
      ],
      consortiumSelected: null,
    };
  },
  methods: {
    onContextMenuAction(action, element) {
      switch (action) {
        case "others-cashboxes-edit":
          this.$router.push({
            name: "others-cashboxes-edit",
            params: {
              idConsortium: this.consortiumSelected,
              idCashbox: element.id,
            },
          });
          break;

        case "others-cashboxes-movements":
          this.$router.push({
            name: "others-cashboxes-movements",
            query: {
              idConsortium: this.consortiumSelected,
              idCashbox: element.id,
            },
          });
          break;

        case "others-cashboxes-transfer":
          this.$router.push({
            name: "others-cashboxes-transfer",
            params: {
              idConsortium: this.consortiumSelected,
              idCashbox: element.id,
            },
          });
          break;

        case "others-cashboxes-delete":
          this.idCashbox = element.id;
          this.$refs.confirmModal.$bvModal.show("confirmModal");
          break;

        default:
          break;
      }
    },
    async deleteCashbox(idCashbox) {
      try {
        await VirtualCashboxRepository.deleteVirtualCashbox(
          this.user.authHeader,
          this.consortiumSelected,
          idCashbox
        );
        this.$refs.datatable.$refs.vuetable.refresh();
        this.$notify(
          "success",
          "Caja deshabilitada",
          "La caja fue deshabilitada satisfactoriamente.",
          { duration: 3000, permanent: false }
        );
      } catch (error) {
        this.$notify(
          "error",
          "Error al deshabilitada caja",
          error.response.data.message,
          { duration: 3000, permanent: false }
        );
      }
    },
    setApiBase(idConsortium) {
      if (idConsortium) {
        this.apiBase = BASEURL + `/consortium/${idConsortium}/virtual-cashbox`;
      }
    },
    onSelectedConsortium(field, idConsortium) {
      this.consortiumSelected = idConsortium;
      this.setApiBase(idConsortium);
    },
    acceptModal() {
      this.$refs.confirmModal.$bvModal.hide("confirmModal");
      this.deleteCashbox(this.idCashbox);
    },
    trimDescription(props) {
      let description = props.props.rowData.description;
      if (description != "" && description != null) {
        return description.length > 50
          ? `${description.substr(0, 50)}...`
          : description;
      }
    },
  },
  components: {
    HeaderList,
    SimpleSearch,
    SimpleSelect,
    PageOptions,
    Datatable,
    vSelect,
    ConfirmModal,
  },
  mixins: [ChangePageMixin, dataTableMixin],
};
</script>

<style lang="scss" scoped></style>
