<template>
  <div>
    <header-list :title="$t('menu.movements')">
      <template v-slot:filters>
        <div class="d-block d-md-inline-block pt-1">
          <div class="d-inline-block float-md-left mr-1 align-top d-flex">
            <v-select
              class="mr-2"
              placeholder="Elegir por"
              label="text"
              v-model="typeConsortiumField"
              :options="typeOptions"
              :reduce="(typeOptions) => typeOptions.value"
              style="min-width:100px"
            />
            <simple-select
              class="mr-2"
              :filterBy="typeConsortiumField"
              :apiUrl="consortiumSearchUrl"
              :selected="idConsortiumSelected"
              @onInput="onSelectedConsortium"
              valueField="consortium_id"
              placeholder="Consorcio"
              style="min-width:200px"
            />
            <simple-select
              :apiUrl="cashboxSearchUrl"
              :selected="cashboxSelected"
              filterBy="id"
              :getLabel="getLabelCashbox"
              @onInput="onInputCashbox"
              @onSet="onSelectedCashbox"
              placeholder="Caja"
              style="min-width:200px"
              :disabled="!idConsortiumSelected"
            />
            <b-button
              class="mx-2"
              size="xs"
              variant="outline-primary"
              @click="showFilters = !showFilters"
              >Filtros Avanzados</b-button
            >
          </div>
        </div>
        <page-options
          :from="from"
          :to="to"
          :total="total"
          :perPage="perPage"
          :pageSizes="pageSizes"
          :changePageSize="changePageSize"
        />
      </template>
    </header-list>
    <IconCards :cards="cards" />
    <b-collapse v-model="showFilters" class="mb-4">
      <OthersCashboxMovementListFilter @setFilters="setFilters" />
    </b-collapse>
    <Datatable
      ref="datatable"
      :apiBase="apiBase"
      :columns="columns"
      :perPage="perPage"
      :filter="filter"
      :loadStart="false"
      @getPagination="getPagination"
      :slotNames="slotNames"
    >
      <template v-slot:description="props">
        <span>
          {{ trimDescription(props) }}
        </span>
      </template>
      <template v-slot:due="props">
        <currency
          v-if="props.props.rowData.type_movement === 'outflow'"
          :amount="props.props.rowData.total_amount"
        />
        <span v-else>-</span>
      </template>
      <template v-slot:havings="props">
        <currency
          v-if="props.props.rowData.type_movement === 'income'"
          :amount="props.props.rowData.total_amount"
        />
        <span v-else>-</span>
      </template>
      <template v-slot:balance="props">
        <currency
          v-if="props.props.rowData.balance"
          :amount="props.props.rowData.balance"
          :currencyClass="
            props.props.rowData.balance < 0 ? 'text-error' : 'text-success'
          "
        />
      </template>
    </Datatable>
  </div>
</template>

<script>
import HeaderList from "@/components/Common/HeaderList";
import SimpleSearch from "@/components/Filter/SimpleSearch";
import SimpleSelect from "@/components/Filter/Select";
import PageOptions from "@/components/Common/PageOptions";
import Datatable from "@/components/Common/Datatable";
import IconCards from "@/containers/ui/IconCards";
import OthersCashboxMovementListFilter from "../../../../containers/filters/OthersCashboxMovementListFilter";
import ChangePageMixin from "@/mixins/ChangePageMixin";
import dataTableMixin from "@/mixins/dataTableMixin";
import vSelect from "vue-select";
import "vue-select/dist/vue-select.css";

import ConsortiumRepository from "@/repositories/ConsortiumRepository";
import VirtualCashboxMovementRepository from "@/repositories/VirtualCashboxMovementRepository";

const BASEURL = process.env.VUE_APP_BASEURL;
import { isEmpty } from "lodash";
export default {
  name: "OthersCashboxesListMovements",
  data() {
    return {
      showFilters: false,
      consortiumSearchUrl: BASEURL + "/consortium",
      typeConsortiumField: "business_name",
      typeOptions: [
        {
          text: "Orden",
          value: "order",
        },
        {
          text: "Razon Social",
          value: "business_name",
        },
        {
          text: "Nombre fantasia",
          value: "fancy_name",
        },
      ],
      slotNames: ["description", "due", "havings", "balance"],
      columns: [
        {
          name: "date",
          title: "Fecha",
          titleClass: "",
          dataClass: "text-muted",
          width: "15%",
        },
        {
          name: "__slot:description",
          title: "Description",
          titleClass: "",
          dataClass: "text-muted",
          width: "30%",
        },
        {
          name: "__slot:due",
          title: "Debe",
          titleClass: "",
          dataClass: "text-muted red",
          width: "20%",
        },
        {
          name: "__slot:havings",
          title: "Haber",
          titleClass: "",
          dataClass: "text-muted",
          width: "20%",
        },
        {
          name: "__slot:balance",
          title: "Saldo",
          titleClass: "",
          dataClass: "text-muted",
          width: "15%",
        },
      ],
      apiBase:
        BASEURL +
        `/consortium/:idConsortium/virtual-cashbox/:idCashbox/movement`,
      perPage: 10,
      pageSizes: [10, 15, 20, 25],
      idConsortiumSelected: null,
      cashboxSelected: null,
      cards: {
        titleCard: this.$t("cards.consolidated-balances"),
        info: [
          {
            title: this.$t("cards.cash"),
            icon: "iconsminds-dollar",
            currency: this.$n(0, "currency", "es-AR"),
            value: 0,
            name: "balance_cash_amount",
          },
          {
            title: this.$t("cards.bank"),
            icon: "iconsminds-bank",
            currency: this.$n(0, "currency", "es-AR"),
            value: 0,
            name: "balance_bank_account_movements",
          },
          {
            title: this.$t("cards.check"),
            icon: "iconsminds-password-field",
            currency: this.$n(0, "currency", "es-AR"),
            value: 0,
            name: "balance_checks",
          },
          {
            title: this.$t("cards.consortium"),
            icon: "iconsminds-building",
            currency: this.$n(0, "currency", "es-AR"),
            value: 0,
            name: "balance",
          },
        ],
      },
      cashboxBalance: {},
    };
  },
  computed: {
    cashboxSearchUrl() {
      let idConsortium = this.idConsortiumSelected;
      if (!idConsortium) return this.apiBase;
      return (
        BASEURL + `/consortium/${this.idConsortiumSelected}/virtual-cashbox`
      );
    },
  },
  methods: {
    setApiBase(idConsortium, idCashbox) {
      if (idConsortium && idCashbox) {
        this.apiBase =
          BASEURL +
          `/consortium/${idConsortium}/virtual-cashbox/${idCashbox}/movement`;
      }
    },
    setBalance(balances) {
      this.cards.info.map((card) => {
        card.value = this.cashboxBalance[card.name];
        card.currency = this.$n(
          this.cashboxBalance[card.name],
          "currency",
          "es-AR"
        );
      });
    },
    async onSelectedConsortium(field, idConsortium) {
      this.idConsortiumSelected = idConsortium;
    },
    async onInputCashbox(field, idCashbox) {
      this.cashboxSelected = idCashbox;
      this.setApiBase(this.idConsortiumSelected, idCashbox);
      this.cashboxBalance = await this.getVirtualCashboxMovementBalance(
        this.idConsortiumSelected,
        this.cashboxSelected
      );
      this.setBalance(this.cashboxBalance);
    },
    async onSelectedCashbox(field, idCashbox) {
      this.setApiBase(this.idConsortiumSelected, idCashbox);
    },
    async getVirtualCashboxMovementBalance(idConsortium, idCashbox) {
      return await VirtualCashboxMovementRepository.getVirtualCashboxMovementBalance(
        this.user.authHeader,
        idConsortium,
        idCashbox
      );
    },
    getLabelCashbox(option) {
      return `N° ${option.name} - ${this.$n(
        option.balance,
        "currency",
        "es-AR"
      )}`;
    },
    trimDescription(props) {
      let description = props.props.rowData.description;
      return description.length > 50
        ? `${description.substr(0, 50)}...`
        : description;
    },
  },
  async created() {
    if (!isEmpty(this.$route.query)) {
      this.idConsortiumSelected = Number(this.$route.query.idConsortium);
      this.cashboxSelected = Number(this.$route.query.idCashbox);
    }
    this.cashboxBalance = await this.getVirtualCashboxMovementBalance(
      this.idConsortiumSelected,
      this.cashboxSelected
    );
    this.setBalance(this.cashboxBalance);
  },
  components: {
    HeaderList,
    SimpleSearch,
    SimpleSelect,
    PageOptions,
    vSelect,
    Datatable,
    IconCards,
    OthersCashboxMovementListFilter,
  },
  mixins: [ChangePageMixin, dataTableMixin],
  watch: {
    idConsortiumSelected: function(data) {
      data === null ? (this.cashboxSelected = null) : null;
    },
  },
};
</script>

<style></style>
