<template>
  <div>
    <header-list :title="$t('pages.edit-cashbox')"> </header-list>

    <b-row align-h="center">
      <b-colxx cols="12" lg="10">
        <b-card class="pt-3">
          <OthersCashboxesFormEdit
            ref="othersCashboxesEditFormRef"
            :submitOthersCashboxesEdit="submitOthersCashboxesEdit"
            v-bind.sync="formData"
          />
        </b-card>
      </b-colxx>
    </b-row>
  </div>
</template>

<script>
import HeaderList from "@/components/Common/HeaderList";
import OthersCashboxesFormEdit from "@/containers/forms/OthersCashboxesFormEdit";
import VirtualCashboxRepository from "@/repositories/VirtualCashboxRepository";
import { isEmpty } from "lodash";
import { mapGetters } from "vuex";
export default {
  name: "OthersCashboxesCreate",
  data() {
    return {
      formData: {
        consortium_id: null,
        name: "",
        description: "",
        show_in_expense: false,
        percentage: null,
      },
    };
  },
  methods: {
    async submitOthersCashboxesEdit() {
      let validate = this.validateForm("othersCashboxesEditFormRef");
      if (validate) {
        try {
          // await BankAccountsRepository.createBankAccount(
          //   this.user.authHeader,
          //   this.formData.consortium_id,
          //   this.formData
          // );
          this.$notify(
            "success",
            "Caja editada",
            "La Caja fue editada satisfactoriamente.",
            { duration: 3000, permanent: false }
          );
          this.$router.push({ name: "others-cashboxes" });
        } catch (error) {
          this.$notify(
            "error",
            "Error edición Caja",
            error.response.data.message,
            {
              duration: 3000,
              permanent: false,
            }
          );
        }
      }
    },
    validateForm(refName) {
      this.$refs[refName].$v.$touch();
      return !this.$refs[refName].$v.$anyError;
    },
  },
  async beforeMount() {
    this.idConsortium = this.$route.params.idConsortium;
    this.idCashbox = this.$route.params.idCashbox;

    try {
      let cashbox = await VirtualCashboxRepository.showVirtualCashbox(
        this.user.authHeader,
        this.idConsortium,
        this.idCashbox
      );
      for (let key in this.formData) {
        this.formData[key] = cashbox[key];
      }
    } catch (error) {
      throw error;
    }
  },
  components: {
    HeaderList,
    OthersCashboxesFormEdit,
  },
  computed: {
    ...mapGetters({
      user: "currentUser",
    }),
  },
};
</script>

<style lang="scss" scoped></style>
