<template>
  <div>
    <header-list :title="$t('pages.transfer')"> </header-list>

    <b-row align-h="center">
      <b-colxx cols="12" lg="10">
        <b-card class="pt-3">
          <OthersCashboxesTransferForm
            ref="OthersCashboxesTransferRef"
            :submitOthersCashboxesTransfer="submitOthersCashboxesTransfer"
            v-bind.sync="formData"
            :typeTransfer="true"
          />
        </b-card>
      </b-colxx>
    </b-row>
  </div>
</template>

<script>
import HeaderList from "@/components/Common/HeaderList";
import OthersCashboxesTransferForm from "@/containers/forms/OthersCashboxesTransferForm";
import { mapGetters } from "vuex";
export default {
  name: "OthersCashboxesTransfer",
  data() {
    return {
      formData: {
        cashbox_id_origin: null,
        cashbox_id_destination: null,
        amount: null,
        cash: null,
        checks: [],
        transfers: [],
        description: null,
        date: null,
      },
    };
  },
  methods: {
    async submitOthersCashboxesTransfer() {
      let validate = this.validateForm("OthersCashboxesTransferRef");
      if (validate) {
        try {
          // await BankAccountsRepository.createBankAccount(
          //   this.user.authHeader,
          //   this.formData.consortium_id,
          //   this.formData
          // );
          this.$notify(
            "success",
            "Caja creada",
            "La transferencia fue realizada satisfactoriamente.",
            { duration: 3000, permanent: false }
          );
          this.$router.push({ name: "others-cashboxes" });
        } catch (error) {
          this.$notify(
            "error",
            "Error Transferencia",
            error.response.data.message,
            {
              duration: 3000,
              permanent: false,
            }
          );
        }
      }
    },
    validateForm(refName) {
      this.$refs[refName].$v.$touch();
      return !this.$refs[refName].$v.$anyError;
    },
  },
  components: {
    HeaderList,
    OthersCashboxesTransferForm,
  },
  computed: {
    ...mapGetters({
      user: "currentUser",
    }),
  },
};
</script>

<style lang="scss" scoped></style>
