<template>
  <div>
    <header-list :title="$t('pages.create-provider')"></header-list>

    <b-row align-h="center">
      <b-colxx cols="12" lg="10">
        <b-card class="pt-3">
          <provider-form
            ref="providerForm"
            :submitProvider="submitProvider"
            v-bind.sync="formData"
          />
        </b-card>
      </b-colxx>
    </b-row>
  </div>
</template>

<script>
import HeaderList from "../../../../components/Common/HeaderList";
import ProviderForm from "../../../../containers/forms/ProviderForm";
import ProviderRepository from "../../../../repositories/ProviderRepository";
import { mapGetters } from "vuex";

export default {
  name: "ProviderCreate",
  data() {
    return {
      formData: {
        business_name: '',
        name: '',
        address: '',
        location: '',
        province_id: '',
        postal_code: '',
        cuit: '',
        email: '',
        phone: '',
        note: '',
        license: '',
        attention_hours: '',
        fiscal_situation: '',
      },
    };
  },
  methods: {
    async submitProvider() {
        let validate = this.validateForm('providerForm');
        if(validate) {
            try {
                await ProviderRepository.createProvider(
                    this.user.authHeader,
                    this.formData
                );
                this.$notify(
                    "success",
                    "Proveedor creado",
                    "El Proveedor fue creado satisfactoriamente.",
                    { duration: 3000, permanent: false }
                );
                this.$router.push({ name: 'list-provider' });
            } catch (error) {
                this.$notify(
                    "error",
                    "Error creando proveedor",
                    error.response.data.message,
                    { duration: 3000, permanent: false }
                );
            }
        }
    },
    validateForm(refName) {
        this.$refs[refName].$v.$touch();
        return !this.$refs[refName].$v.$anyError;
    }
  },
  components: {
    HeaderList,
    ProviderForm,
  },
  computed: {
    ...mapGetters({
      user: "currentUser",
    }),
  },
};
</script>

