<template>
  <div>
    <header-list :title="$t('pages.edit-provider')"></header-list>

    <b-row align-h="center">
      <b-colxx cols="12" lg="10">
        <b-card class="pt-3">
          <provider-form
            ref="providerForm"
            :submitProvider="submitProvider"
            :editProvider="editProvider"
            v-bind.sync="formData"
          />
        </b-card>
      </b-colxx>
    </b-row>

  </div>
</template>

<script>
import HeaderList from "../../../../components/Common/HeaderList";
import ProviderForm from "../../../../containers/forms/ProviderForm";
import ProviderRepository from "../../../../repositories/ProviderRepository";
import { mapGetters } from "vuex";

export default {
  name: "ProviderEdit",
  data() {
    return {
      idProvider: "",
      editProvider: true,
      formData: {
        business_name: "",
        name: "",
        address: "",
        location: "",
        province_id: "",
        postal_code: "",
        cuit: "",
        email: "",
        phone: "",
        note: "",
        license: "",
        attention_hours: "",
        fiscal_situation: "",
      },
    };
  },

  async beforeMount() {
    this.idProvider = this.$route.params.idProvider;
    try {
      this.formData = await ProviderRepository.showProvider(
        this.user.authHeader,
        this.idProvider
      );
    } catch (error) {
      this.$notify(
        "error",
        "Error obteniendo Proveedor",
        error.response.data.message,
        { duration: 3000, permanent: false }
      );
    }
  },
  methods: {
    async submitProvider() {
      let validate = this.validateForm("providerForm");
      if (validate) {
        try {
          await ProviderRepository.editProvider(
            this.user.authHeader,
            this.formData,
            this.idProvider
          );
          this.$notify(
            "success",
            "Proveedor actualizado",
            "El Proveedor fue actualizado satisfactoriamente.",
            { duration: 3000, permanent: false }
          );
          this.$router.push({ name: "list-provider" });
        } catch (error) {
          this.$notify(
            "error",
            "Error actualizando el Proveedor",
            error.response.data.message,
            { duration: 3000, permanent: false }
          );
        }
      }
    },
    validateForm(refName) {
      this.$refs[refName].$v.$touch();
      return !this.$refs[refName].$v.$anyError;
    },
  },
  components: {
    HeaderList,
    ProviderForm,
  },
  computed: {
    ...mapGetters({
      user: "currentUser",
    }),
  },
};
</script>
