<template>
  <div>
    <header-list :title="$t('menu.list-providers')">
      <template v-slot:filters>
        <div class="d-block d-md-inline-block pt-1">
          <div class="d-inline-block float-md-left mr-1 align-top d-flex">
            <b-button
              class="mx-2"
              size="xs"
              variant="outline-primary"
              @click="showFilters = !showFilters"
            >Filtros Avanzados</b-button>
          </div>
        </div>
        <page-options
          :from="from"
          :to="to"
          :total="total"
          :perPage="perPage"
          :pageSizes="pageSizes"
          :changePageSize="changePageSize"
        />
      </template>
      <template v-slot:buttons>
        <div class="top-right-button-container">
          <b-button
            variant="primary"
            class="top-right-button"
            @click="$router.push({ name: 'create-provider' })"
          >{{ $t("buttons.create-new") }}</b-button>
        </div>
      </template>
    </header-list>
    <b-collapse v-model="showFilters" class="mb-4">
      <providers-filter @setFilters="setFilters" />
    </b-collapse>
    <Datatable
      ref="datatable"
      :apiBase="apiBase"
      :columns="computedColumns"
      :perPage="perPage"
      :contextMenuItems="contextMenuItems"
      :filter="filter"
      @getPagination="getPagination"
      @onContextMenuAction="onContextMenuAction"
    ></Datatable>
    <confirm-modal
      ref="confirmModal"
      :title="$t('forms.remove')"
      :description="$t('forms.provider.description-modal')"
      :confirm="$t('forms.confirm')"
      :cancel="$t('forms.cancel')"
      @acceptModal="acceptModal"
    ></confirm-modal>
  </div>
</template>

<script>
import HeaderList from "@/components/Common/HeaderList";
import SimpleSearch from "@/components/Filter/SimpleSearch";
import SimpleSelect from "@/components/Filter/Select";
import PageOptions from "@/components/Common/PageOptions";
import Datatable from "@/components/Common/Datatable";
import ChangePageMixin from "@/mixins/ChangePageMixin";
import dataTableMixin from "@/mixins/dataTableMixin";
import ConfirmModal from "@/components/Common/ConfirmModal";
import ProvidersFilter from "../../../../containers/filters/ProvidersFilter";
import ProviderRepository from "@/repositories/ProviderRepository";
const BASEURL = process.env.VUE_APP_BASEURL;

export default {
  name: "ProviderList",
  data() {
    return {
      columns: [
        {
          name: "name",
          title: "Nombre",
          titleClass: "",
          dataClass: "text-muted",
          width: "20%"
        },
        {
          name: "cuit",
          title: "Cuit",
          titleClass: "",
          dataClass: "text-muted",
          width: "20%"
        },
        {
          name: "email",
          title: "Email",
          titleClass: "",
          dataClass: "text-muted",
          width: "15%"
        },
        {
          name: "phone",
          title: "Telefono",
          titleClass: "",
          dataClass: "text-muted",
          width: "15%"
        },
        {
          name: "state",
          title: "Estado",
          titleClass: "",
          dataClass: "text-muted",
          width: "15%"
        }
      ],
      showFilters: false,
      apiBase: BASEURL + "/provider",
      perPage: 10,
      pageSizes: [10, 15, 20, 25],
      contextMenuItems: [
        {
          text: "Ver Proveedor",
          icon: "iconsminds-business-mens",
          action: "provider-edit"
        },
        {
          text: "Deshabilitar Proveedor",
          icon: "simple-icon-trash",
          action: "provider-delete"
        }
      ]
    };
  },
  methods: {
    onContextMenuAction(action, element) {
      switch (action) {
        case "provider-edit":
          console.log("entro");
          this.$router.push({
            name: "edit-provider",
            params: { idProvider: element.id }
          });
          break;

        case "provider-delete":
          this.idSelect = element.id;
          this.$refs.confirmModal.$bvModal.show("confirmModal");
          break;

        default:
          break;
      }
    },
    acceptModal() {
      this.$refs.confirmModal.$bvModal.hide("confirmModal");
      this.deleteProvider(this.idSelect);
    },
    async deleteProvider(id) {
      try {
        await ProviderRepository.deleteProvider(this.user.authHeader, id);
        this.$refs.datatable.$refs.vuetable.refresh();
        this.$notify(
          "success",
          "Proveedor eliminado",
          "El proveedor fue eliminado satisfactoriamente.",
          { duration: 3000, permanent: false }
        );
      } catch (error) {
        this.$notify(
          "error",
          "Error al eliminar proveedor",
          error.response.data.message,
          { duration: 3000, permanent: false }
        );
      }
    }
  },
  components: {
    HeaderList,
    SimpleSearch,
    PageOptions,
    Datatable,
    SimpleSelect,
    ConfirmModal,
    ProvidersFilter
  },
  mixins: [ChangePageMixin, dataTableMixin]
};
</script>

<style lang="scss" scoped></style>
