<template>
  <header-form :title="title" titleClass="lead-xs" headerClass="mt-2">
    <template v-slot:extra>
      <div class="text-info mr-2" v-if="parcialAmountCash !== 0">
        <currency :amount="parcialAmountCash"/>
      </div>
    </template>
    <template v-slot:buttons>
      <b-button class="d-flex mb-2 mr-1" variant="outline-secondary" size="xs" @click="showCashes = !showCashes">
        <i v-if="!showCashes" class="simple-icon-arrow-down"></i>
        <i v-else class="simple-icon-arrow-up"></i>
      </b-button>
    </template>
    <template v-slot:children>
      <div class="separator mb-3"/>
      <b-collapse v-model="showCashes" class="mb-4">
        <b-row>
          <b-col cols="12" sm="4" md="4">
            <b-form-group :label="$t('forms.others-cashboxes.cashbox-origin')">
              <span class="text-muted">{{ consortiumText }}</span>
            </b-form-group>
          </b-col>
          <b-col cols="12" sm="4" md="4" class="mb-2">
            <b-form-group :label="$t('forms.others-cashboxes.cash-amount')">
              <b-form-input type="number" v-model="cashAmount" :disabled="!consortiumSelected"/>
            </b-form-group>
          </b-col>
          <b-col cols="12" sm="2" md="2" class="text-center">
            <b-button @click="confirmCash" :disabled="!cashAmount" variant="primary" class="mt-4 mr-2">
              {{ $t('buttons.confirm') }}
            </b-button>
          </b-col>
        </b-row>
        <Vuetable
            ref="vuetable"
            class="table-divided order-with-arrow"
            v-if="cashes.length !== 0"
            :api-mode="false"
            :data="cashes"
            :fields="cashFields"
            :slotNames="slotNamesCashes"
        >
          <template v-slot:amount="props">
            <currency :amount="props.rowData.amount"/>
          </template>
          <template v-slot:delete="props">
            <div class="d-flex justify-content-center">
              <b-button class="d-flex" variant="outline-secondary" size="xs" @click="removeCash(props.rowIndex)">
                <span>{{ $t('buttons.remove') }}</span>
              </b-button>
            </div>
          </template>
        </Vuetable>
      </b-collapse>
    </template>
  </header-form>
</template>

<script>
import HeaderForm from '@/components/Common/HeaderForm';
import Vuetable from 'vuetable-2/src/components/Vuetable';
import SimpleSelect from '@/components/Filter/Select';

const BASEURL = process.env.VUE_APP_BASEURL;

export default {
  name: 'CashCollapse',
  props: {
    consortiumSelectedObject: {
      type: Object,
    },
    consortiumSelected: {
      required: true,
    },
    title: {
      required: true,
    },
    setCash: {
      type: Function,
    },
  },
  data() {
    return {
      cashFields: [
        {
          name: 'consortium',
          title: 'Caja de Consorcio',
          dataClass: 'vertical-align-middle',
        },
        {
          name: '__slot:amount',
          title: 'Monto',
          dataClass: 'vertical-align-middle',
        },
        {
          name: '__slot:delete',
        },
      ],
      slotNamesCashes: ['amount', 'delete'],
      cashes: [],
      cashAmount: null,
      showCashes: false,
    };
  },
  components: {
    SimpleSelect,
    HeaderForm,
    Vuetable,
  },
  computed: {
    parcialAmountCash() {
      return this.cashes.reduce((totalCashes, b) => totalCashes + parseFloat(b.amount), 0);
    },
    getConsortiumObject() {
      if (this.consortiumSelectedObject) {
        return this.consortiumSelectedObject.$children ?
            this.consortiumSelectedObject.$children[0].selectedValue[0] :
            null;
      } else {
        return null;
      }
    },
    consortiumText() {
      let consortium = this.getConsortiumObject;
      return consortium ? consortium.business_name : ' - ';
    },
  },
  methods: {
    removeCash(index) {
      this.cashes.splice(index, 1);
    },
    confirmCash() {
      let cashObject = this.setCash(this.getConsortiumObject, this.cashAmount);
      this.cashes.push(cashObject);
      this.cashAmount = null;
      this.$emit('onInput', this.cashes);
    },
  },
  watch: {
    cashAmount: function(data) {
      this.$emit('onAmount', data);
    },
  },
};
</script>

<style lang="scss" scoped></style>
