<template>
  <header-form :title="title" titleClass="lead-xs" headerClass="mt-2">
    <template v-slot:extra>
      <div class="text-info mr-2" v-if="parcialAmountChecks != 0">
        <currency :amount="parcialAmountChecks" />
      </div>
    </template>
    <template v-slot:buttons>
      <b-button
        class="d-flex mb-2 mr-1"
        variant="outline-secondary"
        size="xs"
        @click="showChecks = !showChecks"
      >
        <i v-if="!showChecks" class="simple-icon-arrow-down"></i>
        <i v-else class="simple-icon-arrow-up"></i>
      </b-button>
    </template>
    <template v-slot:children>
      <div class="separator mb-3" />
      <b-collapse v-model="showChecks" class="mb-4">
        <b-form-group :label="$t('forms.others-cashboxes.select-checks')">
          <simple-select
            ref="checksRef"
            @onInput="checksChange"
            :apiUrl="checksUrl"
            :filters="filters"
            :disabled="!consortiumSelected"
            :getLabel="getLabelCheck"
            multiple
            valueField="id"
            filterBy="number"
          />
        </b-form-group>
        <Vuetable
          ref="vuetable"
          class="table-divided order-with-arrow"
          v-if="checks.length != 0"
          :api-mode="false"
          :data="checks"
          :fields="checksFields"
          :slotNames="slotNamesChecks"
        >
          <template v-slot:amount="props">
            <currency :amount="props.rowData.amount" />
          </template>
        </Vuetable>
      </b-collapse>
    </template>
  </header-form>
</template>

<script>
import HeaderForm from "@/components/Common/HeaderForm";
import Vuetable from "vuetable-2/src/components/Vuetable";
import SimpleSelect from "@/components/Filter/Select";
const BASEURL = process.env.VUE_APP_BASEURL;

export default {
  name: "CheckCollapse",
  props: {
    consortiumSelected: {
      required: true,
    },
    title: {
      required: true,
    },
    filters: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      checksUrl: BASEURL + "/check",
      checks: [],
      checksFields: [
        {
          name: "id",
          title: "ID",
        },
        {
          name: "number",
          title: "Numero cheque",
        },
        {
          name: "__slot:amount",
          title: "Monto",
        },
      ],
      slotNamesChecks: ["amount"],
      showChecks: false,
    };
  },
  computed: {
    parcialAmountChecks() {
      let amount = this.checks.reduce(
        (totalChecks, b) => totalChecks + parseFloat(b.amount),
        0
      );
      return amount;
    },
  },
  methods: {
    checksChange(field, value) {
      this.checks = this.$refs.checksRef.$children[0].selectedValue;
      this.$emit("onInput", this.checks);
    },
    getLabelCheck(option) {
      return `N°${option.number} - ${option.bank.name}`;
    },
  },
  components: {
    SimpleSelect,
    HeaderForm,
    Vuetable,
  },
  watch: {
    consortiumSelected() {
      this.$refs.checksRef.setOptions();
    }
  }
};
</script>

<style lang="scss" scoped></style>
