<template>
  <header-form :title="title" titleClass="lead-xs" headerClass="mt-2">
    <template v-slot:extra>
      <div class="text-info mr-2" v-if="parcialAmountTransfers != 0">
        <currency :amount="parcialAmountTransfers" />
      </div>
    </template>
    <template v-slot:buttons>
      <b-button
        class="d-flex mb-2 mr-1"
        variant="outline-secondary"
        size="xs"
        @click="showTransfers = !showTransfers"
      >
        <i v-if="!showTransfers" class="simple-icon-arrow-down"></i>
        <i v-else class="simple-icon-arrow-up"></i>
      </b-button>
    </template>
    <template v-slot:children>
      <div class="separator mb-3" />
      <b-collapse v-model="showTransfers" class="mb-4">
        <b-row>
          <b-col cols="12" sm="6" md="6">
            <b-form-group :label="$t('forms.bank-account.bank')">
              <simple-select
                ref="bankRef"
                @onInput="bankChange"
                :get-label="getLabelBank"
                :apiUrl="banksUrl"
                :disabled="!consortiumSelected"
                filterBy="account_number"
                valueField="bank_id"
              />
            </b-form-group>
          </b-col>
          <b-col cols="12" sm="4" md="4" class="mb-2">
            <b-form-group :label="$t('forms.others-cashboxes.transfer_amount')">
              <b-form-input
                type="number"
                v-model="transferAmount"
                :disabled="!bankSelected"
              />
            </b-form-group>
          </b-col>
          <b-col cols="12" sm="2" md="2" class="text-center">
            <b-button
              @click="confirmTransfer"
              :disabled="!transferAmount"
              variant="primary"
              class="mt-4 mr-2"
            >
              {{ $t("buttons.confirm") }}
            </b-button>
          </b-col>
        </b-row>
        <Vuetable
          ref="vuetable"
          class="table-divided order-with-arrow"
          v-if="transfers.length != 0"
          :api-mode="false"
          :data="transfers"
          :fields="transferFields"
          :slotNames="slotNamestransfers"
        >
          <template v-slot:amount="props">
            <currency :amount="props.rowData.amount" />
          </template>
          <template v-slot:delete="props">
            <div class="d-flex justify-content-center">
              <b-button
                class="d-flex"
                variant="outline-secondary"
                size="xs"
                @click="removeTransfer(props.rowIndex)"
              >
                <span>{{ $t("buttons.remove") }}</span>
              </b-button>
            </div>
          </template>
        </Vuetable>
      </b-collapse>
    </template>
  </header-form>
</template>

<script>
import HeaderForm from "@/components/Common/HeaderForm";
import Vuetable from "vuetable-2/src/components/Vuetable";
import SimpleSelect from "@/components/Filter/Select";
const BASEURL = process.env.VUE_APP_BASEURL;

export default {
  name: "TransferCollapse",
  props: {
    consortiumSelected: {
      required: true,
    },
    title: {
      required: true,
    },
    setTransfer: {
      type: Function,
    },
  },
  data() {
    return {
      transferFields: [
        {
          name: "account_number",
          title: "Numero de cuenta",
          dataClass: "vertical-align-middle",
        },
        {
          name: "bank",
          title: "Banco",
          dataClass: "vertical-align-middle",
        },
        {
          name: "__slot:amount",
          title: "Monto",
          dataClass: "vertical-align-middle",
        },
        {
          name: "__slot:delete",
        },
      ],
      slotNamestransfers: ["amount", "delete"],
      bankSelected: null,
      transfers: [],
      transferAmount: null,
      showTransfers: false,
    };
  },
  components: {
    SimpleSelect,
    HeaderForm,
    Vuetable,
  },
  computed: {
    banksUrl() {
      return BASEURL + `/consortium/${this.consortiumSelected}/bank-account`;
    },
    parcialAmountTransfers() {
      let amount = this.transfers.reduce(
        (totalTransfers, b) => totalTransfers + parseFloat(b.amount),
        0
      );
      return amount;
    },
  },
  methods: {
    bankChange(field, value) {
      this.bankSelected = value;
    },
    getLabelBank(option) {
      return `N°${option.account_number} - ${option.bank.name}`;
    },
    removeTransfer(index) {
      this.transfers.splice(index, 1);
    },
    confirmTransfer() {
      let transfer = this.$refs.bankRef.$children[0].selectedValue[0];
      let transferObject = this.setTransfer(transfer, this.transferAmount);
      this.transfers.push(transferObject);
      this.transferAmount = null;
      this.$emit("onInput", this.transfers);
    },
  },
  watch: {
    transferAmount: function(data) {
      this.$emit("onAmount", data);
    },
  },
};
</script>

<style lang="scss" scoped></style>
