<template>
  <div>
    <header-list :title="$t('menu.consortiums')">
      <template v-slot:filters>
        <simple-search placeholder="ID" field="id" :searchChange="searchChange" />
        <simple-search
          placeholder="Razón Social"
          :field="'business_name'"
          :searchChange="searchChange"
        />
        <page-options
          :from="from"
          :to="to"
          :total="total"
          :perPage="perPage"
          :pageSizes="pageSizes"
          :changePageSize="changePageSize"
        />
      </template>
      <template v-slot:buttons>
        <div class="top-right-button-container">
          <b-button
            v-b-modal.modalright
            variant="primary"
            class="top-right-button"
          >{{ $t("pages.close-expense") }}</b-button>
          <b-dropdown
            right
            split
            :text="$t('pages.create-consortium')"
            variant="primary"
            @click="$router.push({name: 'consortium-create'})"
          >
            <b-dropdown-item
              @click="$router.push({name: 'consortium-wizard'})"
            >{{ $t("pages.create-fast-consortium") }}</b-dropdown-item>
          </b-dropdown>
        </div>
      </template>
    </header-list>
    <Datatable
      ref="datatable"
      :apiBase="apiBase"
      :columns="computedColumns"
      :perPage="perPage"
      :contextMenuItems="contextMenuItems"
      :filter="filter"
      detailRow="consortium-detail-row"
      @getPagination="getPagination"
      @onContextMenuAction="onContextMenuAction"
      :slotNames="slotNames"
    >
      <template v-slot:state="props">
        <div class="w-15 w-sm-100">
          <b-badge pill variant="secondary">{{ props.props.rowData.state }}</b-badge>
        </div>
      </template>
    </Datatable>
    <confirm-modal
      ref="confirmModal"
      :title="$t('forms.headers.title-modal')"
      :description="$t('forms.headers.description-modal')"
      :confirm="$t('forms.confirm')"
      :cancel="$t('forms.cancel')"
      @acceptModal="acceptModal"
    ></confirm-modal>
  </div>
</template>
<script>
import HeaderList from "@/components/Common/HeaderList";
import SimpleSearch from "@/components/Filter/SimpleSearch";
import PageOptions from "@/components/Common/PageOptions";
import Datatable from "@/components/Common/Datatable";
import ChangePageMixin from "@/mixins/ChangePageMixin";
import dataTableMixin from "@/mixins/dataTableMixin";
import ConsortiumDetailRow from "../../../containers/datatable/ConsortiumDetailRow";
import Vue from "vue";
import ConsortiumRepository from "../../../repositories/ConsortiumRepository";
import ConfirmModal from "@/components/Common/ConfirmModal";

const BASEURL = process.env.VUE_APP_BASEURL;
Vue.component("consortium-detail-row", ConsortiumDetailRow);

export default {
  props: ["title"],
  components: {
    HeaderList,
    SimpleSearch,
    PageOptions,
    Datatable,
    ConfirmModal
  },
  data() {
    return {
      apiBase: BASEURL + "/consortium/",
      perPage: 8,
      pageSizes: [8, 15, 20, 25],
      slotNames: ["state"],
      columns: [
        {
          name: "order",
          title: "Numero de orden",
          titleClass: "",
          dataClass: "text-muted",
          width: "30%"
        },
        {
          name: "business_name",
          sortField: "business_name",
          title: "Razon Social",
          titleClass: "",
          dataClass: "text-muted",
          width: "15%"
        },
        {
          name: "address_number",
          title: "Saldo",
          titleClass: "",
          dataClass: "text-muted",
          width: "10%"
        },
        {
          name: "category",
          title: "Vencimiento",
          titleClass: "",
          dataClass: "text-muted",
          width: "15%"
        },
        {
          name: "category",
          sortField: "category",
          title: "Periodo",
          titleClass: "",
          dataClass: "text-muted",
          width: "15%"
        },
        {
          name: "__slot:state",
          title: "Estado",
          titleClass: "",
          dataClass: "text-muted",
          width: "5%"
        }
      ],
      contextMenuItems: [
        {
          text: "Ver Perfil",
          icon: "simple-icon-book-open",
          action: "consortium-profile"
        },
        {
          text: "Ver Unidades Funcionales",
          icon: "simple-icon-home",
          action: "consortium-functional-units"
        },
        {
          text: "Ver Porcentuales",
          icon: "simple-icon-docs",
          action: "consortium-percenteges"
        },
        {
          text: "Previsualizar Expensa",
          icon: "simple-icon-eye",
          action: "preview-expense"
        },
        {
          text: "Deshabilitar",
          icon: "simple-icon-trash",
          action: "consortium-disable"
        }
      ]
    };
  },
  mixins: [ChangePageMixin, dataTableMixin],
  methods: {
    acceptModal() {
      this.$refs.confirmModal.$bvModal.hide("confirmModal");
      this.consortiumDisabled(this.idSelect);
    },
    async consortiumDisabled(id) {
      let data = { state: "INACTIVO" };
      try {
        await ConsortiumRepository.editStateConsortium(
          this.user.authHeader,
          id,
          data
        );
        this.$notify(
          "success",
          "Edición Consorcio",
          "Se inhabilito el consorcio exitosamente.",
          {
            duration: 3000,
            permanent: false
          }
        );
        this.$refs.datatable.$refs.vuetable.refresh();
      } catch (error) {
        this.$notify("error", "Edición Consorcio", error, {
          duration: 3000,
          permanent: false
        });
      }
    },
    onContextMenuAction(action, element) {
      switch (action) {
        case "consortium-profile":
          this.$router.push({
            name: "consortium-profile",
            params: { id: element.id }
          });
          break;

        case "consortium-disable":
          this.idSelect = element.id;
          this.$refs.confirmModal.$bvModal.show("confirmModal");
          break;

        case "consortium-functional-units":
          this.$router.push({
            name: "functional-units-list",
            params: { id: element.id }
          });
          break;

        case "consortium-percenteges":
          this.$router.push({
            params: { id: `${element.id}` },
            name: "consortium-percentage-list"
          });
          break;

        default:
          break;
      }
    }
  },
  computed: {}
};
</script>
<style>
.vuetable-detail-row {
  transform: translateY(-6px);
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1), 0 3px 20px rgba(0, 0, 0, 0.1) !important;
}
</style>
