<template>
  <div>
    <b-row>
      <b-colxx xxs="12">
        <piaf-breadcrumb :heading="$t('menu.create-consortium')" />
        <div class="separator mb-5"></div>
      </b-colxx>
    </b-row>
    <b-row align-h="center">
      <b-colxx cols="12">
        <wizard-form></wizard-form>
      </b-colxx>
    </b-row>
  </div>
</template>

<script>
import CreateConsortiumWizard from "../../../containers/wizards/CreateConsortiumWizard";
export default {
  components: {
    "wizard-form": CreateConsortiumWizard
  },
  name: "CreateConsortium"
};
</script>

<style lang="scss" scoped></style>
