<template>
  <div>
    <b-row>
      <b-colxx xxs="12">
        <piaf-breadcrumb :heading="$t('menu.profile')" />
        <div class="separator mb-5"></div>
      </b-colxx>
    </b-row>
    <b-row align-h="center">
      <b-colxx cols="12" lg="10">
        <b-card class="pt-3">
          <b-form @submit.prevent="onSubmit">
            <b-container>
              <b-row>
                <b-col cols="12">
                  <b-card>
                    <b-form-group
                      :label="$t('forms.consortium-profile.building-info')"
                      label-class="lead-small mb-2"
                      class="mb-4"
                    >
                      <div class="separator mb-4" />
                      <BuildingInformation
                        v-bind.sync="info_building"
                        ref="infoBuildingRef"
                        id="infoBuildingId"
                      />
                    </b-form-group>
                    <b-form-group
                      :label="$t('forms.consortium-profile.expiration')"
                      label-class="lead-small mb-2"
                      class="mb-4"
                    >
                      <div class="separator mb-4" />
                      <Expiration v-bind.sync="expiration" ref="expirationRef" id="expirationId" />
                    </b-form-group>
                    <b-form-group
                      :label="$t('forms.consortium-profile.employees')"
                      label-class="lead-small mb-2"
                      class="mb-4"
                    >
                      <div class="separator mb-4" />
                      <Employees v-bind.sync="employees" ref="employeesRef" id="employeesId" />
                    </b-form-group>
                    <b-form-group
                      :label="$t('forms.consortium-profile.art')"
                      label-class="lead-small mb-2"
                      class="mb-4"
                    >
                      <div class="separator mb-4" />
                      <ART v-bind.sync="art" ref="artRef" id="artId" />
                    </b-form-group>
                    <b-form-group
                      :label="$t('forms.consortium-profile.charges')"
                      label-class="lead-small mb-2"
                      class="mb-4"
                    >
                      <div class="separator mb-4" />
                      <PaymentMethod
                        v-bind.sync="payment"
                        ref="paymentMethodRef"
                        id="paymentMethodId"
                      />
                    </b-form-group>
                    <b-form-group
                      :label="$t('forms.consortium-profile.portal-module')"
                      label-class="lead-small mb-2"
                      class="mb-4"
                    >
                      <div class="separator mb-4" />
                      <PortalModule v-bind.sync="portal" ref="portalModuleRef" id="portalModuleId" />
                    </b-form-group>
                    <b-form-group
                      :label="
                        $t('forms.consortium-profile.expense-configuration')
                      "
                      label-class="lead-small mb-2"
                      class="mb-4"
                    >
                      <div class="separator mb-4" />
                      <ExpensesConfiguration
                        v-bind.sync="expenses_configuration"
                        ref="expensesConfigurationRef"
                        id="expensesConfigurationId"
                      />
                    </b-form-group>
                  </b-card>
                </b-col>
                <b-col cols="12" class="text-right">
                  <b-button type="submit" variant="primary" class="mt-4">
                    {{
                    this.edit_profile
                    ? $t("pages.edit-consortium")
                    : $t("pages.create-consortium")
                    }}
                  </b-button>
                </b-col>
              </b-row>
            </b-container>
          </b-form>
        </b-card>
      </b-colxx>
    </b-row>
  </div>
</template>

<script>
import BuildingInformation from "../../../components/Form/ProfileConsortiumForm/BuildingInformation";
import Expiration from "../../../components/Form/ProfileConsortiumForm/Expiration";
import Employees from "../../../components/Form/ProfileConsortiumForm/Employees";
import ART from "../../../components/Form/ProfileConsortiumForm/ART";
import PaymentMethod from "../../../components/Form/ProfileConsortiumForm/PaymentMethod";
import PortalModule from "../../../components/Form/ProfileConsortiumForm/PortalModule";
import ExpensesConfiguration from "../../../components/Form/ProfileConsortiumForm/ExpensesConfiguration";

import ConsortiumRepository from "../../../repositories/ConsortiumRepository";
import ConsortiumProfileRepository from "../../../repositories/ConsortiumProfileRepository";
import ConsortiumPortalProfileRepository from "../../../repositories/ConsortiumPortalProfileRepository";

import { mapGetters } from "vuex";
import { paymentMethodOptions } from "../../../constants/constants";
import moment from "moment";
export default {
  name: "ProfileConsortium",
  components: {
    BuildingInformation,
    Expiration,
    Employees,
    ART,
    PaymentMethod,
    PortalModule,
    ExpensesConfiguration
  },
  data() {
    return {
      edit_profile: false,
      id_profile: "",
      opts: {
        paymentMethodOptions
      },
      info_building: {
        order: "",
        business_name: "",
        fancy_name: "",
        address_street: "",
        address_number: "",
        email: null,
        location: "",
        postal_code: "",
        province_id: null,
        country_id: null,
        cuit: "",
        category: null,
        liquidation: null,
        suterh_code: "",
        rounding_type: null,
        type_of_building: null,
        count_floors: null,
        count_functional_units: null,
        self_managment: false,
        escrow: false,
        license: "",
        start_date: null,
        observations: ""
      },
      expiration: {
        first_due_date: "",
        second_due_date: "",
        second_due_date_interests: "",
        second_due_date_check: false,
        penalty_interests: "",
        penalty_interests_mode: "",
        early_payment_discount: "",
        early_payment_discount_days: ""
      },
      employees: {
        payslips_details: false,
        rounding_payslips: null,
        garage_amount: "",
        waste_removal_ammount: "",
        next_moving_sheet_number: ""
      },
      art: {
        art_percentage: "",
        art_amount: ""
      },
      payment: {
        payment_method_id: null,
        payment_method_code: "",
        next_payment_receipt_number: ""
      },
      portal: {
        enable_friendly_expenses: true,
        show_claims: true,
        show_ammenities: true,
        need_ammenities_approval: true,
        show_consortium_current_account: true,
        show_consortium_bank_account: true,
        show_money_in_debt: true,
        show_spendings: true
      },
      expenses_configuration: {
        legends_my_expenses: false,
        expense_header_id: 2,
        show_bank_movements: false,
        show_provider_data: false,
        provider_spending_location: null,
        show_patrimonial_status: false,
        show_judgements_section: false,
        show_previous_balance: false,
        show_payments: false
      }
    };
  },
  async beforeMount() {
    if (this.$route.params.id) {
      this.edit_profile = true;
      this.id_profile = this.$route.params.id;
      let idConsortium = this.$route.params.id;
      /* Get consortium + profileConsortium + portalProfile as PromiseAll */
      let consortium = await this.getConsortium(idConsortium);
      let consortiumProfile = await this.getConsortiumProfile(idConsortium);
      let consortiumPortalProfile = await this.getConsortiumPortalProfile(
        idConsortium
      );
      this.setInfoBuilding(consortium, consortiumProfile);
      this.setExpiration(consortiumProfile);
      this.setEmployees(consortiumProfile);
      this.setART(consortiumProfile);
      this.setPayment(consortium, consortiumProfile);
      this.setPortal(consortiumPortalProfile);
      this.setExpensesConfiguration(consortiumProfile);
    } else {
      this.edit_profile = false;
      this.setDefaultValues();
    }
  },
  mounted() {},
  computed: {
    ...mapGetters({
      user: "currentUser"
    })
  },
  methods: {
    setDefaultValues() {
      this.info_building.province_id = 1;
      this.info_building.country_id = 1;
    },
    setInfoBuilding(consortium, consortiumProfile) {
      for (let key in this.info_building) {
        if (consortium[key] === undefined) {
          this.info_building[key] = consortiumProfile[key];
        } else {
          this.info_building[key] = consortium[key];
        }
      }
      if (this.info_building.start_date != null) {
        this.info_building.start_date = moment(
          consortium.start_date,
          "DD-MM-YYYY"
        )._d;
      }
    },
    setExpiration(consortiumProfile) {
      for (let key in this.expiration) {
        this.expiration[key] = consortiumProfile[key];
      }
      this.expiration.second_due_date >= 30
        ? (this.expiration.second_due_date_check = true)
        : (this.expiration.second_due_date_check = false);
    },
    setEmployees(consortiumProfile) {
      for (let key in this.employees) {
        this.employees[key] = consortiumProfile[key];
      }
    },
    setART(consortiumProfile) {
      for (let key in this.art) {
        this.art[key] = consortiumProfile[key];
      }
    },
    setPayment(consortium, consortiumProfile) {
      this.payment.payment_method_id = consortium.payment_method_id;
      this.payment.next_payment_receipt_number =
        consortiumProfile.next_payment_receipt_number;
      let name = this.findByValueOptions(
        this.opts.paymentMethodOptions,
        consortium.payment_method_id
      ).text;
      let codeKey = this.findPaymentMethodKey(name);
      this.payment.payment_method_code = consortium[codeKey];
    },
    setPortal(consortiumPortalProfile) {
      for (let key in this.portal) {
        this.portal[key] = consortiumPortalProfile[key];
      }
      this.portal.enable_friendly_expenses = true;
    },
    setExpensesConfiguration(consortiumProfile) {
      for (let key in this.expenses_configuration) {
        this.expenses_configuration[key] = consortiumProfile[key];
      }
      consortiumProfile.show_provider_data
        ? (this.expenses_configuration.provider_spending_location =
            consortiumProfile.provider_spending_location)
        : (this.expenses_configuration.provider_spending_location = null);
    },
    async getConsortium(idConsortium) {
      try {
        return await ConsortiumRepository.getConsortium(
          this.user.authHeader,
          idConsortium
        );
      } catch (error) {
        this.$notify("error", "Consorcio Error", error, {
          duration: 3000,
          permanent: false
        });
      }
    },
    async getConsortiumProfile(idConsortium) {
      try {
        return await ConsortiumProfileRepository.getConsortiumProfile(
          this.user.authHeader,
          idConsortium
        );
      } catch (error) {
        this.$notify("error", "Consorcio perfil Error", error, {
          duration: 3000,
          permanent: false
        });
      }
    },
    async getConsortiumPortalProfile(idConsortium) {
      try {
        return await ConsortiumPortalProfileRepository.getConsortiumPortalProfile(
          this.user.authHeader,
          idConsortium
        );
      } catch (error) {
        this.$notify("error", "Consorcio perfil Error", error, {
          duration: 3000,
          permanent: false
        });
      }
    },
    cleanConsortiumObj() {
      let consortiumData = { ...this.info_building };
      for (let key in consortiumData) {
        if (consortiumData[key] === "" || consortiumData[key] === null) {
          delete consortiumData[key];
        }
      }
      consortiumData.first_due_date = this.expiration.first_due_date;
      consortiumData.payment_method_id = this.payment.payment_method_id;
      if (consortiumData.payment_method_id != null) {
        let name = this.findByValueOptions(
          this.opts.paymentMethodOptions,
          this.payment.payment_method_id
        ).text;
        let codeKey = this.findPaymentMethodKey(name);
        consortiumData[codeKey] = this.payment.payment_method_code;
      }
      if (consortiumData.start_date != null) {
        consortiumData.start_date = moment(consortiumData.start_date).format(
          "DD-MM-YYYY"
        );
      }
      return consortiumData;
    },
    async createConsortium() {
      let data = this.cleanConsortiumObj();
      return await ConsortiumRepository.createConsortium(
        this.user.authHeader,
        data
      );
    },
    cleanConsortiumProfileObj() {
      let consortiumProfileData = {
        ...this.info_building,
        ...this.expiration,
        ...this.employees,
        ...this.expenses_configuration,
        ...this.art
      };
      for (let key in consortiumProfileData) {
        if (
          consortiumProfileData[key] === "" ||
          consortiumProfileData[key] === null
        ) {
          delete consortiumProfileData[key];
        }
      }
      return consortiumProfileData;
    },
    async createConsortiumProfile(id) {
      let consortiumProfileData = this.cleanConsortiumProfileObj();
      return await ConsortiumProfileRepository.editConsortiumProfile(
        this.user.authHeader,
        id,
        consortiumProfileData
      );
    },
    async createConsortiumPortalProfile(id) {
      let consortiumPortalProfileData = this.portal;
      return await ConsortiumPortalProfileRepository.editConsortiumPortalProfile(
        this.user.authHeader,
        id,
        consortiumPortalProfileData
      );
    },
    async createConsortiumSubmit() {
      try {
        let consortium = await this.createConsortium();
        let consortiumProfile = await this.createConsortiumProfile(
          consortium.id
        );
        let consortiumPortalProfile = await this.createConsortiumPortalProfile(
          consortium.id
        );
      } catch (error) {
        throw error;
      }
    },
    async editConsortium(id) {
      let data = this.cleanConsortiumObj();
      return await ConsortiumRepository.editConsortium(
        this.user.authHeader,
        id,
        data
      );
    },
    async editConsortiumProfile(id) {
      let consortiumProfileData = this.cleanConsortiumProfileObj();
      return await ConsortiumProfileRepository.editConsortiumProfile(
        this.user.authHeader,
        id,
        consortiumProfileData
      );
    },
    async editConsortiumPortalProfile(id) {
      let consortiumPortalProfileData = this.portal;
      return await ConsortiumPortalProfileRepository.editConsortiumPortalProfile(
        this.user.authHeader,
        id,
        consortiumPortalProfileData
      );
    },
    async editConsortiumSubmit() {
      try {
        let id = this.id_profile;
        let consortium = await this.editConsortium(id);
        let consortiumProfile = await this.editConsortiumProfile(id);
        let consortiumPortalProfile = await this.editConsortiumPortalProfile(
          id
        );
      } catch (error) {
        throw error;
      }
    },
    findByValueOptions(arr, value) {
      return arr.find(element => element.value === value);
    },
    findPaymentMethodKey(name) {
      let code;
      switch (name) {
        case "Pago Facíl":
          code = "pf_code";
          break;
        case "Siro":
          code = "siro_code";
          break;
        case "Pago mis Expensas":
          code = "pme_code";
          break;
        case "Expensas pagas":
          code = "ep_code";
          break;
        case "Interfast":
          code = "interfast_code";
        default:
          code = null;
          break;
      }
      return code;
    },
    onValidate() {
      let refs = Object.keys(this.$refs);
      return refs.every(refName => {
        this.$refs[refName].$v.$touch();

        /*Scroll to ref error */
        if (this.$refs[refName].$v.$anyError) {
          let elementID = this.$refs[refName].$el.id;
          this.$scrollTo(`#${elementID}`, 200, {
            easing: "ease-in",
            offset: -50
          });
        }
        return !this.$refs[refName].$v.$anyError;
      });
    },
    async onSubmit() {
      let validate = this.onValidate();
      if (validate) {
        if (this.edit_profile) {
          try {
            await this.editConsortiumSubmit();
            this.$notify(
              "success",
              "Edicion consorcio",
              "El consorcio fue editado satisfactoriamente.",
              {
                duration: 3000,
                permanent: false
              }
            );
            this.$router.push(`/app/consorcios`);
          } catch (error) {
            this.$notify(
              "error",
              "Error consorcio",
              error.response.data.message,
              {
                duration: 3000,
                permanent: false
              }
            );
          }
        } else {
          try {
            await this.createConsortiumSubmit();
            this.$notify(
              "success",
              "Creación consorcio",
              "El consorcio fue creado satisfactoriamente.",
              {
                duration: 3000,
                permanent: false
              }
            );
            this.$router.push(`/app/consorcios`);
          } catch (error) {
            this.$notify(
              "error",
              "Error consorcio",
              error.response.data.message,
              {
                duration: 3000,
                permanent: false
              }
            );
          }
        }
      } else {
        this.$notify(
          "error",
          "Error de validacion",
          "Campos incorrectos o faltantes",
          {
            duration: 3000,
            permanent: false
          }
        );
      }
    }
  },
  watch: {
    "expenses_configuration.provider_spending_location": function(data) {
      data === null
        ? (this.expenses_configuration.show_provider_data = false)
        : (this.expenses_configuration.show_provider_data = true);
    },
    "payment.payment_method_id": function(data) {
      data === null ? (this.payment.payment_method_code = "") : null;
    },
    "portal.enable_friendly_expenses": function(data) {
      !data
        ? ((this.portal.show_consortium_current_account = false),
          (this.portal.show_consortium_bank_account = false),
          (this.portal.show_money_in_debt = false),
          (this.portal.show_spendings = false))
        : null;
    },
    "expiration.second_due_date_check": function(data) {
      data ? (this.expiration.second_due_date = 30) : null;
    }
  }
};
</script>
<style lang="scss" scoped></style>
