<template>
    <div>
        <header-list
                :title="$t('pages.edit-service')">
        </header-list>

        <b-row align-h="center">
            <b-colxx cols="12" lg="10">
                <b-card class="pt-3">
                    <service-form
                            ref="serviceForm"
                            :submitService="submitService"
                            :editService="editService"
                            v-bind.sync="formData"/>
                </b-card>
            </b-colxx>
        </b-row>
    </div>
</template>

<script>
    import HeaderList from "../../../../components/Common/HeaderList";
    import ServiceForm from "../../../../containers/forms/ServiceForm";
    import ServiceRepository from "../../../../repositories/ServiceRepository";
    import { mapGetters } from "vuex";

    export default {
        name: "ServiceEdit",
        data() {
            return {
                idService: "",
                editService: true,
                formData: {
                    description: ""
                }
            }
        },
        async beforeMount() {
            this.idService = this.$route.params.id;
            try {
                this.formData =  await ServiceRepository.showService(
                    this.user.authHeader,
                    this.idService
                );
            } catch (error) {
                this.$notify(
                    "error",
                    "Error get header",
                    error.response.data.message,
                    { duration: 3000, permanent: false }
                );
            }
        },
        methods: {
            async submitService() {
                let validate = this.validateForm('serviceForm');
                if(validate) {
                    try {
                        await ServiceRepository.editService(
                            this.user.authHeader,
                            this.formData,
                            this.idService
                        );
                        this.$notify(
                            "success",
                            "Servicio actualizado",
                            "El servicio fue actualizado satisfactoriamente.",
                            { duration: 3000, permanent: false }
                        );
                        this.$router.push({ name: 'services-list' });
                    } catch (error) {
                        this.$notify(
                            "error",
                            "Error Service",
                            error.response.data.message,
                            { duration: 3000, permanent: false }
                        );
                    }
                }
            },
            validateForm(refName) {
                this.$refs[refName].$v.$touch();
                return !this.$refs[refName].$v.$anyError;
            }
        },
        components: {
            HeaderList,
            ServiceForm
        },
        computed: {
            ...mapGetters({
                user: "currentUser",
            }),
        }
    }
</script>
