<template>
  <div>
    <header-list :title="$t('menu.services')">
      <template v-slot:filters>
        <simple-search placeholder="ID" :field="'id'" :searchChange="searchChange" />
        <simple-search
          placeholder="Descripción"
          :field="'description'"
          :searchChange="searchChange"
        />
        <page-options
          :from="from"
          :to="to"
          :total="total"
          :perPage="perPage"
          :pageSizes="pageSizes"
          :changePageSize="changePageSize"
        />
      </template>
      <template v-slot:buttons>
        <div class="top-right-button-container">
          <b-button
            variant="primary"
            class="top-right-button"
            @click="$router.push({ name: 'services-create' })"
          >{{ $t("buttons.create-new") }}</b-button>
        </div>
      </template>
    </header-list>
    <Datatable
      ref="datatable"
      :apiBase="apiBase"
      :columns="computedColumns"
      :perPage="perPage"
      :contextMenuItems="contextMenuItems"
      :filter="filter"
      @getPagination="getPagination"
      @onContextMenuAction="onContextMenuAction"
    />
    <confirm-modal
      ref="confirmModal"
      :title="$t('forms.services.title-modal')"
      :description="$t('forms.services.description-modal')"
      :confirm="$t('forms.confirm')"
      :cancel="$t('forms.cancel')"
      @acceptModal="acceptModal"
    ></confirm-modal>
  </div>
</template>

<script>
import HeaderList from "@/components/Common/HeaderList";
import SimpleSearch from "@/components/Filter/SimpleSearch";
import PageOptions from "@/components/Common/PageOptions";
import Datatable from "@/components/Common/Datatable";
import ChangePageMixin from "@/mixins/ChangePageMixin";
import dataTableMixin from "@/mixins/dataTableMixin";
import ConfirmModal from "../../../../components/Common/ConfirmModal";
import ServiceRepository from "../../../../repositories/ServiceRepository";

const BASEURL = process.env.VUE_APP_BASEURL;

export default {
  data() {
    return {
      columns: [
        {
          name: "id",
          title: "ID",
          titleClass: "",
          dataClass: "list-item-heading",
          width: "15%"
        },
        {
          name: "description",
          title: "Descripción",
          titleClass: "",
          dataClass: "list-item-heading",
          width: "80%"
        }
      ],
      apiBase: BASEURL + "/service/",
      perPage: 10,
      pageSizes: [10, 15, 20, 25],
      contextMenuItems: [
        {
          text: "Editar servicio",
          icon: "simple-icon-book-open",
          action: "service-edit"
        },
        {
          text: "Borrar servicio",
          icon: "simple-icon-trash",
          action: "service-delete"
        }
      ]
    };
  },
  methods: {
    onContextMenuAction(action, element) {
      switch (action) {
        case "service-show":
          this.$router.push({ name: "services-list" });
          break;

        case "service-edit":
          this.$router.push({
            name: "services-edit",
            params: { id: element.id }
          });
          break;

        case "service-delete":
          this.idSelect = element.id;
          this.$refs.confirmModal.$bvModal.show("confirmModal");
          break;

        default:
          break;
      }
    },
    async deleteHeader(id) {
      try {
        await ServiceRepository.deleteService(this.user.authHeader, id);
        this.$refs.datatable.$refs.vuetable.refresh();
        this.$notify(
          "success",
          "Servicio eliminado",
          "El Servicio fue eliminado satisfactoriamente.",
          { duration: 3000, permanent: false }
        );
      } catch (error) {
        this.$notify(
          "error",
          "Error to delete service",
          error.response.data.message,
          { duration: 3000, permanent: false }
        );
      }
    },
    acceptModal() {
      this.$refs.confirmModal.$bvModal.hide("confirmModal");
      this.deleteHeader(this.idSelect);
    }
  },
  components: {
    HeaderList,
    SimpleSearch,
    PageOptions,
    Datatable,
    ConfirmModal
  },
  mixins: [ChangePageMixin, dataTableMixin]
};
</script>
