<template>
    <div>
        <header-list
            :title="$t('pages.create-service')">
        </header-list>

        <b-row align-h="center">
            <b-colxx cols="12" lg="10">
                <b-card class="pt-3">
                    <service-form
                        ref="serviceForm"
                        :submitService="submitService"
                        v-bind.sync="formData"/>
                </b-card>
            </b-colxx>
        </b-row>
    </div>
</template>

<script>
    import HeaderList from "../../../../components/Common/HeaderList";
    import ServiceForm from "../../../../containers/forms/ServiceForm";
    import ServiceRepository from "../../../../repositories/ServiceRepository";
    import { mapGetters } from "vuex";

    export default {
        name: "ServiceCreate",
        data() {
            return {
                formData: {
                    description: "",
                }
            }
        },
        methods: {
            async submitService() {
                let validate = this.validateForm('serviceForm');
                if(validate) {
                    try {
                        await ServiceRepository.createService(
                            this.user.authHeader,
                            this.formData
                        );
                        this.$notify(
                            "success",
                            "Servicio creada",
                            "El servicio fue creado satisfactoriamente.",
                            { duration: 3000, permanent: false }
                        );
                        this.$router.push({ name: 'services-list' });
                    } catch (error) {
                        this.$notify(
                            "error",
                            "Error Servicio",
                            error.response.data.message,
                            { duration: 3000, permanent: false }
                        );
                    }
                }
            },
            validateForm(refName) {
                this.$refs[refName].$v.$touch();
                return !this.$refs[refName].$v.$anyError;
            }
        },
        components: {
            HeaderList,
            ServiceForm
        },
        computed: {
            ...mapGetters({
                user: "currentUser",
            }),
        }
    }
</script>
