<template>
  <b-form @submit.prevent="submitBankAccount">
    <b-container>
      <b-row>
        <b-col cols="12">
          <b-card>
            <b-form-group
              :label="$t('forms.bank-account.account-info')"
              label-class="lead-small mb-2"
              class="mb-4"
            >
              <div class="separator mb-4" />
              <b-row>
                <b-col cols="12" sm="4" md="4">
                  <b-form-group :label="$t('forms.bank-account.consortium')">
                    <simple-select
                      @onInput="selectChange"
                      :apiUrl="consortiumSearchUrl"
                      :selected="consortium_id"
                      filterBy="business_name"
                      valueField="consortium_id"
                    />
                    <b-form-invalid-feedback
                      v-if="
                        $v.consortium_id.$model === null &&
                          $v.consortium_id.$anyError
                      "
                      class="d-block"
                    >{{ $t("forms.required") }}</b-form-invalid-feedback>
                  </b-form-group>
                </b-col>

                <b-col cols="12" sm="4" md="8">
                  <b-form-group :label="$t('forms.bank-account.bank')">
                    <simple-select
                      @onInput="selectChange"
                      :apiUrl="bankSearchUrl"
                      :selected="bank_id"
                      filterBy="name"
                      valueField="bank_id"
                    />
                    <b-form-invalid-feedback
                      v-if="!$v.bank_id.required"
                      class="block"
                    >{{ $t("forms.required") }}</b-form-invalid-feedback>
                  </b-form-group>
                </b-col>

                <b-col cols="12" sm="4" md="4">
                  <b-form-group :label="$t('forms.bank-account.account-number')">
                    <b-form-input
                      type="number"
                      v-model.trim="$v.account_number.$model"
                      :state="!$v.account_number.$error"
                    />
                    <b-form-invalid-feedback
                      v-if="!$v.account_number.required"
                    >{{ $t("forms.required") }}</b-form-invalid-feedback>
                  </b-form-group>
                </b-col>

                <b-col cols="12" sm="4" md="4">
                  <b-form-group :label="$t('forms.bank-account.cbu')">
                    <b-form-input
                      type="number"
                      v-model.trim="$v.cbu.$model"
                      :state="!$v.cbu.$error"
                    />
                    <b-form-invalid-feedback v-if="!$v.cbu.required">{{ $t("forms.required") }}</b-form-invalid-feedback>
                  </b-form-group>
                </b-col>

                <b-col cols="12" sm="4" md="4">
                  <b-form-group :label="$t('forms.bank-account.alias')">
                    <b-form-input
                      type="text"
                      v-model.trim="$v.alias.$model"
                      :state="!$v.alias.$error"
                    />
                    <b-form-invalid-feedback v-if="!$v.alias.required">{{ $t("forms.required") }}</b-form-invalid-feedback>
                  </b-form-group>
                </b-col>

                <b-col cols="12" sm="6" md="4">
                  <b-form-group :label="$t('forms.bank-account.type')">
                    <v-select
                      label="text"
                      v-model="$v.type.$model"
                      :reduce="(bankAccountType) => bankAccountType.value"
                      :options="bankAccountType"
                    />
                    <b-form-invalid-feedback>
                      {{
                      $t("forms.required")
                      }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </b-col>

                <b-col cols="12" sm="4" md="4">
                  <b-form-group :label="$t('forms.bank-account.branch-office')">
                    <b-form-input
                      type="text"
                      v-model.trim="$v.branch_office.$model"
                      :state="!$v.branch_office.$error"
                    />
                    <b-form-invalid-feedback
                      v-if="!$v.branch_office.required"
                    >{{ $t("forms.required") }}</b-form-invalid-feedback>
                  </b-form-group>
                </b-col>

                <b-col cols="12" sm="4" md="4">
                  <b-form-group :label="$t('forms.bank-account.owner')">
                    <b-form-input
                      type="text"
                      v-model.trim="$v.owner.$model"
                      :state="!$v.owner.$error"
                    />
                    <b-form-invalid-feedback v-if="!$v.owner.required">{{ $t("forms.required") }}</b-form-invalid-feedback>
                  </b-form-group>
                </b-col>

                <b-col cols="12" md="6">
                  <b-form-group :label="`${$t('forms.bank-account.signatory') + ' 1'}`">
                    <b-form-input
                      type="text"
                      v-model.trim="$v.signatorie_1.$model"
                      :state="!$v.signatorie_1.$error"
                    />
                    <b-form-invalid-feedback
                      v-if="!$v.signatorie_1.required"
                    >{{ $t("forms.required") }}</b-form-invalid-feedback>
                  </b-form-group>
                </b-col>

                <b-col cols="12" md="6">
                  <b-form-group :label="`${$t('forms.bank-account.signatory') + ' 2'}`">
                    <b-form-input
                      type="text"
                      v-model.trim="$v.signatorie_2.$model"
                      :state="!$v.signatorie_2.$error"
                    />
                    <b-form-invalid-feedback
                      v-if="!$v.signatorie_2.required"
                    >{{ $t("forms.required") }}</b-form-invalid-feedback>
                  </b-form-group>
                </b-col>

                <b-col cols="12" md="6">
                  <b-form-group :label="`${$t('forms.bank-account.signatory') + ' 3'}`">
                    <b-form-input
                      type="text"
                      v-model.trim="$v.signatorie_3.$model"
                      :state="!$v.signatorie_3.$error"
                    />
                    <b-form-invalid-feedback
                      v-if="!$v.signatorie_3.required"
                    >{{ $t("forms.required") }}</b-form-invalid-feedback>
                  </b-form-group>
                </b-col>

                <b-col cols="12" sm="6" md="6">
                  <b-form-group :label="$t('forms.bank-account.show-data-in-expense')">
                    <v-select
                      label="text"
                      v-model="$v.show_data_in_expense.$model"
                      :reduce="(booleanOptions) => booleanOptions.value"
                      :options="booleanOptions"
                    />
                    <b-form-invalid-feedback
                      v-if="
                        $v.show_data_in_expense.$model === null &&
                          $v.show_data_in_expense.$anyError
                      "
                      class="d-block"
                    >
                      {{
                      $t("forms.required")
                      }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </b-col>
              </b-row>
            </b-form-group>
          </b-card>
        </b-col>
        <b-col cols="12" class="text-right">
          <b-button
            @click="$router.push({ name: 'bank-accounts' })"
            variant="primary"
            class="mt-4 mr-2"
          >{{ $t("forms.cancel") }}</b-button>
          <b-button type="submit" variant="primary" class="mt-4">
            {{
            this.editBankAccount
            ? $t("forms.bank-account.edit-account")
            : $t("forms.bank-account.create-account")
            }}
          </b-button>
        </b-col>
      </b-row>
    </b-container>
  </b-form>
</template>

<script>
import SyncMixin from "../../mixins/SyncMixin";
import { validationMixin } from "vuelidate";
import { email, required } from "vuelidate/lib/validators";
import { bankAccountType, booleanOptions } from "../../constants/constants";

import SimpleSelect from "@/components/Filter/Select";
import vSelect from "vue-select";
import "vue-select/dist/vue-select.css";

const BASEURL = process.env.VUE_APP_BASEURL;

export default {
  name: "BankAccountForm",
  props: ["submitBankAccount", "editBankAccount"],
  data() {
    return {
      consortiumSearchUrl: BASEURL + "/consortium",
      bankSearchUrl: BASEURL + "/banks",
      bankAccountType,
      booleanOptions
    };
  },
  methods: {
    selectChange(field, value) {
      this.$v[field].$model = value;
    }
  },
  validations: {
    consortium_id: {
      required
    },
    bank_id: {},
    account_number: {
      required
    },
    cbu: {},
    alias: {},
    type: {},
    branch_office: {},
    owner: {},
    show_data_in_expense: {},
    signatorie_1: {},
    signatorie_2: {},
    signatorie_3: {}
  },
  sync: [
    "consortium_id",
    "bank_id",
    "account_number",
    "cbu",
    "alias",
    "type",
    "branch_office",
    "owner",
    "show_data_in_expense",
    "signatorie_1",
    "signatorie_2",
    "signatorie_3"
  ],
  components: {
    SimpleSelect,
    vSelect
  },
  mixins: [SyncMixin, validationMixin]
};
</script>

<style lang="scss" scoped></style>
