<template>
  <b-form @submit.prevent="submitConsortiumPercentage">
    <b-container>
      <b-row>
        <b-col cols="12">
          <b-card bg-variant="light">
            <b-form-group
              :label="$t('forms.consortium-percentage.header-info')"
              label-class="lead-small mb-2"
              class="mb-4"
            >
              <div class="separator mb-4" />
              <b-row>
                <b-col cols="12" sm="6" md="6">
                  <b-form-group :label="$t('forms.consortium-percentageposition')">
                    <b-form-input
                      type="number"
                      v-model.trim="$v.position.$model"
                      :state="!$v.position.$error"
                    />
                    <b-form-invalid-feedback v-if="!$v.position.required">{{ $t("forms.required") }}</b-form-invalid-feedback>
                  </b-form-group>
                </b-col>

                <b-col cols="12" sm="6" md="6">
                  <b-form-group :label="$t('forms.consortium-percentage.percentage-name')">
                    <b-form-input
                      type="text"
                      v-model.trim="$v.name.$model"
                      :state="!$v.name.$error"
                    />
                    <b-form-invalid-feedback v-if="!$v.name.required">{{ $t("forms.required") }}</b-form-invalid-feedback>
                  </b-form-group>
                </b-col>

                <b-col cols="12" sm="6" md="12">
                  <b-form-group :label="$t('forms.consortium-percentage.description')">
                    <b-form-input
                      type="text"
                      v-model.trim="$v.description.$model"
                      :state="!$v.description.$error"
                    />
                    <b-form-invalid-feedback
                      v-if="!$v.description.required"
                    >{{ $t("forms.required") }}</b-form-invalid-feedback>
                  </b-form-group>
                </b-col>

                <b-col cols="12" sm="6" md="12">
                  <b-form-group>
                    <b-form-checkbox
                      v-model="$v.particular_percentage.$model"
                      inline
                    >{{ $t("forms.consortium-percentage.particular-percentage") }}</b-form-checkbox>

                    <b-form-checkbox
                      v-model="$v.hidden_expense_spending.$model"
                      inline
                    >{{ $t("forms.consortium-percentage.expense-hide-claims") }}</b-form-checkbox>

                    <b-form-checkbox
                      v-model="$v.hidden_in_proration.$model"
                      inline
                    >{{ $t("forms.consortium-percentage.hidden-proration") }}</b-form-checkbox>

                    <b-form-checkbox
                      v-model="$v.hidden_percentage_value.$model"
                      inline
                    >{{ $t("forms.consortium-percentage.hidden-percentage-value") }}</b-form-checkbox>

                    <b-form-checkbox
                      v-model="$v.equal_parts.$model"
                      v-if="!this.editPercentage"
                      inline
                    >{{ $t("forms.consortium-percentage.equal-parts") }}</b-form-checkbox>
                  </b-form-group>
                </b-col>
              </b-row>
            </b-form-group>
          </b-card>
        </b-col>
        <b-col cols="12" class="text-right">
          <b-button
            @click="$router.push({ params: { id: idConsortium }, name: 'consortium-percentage-list' })"
            variant="primary"
            class="mt-4"
          >{{ $t("forms.cancel") }}</b-button>
          <b-button
            type="submit"
            variant="primary"
            class="mt-4"
          >{{ this.editPercentage ? $t("forms.consortium-percentage.edit-percentage") : $t("forms.consortium-percentage.create-percentage") }}</b-button>
        </b-col>
      </b-row>
    </b-container>
  </b-form>
</template>

<script>
import SyncMixin from "../../mixins/SyncMixin";
import { validationMixin } from "vuelidate";
import { required, numeric } from "vuelidate/lib/validators";

export default {
  name: "ConsortiumPercentageForm",
  props: ["idConsortium", "submitConsortiumPercentage", "editPercentage"],
  data() {
    return {};
  },
  sync: [
    "name",
    "description",
    "position",
    "particular_percentage",
    "hidden_expense_spending",
    "hidden_in_proration",
    "hidden_percentage_value",
    "equal_parts"
  ],
  mixins: [SyncMixin, validationMixin],
  validations: {
    name: {
      required
    },
    description: {},
    position: {
      required,
      numeric
    },
    particular_percentage: {},
    hidden_expense_spending: {},
    hidden_in_proration: {},
    hidden_percentage_value: {},
    equal_parts: {}
  }
};
</script>
