<template>
  <b-form @submit.prevent="submitContact">
    <b-container>
      <b-row>
        <b-col cols="12">
          <b-card bg-variant>
            <b-form-group
              :label="$t('forms.contact.info')"
              label-class="lead-small mb-2"
              class="mb-4"
            >
              <div class="separator mb-4" />
              <b-row>
                <b-col cols="12" sm="4" md="4">
                  <b-form-group :label="$t('forms.contact.contact-type')">
                    <v-select
                      label="text"
                      v-model="$v.contact_type.$model"
                      :reduce="(contactType) => contactType.value"
                      :options="contactType"
                    />
                    <b-form-invalid-feedback
                      v-if="!$v.contact_type.required"
                    >{{ $t("forms.required") }}</b-form-invalid-feedback>
                  </b-form-group>
                </b-col>

                <b-col cols="12" sm="4" md="4">
                  <b-form-group :label="$t('forms.contact.first-name')">
                    <b-form-input
                      type="text"
                      v-model.trim="$v.first_name.$model"
                      :state="!$v.first_name.$error"
                    />
                  </b-form-group>
                </b-col>

                <b-col cols="12" sm="4" md="4">
                  <b-form-group :label="$t('forms.contact.last-name')">
                    <b-form-input
                      type="text"
                      v-model.trim="$v.last_name.$model"
                      :state="!$v.last_name.$error"
                    />
                    <b-form-invalid-feedback
                      v-if="!$v.last_name.required"
                    >{{ $t("forms.required") }}</b-form-invalid-feedback>
                  </b-form-group>
                </b-col>

                <b-col cols="12" sm="4" md="4">
                  <b-form-group :label="$t('forms.contact.address-street')">
                    <b-form-input
                      type="text"
                      v-model.trim="$v.address_street.$model"
                      :state="!$v.address_street.$error"
                    />
                  </b-form-group>
                </b-col>

                <b-col cols="12" sm="4" md="4">
                  <b-form-group :label="$t('forms.contact.postal-code')">
                    <b-form-input
                      type="text"
                      v-model.trim="$v.postal_code.$model"
                      :state="!$v.postal_code.$error"
                    />
                  </b-form-group>
                </b-col>

                <b-col cols="12" sm="4" md="4">
                  <b-form-group :label="$t('forms.contact.document-number')">
                    <b-form-input
                      type="text"
                      v-model.trim="$v.document_number.$model"
                      :state="!$v.document_number.$error"
                    />
                  </b-form-group>
                </b-col>

                <b-col cols="12" sm="4" md="4">
                  <b-form-group :label="$t('forms.contact.birth-date')">
                    <datepicker
                      :language="es"
                      :bootstrap-styling="true"
                      v-model="$v.birth_date.$model"
                      :state="!$v.birth_date.$error"
                    ></datepicker>
                  </b-form-group>
                </b-col>

                <b-col cols="12" sm="4" md="4">
                  <b-form-group :label="$t('forms.contact.phone-personal')">
                    <b-form-input
                      type="text"
                      v-model.trim="$v.phone_personal.$model"
                      :state="!$v.phone_personal.$error"
                    />
                  </b-form-group>
                </b-col>

                <b-col cols="12" sm="4" md="4">
                  <b-form-group :label="$t('forms.contact.phone-work')">
                    <b-form-input
                      type="text"
                      v-model.trim="$v.phone_work.$model"
                      :state="!$v.phone_work.$error"
                    />
                  </b-form-group>
                </b-col>

                <b-col cols="12" sm="4" md="4">
                  <b-form-group :label="$t('forms.contact.phone-cel')">
                    <b-form-input
                      type="text"
                      v-model.trim="$v.phone_cel.$model"
                      :state="!$v.phone_cel.$error"
                    />
                  </b-form-group>
                </b-col>

                <b-col cols="12" sm="4" md="4">
                  <b-form-group :label="$t('forms.contact.email')">
                    <b-form-input
                      type="text"
                      v-model.trim="$v.email.$model"
                      :state="!$v.email.$error"
                    />
                    <b-form-invalid-feedback v-if="!$v.email.required">{{ $t("forms.required") }}</b-form-invalid-feedback>
                  </b-form-group>
                </b-col>

                <b-col cols="12" sm="4" md="4">
                  <b-form-group :label="$t('forms.contact.expenses-by-email')">
                    <b-form-checkbox v-model="$v.expenses_by_email.$model"></b-form-checkbox>
                  </b-form-group>
                </b-col>

                <b-col cols="12" sm="4" md="4">
                  <b-form-group :label="$t('forms.contact.council-member')">
                    <b-form-checkbox v-model="$v.council_member.$model"></b-form-checkbox>
                  </b-form-group>
                </b-col>

                <b-col cols="12">
                  <b-form-group :label="$t('forms.contact.observations')">
                    <b-form-textarea v-model="$v.observations.$model" rows="2" max-rows="6"></b-form-textarea>
                  </b-form-group>
                </b-col>
              </b-row>
            </b-form-group>
            <slot></slot>
          </b-card>
        </b-col>
        <b-col cols="12" class="text-right">
          <b-button
            @click="$router.push({ name: 'functional-units-contacts-list' })"
            variant="primary"
            class="mt-4"
          >{{ $t("forms.cancel") }}</b-button>
          <b-button type="submit" variant="primary" class="mt-4">{{ $t("forms.contact.update") }}</b-button>
        </b-col>
      </b-row>
    </b-container>
  </b-form>
</template>

<script>
import SyncMixin from "../../mixins/SyncMixin";
import { validationMixin } from "vuelidate";
import { required, email } from "vuelidate/lib/validators";
import { contactType, documentType } from "@/constants/constants";
import vSelect from "vue-select";
import Datepicker from "vuejs-datepicker";
import { es } from "vuejs-datepicker/dist/locale";
import "vue-select/dist/vue-select.css";

export default {
  name: "ContactForm",
  props: ["submitContact"],
  data() {
    return {
      contactType,
      es
    };
  },
  sync: [
    "contact_type",
    "first_name",
    "last_name",
    "address_street",
    "postal_code",
    "document_number",
    "birth_date",
    "phone_personal",
    "phone_work",
    "phone_cel",
    "email",
    "expenses_by_email",
    "council_member",
    "observations"
  ],
  mixins: [SyncMixin, validationMixin],
  validations: {
    contact_type: {
      required
    },
    first_name: {},
    last_name: {
      required
    },
    address_street: {},
    postal_code: {},
    document_number: {},
    birth_date: {},
    phone_personal: {},
    phone_work: {},
    phone_cel: {},
    email: {
      required,
      email
    },
    expenses_by_email: {},
    council_member: {},
    observations: {}
  },
  components: {
    vSelect,
    datepicker: Datepicker
  }
};
</script>
