<template>
  <b-form @submit.prevent="submitDescription">
    <b-container>
      <b-row>
        <b-col cols="12">
          <b-card>
            <b-form-group
              :label="$t('forms.spendings.descriptions.description-info')"
              label-class="lead-small mb-2"
              class="mb-4"
            >
              <div class="separator mb-4" />
              <b-row>
                <b-col cols="12" sm="12" md="12">
                  <b-form-group :label="$t('forms.spendings.descriptions.title')">
                    <b-form-input
                      type="text"
                      v-model.trim="$v.title.$model"
                      :state="!$v.title.$error"
                    />
                    <b-form-invalid-feedback v-if="!$v.title.required">{{ $t("forms.required") }}</b-form-invalid-feedback>
                    <b-form-invalid-feedback
                      v-if="!$v.title.maxLength"
                    >El Título no puede ser mayor a 255 caracteres</b-form-invalid-feedback>
                  </b-form-group>
                </b-col>
                <b-col cols="12" sm="12" md="12">
                  <b-form-group :label="$t('forms.spendings.descriptions.description')">
                    <b-form-textarea
                      type="text"
                      v-model.trim="$v.description.$model"
                      :state="!$v.description.$error"
                      rows="2"
                      max-rows="6"
                    />
                    <b-form-invalid-feedback
                      v-if="!$v.description.required"
                    >{{ $t("forms.required") }}</b-form-invalid-feedback>
                  </b-form-group>
                </b-col>
              </b-row>
            </b-form-group>
          </b-card>
        </b-col>
        <b-col cols="12" class="text-right">
          <b-button
            @click="$router.push({ name: 'spending-descriptions-list' })"
            variant="primary"
            class="mt-4"
          >{{ $t("forms.cancel") }}</b-button>
          <b-button
            type="submit"
            variant="primary"
            class="mt-4"
          >{{ editDescription ? $t("forms.spendings.descriptions.edit-description") : $t("forms.spendings.descriptions.create-description") }}</b-button>
        </b-col>
      </b-row>
    </b-container>
  </b-form>
</template>

<script>
import SyncMixin from "../../mixins/SyncMixin";
import { validationMixin } from "vuelidate";
import { required, maxLength } from "vuelidate/lib/validators";

export default {
  name: "DescriptionForm",
  props: ["submitDescription", "editDescription"],
  sync: ["title", "description"],
  mixins: [SyncMixin, validationMixin],
  validations: {
    title: {
      required,
      maxLength: maxLength(255)
    },
    description: {
      required
    }
  }
};
</script>
