<template>
  <b-form @submit.prevent="handleSubmit">
    <b-container>
      <b-row>
        <b-col cols="12">
          <b-card bg-variant="light">
            <b-form-group
              :label="$t('forms.financial-statement.info')"
              label-class="lead-small mb-2"
              class="mb-4"
            >
              <div class="separator mb-4" />
              <b-row>
                <b-col cols="12" md="6">
                  <b-form-group :label="$t('forms.financial-statement.consortium')">
                    <simple-select
                      filterBy="business_name"
                      :apiUrl="consortiumUrl"
                      @onInput="selectChange"
                      valueField="consortium_id"
                      placeholder="Consorcio"
                      :selected="consortium_id"
                    />
                    <b-form-invalid-feedback
                      v-if="
                        $v.consortium_id.$model === null &&
                          $v.consortium_id.$anyError
                      "
                      class="d-block"
                    >{{ $t("forms.required") }}</b-form-invalid-feedback>
                  </b-form-group>
                </b-col>

                <b-col cols="12" md="6">
                  <b-form-group :label="$t('forms.financial-statement.income-date')">
                    <datepicker
                      :language="es"
                      :bootstrap-styling="true"
                      v-model="$v.date.$model"
                      :state="!$v.date.$error"
                    ></datepicker>
                    <b-form-invalid-feedback
                      class="d-block"
                      v-if="$v.date.$anyError"
                    >{{ $t("forms.required") }}</b-form-invalid-feedback>
                  </b-form-group>
                </b-col>
                <b-col cols="12" md="6">
                  <b-form-group :label="$t('forms.financial-statement.total-amount')">
                    <b-form-input
                      type="text"
                      v-model.trim="$v.total_amount.$model"
                      :state="!$v.total_amount.$error"
                    />
                    <b-form-invalid-feedback v-if="!$v.total_amount.required">
                      {{
                      $t("forms.required")
                      }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </b-col>
                <b-col cols="12" sm="6" md="6">
                  <b-form-group :label="$t('forms.financial-statement.identified')">
                    <v-select
                      label="text"
                      v-model="$v.identified.$model"
                      :reduce="(incomeTypeOptions) => incomeTypeOptions.value"
                      :options="incomeTypeOptions"
                    />
                    <b-form-invalid-feedback
                      v-if="
                        $v.identified.$model === null && $v.identified.$anyError
                      "
                      class="d-block"
                    >{{ $t("forms.required") }}</b-form-invalid-feedback>
                  </b-form-group>
                </b-col>

                <b-col cols="12">
                  <b-form-group :label="$t('forms.financial-statement.description')">
                    <b-form-textarea
                      type="text"
                      v-model.trim="$v.description.$model"
                      :state="!$v.description.$error"
                      rows="2"
                      max-rows="6"
                    />
                    <b-form-invalid-feedback v-if="!$v.description.required">
                      {{
                      $t("forms.required")
                      }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </b-col>
              </b-row>
            </b-form-group>

            <header-form
              :title="$t('forms.financial-statement.assigned-amount')"
              titleClass="lead-small"
            >
              <template v-slot:extra>
                <span class="lead-xs text-info">
                  {{
                  $n(initialBalance, "currency", "es-AR")
                  }}
                </span>
              </template>
              <template v-slot:children>
                <div class="separator mb-3" />
              </template>
            </header-form>
            <header-form
              :title="$t('forms.others-cashboxes.cash')"
              titleClass="lead-xs"
              v-if="identified"
            >
              <template v-slot:children>
                <div class="separator mb-3" />
                <b-row no-gutters>
                  <b-col cols="4" class="mb-2">
                    <b-form-group :label="$t('forms.others-cashboxes.cash-amount')">
                      <b-form-input
                        type="number"
                        v-model.trim="$v.cash_amount.$model"
                        :state="!$v.cash_amount.$error"
                      />
                    </b-form-group>
                  </b-col>
                </b-row>
              </template>
            </header-form>
            <CheckCollapse
              v-if="identified"
              @onInput="checksChange"
              :title="$t('forms.financial-statement.other-checks')"
              :consortiumSelected="consortiumSelected"
              :filters="checksFilters"
            />
            <TransferCollapse
              @onInput="transferChange"
              @onAmount="amountChange"
              :setTransfer="setTransferObject"
              :title="
                identified
                  ? $t('forms.financial-statement.transfers')
                  : $t('forms.financial-statement.unidentified-transfers')
              "
              :consortiumSelected="consortiumSelected"
            />
          </b-card>
          <span v-if="amountError" class="text-danger">
            {{
            $t("forms.financial-statement.amount-error")
            }}
          </span>
        </b-col>

        <b-col cols="12" class="text-right">
          <b-button
            @click="$router.push({ name: 'financial-statement-list' })"
            variant="primary"
            class="mt-4"
          >{{ $t("forms.cancel") }}</b-button>
          <b-button type="submit" variant="primary" class="mt-4">
            {{
            $t("forms.financial-statement.create-income")
            }}
          </b-button>
        </b-col>
      </b-row>
    </b-container>
  </b-form>
</template>

<script>
import SimpleSelect from "@/components/Filter/Select";
import Datepicker from "vuejs-datepicker";
import { es } from "vuejs-datepicker/dist/locale";
import SyncMixin from "../../mixins/SyncMixin";
import { validationMixin } from "vuelidate";
import { incomeTypeOptions } from "../../constants/constants";

import { required, requiredIf, numeric } from "vuelidate/lib/validators";
import vSelect from "vue-select";
import HeaderForm from "@/components/Common/HeaderForm";
import CheckCollapse from "@/containers/forms/formsCollapse/CheckCollapse";
import TransferCollapse from "@/containers/forms/formsCollapse/TransferCollapse";
import moment from "moment";

import "vue-select/dist/vue-select.css";

const BASEURL = process.env.VUE_APP_BASEURL;

export default {
  name: "FinancialStatementOutflowForm",
  props: ["submitOutflowMovement"],
  data() {
    return {
      consortiumUrl: BASEURL + "/consortium",
      checksUrl: BASEURL + "/check",
      bank_account_id: "",
      bank_account_movement_id: "",
      consortiumSelected: null,
      es,
      transferPartialAmount: null,
      amountError: false,
      incomeTypeOptions,
      checksFilters: {
        consortium_id: this.consortiumSelected,
        cashbox_movement_income_id: null,
        cashbox_movement_outflow_id: null,
        own: false
      }
    };
  },
  sync: [
    "consortium_id",
    "description",
    "date",
    "cash_amount",
    "total_amount",
    "checks",
    "identified",
    "transfers"
  ],
  mixins: [SyncMixin, validationMixin],
  validations: {
    consortium_id: {
      required
    },
    description: {
      required
    },
    date: {
      required
    },
    cash_amount: {
      numeric
    },
    total_amount: {
      required
    },
    identified: {
      required
    }
  },
  computed: {
    bankAccountUrl() {
      return `${this.consortiumUrl}/${this.consortium_id}/bank-account`;
    },
    bankAccountMovementUrl() {
      return `${this.consortiumUrl}/${this.consortium_id}/bank-account/${this.bank_account_id}/movement`;
    },
    checksByConsortium() {
      return `${this.checksUrl}?filters={"consortium_id": ${this.consortium_id}}`;
    },
    initialBalance() {
      let cash = this.cash_amount;
      let checksAmount = this.checks.reduce(
        (totalChecks, b) => totalChecks + parseFloat(b.amount),
        0
      );
      let transfersAmount = this.transfers.reduce(
        (a, b) => a + parseFloat(b.amount),
        0
      );
      let total =
        Number(cash) +
        Number(checksAmount) +
        Number(transfersAmount) +
        Number(this.transferPartialAmount);

      return total;
    }
  },
  components: {
    vSelect,
    SimpleSelect,
    Datepicker,
    HeaderForm,
    CheckCollapse,
    TransferCollapse
  },
  methods: {
    selectChange(field, value) {
      if (field === "consortium_id") {
        this.consortiumSelected = value;
      }
      this.$v[field].$model = value;
    },
    amountChange(amount) {
      this.transferPartialAmount = amount;
    },
    checksChange(checks) {
      this.checks = checks;
    },
    transferChange(transfers) {
      this.transfers = transfers;
    },
    validateAmount() {
      return parseFloat(this.total_amount) !== this.initialBalance;
    },
    setTransferObject(transfer, amount) {
      let transferObject = {
        bank_account_id: transfer.id,
        account_number: transfer.account_number,
        amount: amount,
        type: "income",
        type_movement: "transfer"
      };
      return transferObject;
    },
    handleSubmit() {
      this.amountError = this.validateAmount();
      if (!this.amountError) {
        this.submitOutflowMovement();
      }
    }
  },
  watch: {
    consortiumSelected: function(data) {
      this.checksFilters.consortium_id = data;
    }
  }
};
</script>
