<template>
  <b-col cols="12" sm="4" md="4">
    <b-form-group :label="name">
      <b-form-input type="text" v-model.trim="$v.value.$model" :state="!$v.value.$error" />
      <b-form-invalid-feedback v-if="!$v.value.required">{{ $t("forms.required") }}</b-form-invalid-feedback>
      <b-form-invalid-feedback v-if="!$v.value.minValue">El valor no puede ser menor a 0</b-form-invalid-feedback>
      <b-form-invalid-feedback v-if="!$v.value.maxValue">El valor no puede ser mayor a 100</b-form-invalid-feedback>
    </b-form-group>
  </b-col>
</template>

<script>
import SyncMixin from "../../mixins/SyncMixin";
import { validationMixin } from "vuelidate";
import { required, minValue, maxValue } from "vuelidate/lib/validators";

export default {
  sync: ["id", "name", "value"],
  mixins: [SyncMixin, validationMixin],
  validations: {
    value: {
      required,
      minValue: minValue(0),
      maxValue: maxValue(100)
    }
  }
};
</script>
