<template>
  <div>
    <IconCards :cards="cards" />
    <b-card class="pt-3">
      <b-form @submit.prevent="handleSubmit">
        <b-container>
          <b-row>
            <b-col cols="12">
              <b-card bg-variant="light">
                <b-form-group
                  :label="
                    $t('forms.functional-units.current-account.debt-info')
                  "
                  label-class="lead-small mb-2"
                  class="mb-4"
                >
                  <div class="separator mb-4" />
                  <b-row>
                    <b-col cols="12" sm="12" md="12">
                      <b-form-group
                        :label="
                          !forgive
                            ? $t(
                                'forms.functional-units.current-account.register-capital'
                              )
                            : $t(
                                'forms.functional-units.current-account.forgive-capital'
                              )
                        "
                      >
                        <b-form-input
                          type="text"
                          v-model.trim="$v.capital.$model"
                          :state="!$v.capital.$error"
                        />
                        <b-form-invalid-feedback v-if="!$v.capital.required">{{
                          $t("forms.one-is-required")
                        }}</b-form-invalid-feedback>
                      </b-form-group>
                    </b-col>
                    <b-col cols="12" sm="12" md="12">
                      <b-form-group
                        :label="
                          !forgive
                            ? $t(
                                'forms.functional-units.current-account.register-interest'
                              )
                            : $t(
                                'forms.functional-units.current-account.forgive-interest'
                              )
                        "
                      >
                        <b-form-input
                          type="text"
                          v-model.trim="$v.interest.$model"
                          :state="!$v.interest.$error"
                        />
                        <b-form-invalid-feedback v-if="!$v.interest.required">{{
                          $t("forms.one-is-required")
                        }}</b-form-invalid-feedback>
                      </b-form-group>
                    </b-col>
                    <b-col cols="12" sm="12" md="12">
                      <b-form-group
                        :label="$t('forms.spendings.descriptions.description')"
                      >
                        <b-form-textarea
                          type="text"
                          v-model.trim="$v.description.$model"
                          :state="!$v.description.$error"
                          rows="2"
                          max-rows="6"
                        />
                        <b-form-invalid-feedback
                          v-if="!$v.description.required"
                          >{{ $t("forms.required") }}</b-form-invalid-feedback
                        >
                      </b-form-group>
                    </b-col>
                  </b-row>
                </b-form-group>
                <span class="text-danger" v-if="forgiveError">{{
                  $t("forms.functional-units.current-account.forgive-error")
                }}</span>
              </b-card>
            </b-col>
            <b-col cols="12" class="text-right">
              <b-button
                @click="$router.push({ name: 'functional-units-cc' })"
                variant="primary"
                class="mt-4"
                >{{ $t("forms.cancel") }}</b-button
              >
              <b-button type="submit" variant="primary" class="mt-4">{{
                forgive ? $t("menu.forgive-debt") : $t("menu.register-debt")
              }}</b-button>
            </b-col>
          </b-row>
        </b-container>
      </b-form>
    </b-card>
  </div>
</template>

<script>
import SyncMixin from "../../mixins/SyncMixin";
import { validationMixin } from "vuelidate";
import {
  required,
  minValue,
  numeric,
  requiredIf,
} from "vuelidate/lib/validators";
import FunctionalUnitMovementRepository from "@/repositories/FunctionalUnitMovementRepository";
import IconCards from "@/containers/ui/IconCards";
import { mapGetters } from "vuex";

export default {
  name: "DescriptionForm",
  props: ["submitDebt", "forgive"],
  sync: ["capital", "interest", "description"],
  mixins: [SyncMixin, validationMixin],
  components: { IconCards },
  data() {
    return {
      accumulatedCapital: null,
      accumulatedInterest: null,
      forgiveError: false,
      cards: {
        titleCard: this.$t(
          "forms.functional-units.current-account.actual-debt"
        ),
        info: [
          {
            title: this.$t(
              "forms.functional-units.current-account.interest-debt"
            ),
            icon: "iconsminds-dollar",
            currency: this.$n(0, "currency", "es-AR"),
            value: 0,
            name: "interest",
          },
          {
            title: this.$t(
              "forms.functional-units.current-account.capital-debt"
            ),
            icon: "iconsminds-bank",
            currency: this.$n(0, "currency", "es-AR"),
            value: 0,
            name: "capital",
          },
        ],
      },
    };
  },
  async beforeMount() {
    let fUId = this.$route.params.fUId;
    try {
      let debts = await FunctionalUnitMovementRepository.showDebt(
        fUId,
        this.user.authHeader
      );
      this.accumulatedCapital = parseFloat(debts.capital);
      this.accumulatedInterest = parseFloat(debts.interest);
      this.setCards(debts);
    } catch (error) {}
  },
  validations: {
    capital: {
      required: requiredIf(function(form) {
        return this.interest === "0" || !this.interest;
      }),
      minValue: minValue(0),
      numeric,
    },
    interest: {
      minValue: minValue(0),
      required: requiredIf(function(form) {
        return this.capital === "0" || !this.capital;
      }),
      numeric,
    },
    description: {
      required,
    },
  },
  methods: {
    handleSubmit() {
      if (this.forgive) {
        this.validateForgive();
      }
      if (!this.forgiveError) {
        this.submitDebt();
      }
    },
    validateForgive() {
      this.forgiveError =
        this.accumulatedCapital * -1 < parseFloat(this.capital) ||
        this.accumulatedInterest * -1 < parseFloat(this.interest);
    },
    setCards(debts) {
      this.cards.info.map((card) => {
        card.value = parseFloat(debts[card.name]);
        card.currency = this.$n(debts[card.name], "currency", "es-AR");
      });
    },
  },
  computed: {
    ...mapGetters({
      user: "currentUser",
    }),
  },
};
</script>
