<template>
  <b-form @submit.prevent="submitFU">
    <b-container>
      <b-row>
        <b-col cols="12">
          <b-card>
            <b-form-group
              :label="$t('forms.functional-units.functional-unit-info')"
              label-class="lead-small mb-2"
              class="mb-4"
            >
              <div class="separator mb-4" />
              <b-row>
                <b-col cols="12" sm="4" md="4">
                  <b-form-group :label="$t('forms.functional-units.number')">
                    <b-form-input
                      type="text"
                      v-model.trim="$v.functional_unit_number.$model"
                      :state="!$v.functional_unit_number.$error"
                    />
                    <b-form-invalid-feedback
                      v-if="!$v.functional_unit_number.required"
                    >{{ $t("forms.required") }}</b-form-invalid-feedback>
                  </b-form-group>
                </b-col>

                <b-col cols="12" sm="4" md="4">
                  <b-form-group :label="$t('forms.functional-units.floor')">
                    <b-form-input
                      type="text"
                      v-model.trim="$v.floor.$model"
                      :state="!$v.floor.$error"
                    />
                    <b-form-invalid-feedback v-if="!$v.floor.required">{{ $t("forms.required") }}</b-form-invalid-feedback>
                  </b-form-group>
                </b-col>

                <b-col cols="12" sm="4" md="4">
                  <b-form-group :label="$t('forms.functional-units.departament')">
                    <b-form-input
                      type="text"
                      v-model.trim="$v.department.$model"
                      :state="!$v.department.$error"
                    />
                    <b-form-invalid-feedback
                      v-if="!$v.department.required"
                    >{{ $t("forms.required") }}</b-form-invalid-feedback>
                  </b-form-group>
                </b-col>

                <b-col cols="12" sm="4" md="4">
                  <b-form-group :label="$t('forms.functional-units.type')">
                    <v-select
                      label="text"
                      v-model="$v.functional_unit_type_id.$model"
                      :options="functionalUnitTypes"
                      :reduce="(functionalUnitTypes) => functionalUnitTypes.value"
                    />
                    <b-form-invalid-feedback
                      class="d-block"
                      v-if="!$v.functional_unit_type_id.$model && $v.functional_unit_type_id.$anyError"
                    >{{ $t("forms.required") }}</b-form-invalid-feedback>
                  </b-form-group>
                </b-col>
                <b-col cols="12" sm="4" md="4">
                  <b-form-group :label="$t('forms.functional-units.m2')">
                    <b-form-input type="text" v-model.trim="$v.m2.$model" :state="!$v.m2.$error" />
                    <b-form-invalid-feedback v-if="!$v.m2.required">{{ $t("forms.required") }}</b-form-invalid-feedback>
                  </b-form-group>
                </b-col>
                <b-col cols="12" sm="4" md="4">
                  <b-form-group :label="$t('forms.functional-units.legal-state')">
                    <v-select
                      label="text"
                      v-model="legal_state"
                      :options="functionalUnitLegalStateOptions"
                      :reduce="(functionalUnitLegalStateOptions) => functionalUnitLegalStateOptions.value"
                    />
                  </b-form-group>
                </b-col>

                <b-col cols="12" sm="4" md="4">
                  <b-form-group :label="$t('forms.functional-units.forgive-interests')">
                    <v-select
                      label="text"
                      v-model="type_forgive_interest"
                      :options="functionalUnitForgiveInterestOptions"
                      :reduce="(functionalUnitForgiveInterestOptions) => functionalUnitForgiveInterestOptions.value"
                    />
                  </b-form-group>
                </b-col>

                <b-col cols="12" sm="4" md="4">
                  <b-form-group :label="$t('forms.functional-units.owner-name')">
                    <b-form-input
                      type="text"
                      v-model.trim="$v.owner_first_name.$model"
                      :state="!$v.owner_first_name.$error"
                    />
                    <b-form-invalid-feedback
                      v-if="!$v.owner_first_name.required"
                    >{{ $t("forms.required") }}</b-form-invalid-feedback>
                  </b-form-group>
                </b-col>

                <b-col cols="12" sm="4" md="4">
                  <b-form-group :label="$t('forms.functional-units.owner-lastname')">
                    <b-form-input
                      type="text"
                      v-model.trim="$v.owner_last_name.$model"
                      :state="!$v.owner_last_name.$error"
                    />
                    <b-form-invalid-feedback
                      v-if="!$v.owner_last_name.required"
                    >{{ $t("forms.required") }}</b-form-invalid-feedback>
                  </b-form-group>
                </b-col>
              </b-row>
            </b-form-group>
            <slot></slot>
          </b-card>
        </b-col>
        <b-col cols="12" class="text-right">
          <b-button
            @click="$router.push({ name: 'functional-units-list' })"
            variant="primary"
            class="mt-4"
          >{{ $t("forms.cancel") }}</b-button>
          <b-button
            type="submit"
            variant="primary"
            class="mt-4"
          >{{ $t("forms.functional-units.edit") }}</b-button>
        </b-col>
      </b-row>
    </b-container>
  </b-form>
</template>

<script>
import SyncMixin from "../../mixins/SyncMixin";
import { validationMixin } from "vuelidate";
import { required } from "vuelidate/lib/validators";
import {
  functionalUnitTypes,
  functionalUnitLegalStateOptions,
  functionalUnitForgiveInterestOptions
} from "../../constants/constants";
import vSelect from "vue-select";
import "vue-select/dist/vue-select.css";

export default {
  name: "FunctionalUnitForm",
  props: ["submitFU", "editHeader"],
  data() {
    return {
      functionalUnitTypes,
      functionalUnitLegalStateOptions,
      functionalUnitForgiveInterestOptions
    };
  },
  sync: [
    "functional_unit_number",
    "floor",
    "department",
    "functional_unit_type_id",
    "owner_first_name",
    "owner_last_name",
    "m2",
    "legal_state",
    "type_forgive_interest"
  ],
  mixins: [SyncMixin, validationMixin],
  validations: {
    functional_unit_number: {
      required
    },
    floor: {
      required
    },
    department: {
      required
    },
    functional_unit_type_id: {
      required
    },
    owner_first_name: {
      required
    },
    owner_last_name: {
      required
    },
    m2: {}
  },
  components: {
    vSelect
  }
};
</script>
