<template>
  <b-form @submit.prevent="submitHeader">
    <b-container>
      <b-row>
        <b-col cols="12">
          <b-card bg-variant="light">
            <b-form-group
              :label="$t('forms.headers.header-info')"
              label-class="lead-small mb-2"
              class="mb-4"
            >
              <div class="separator mb-4" />
              <b-row>
                <b-col cols="12" sm="4" md="4">
                  <b-form-group :label="$t('forms.headers.name-header')">
                    <b-form-input
                      type="text"
                      v-model.trim="$v.name_header.$model"
                      :state="!$v.name_header.$error"
                    />
                    <b-form-invalid-feedback
                      v-if="!$v.name_header.required"
                    >{{ $t("forms.required") }}</b-form-invalid-feedback>
                  </b-form-group>
                </b-col>

                <b-col cols="12" sm="4" md="4">
                  <b-form-group :label="$t('forms.headers.name')">
                    <b-form-input
                      type="text"
                      v-model.trim="$v.name .$model"
                      :state="!$v.name .$error"
                    />
                    <b-form-invalid-feedback v-if="!$v.name .required">{{ $t("forms.required") }}</b-form-invalid-feedback>
                  </b-form-group>
                </b-col>

                <b-col cols="12" sm="4" md="4">
                  <b-form-group :label="$t('forms.cuit')">
                    <b-form-input
                      type="text"
                      v-model.trim="$v.cuit.$model"
                      :state="!$v.cuit.$error"
                    />
                    <b-form-invalid-feedback v-if="!$v.cuit.required">{{ $t("forms.required") }}</b-form-invalid-feedback>
                  </b-form-group>
                </b-col>

                <b-col cols="12" sm="4" md="4">
                  <b-form-group :label="$t('forms.email')">
                    <b-form-input
                      type="text"
                      v-model.trim="$v.email.$model"
                      :state="!$v.email.$error"
                    />
                    <b-form-invalid-feedback v-if="!$v.email.required">{{ $t("forms.required") }}</b-form-invalid-feedback>
                  </b-form-group>
                </b-col>

                <b-col cols="12" sm="4" md="4">
                  <b-form-group :label="$t('forms.street')">
                    <b-form-input
                      type="text"
                      v-model.trim="$v.address_street.$model"
                      :state="!$v.address_street.$error"
                    />
                    <b-form-invalid-feedback
                      v-if="!$v.address_street.required"
                    >{{ $t("forms.required") }}</b-form-invalid-feedback>
                  </b-form-group>
                </b-col>

                <b-col cols="12" sm="4" md="4">
                  <b-form-group :label="$t('forms.number')">
                    <b-form-input
                      type="text"
                      v-model.trim="$v.address_number.$model"
                      :state="!$v.address_number.$error"
                    />
                    <b-form-invalid-feedback
                      v-if="!$v.address_number.required"
                    >{{ $t("forms.required") }}</b-form-invalid-feedback>
                  </b-form-group>
                </b-col>

                <b-col cols="12" sm="4" md="4">
                  <b-form-group :label="$t('forms.telephone')">
                    <b-form-input
                      type="text"
                      v-model.trim="$v.phone.$model"
                      :state="!$v.phone.$error"
                    />
                    <b-form-invalid-feedback v-if="!$v.phone.required">{{ $t("forms.required") }}</b-form-invalid-feedback>
                  </b-form-group>
                </b-col>

                <b-col cols="12" sm="4" md="4">
                  <b-form-group :label="$t('forms.postal-code')">
                    <b-form-input
                      type="text"
                      v-model.trim="$v.postal_code.$model"
                      :state="!$v.postal_code.$error"
                    />
                    <b-form-invalid-feedback
                      v-if="!$v.postal_code.required"
                    >{{ $t("forms.required") }}</b-form-invalid-feedback>
                  </b-form-group>
                </b-col>

                <b-col cols="12" sm="4" md="4">
                  <b-form-group :label="$t('forms.headers.fiscal-situation')">
                    <v-select
                      label="text"
                      v-model.trim="$v.fiscal_situation.$model"
                      :reduce="(headerFiscalSituations) => headerFiscalSituations.value"
                      :options="headerFiscalSituations"
                    />
                    <b-form-invalid-feedback
                      v-if="$v.fiscal_situation.$model === null && $v.fiscal_situation.$anyError"
                      class="d-block"
                    >{{ $t("forms.required") }}</b-form-invalid-feedback>
                  </b-form-group>
                </b-col>

                <b-col cols="12" sm="4" md="4">
                  <b-form-group :label="$t('forms.headers.rpa')">
                    <b-form-input type="text" v-model.trim="$v.rpa.$model" :state="!$v.rpa.$error" />
                    <b-form-invalid-feedback v-if="!$v.rpa.required">{{ $t("forms.required") }}</b-form-invalid-feedback>
                  </b-form-group>
                </b-col>
              </b-row>
            </b-form-group>
          </b-card>
        </b-col>
        <b-col cols="12" class="text-right">
          <b-button
            @click="$router.push({ name: 'headers-list' })"
            variant="primary"
            class="mt-4"
          >{{ $t("forms.cancel") }}</b-button>
          <b-button
            type="submit"
            variant="primary"
            class="mt-4"
          >{{ this.editHeader ? $t("forms.headers.edit-header") : $t("forms.headers.create-header") }}</b-button>
        </b-col>
      </b-row>
    </b-container>
  </b-form>
</template>

<script>
import SyncMixin from "../../mixins/SyncMixin";
import { validationMixin } from "vuelidate";
import cuitValidator from "../../utils/CuitValidator";
import { email, required } from "vuelidate/lib/validators";
import { headerFiscalSituations } from "../../constants/constants";
import vSelect from "vue-select";
import "vue-select/dist/vue-select.css";

export default {
  name: "HeaderForm",
  props: ["submitHeader", "editHeader"],
  data() {
    return {
      headerFiscalSituations
    };
  },
  sync: [
    "name_header",
    "cuit",
    "name",
    "address_street",
    "address_number",
    "email",
    "phone",
    "fiscal_situation",
    "postal_code",
    "rpa"
  ],
  mixins: [SyncMixin, validationMixin],
  validations: {
    name_header: {
      required
    },
    cuit: {
      required,
      cuitValidator
    },
    name: {
      required
    },
    address_street: {
      required
    },
    address_number: {
      required
    },
    email: {
      required,
      email
    },
    phone: {
      required
    },
    fiscal_situation: {
      required
    },
    postal_code: {
      required
    },
    rpa: {
      required
    }
  },
  components: {
    vSelect
  }
};
</script>
