<template>
  <b-form @submit.prevent="submitOthersCashboxes">
    <b-container>
      <b-row>
        <b-col cols="12">
          <b-card bg-variant="light">
            <b-form-group
              :label="$t('forms.others-cashboxes.cashbox-info')"
              label-class="lead-small mb-2"
              class="mb-4"
            >
              <div class="separator mb-4" />
              <b-row>
                <b-col cols="12" sm="4" md="4">
                  <b-form-group
                    :label="$t('forms.others-cashboxes.consortium')"
                  >
                    <simple-select
                      @onInput="selectChange"
                      :apiUrl="consortiumSearchUrl"
                      :selected="$v.consortium_id.$model"
                      filterBy="business_name"
                      valueField="consortium_id"
                    />
                    <b-form-invalid-feedback
                      v-if="
                        $v.consortium_id.$model === null &&
                          $v.consortium_id.$anyError
                      "
                      class="d-block"
                      >{{ $t("forms.required") }}</b-form-invalid-feedback
                    >
                  </b-form-group>
                </b-col>

                <b-col cols="12" sm="4" md="4">
                  <b-form-group :label="$t('forms.others-cashboxes.name')">
                    <b-form-input
                      type="text"
                      v-model.trim="$v.name.$model"
                      :state="!$v.name.$error"
                    />
                    <b-form-invalid-feedback v-if="!$v.name.required">{{
                      $t("forms.required")
                    }}</b-form-invalid-feedback>
                  </b-form-group>
                </b-col>

                <b-col cols="12" sm="6" md="4">
                  <b-form-group
                    :label="$t('forms.others-cashboxes.show_in_expense')"
                  >
                    <v-select
                      label="text"
                      v-model="$v.show_in_expense.$model"
                      :reduce="(booleanOptions) => booleanOptions.value"
                      :options="booleanOptions"
                    />
                    <b-form-invalid-feedback
                      v-if="
                        $v.show_in_expense.$model === null &&
                          $v.show_in_expense.$anyError
                      "
                      class="d-block"
                    >
                      {{ $t("forms.required") }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </b-col>

                <b-col cols="12" sm="6" md="4">
                  <b-form-group
                    :label="$t('forms.others-cashboxes.independent')"
                  >
                    <v-select
                      label="text"
                      v-model="$v.independent.$model"
                      :reduce="(booleanOptions) => booleanOptions.value"
                      :options="booleanOptions"
                    />
                    <b-form-invalid-feedback
                      v-if="
                        $v.independent.$model === null &&
                          $v.independent.$anyError
                      "
                      class="d-block"
                    >
                      {{ $t("forms.required") }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </b-col>

                <b-col cols="12" sm="6" md="4">
                  <b-form-group :label="$t('forms.others-cashboxes.date')">
                    <datepicker
                      :language="es"
                      :bootstrap-styling="true"
                      v-model="$v.date.$model"
                      :state="!$v.date.$error"
                    ></datepicker>
                  </b-form-group>
                </b-col>

                <b-col cols="12" sm="4" md="4">
                  <b-form-group
                    :label="$t('forms.others-cashboxes.percentage')"
                  >
                    <simple-select
                      @onInput="selectChange"
                      :apiUrl="percentageSearchUrl"
                      :selected="$v.percentage.$model"
                      :disabled="!consortiumSelected"
                      filterBy="name"
                      valueField="percentage"
                    />
                  </b-form-group>
                </b-col>

                <b-col cols="12">
                  <b-form-group
                    :label="$t('forms.others-cashboxes.description')"
                  >
                    <b-form-textarea
                      v-model.trim="$v.description.$model"
                      :state="!$v.description.$error"
                      rows="2"
                      max-rows="6"
                    ></b-form-textarea>
                    <b-form-invalid-feedback
                      >Razón social requerido!</b-form-invalid-feedback
                    >
                  </b-form-group>
                </b-col>
              </b-row>
            </b-form-group>
            <header-form
              :title="$t('forms.others-cashboxes.initial-balance')"
              titleClass="lead-small"
            >
              <template v-slot:extra>
                <currency
                  :amount="inicialBalance"
                  currencyClass="lead-xs text-info"
                />
              </template>
              <template v-slot:children>
                <div class="separator mb-3" />
              </template>
            </header-form>
            <header-form
              :title="$t('forms.others-cashboxes.cash')"
              titleClass="lead-xs"
            >
              <template v-slot:children>
                <div class="separator mb-3" />
                <b-row no-gutters>
                  <b-col cols="4" class="mb-2">
                    <b-form-group
                      :label="$t('forms.others-cashboxes.cash-amount')"
                    >
                      <b-form-input
                        type="number"
                        v-model="$v.cash_amount.$model"
                      />
                    </b-form-group>
                  </b-col>
                </b-row>
              </template>
            </header-form>
            <CheckCollapse
              @onInput="checksChange"
              :title="$t('forms.others-cashboxes.checks')"
              :consortiumSelected="consortiumSelected"
              :filters="checksFilters"
            />
            <TransferCollapse
              @onInput="transferChange"
              @onAmount="amountChange"
              :setTransfer="setTransferObject"
              :title="$t('forms.others-cashboxes.transfers')"
              :consortiumSelected="consortiumSelected"
            />
          </b-card>
        </b-col>
        <b-col cols="12" class="text-right">
          <b-button
            @click="$router.push({ name: 'others-cashboxes' })"
            variant="primary"
            class="mt-4 mr-2"
            >{{ $t("forms.cancel") }}</b-button
          >
          <b-button type="submit" variant="primary" class="mt-4">{{
            $t("forms.others-cashboxes.create-cashbox")
          }}</b-button>
        </b-col>
      </b-row>
    </b-container>
  </b-form>
</template>

<script>
import SyncMixin from "../../mixins/SyncMixin";
import { validationMixin } from "vuelidate";
import { required } from "vuelidate/lib/validators";
import { booleanOptions } from "../../constants/constants";
import { es } from "vuejs-datepicker/dist/locale";

import SimpleSelect from "@/components/Filter/Select";
import vSelect from "vue-select";
import "vue-select/dist/vue-select.css";
import Datepicker from "vuejs-datepicker";

import HeaderForm from "@/components/Common/HeaderForm";
import CheckCollapse from "@/containers/forms/formsCollapse/CheckCollapse";
import TransferCollapse from "@/containers/forms/formsCollapse/TransferCollapse";

import moment from "moment";
import { mapGetters } from "vuex";
const BASEURL = process.env.VUE_APP_BASEURL;

export default {
  name: "OthersCashboxesForm",
  props: ["submitOthersCashboxes"],
  data() {
    return {
      consortiumSearchUrl: BASEURL + "/consortium",
      consortiumSelected: null,
      transferPartialAmount: null,
      booleanOptions,
      es,
      checksFilters: {
        consortium_id: this.consortiumSelected,
      },
    };
  },
  computed: {
    ...mapGetters({
      user: "currentUser",
    }),
    percentageSearchUrl() {
      if (!this.consortiumSelected) {
        return null;
      }
      return BASEURL + `/consortium/${this.consortiumSelected}/percentage`;
    },
    inicialBalance() {
      let cash = this.$v.cash_amount.$model;
      let checksAmount = this.$v.checks.$model.reduce(
        (totalChecks, b) => totalChecks + parseFloat(b.amount),
        0
      );
      let transfersAmount = this.$v.transfers.$model.reduce(
        (a, b) => a + parseFloat(b.amount),
        0
      );
      let total =
        Number(cash) +
        Number(checksAmount) +
        Number(transfersAmount) +
        Number(this.transferPartialAmount);
      this.$v.balance.$model = total;
      return total;
    },
  },
  methods: {
    selectChange(field, value) {
      if (field === "consortium_id") {
        this.consortiumSelected = value;
      }
      this.$v[field].$model = value;
    },
    amountChange(amount) {
      this.transferPartialAmount = amount;
    },
    checksChange(checks) {
      this.$v.checks.$model = checks;
    },
    transferChange(transfers) {
      this.$v.transfers.$model = transfers;
    },
    setTransferObject(transfer, amount) {
      let transferObject = {
        bank_account_id: transfer.id,
        bank: transfer.bank.name,
        account_number: transfer.account_number,
        amount: amount,
        type: "income",
        type_movement: "transfer",
        date: moment()._d,
      };
      return transferObject;
    },
  },
  validations: {
    consortium_id: {
      required,
    },
    name: {
      required,
    },
    description: {},
    show_in_expense: {},
    independent: {},
    balance: {},
    date: {},
    percentage: {},
    cash_amount: {},
    checks: {},
    transfers: {},
  },
  sync: [
    "consortium_id",
    "name",
    "description",
    "show_in_expense",
    "independent",
    "balance",
    "date",
    "percentage",
    "cash_amount",
    "checks",
    "transfers",
  ],
  components: {
    SimpleSelect,
    vSelect,
    Datepicker,
    HeaderForm,
    CheckCollapse,
    TransferCollapse,
  },
  mixins: [SyncMixin, validationMixin],
  watch: {
    consortiumSelected: function(data) {
      this.checksFilters.consortium_id = data;
    },
  },
};
</script>

<style lang="scss" scoped></style>
