<template>
  <b-form @submit.prevent="submitOthersCashboxesEdit">
    <b-container>
      <b-row>
        <b-col cols="12">
          <b-card bg-variant="light">
            <b-form-group
              :label="$t('forms.others-cashboxes.cashbox-info')"
              label-class="lead-small mb-2"
              class="mb-4"
            >
              <div class="separator mb-4" />
              <b-row>
                <b-col cols="12" sm="4" md="4">
                  <b-form-group :label="$t('forms.others-cashboxes.consortium')">
                    <simple-select
                      @onInput="selectChange"
                      :apiUrl="consortiumSearchUrl"
                      :selected="$v.consortium_id.$model"
                      :disabled="true"
                      filterBy="business_name"
                      valueField="consortium_id"
                    />
                    <b-form-invalid-feedback
                      v-if="
                        $v.consortium_id.$model === null &&
                          $v.consortium_id.$anyError
                      "
                      class="d-block"
                    >{{ $t("forms.required") }}</b-form-invalid-feedback>
                  </b-form-group>
                </b-col>

                <b-col cols="12" sm="4" md="4">
                  <b-form-group :label="$t('forms.others-cashboxes.name')">
                    <b-form-input
                      type="text"
                      v-model.trim="$v.name.$model"
                      :state="!$v.name.$error"
                    />
                    <b-form-invalid-feedback v-if="!$v.name.required">{{ $t("forms.required") }}</b-form-invalid-feedback>
                  </b-form-group>
                </b-col>

                <b-col cols="12" sm="6" md="4">
                  <b-form-group :label="$t('forms.others-cashboxes.show_in_expense')">
                    <v-select
                      label="text"
                      v-model="$v.show_in_expense.$model"
                      :reduce="(booleanOptions) => booleanOptions.value"
                      :options="booleanOptions"
                    />
                    <b-form-invalid-feedback
                      v-if="
                        $v.show_in_expense.$model === null &&
                          $v.show_in_expense.$anyError
                      "
                      class="d-block"
                    >
                      {{
                      $t("forms.required")
                      }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </b-col>

                <!-- <b-col cols="12" sm="4" md="4">
                  <b-form-group
                    :label="$t('forms.others-cashboxes.percentage')"
                  >
                    <simple-select
                      @onInput="selectChange"
                      :apiUrl="percentageSearchUrl"
                      :selected="$v.percentage.$model"
                      filterBy="name"
                      valueField="percentage"
                    />
                  </b-form-group>
                </b-col>-->

                <b-col cols="12">
                  <b-form-group :label="$t('forms.others-cashboxes.description')">
                    <b-form-textarea
                      v-model.trim="$v.description.$model"
                      :state="!$v.description.$error"
                      rows="2"
                      max-rows="6"
                    ></b-form-textarea>
                    <b-form-invalid-feedback>Razón social requerido!</b-form-invalid-feedback>
                  </b-form-group>
                </b-col>
              </b-row>
            </b-form-group>
          </b-card>
        </b-col>
        <b-col cols="12" class="text-right">
          <b-button
            @click="$router.push({ name: 'others-cashboxes' })"
            variant="primary"
            class="mt-4 mr-2"
          >{{ $t("forms.cancel") }}</b-button>
          <b-button
            type="submit"
            variant="primary"
            class="mt-4"
          >{{ $t("forms.others-cashboxes.edit-cashbox") }}</b-button>
        </b-col>
      </b-row>
    </b-container>
  </b-form>
</template>

<script>
import SyncMixin from "@/mixins/SyncMixin";
import { validationMixin } from "vuelidate";
import { required } from "vuelidate/lib/validators";
import { booleanOptions } from "@/constants/constants";

import SimpleSelect from "@/components/Filter/Select";
import vSelect from "vue-select";
import "vue-select/dist/vue-select.css";

import { mapGetters } from "vuex";
const BASEURL = process.env.VUE_APP_BASEURL;

export default {
  name: "OthersCashboxesFormEdit",
  props: ["submitOthersCashboxesEdit"],
  data() {
    return {
      consortiumSearchUrl: BASEURL + "/consortium",
      consortiumSelected: null,
      booleanOptions
    };
  },
  computed: {
    ...mapGetters({
      user: "currentUser"
    }),
    percentageSearchUrl() {
      if (!this.$v.consortium_id.$model) {
        return null;
      }
      return BASEURL + `/consortium/${this.$v.consortium_id.$model}/percentage`;
    }
  },
  methods: {
    selectChange(field, value) {
      if (field === "consortium_id") {
        this.consortiumSelected = value;
      }
      this.$v[field].$model = value;
    }
  },
  validations: {
    consortium_id: {
      required
    },
    name: {
      required
    },
    description: {},
    show_in_expense: {},
    percentage: {}
  },
  sync: [
    "consortium_id",
    "name",
    "description",
    "show_in_expense",
    "percentage"
  ],
  components: {
    SimpleSelect,
    vSelect
  },
  mixins: [SyncMixin, validationMixin],
  watch: {
    "this.$v.consortium_id.$model": function(data) {
      console.log("Modifica consortium ID");
    }
  }
};
</script>

<style lang="scss"></style>
