<template>
  <b-form @submit.prevent="submitOthersCashboxesTransfer">
    <b-container>
      <b-row>
        <b-col cols="12">
          <b-card bg-variant="light">
            <b-form-group
              :label="$t('forms.others-cashboxes.cashbox-movements-info')"
              label-class="lead-small mb-2"
              class="mb-4"
            >
              <div class="separator mb-4" />
              <b-row>
                <b-col cols="12" sm="6">
                  <b-form-group
                    :label="$t('forms.others-cashboxes.cashbox-origin')"
                  >
                    <simple-select
                      @onInput="selectChange"
                      :apiUrl="cashboxUrl"
                      :selected="idCashboxOriginSelected"
                      :getLabel="getLabel"
                      filterBy="name"
                      valueField="cashbox_id_origin"
                    />
                    <b-form-invalid-feedback
                      v-if="
                        $v.cashbox_id_origin.$model === null &&
                          $v.cashbox_id_origin.$anyError
                      "
                      class="d-block"
                      >{{ $t("forms.required") }}</b-form-invalid-feedback
                    >
                  </b-form-group>
                </b-col>

                <b-col cols="12" sm="6">
                  <b-form-group
                    :label="$t('forms.others-cashboxes.cashbox-destiny')"
                  >
                    <simple-select
                      @onInput="selectChange"
                      :apiUrl="cashboxUrl"
                      :getLabel="getLabel"
                      filterBy="name"
                      valueField="cashbox_id_destination"
                    />
                    <b-form-invalid-feedback
                      v-if="
                        $v.cashbox_id_destination.$model === null &&
                          $v.cashbox_id_destination.$anyError
                      "
                      class="d-block"
                      >{{ $t("forms.required") }}</b-form-invalid-feedback
                    >
                  </b-form-group>
                </b-col>

                <b-col cols="12" sm="6" md="4">
                  <b-form-group
                    :label="$t('forms.others-cashboxes.movement-date')"
                  >
                    <datepicker
                      :language="es"
                      :bootstrap-styling="true"
                      v-model="$v.date.$model"
                      :state="!$v.date.$error"
                    ></datepicker>
                  </b-form-group>
                </b-col>

                <b-col cols="12">
                  <b-form-group
                    :label="$t('forms.others-cashboxes.movement-description')"
                  >
                    <b-form-textarea
                      v-model.trim="$v.description.$model"
                      :state="!$v.description.$error"
                      rows="2"
                      max-rows="6"
                    ></b-form-textarea>
                    <b-form-invalid-feedback>{{
                      $t("forms.required")
                    }}</b-form-invalid-feedback>
                  </b-form-group>
                </b-col>
              </b-row>
            </b-form-group>
            <header-form
              :title="$t('forms.others-cashboxes.transfer-amount')"
              titleClass="lead-small"
            >
              <template v-slot:extra>
                <span class="lead-xs text-info">{{
                  $n(inicialBalance, "currency", "es-AR")
                }}</span>
              </template>
              <template v-slot:children>
                <div class="separator mb-3" />
              </template>
            </header-form>
            <header-form
              :title="$t('forms.others-cashboxes.cash')"
              titleClass="lead-xs"
            >
              <template v-slot:children>
                <div class="separator mb-3" />
                <b-row no-gutters>
                  <b-col cols="4" class="mb-2">
                    <b-form-group
                      :label="$t('forms.others-cashboxes.cash-amount')"
                    >
                      <b-form-input type="number" v-model="$v.cash.$model" />
                    </b-form-group>
                  </b-col>
                </b-row>
              </template>
            </header-form>
            <CheckCollapse
              @onInput="checksChange"
              :title="$t('forms.others-cashboxes.checks')"
              :consortiumSelected="consortiumSelected"
              :filters="checksFilters"
            />
            <TransferCollapse
              @onInput="transferChange"
              @onAmount="amountChange"
              :setTransfer="setTransferObject"
              :title="$t('forms.others-cashboxes.transfers')"
              :consortiumSelected="consortiumSelected"
            />
          </b-card>
        </b-col>
        <b-col cols="12" class="text-right">
          <b-button
            @click="$router.push({ name: 'others-cashboxes' })"
            variant="primary"
            class="mt-4 mr-2"
            >{{ $t("forms.cancel") }}</b-button
          >
          <b-button type="submit" variant="primary" class="mt-4">{{
            $t("forms.others-cashboxes.to-transfer")
          }}</b-button>
        </b-col>
      </b-row>
    </b-container>
  </b-form>
</template>

<script>
import SyncMixin from "../../mixins/SyncMixin";
import { validationMixin } from "vuelidate";
import { required } from "vuelidate/lib/validators";
import { booleanOptions } from "../../constants/constants";
import { es } from "vuejs-datepicker/dist/locale";

import SimpleSelect from "@/components/Filter/Select";
import vSelect from "vue-select";
import Datepicker from "vuejs-datepicker";
import HeaderForm from "../../components/Common/HeaderForm";

import CheckCollapse from "@/containers/forms/formsCollapse/CheckCollapse";
import TransferCollapse from "../../containers/forms/formsCollapse/TransferCollapse";

import { mapGetters } from "vuex";
const BASEURL = process.env.VUE_APP_BASEURL;

export default {
  name: "OthersCashboxesForm",
  props: ["submitOthersCashboxesTransfer"],
  data() {
    return {
      consortiumSearchUrl: BASEURL + "/consortium",
      consortiumSelected: null,
      idCashboxOriginSelected: null,
      transferPartialAmount: null,
      booleanOptions,
      es,
      checksFilters: {
        consortium_id: this.consortiumSelected,
      },
    };
  },
  computed: {
    ...mapGetters({
      user: "currentUser",
    }),
    cashboxUrl() {
      if (!this.consortiumSelected) {
        return;
      }
      return BASEURL + `/consortium/${this.consortiumSelected}/virtual-cashbox`;
    },
    inicialBalance() {
      let cash = this.$v.cash.$model;
      let checksAmount = this.$v.checks.$model.reduce(
        (totalChecks, b) => totalChecks + parseFloat(b.amount),
        0
      );
      let transfersAmount = this.$v.transfers.$model.reduce(
        (a, b) => a + parseFloat(b.amount),
        0
      );
      let total =
        Number(cash) +
        Number(checksAmount) +
        Number(transfersAmount) +
        Number(this.transferPartialAmount);
      this.$v.amount.$model = total;
      return total;
    },
  },
  methods: {
    selectChange(field, value) {
      if (field === "consortium_id_origin") {
        this.consortiumSelected = value;
      }
      this.$v[field].$model = value;
    },
    amountChange(amount) {
      this.transferPartialAmount = amount;
    },
    checksChange(checks) {
      this.$v.checks.$model = checks;
    },
    transferChange(transfers) {
      this.$v.transfers.$model = transfers;
    },
    setTransferObject(transfer, amount) {
      let transferObject = {
        bank_account_id: transfer.bank_id,
        bank: transfer.bank.name,
        account_number: transfer.account_number,
        amount: amount,
        type: "income",
        type_movement: "transfer",
        date: Date.now(),
      };
      return transferObject;
    },
    getLabel(option) {
      return `N° ${option.name} - ${this.$n(
        option.balance,
        "currency",
        "es-AR"
      )}`;
    },
  },
  beforeMount() {
    this.consortiumSelected = Number(this.$route.params.idConsortium);
    this.idCashboxOriginSelected = Number(this.$route.params.idCashbox);
    this.checksFilters.consortium_id = this.consortiumSelected;
  },
  validations: {
    cashbox_id_origin: {
      required,
    },
    cashbox_id_destination: {
      required,
    },
    amount: {
      required,
    },
    cash: {},
    checks: {},
    transfers: {},
    description: {
      required,
    },
    date: {
      required,
    },
  },
  sync: [
    "cashbox_id_origin",
    "cashbox_id_destination",
    "amount",
    "cash",
    "checks",
    "transfers",
    "description",
    "date",
  ],
  components: {
    SimpleSelect,
    vSelect,
    Datepicker,
    HeaderForm,
    CheckCollapse,
    TransferCollapse,
  },
  mixins: [SyncMixin, validationMixin],
  watch: {
    consortiumSelected: function(data) {
      this.checksFilters.consortium_id = data;
    },
  },
};
</script>

<style lang="scss" scoped></style>
