<template>
  <b-form @submit.prevent="submitPaymentOrder">
    <b-container>
      <b-row>
        <b-col cols="12">
          <b-card>
            <b-form-group :label="$t('forms.payment-orders.header-info')" label-class="lead-small mb-2" class="mb-4">
              <div class="separator mb-4"/>

              <b-row>
                <b-col cols="12" sm="4" md="4">
                  <b-form-group :label="$t('forms.payment-orders.date')">
                    <datepicker :language="es" :bootstrap-styling="true" v-model="$v.date.$model"
                                :state="!$v.date.$error"/>

                    <b-form-invalid-feedback v-if="!$v.date.required">
                      {{ $t('forms.required') }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </b-col>

                <b-col cols="12" sm="4" md="4">
                  <b-form-group :label="$t('forms.payment-orders.type')">
                    <v-select
                        label="text"
                        v-model="$v.payment_order_type.$model"
                        :options="paymentOrderTypes"
                        :reduce="(paymentOrderTypes) => paymentOrderTypes.value"
                    />
                    <b-form-invalid-feedback
                        class="d-block"
                        v-if="!$v.payment_order_type.$model && $v.payment_order_type.$anyError"
                    >{{ $t('forms.required') }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </b-col>

                <b-col cols="12" sm="4" md="4" v-show="$v.payment_order_type.$model === 'consortium'">
                  <b-form-group :label="$t('forms.payment-orders.consortium')">
                    <simple-select
                        filterBy="business_name"
                        :apiUrl="consortiumSearchUrl"
                        @onInput="selectChange"
                        valueField="consortium_id"
                        placeholder="Consorcio"
                        :selected="consortium_id"
                    />
                    <b-form-invalid-feedback v-if=" $v.consortium_id.$model === null && $v.consortium_id.$anyError"
                                             class="d-block">
                      {{ $t('forms.required') }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </b-col>

                <b-col cols="12" sm="4" md="4" v-show="$v.payment_order_type.$model === 'provider'">
                  <b-form-group :label="$t('forms.payment-orders.provider')">
                    <simple-select
                        filterBy="name"
                        :apiUrl="providerSearchUrl"
                        @onInput="selectChange"
                        valueField="provider_id"
                        placeholder="Proveedor"
                        :selected="provider_id"
                    />
                  </b-form-group>
                </b-col>

                <b-col cols="12" sm="12" md="12">
                  <b-form-group :label="$t('forms.payment-orders.description')">
                    <b-form-textarea
                        type="text"
                        v-model.trim="$v.description.$model"
                        :state="!$v.description.$error"
                        rows="4"
                        max-rows="6"
                    />
                    <b-form-invalid-feedback v-if="!$v.description.required">{{
                        $t('forms.required')
                      }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </b-col>

                <b-col cols="12" sm="12" md="12" class="mt-2">
                  <b-button block variant="primary" @click="raiseSpendingsModal">
                    {{ $t('forms.payment-orders.search-spendings') }}
                  </b-button>
                  <payment-order-spending-modal ref="PaymentOrdersSpendingModal" @acceptModal="addToSpendings"/>
                </b-col>

                <b-col cols="12" sm="12" md="12" class="mt-5">
                  <PaymentOrderSpendings
                      ref="PaymentOrderSpendings"
                      :data="$v.spendings.$model"
                      @dropInstallment="dropInstallment"
                  />
                  <b-alert variant="danger" :show="!$v.spendings.minLength || !$v.spendings.required">
                    {{ $t('forms.payment-orders.errors.no_spendings') }}
                  </b-alert>
                </b-col>

              </b-row>

            </b-form-group>
          </b-card>
        </b-col>

        <b-col cols="12" class="text-right">
          <b-button @click="$router.push({ name: 'payment-orders-list' })" variant="primary" class="mt-4">
            {{ $t('forms.cancel') }}
          </b-button>
          <b-button type="submit" variant="primary" class="mt-4">
            {{ this.editPaymentOrder ? $t('forms.payment-orders.edit') : $t('forms.payment-orders.create') }}
          </b-button>
        </b-col>
      </b-row>
    </b-container>
  </b-form>
</template>

<script>
import SyncMixin from '@/mixins/SyncMixin';
import {validationMixin} from 'vuelidate';
import {required, minLength} from 'vuelidate/lib/validators';
import Datepicker from 'vuejs-datepicker';
import vSelect from 'vue-select';
import 'vue-select/dist/vue-select.css';
import {paymentOrderTypes} from '@/constants/constants';
import {es} from 'vuejs-datepicker/dist/locale';
import SimpleSelect from '@/components/Filter/Select';
import PaymentOrderSpendingModal from '@/components/Form/PaymentOrder/PaymentOrderSpendingModal';
import PaymentOrderSpendings from '@/components/Form/PaymentOrder/PaymentOrderSpendings';

const BASEURL = process.env.VUE_APP_BASEURL;

export default {
  name: 'PaymentOrderForm',
  props: ['submitPaymentOrder', 'editPaymentOrder'],
  data() {
    return {
      paymentOrderTypes,
      es,
      consortiumSearchUrl: BASEURL + '/consortium',
      providerSearchUrl: BASEURL + '/provider',
    };
  },
  sync: [
    'date',
    'payment_order_type',
    'description',
    'consortium_id',
    'provider_id',
    'spendings',
  ],
  mixins: [SyncMixin, validationMixin],
  validations: {
    date: {required},
    payment_order_type: {required},
    description: {required},
    consortium_id: {},
    provider_id: {required},
    spendings: {
      required,
      minLength: minLength(2),
    },
  },
  components: {
    datepicker: Datepicker,
    vSelect,
    SimpleSelect,
    PaymentOrderSpendingModal,
    PaymentOrderSpendings,
  },
  methods: {
    selectChange(field, value) {
      this.$v[field].$model = value;
      if (field === 'consortium_id') {
        this.$emit('consortiumChange');
      }
    },
    addToSpendings(selectedSpendings) {
      this.spendings = selectedSpendings;
      this.$refs.PaymentOrdersSpendingModal.$bvModal.hide('PaymentOrdersSpendingModal');
    },
    raiseSpendingsModal() {
      if (!this.provider_id) {
        this.$notify(
            'error',
            this.$t('forms.payment-orders.errors.no_provider_title'),
            this.$t('forms.payment-orders.errors.no_provider'),
            {duration: 3000, permanent: false},
        );
        return;
      }

      let filters = {
        provider_id: this.provider_id,
        not_in_payment_order: this.$route.params.id || true,
      };
      this.$refs.PaymentOrdersSpendingModal.setFilters(filters);
      this.$refs.PaymentOrdersSpendingModal.$bvModal.show('PaymentOrdersSpendingModal');
    },
    dropInstallment(installment) {
      _.remove(this.spendings, installment);
    },
  },
};
</script>
