<template>
  <b-form @submit.prevent="submitPaymentOrderPayment">
    <b-container>
      <b-row>
        <b-col cols="12">
          <b-card>
            <b-form-group :label="$t('forms.payment-orders.payment.header-info')" label-class="lead-small mb-2"
                          class="mb-4">
              <div class="separator mb-4"/>

              <b-row>
                <b-col cols="6" sm="12" md="6">
                  <span>
                    <b>{{ $t('forms.payment-orders.payment.payment_order_number') }}:</b> {{ paymentOrder.id }}
                  </span>
                  <br>
                  <span>
                    <b>{{ $t('forms.payment-orders.payment.date') }}:</b> {{ paymentOrder.date }}
                  </span>
                  <br>
                  <span>
                    <b>{{ $t('forms.payment-orders.payment.provider') }}:</b> {{ paymentOrder.provider.business_name }}
                  </span>
                </b-col>
                <b-col cols="6" sm="12" md="6">
                  <span>
                    <b>{{ $t('forms.payment-orders.payment.total_amount') }}:</b>
                    {{ amountFormatter(paymentOrder.amount) }}
                  </span>
                  <br>
                  <span>
                    <b>{{ $t('forms.payment-orders.payment.status') }}:</b> {{ status[paymentOrder.status] }}
                  </span>
                  <br>
                  <span>
                    <b>{{ $t('forms.payment-orders.payment.spending_count') }}:</b>
                    {{ paymentOrder.installments.length }}
                  </span>
                </b-col>
                <b-col cols="12" md="12" sm="12" class="mt-2">
                  <span>
                    <b>{{ $t('forms.payment-orders.payment.description') }}:</b> {{ paymentOrder.description }}
                  </span>
                </b-col>
              </b-row>

              <div class="separator my-4"/>

              <b-row>
                <b-col cols="12" sm="12" md="6">
                  <b-form-group :label="$t('forms.payment-orders.payment.payment_date')">
                    <datepicker :language="es" :bootstrap-styling="true" v-model="$v.date.$model"
                                :state="!$v.date.$error"/>

                    <b-form-invalid-feedback class="d-block" v-if="!$v.date.required">
                      {{ $t('forms.required') }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </b-col>

                <b-col cols="12" sm="12" md="6">
                  <b-form-group label="Caja de Egreso">
                    <simple-select
                        ref="consortiumSelect"
                        class="mr-1"
                        filterBy="business_name"
                        :apiUrl="consortiumSearchUrl"
                        valueField="consortium_id"
                        placeholder="Consorcio"
                        @onInput="setConsortium"
                    />
                  </b-form-group>
                </b-col>
              </b-row>

              <div class="separator my-4"/>

              <CashCollapse
                  @onInput="cashChange"
                  @onAmount="amountChange"
                  :setCash="setCashObject"
                  :title="$t('forms.others-cashboxes.cash')"
                  :consortiumSelected="consortium_cashbox_selected"
                  :consortiumSelectedObject="this.$refs.consortiumSelect"
              />

              <CheckCollapse
                  @onInput="checksChange"
                  :title="$t('forms.others-cashboxes.checks')"
                  :consortiumSelected="consortium_cashbox_selected"
                  :filters="checksFilters"
              />

              <TransferCollapse
                  @onInput="transferChange"
                  @onAmount="amountChange"
                  :setTransfer="setTransferObject"
                  :title="$t('forms.others-cashboxes.transfers')"
                  :consortiumSelected="consortium_cashbox_selected"
              />

            </b-form-group>
          </b-card>
        </b-col>

        <b-col cols="12" class="text-right">
          <b-button @click="$router.push({ name: 'payment-orders-list' })" variant="primary" class="mt-4">
            {{ $t('forms.cancel') }}
          </b-button>
          <b-button type="submit" variant="primary" class="mt-4">
            {{ $t('forms.payment-orders.payment.submit') }}
          </b-button>
        </b-col>
      </b-row>
    </b-container>
  </b-form>
</template>

<script>
import SyncMixin from '@/mixins/SyncMixin';
import {validationMixin} from 'vuelidate';
import {minLength, required} from 'vuelidate/lib/validators';
import Datepicker from 'vuejs-datepicker';
import 'vue-select/dist/vue-select.css';
import {es} from 'vuejs-datepicker/dist/locale';
import SimpleSelect from '@/components/Filter/Select';
import TransferCollapse from '@/containers/forms/formsCollapse/TransferCollapse';
import CheckCollapse from '@/containers/forms/formsCollapse/CheckCollapse';
import CashCollapse from '@/containers/forms/formsCollapse/CashCollapse';

const BASEURL = process.env.VUE_APP_BASEURL;

export default {
  name: 'PaymentOrderPaymentForm',
  props: ['submitPaymentOrderPayment', 'paymentOrder'],
  data() {
    return {
      es,
      consortiumSearchUrl: BASEURL + '/consortium',
      status: {'open': 'Abierta'},
      consortium_cashbox_selected: null,
      checksFilters: {
        consortium_id: this.consortium_cashbox_selected,
      },
    };
  },
  sync: [
    'date',
    'checks',
    'transfers',
    'cashes',
  ],
  mixins: [SyncMixin, validationMixin],
  validations: {
    date: {required},
    checks: {},
    transfers: {},
    cashes: {},
  },
  components: {
    datepicker: Datepicker,
    SimpleSelect,
    TransferCollapse,
    CheckCollapse,
    CashCollapse,
  },
  methods: {
    amountFormatter(amount) {
      return amount ? this.$n(parseFloat(amount), 'currency', 'es-AR') : '-';
    },
    setConsortium(field, value) {
      this.consortium_cashbox_selected = value;
    },
    amountChange(amount) {
      this.transferPartialAmount = amount;
    },
    checksChange(checks) {
      this.$v.checks.$model = checks;
    },
    transferChange(transfers) {
      this.$v.transfers.$model = transfers;
    },
    cashChange(cashes) {
      this.$v.cashes.$model = cashes;
    },
    setTransferObject(transfer, amount) {
      return {
        bank_account_id: transfer.id,
        bank: transfer.bank.name,
        consortium_id: transfer.consortium_id,
        account_number: transfer.account_number,
        amount: amount,
        type: 'income',
        type_movement: 'transfer',
        date: Date.now(),
      };
    },
    setCashObject(consortium, amount) {
      return {
        consortium_id: consortium.id,
        consortium: consortium.business_name,
        amount: amount,
      };
    },
  },
  watch: {
    consortium_cashbox_selected() {
      this.checksFilters = {
        consortium_id: this.consortium_cashbox_selected,
      };
    },
  },
};
</script>
