<template>
  <b-form @submit.prevent="submitProvider">
    <b-container>
      <b-row>
        <b-col cols="12">
          <b-card bg-variant>
            <b-form-group
              :label="$t('forms.provider.info')"
              label-class="lead-small mb-2"
              class="mb-4"
            >
              <div class="separator mb-4" />
              <b-row>
                <b-col cols="12" sm="4" md="4">
                  <b-form-group :label="$t('forms.provider.name')">
                    <b-form-input
                      type="text"
                      v-model.trim="$v.name.$model"
                      :state="!$v.name.$error"
                    />
                    <b-form-invalid-feedback v-if="!$v.name.required">{{ $t("forms.required") }}</b-form-invalid-feedback>
                  </b-form-group>
                </b-col>

                <b-col cols="12" sm="4" md="4">
                  <b-form-group :label="$t('forms.provider.business_name')">
                    <b-form-input
                      type="text"
                      v-model.trim="$v.business_name.$model"
                      :state="!$v.business_name.$error"
                    />
                    <b-form-invalid-feedback v-if="!$v.name.required">{{ $t("forms.required") }}</b-form-invalid-feedback>
                  </b-form-group>
                </b-col>

                <b-col cols="12" sm="4" md="4">
                  <b-form-group :label="$t('forms.provider.address')">
                    <b-form-input
                      type="text"
                      v-model.trim="$v.address.$model"
                      :state="!$v.address.$error"
                    />
                    <b-form-invalid-feedback v-if="!$v.address.required">{{ $t("forms.required") }}</b-form-invalid-feedback>
                  </b-form-group>
                </b-col>

                <b-col cols="12" sm="4" md="4">
                  <b-form-group :label="$t('forms.provider.location')">
                    <b-form-input
                      type="text"
                      v-model.trim="$v.location.$model"
                      :state="!$v.location.$error"
                    />
                    <b-form-invalid-feedback v-if="!$v.location.required">{{ $t("forms.required") }}</b-form-invalid-feedback>
                  </b-form-group>
                </b-col>

                <b-col cols="12" sm="4" md="4">
                  <b-form-group :label="$t('forms.provider.postal-code')">
                    <b-form-input
                      type="text"
                      v-model.trim="$v.postal_code.$model"
                      :state="!$v.postal_code.$error"
                    />
                    <b-form-invalid-feedback
                      v-if="!$v.postal_code.required"
                    >{{ $t("forms.required") }}</b-form-invalid-feedback>
                  </b-form-group>
                </b-col>

                <b-col cols="12" sm="6" md="4">
                  <b-form-group :label="$t('forms.provider.province')">
                    <v-select
                      label="text"
                      v-model="$v.province_id.$model"
                      :reduce="(provinces) => provinces.value"
                      :options="provinces"
                    />
                    <b-form-invalid-feedback>
                      {{
                      $t("forms.required")
                      }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </b-col>

                <b-col cols="12" sm="4" md="4">
                  <b-form-group :label="$t('forms.provider.cuit')">
                    <b-form-input
                      type="text"
                      v-model.trim="$v.cuit.$model"
                      :state="!$v.cuit.$error"
                    />
                    <b-form-invalid-feedback
                      v-if="!$v.cuit.cuitValidator"
                    >{{ $t("forms.invalid-cuit") }}</b-form-invalid-feedback>
                  </b-form-group>
                </b-col>

                <b-col cols="12" sm="4" md="4">
                  <b-form-group :label="$t('forms.provider.email')">
                    <b-form-input
                      type="text"
                      v-model.trim="$v.email.$model"
                      :state="!$v.email.$error"
                    />
                    <b-form-invalid-feedback v-if="!$v.email.required">{{ $t("forms.required") }}</b-form-invalid-feedback>
                  </b-form-group>
                </b-col>

                <b-col cols="12" sm="4" md="4">
                  <b-form-group :label="$t('forms.provider.phone')">
                    <b-form-input
                      type="text"
                      v-model.trim="$v.phone.$model"
                      :state="!$v.phone.$error"
                    />
                    <b-form-invalid-feedback v-if="!$v.phone.required">{{ $t("forms.required") }}</b-form-invalid-feedback>
                  </b-form-group>
                </b-col>

                <b-col cols="12" sm="4" md="4">
                  <b-form-group :label="$t('forms.provider.license')">
                    <b-form-input
                      type="text"
                      v-model.trim="$v.license.$model"
                      :state="!$v.license.$error"
                    />
                    <b-form-invalid-feedback v-if="!$v.license.required">{{ $t("forms.required") }}</b-form-invalid-feedback>
                  </b-form-group>
                </b-col>

                <b-col cols="12" sm="4" md="4">
                  <b-form-group :label="$t('forms.provider.attention_hours')">
                    <b-form-input
                      type="text"
                      v-model.trim="$v.attention_hours.$model"
                      :state="!$v.attention_hours.$error"
                    />
                    <b-form-invalid-feedback
                      v-if="!$v.attention_hours.required"
                    >{{ $t("forms.required") }}</b-form-invalid-feedback>
                  </b-form-group>
                </b-col>

                <b-col cols="12" sm="6" md="4">
                  <b-form-group :label="$t('forms.provider.fiscal_situation')">
                    <v-select
                      label="text"
                      v-model="$v.fiscal_situation.$model"
                      :reduce="(fiscalSituationsProviders) => fiscalSituationsProviders.value"
                      :options="fiscalSituationsProviders"
                    />
                    <b-form-invalid-feedback>
                      {{
                      $t("forms.required")
                      }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </b-col>

                <b-col cols="12" sm="12" md="12">
                  <b-form-group :label="$t('forms.provider.note')">
                    <b-form-input
                      type="text"
                      v-model.trim="$v.note.$model"
                      :state="!$v.note.$error"
                    />
                    <b-form-invalid-feedback v-if="!$v.note.required">{{ $t("forms.note") }}</b-form-invalid-feedback>
                  </b-form-group>
                </b-col>
              </b-row>
            </b-form-group>
            <slot></slot>
          </b-card>
        </b-col>

        <b-col cols="12" class="text-right">
          <b-button
            @click="$router.push({ name: 'list-provider' })"
            variant="primary"
            class="mt-4"
          >{{ $t("forms.cancel") }}</b-button>
          <b-button
            type="submit"
            variant="primary"
            class="mt-4"
          >{{ this.editProvider ? $t("forms.provider.edit") : $t("forms.provider.create") }}</b-button>
        </b-col>
      </b-row>
    </b-container>
  </b-form>
</template>

<script>
import SyncMixin from "../../mixins/SyncMixin";
import { validationMixin } from "vuelidate";
import cuitValidator from "../../utils/CuitValidator";
import { required, email } from "vuelidate/lib/validators";
import {
  fiscalSituationsProviders,
  provinces
} from "../../constants/constants";
import vSelect from "vue-select";
import { es } from "vuejs-datepicker/dist/locale";
import "vue-select/dist/vue-select.css";

export default {
  name: "ProviderForm",
  props: ["submitProvider", "editProvider"],
  data() {
    return {
      fiscalSituationsProviders,
      provinces,
      es
    };
  },
  sync: [
    "business_name",
    "name",
    "address",
    "location",
    "province_id",
    "postal_code",
    "cuit",
    "email",
    "phone",
    "note",
    "license",
    "attention_hours",
    "fiscal_situation"
  ],
  mixins: [SyncMixin, validationMixin],
  validations: {
    business_name: {
      required
    },
    name: {},
    address: {
      required
    },
    location: {},
    province_id: {},
    postal_code: {},
    cuit: {
      required,
      cuitValidator
    },
    email: {
      email
    },
    phone: {},
    note: {},
    license: {},
    attention_hours: {},
    fiscal_situation: {}
  },
  components: {
    vSelect
  }
};
</script>
