<template>
  <b-form @submit.prevent="submitService">
    <b-container>
      <b-row>
        <b-col cols="12">
          <b-card bg-variant="light">
            <b-form-group
              :label="$t('forms.services.info-service')"
              label-class="lead-small mb-2"
              class="mb-4"
            >
              <div class="separator mb-4" />
              <b-row>
                <b-col cols="12" sm="4" md="12">
                  <b-form-group :label="$t('forms.services.description')">
                    <b-form-input
                      type="text"
                      v-model.trim="$v.description.$model"
                      :state="!$v.description.$error"
                    />
                    <b-form-invalid-feedback
                      v-if="!$v.description.required"
                    >{{ $t("forms.required") }}</b-form-invalid-feedback>
                  </b-form-group>
                </b-col>
              </b-row>
            </b-form-group>
          </b-card>
        </b-col>
        <b-col cols="12" class="text-right">
          <b-button
            @click="$router.push({ name: 'services-list' })"
            variant="primary"
            class="mt-4"
          >{{ $t("forms.cancel") }}</b-button>
          <b-button
            type="submit"
            variant="primary"
            class="mt-4"
          >{{ this.editService ? $t("forms.services.edit-service") : $t("forms.services.create-service") }}</b-button>
        </b-col>
      </b-row>
    </b-container>
  </b-form>
</template>

<script>
import SyncMixin from "../../mixins/SyncMixin";
import { validationMixin } from "vuelidate";
import { email, required } from "vuelidate/lib/validators";
import vSelect from "vue-select";
import "vue-select/dist/vue-select.css";

export default {
  name: "ServiceForm",
  props: ["submitService", "editService"],
  data() {
    return {};
  },
  sync: ["description"],
  mixins: [SyncMixin, validationMixin],
  validations: {
    description: {
      required
    }
  },
  components: {
    vSelect
  }
};
</script>
