<template>
  <b-form @submit.prevent="submitSpending">
    <b-container>
      <b-row>
        <b-col cols="12">
          <b-card>
            <b-form-group
              :label="$t('forms.spendings.info')"
              label-class="lead-small mb-2"
              class="mb-4"
            >
              <div class="separator mb-4" />
              <b-row>
                <b-col cols="12" sm="12" md="6">
                  <b-form-group :label="$t('forms.spendings.recurrents.consortium')">
                    <simple-select
                      filterBy="business_name"
                      :apiUrl="consortiumSearchUrl"
                      @onInput="selectChange"
                      valueField="consortium_id"
                      placeholder="Consorcio"
                      :selected="consortium_id"
                    />
                    <b-form-invalid-feedback
                      v-if="
                        $v.consortium_id.$model === null &&
                          $v.consortium_id.$anyError
                      "
                      class="d-block"
                    >
                      {{
                      $t("forms.required")
                      }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </b-col>

                <b-col cols="12" sm="12" md="6">
                  <b-form-group :label="$t('forms.spendings.recurrents.category')">
                    <simple-select
                      filterBy="name"
                      :apiUrl="categorySearchUrl"
                      @onInput="selectChange"
                      valueField="category_id"
                      placeholder="Rubro"
                      :selected="category_id"
                    />
                    <b-form-invalid-feedback
                      v-if="
                        $v.category_id.$model === null &&
                          $v.category_id.$anyError
                      "
                      class="d-block"
                    >
                      {{
                      $t("forms.required")
                      }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </b-col>

                <b-col cols="12" sm="12" md="6">
                  <b-form-group :label="$t('forms.spendings.recurrents.provider')">
                    <simple-select
                      filterBy="name"
                      :apiUrl="providerSearchUrl"
                      @onInput="selectChange"
                      valueField="provider_id"
                      placeholder="Proveedor"
                      :selected="provider_id"
                    />
                  </b-form-group>
                </b-col>

                <b-col cols="12" sm="12" md="6">
                  <b-form-group :label="$t('forms.spendings.recurrents.service')">
                    <simple-select
                      filterBy="description"
                      :apiUrl="serviceSearchUrl"
                      @onInput="selectChange"
                      valueField="service_id"
                      placeholder="Servicio"
                      :disabled="!provider_id"
                      :selected="service_id"
                    />
                  </b-form-group>
                </b-col>

                <b-col cols="12" sm="12" md="4">
                  <b-form-group :label="$t('forms.spendings.date')">
                    <datepicker
                      :language="es"
                      :bootstrap-styling="true"
                      v-model="$v.date.$model"
                      :state="!$v.date.$error"
                    ></datepicker>
                    <b-form-invalid-feedback class="d-block" v-if="$v.date.$anyError">
                      {{
                      $t("forms.required")
                      }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </b-col>

                <b-col cols="12" sm="12" md="4">
                  <b-form-group :label="$t('forms.spendings.recurrents.amount')">
                    <b-form-input
                      type="text"
                      v-model.trim="$v.amount.$model"
                      :state="!$v.amount.$error"
                    />
                    <b-form-invalid-feedback v-if="!$v.amount.required">
                      {{
                      $t("forms.required")
                      }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </b-col>

                <b-col cols="12" sm="12" md="4">
                  <b-form-group :label="$t('forms.spendings.invoice-number')">
                    <b-form-input
                      type="text"
                      v-model.trim="invoice_number"
                      :disabled="areInstallments"
                    />
                  </b-form-group>
                </b-col>

                <b-col cols="12" sm="12" md="12">
                  <b-form-group :label="$t('forms.spendings.recurrents.description')">
                    <b-form-textarea
                      type="text"
                      v-model.trim="$v.description.$model"
                      :state="!$v.description.$error"
                      rows="2"
                      max-rows="6"
                    />
                    <b-form-invalid-feedback v-if="!$v.description.required">
                      {{
                      $t("forms.required")
                      }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </b-col>
                <b-col cols="12" class="mt-2 mb-2">
                  <b-form-group>
                    <b-form-checkbox
                      inline
                      v-model="affect_financial_section"
                    >{{ $t("forms.spendings.financial-section") }}</b-form-checkbox>
                    <b-form-checkbox
                      inline
                      v-model="prorate_in_expenses"
                    >{{ $t("forms.spendings.prorate") }}</b-form-checkbox>
                  </b-form-group>
                </b-col>
                <b-col class="d-flex justify-content-end" cols="12">
                  <slot name="description"></slot>
                </b-col>
              </b-row>
            </b-form-group>
            <b-form-group
              :label="$t('forms.spendings.destiny')"
              label-class="lead-small mb-2"
              class="mb-4"
            >
              <div class="separator mb-4" />
              <b-row>
                <b-col cols="12" md="6">
                  <b-form-group :label="$t('forms.spendings.functional-unit')">
                    <simple-select
                      filterBy="functional_unit_number"
                      :apiUrl="functionalUnitSearchUrl"
                      @onInput="selectChange"
                      valueField="functional_unit_id"
                      placeholder="Unidad Funcional"
                      :disabled="isFUDisable"
                      :selected="functional_unit_id"
                    />
                  </b-form-group>
                </b-col>
                <b-col cols="12" md="6">
                  <b-form-group :label="$t('forms.spendings.recurrents.percentage')">
                    <simple-select
                      filterBy="name"
                      :apiUrl="percentageSearchUrl"
                      @onInput="selectChange"
                      valueField="percentage_consortium_id"
                      placeholder="Porcentual"
                      :disabled="isPercentageDisable"
                      :selected="percentage_consortium_id"
                    />
                  </b-form-group>
                </b-col>
                <slot name="percentages"></slot>
              </b-row>
            </b-form-group>
            <b-form-group
              :label="$t('forms.spendings.installments-info')"
              label-class="lead-small mb-2"
              class="mb-4"
            >
              <div class="separator mb-4" />
              <slot name="installments"></slot>
            </b-form-group>
          </b-card>
        </b-col>
        <b-col cols="12" class="text-right">
          <b-button
            @click="$router.push({ name: 'spending-list' })"
            variant="primary"
            class="mt-4 mr-2"
          >{{ $t("forms.cancel") }}</b-button>
          <b-button type="submit" variant="primary" class="mt-4">
            {{
            this.editSpending
            ? $t("forms.spendings.edit")
            : $t("forms.spendings.create")
            }}
          </b-button>
        </b-col>
      </b-row>
    </b-container>
  </b-form>
</template>

<script>
import SimpleSelect from "@/components/Filter/Select";
import Datepicker from "vuejs-datepicker";
import { es } from "vuejs-datepicker/dist/locale";
import SyncMixin from "../../mixins/SyncMixin";
import { validationMixin } from "vuelidate";
import { email, required, requiredIf } from "vuelidate/lib/validators";
import { headerFiscalSituations } from "../../constants/constants";
import vSelect from "vue-select";
import "vue-select/dist/vue-select.css";

const BASEURL = process.env.VUE_APP_BASEURL;

export default {
  name: "SpendingForm",
  props: [
    "submitSpending",
    "editSpending",
    "areInstallments",
    "percentagesCollapse"
  ],
  data() {
    return {
      consortiumSearchUrl: BASEURL + "/consortium",
      providerSearchUrl: BASEURL + "/provider",
      categorySearchUrl: BASEURL + "/categories",
      typeOptions: [
        {
          text: "Fijo",
          value: "fixed"
        },
        {
          text: "Variable",
          value: "variable"
        }
      ],
      es
    };
  },
  sync: [
    "consortium_id",
    "category_id",
    "provider_id",
    "service_id",
    "date",
    "amount",
    "description",
    "invoice_number",
    "affect_financial_section",
    "prorate_in_expenses",
    "functional_unit_id",
    "percentage_consortium_id"
  ],
  mixins: [SyncMixin, validationMixin],
  validations: {
    consortium_id: {
      required
    },
    provider_id: {},
    service_id: {},
    functional_unit_id: {},
    percentage_consortium_id: {},
    category_id: {
      required
    },
    date: {
      required
    },
    description: {
      required
    },
    amount: {
      required
    }
  },
  computed: {
    serviceSearchUrl() {
      return `${this.providerSearchUrl}/${this.provider_id}/services`;
    },
    functionalUnitSearchUrl() {
      return `${this.consortiumSearchUrl}/${this.consortium_id}/functional-units`;
    },
    percentageSearchUrl() {
      return `${this.consortiumSearchUrl}/${this.consortium_id}/percentage`;
    },
    isFUDisable() {
      return (
        !this.consortium_id ||
        this.percentagesCollapse ||
        !!this.percentage_consortium_id
      );
    },
    isPercentageDisable() {
      return (
        !this.consortium_id ||
        this.percentagesCollapse ||
        !!this.functional_unit_id
      );
    }
  },
  components: {
    vSelect,
    SimpleSelect,
    datepicker: Datepicker
  },
  watch: {
    type(value) {
      if (value === "variable") {
        this.amount = null;
      }
    }
  },
  methods: {
    selectChange(field, value) {
      this.$v[field].$model = value;
      if (field === "consortium_id") {
        this.$emit("consortiumChange");
      }
    }
  }
};
</script>
