<template>
  <b-form @submit.prevent="submitSpendingRecurrent">
    <b-container>
      <b-row>
        <b-col cols="12">
          <b-card>
            <b-form-group
              :label="$t('forms.spendings.recurrents.info')"
              label-class="lead-small mb-2"
              class="mb-4"
            >
              <div class="separator mb-4" />
              <b-row>
                <b-col cols="12" sm="4" md="4">
                  <b-form-group :label="$t('forms.spendings.recurrents.consortium')">
                    <simple-select
                      filterBy="business_name"
                      :apiUrl="consortiumSearchUrl"
                      @onInput="selectChange"
                      valueField="consortium_id"
                      placeholder="Consorcio"
                      :selected="consortium_id"
                    />
                    <b-form-invalid-feedback
                      v-if="
                        $v.consortium_id.$model === null &&
                          $v.consortium_id.$anyError
                      "
                      class="d-block"
                    >
                      {{
                      $t("forms.required")
                      }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </b-col>

                <b-col cols="12" sm="4" md="4">
                  <b-form-group :label="$t('forms.spendings.recurrents.percentage')">
                    <simple-select
                      filterBy="name"
                      :apiUrl="percentageSearchUrl"
                      @onInput="selectChange"
                      valueField="percentage_consortium_id"
                      placeholder="Porcentual"
                      :disabled="!consortium_id"
                      :selected="percentage_consortium_id"
                    />
                    <b-form-invalid-feedback
                      v-if="
                        $v.percentage_consortium_id.$model === null &&
                          $v.percentage_consortium_id.$anyError
                      "
                      class="d-block"
                    >
                      {{
                      $t("forms.required")
                      }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </b-col>
                <b-col cols="12" sm="4" md="4">
                  <b-form-group :label="$t('forms.spendings.recurrents.category')">
                    <simple-select
                      filterBy="name"
                      :apiUrl="categorySearchUrl"
                      @onInput="selectChange"
                      valueField="category_id"
                      placeholder="Rubro"
                      :selected="category_id"
                    />
                    <b-form-invalid-feedback
                      v-if="
                        $v.category_id.$model === null &&
                          $v.category_id.$anyError
                      "
                      class="d-block"
                    >
                      {{
                      $t("forms.required")
                      }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </b-col>

                <b-col cols="12" sm="4" md="4">
                  <b-form-group :label="$t('forms.spendings.recurrents.provider')">
                    <simple-select
                      filterBy="name"
                      :apiUrl="providerSearchUrl"
                      @onInput="selectChange"
                      valueField="provider_id"
                      placeholder="Proveedor"
                      :selected="provider_id"
                    />
                  </b-form-group>
                </b-col>

                <b-col cols="12" sm="4" md="4">
                  <b-form-group :label="$t('forms.spendings.recurrents.service')">
                    <simple-select
                      filterBy="description"
                      :apiUrl="serviceSearchUrl"
                      @onInput="selectChange"
                      valueField="service_id"
                      placeholder="Servicio"
                      :disabled="!provider_id"
                      :selected="service_id"
                    />
                  </b-form-group>
                </b-col>

                <b-col cols="12" sm="4" md="4">
                  <b-form-group :label="$t('forms.spendings.recurrents.periodicity')">
                    <v-select
                      v-model.trim="$v.periodicity.$model"
                      :options="periodicityOptions"
                      placeholder="Períodos"
                    />
                    <b-form-invalid-feedback
                      class="d-block"
                      v-if="
                        $v.periodicity.$model === null &&
                          $v.periodicity.$anyError
                      "
                    >
                      {{
                      $t("forms.required")
                      }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </b-col>

                <b-col cols="12" sm="4" md="4">
                  <b-form-group :label="$t('forms.spendings.recurrents.start-date')">
                    <datepicker
                      :language="es"
                      :bootstrap-styling="true"
                      v-model="$v.start_date.$model"
                      :state="!$v.start_date.$error"
                      :disabled-dates="disableDates"
                    ></datepicker>
                    <b-form-invalid-feedback class="d-block" v-if="$v.start_date.$anyError">
                      {{
                      $t("forms.required")
                      }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </b-col>

                <b-col cols="12" sm="4" md="4">
                  <b-form-group :label="$t('forms.spendings.recurrents.due-date')">
                    <datepicker
                      :language="es"
                      :bootstrap-styling="true"
                      v-model="$v.due_date.$model"
                      :state="!$v.due_date.$error"
                      :disabled-dates="disableDates"
                    ></datepicker>
                  </b-form-group>
                </b-col>
                <b-col cols="12" sm="4" md="4">
                  <b-form-group :label="$t('forms.spendings.recurrents.type')">
                    <v-select
                      label="text"
                      v-model.trim="$v.type.$model"
                      :reduce="(typeOptions) => typeOptions.value"
                      :options="typeOptions"
                    />
                    <b-form-invalid-feedback
                      v-if="$v.type.$model === null && $v.type.$anyError"
                      class="d-block"
                    >
                      {{
                      $t("forms.required")
                      }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </b-col>

                <b-col cols="12" sm="4" md="4">
                  <b-form-group :label="$t('forms.spendings.recurrents.amount')">
                    <b-form-input
                      type="text"
                      v-model.trim="$v.amount.$model"
                      :state="type === 'variable' ? false : !$v.amount.$error"
                      :disabled="type === 'variable'"
                    />
                    <b-form-invalid-feedback v-if="!$v.amount.required">
                      {{
                      $t("forms.required")
                      }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </b-col>

                <b-col cols="12">
                  <b-form-group :label="$t('forms.spendings.recurrents.description')">
                    <b-form-textarea
                      type="text"
                      v-model.trim="$v.description.$model"
                      :state="!$v.description.$error"
                      rows="2"
                      max-rows="6"
                    />
                    <b-form-invalid-feedback v-if="!$v.description.required">
                      {{
                      $t("forms.required")
                      }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </b-col>
              </b-row>
            </b-form-group>
          </b-card>
        </b-col>
        <b-col cols="12" class="text-right">
          <b-button
            @click="$router.push({ name: 'spending-recurrent-list' })"
            variant="primary"
            class="mt-4 mr-2"
          >{{ $t("forms.cancel") }}</b-button>
          <b-button type="submit" variant="primary" class="mt-4">
            {{
            this.editSpendingrecurrent
            ? $t("forms.spendings.recurrents.edit")
            : $t("forms.spendings.recurrents.create")
            }}
          </b-button>
        </b-col>
      </b-row>
    </b-container>
  </b-form>
</template>

<script>
import SimpleSelect from "@/components/Filter/Select";
import Datepicker from "vuejs-datepicker";
import { es } from "vuejs-datepicker/dist/locale";
import SyncMixin from "../../mixins/SyncMixin";
import { validationMixin } from "vuelidate";
import cuitValidator from "../../utils/CuitValidator";
import { email, required, requiredIf } from "vuelidate/lib/validators";
import { headerFiscalSituations } from "../../constants/constants";
import vSelect from "vue-select";
import "vue-select/dist/vue-select.css";

const BASEURL = process.env.VUE_APP_BASEURL;

export default {
  name: "SpendingRecurrentForm",
  props: ["submitSpendingRecurrent", "editSpendingrecurrent"],
  data() {
    return {
      consortiumSearchUrl: BASEURL + "/consortium",
      providerSearchUrl: BASEURL + "/provider",
      categorySearchUrl: BASEURL + "/categories",
      periodicityOptions: [1, 2, 3, 6, 12],
      typeOptions: [
        {
          text: "Fijo",
          value: "fixed"
        },
        {
          text: "Variable",
          value: "variable"
        }
      ],
      es,
      disableDates: {
        to: new Date()
      }
    };
  },
  sync: [
    "consortium_id",
    "percentage_consortium_id",
    "category_id",
    "provider_id",
    "service_id",
    "periodicity",
    "start_date",
    "due_date",
    "type",
    "amount",
    "description"
  ],
  mixins: [SyncMixin, validationMixin],
  validations: {
    consortium_id: {
      required
    },
    percentage_consortium_id: {
      required
    },
    provider_id: {},
    service_id: {},
    category_id: {
      required
    },
    periodicity: {
      required
    },
    start_date: {
      required
    },
    due_date: {},
    type: {
      required
    },
    description: {
      required
    },
    amount: {
      required: requiredIf(function(form) {
        return this.type === "fixed";
      })
    }
  },
  computed: {
    percentageSearchUrl() {
      return `${this.consortiumSearchUrl}/${this.consortium_id}/percentage`;
    },
    serviceSearchUrl() {
      return `${this.providerSearchUrl}/${this.provider_id}/services`;
    }
  },
  components: {
    vSelect,
    SimpleSelect,
    datepicker: Datepicker
  },
  watch: {
    type(value) {
      if (value === "variable") {
        this.amount = null;
      }
    }
  },
  methods: {
    selectChange(field, value) {
      this.$v[field].$model = value;
    }
  }
};
</script>
