<template>
  <b-modal id="descriptionModal" :title="$t('forms.spendings.description-modal')">
    <div class="mb-4">
      <simple-select
        filterBy="title"
        :apiUrl="descriptionSearchUrl"
        @onInput="searchChange"
        valueField="id"
        placeholder="Descripción"
      />
    </div>

    <h4>{{spendingDescription.title}}</h4>
    <p class="text-justify">{{ spendingDescription.description }}</p>
    <template slot="modal-footer">
      <b-button variant="secondary" @click="cancelModal">{{ $t('forms.cancel') }}</b-button>
      <b-button
        variant="primary"
        @click="acceptModal"
        class="mr-1"
        :disabled="!spendingDescription.title"
      >{{ $t('forms.confirm') }}</b-button>
    </template>
  </b-modal>
</template>

<script>
import SimpleSelect from "@/components/Filter/Select";
import DescriptionsRepository from "@/repositories/DescriptionsRepository";
import { mapGetters } from "vuex";

const BASEURL = process.env.VUE_APP_BASEURL;

export default {
  data() {
    return {
      descriptionSearchUrl: BASEURL + "/spending-description",
      spendingDescription: {}
    };
  },
  props: ["title", "description", "confirm", "cancel"],
  methods: {
    acceptModal() {
      this.$emit("acceptModal", this.spendingDescription.description);
    },
    cancelModal() {
      this.$bvModal.hide("descriptionModal");
    },
    async searchChange(field, value) {
      try {
        this.spendingDescription = await DescriptionsRepository.showDescription(
          this.user.authHeader,
          value
        );
      } catch (error) {
        this.$notify(
          "error",
          "Error obteniendo descripción de gasto",
          error.response.data.message,
          { duration: 3000, permanent: false }
        );
      }
    }
  },
  computed: {
    ...mapGetters({
      user: "currentUser"
    })
  },
  components: {
    SimpleSelect
  }
};
</script>
