<template>
  <b-modal id="installmentsModal" :title="$t('forms.spendings.installments-modal')">
    <installments-form
      v-for="(installment, index) in installments"
      v-bind.sync="installment"
      :key="index"
      :index="index"
    />
    <template slot="modal-footer">
      <b-button variant="secondary" @click="cancelModal">{{ $t('forms.cancel') }}</b-button>
      <b-button variant="primary" @click="acceptModal" class="mr-1">{{ $t('forms.confirm') }}</b-button>
    </template>
  </b-modal>
</template>

<script>
import InstallmentsForm from "./InstallmentsForm";

const BASEURL = process.env.VUE_APP_BASEURL;

export default {
  data() {
    return {
      installments: []
    };
  },
  props: ["installmentsQuantity"],
  watch: {
    installmentsQuantity(value) {
      this.installments = [];
      while (value) {
        this.installments.push({ amount: 0, due_date: null, payed: false });
        value--;
      }
    }
  },
  methods: {
    acceptModal() {
      this.$emit("acceptModal", this.installments);
    },
    cancelModal() {
      this.$bvModal.hide("installmentsModal");
    }
  },
  components: {
    InstallmentsForm
  }
};
</script>
