<template>
  <b-form-group
    :label="`${$t('forms.spendings.installment')} ${index + 1}`"
    label-class="lead-xs mb-1"
  >
    <div class="separator mb-4"></div>
    <b-row>
      <b-col cols="12" sm="4">
        <b-form-group :label="$t('forms.spendings.recurrents.amount')">
          <b-form-input type="text" v-model="$v.amount.$model" :state="!$v.amount.$error" />
          <b-form-invalid-feedback v-if="!$v.amount.required">
            {{
            $t("forms.required")
            }}
          </b-form-invalid-feedback>
          <b-form-invalid-feedback v-if="!$v.amount.minValue">
            {{
            $t("forms.spendings.installment-min-value")
            }}
          </b-form-invalid-feedback>
        </b-form-group>
      </b-col>
      <b-col cols="12" sm="4">
        <b-form-group :label="$t('forms.spendings.recurrents.due-date')">
          <datepicker
            :language="es"
            :bootstrap-styling="true"
            v-model="$v.date_pay.$model"
            :state="!$v.date_pay.$error"
          ></datepicker>
          <b-form-invalid-feedback
            class="d-block"
            v-if="$v.date_pay.$anyError"
          >{{ $t("forms.required") }}</b-form-invalid-feedback>
        </b-form-group>
      </b-col>
      <b-col cols="12" sm="4">
        <b-form-group :label="$t('forms.spendings.invoice-number')">
          <b-form-input v-model="invoice_number" />
        </b-form-group>
      </b-col>
      <b-col cols="12" class="mt-2">
        <b-form-group>
          <b-form-checkbox
            inline
            v-model="include_open_period"
          >{{ $t("forms.spendings.include-period") }}</b-form-checkbox>
          <b-form-checkbox inline v-model="payed">{{ $t("forms.spendings.payed") }}</b-form-checkbox>
        </b-form-group>
      </b-col>
    </b-row>
  </b-form-group>
</template>

<script>
import { validationMixin } from "vuelidate";
import { required, minValue } from "vuelidate/lib/validators";
import SyncMixin from "../../../mixins/SyncMixin";
import Datepicker from "vuejs-datepicker";
import { es } from "vuejs-datepicker/dist/locale";
import moment from "moment";

export default {
  data() {
    return {
      es
    };
  },
  mixins: [validationMixin, SyncMixin],
  components: {
    Datepicker
  },
  validations: {
    amount: {
      required,
      minValue: minValue(0.01)
    },
    date_pay: {}
  },
  props: ["index", "date"],
  sync: [
    "amount",
    "payed",
    "date_pay",
    "invoice_number",
    "include_open_period",
    "number"
  ],
  methods: {},
  watch: {
    date(value) {
      this.date_pay = moment(value)
        .add(30 * (this.number - 1), "days")
        .format("MM-DD-YYYY");
    }
  }
};
</script>
