<template>
  <b-modal id="percentagesModal" :title="$t('forms.spendings.percentages-modal')">
    <div>
      <b-form>
        <b-container>
          <b-row>
            <b-col
              cols="12"
              sm="4"
              md="6"
              v-for="(percentage, index) in percentagesForm"
              :key="index"
            >
              <b-form-group label="Jolanda" label-class="lead-xs ">
                <div class="separator mb-2"></div>
                <b-row>
                  <b-col cols="12" md="6">
                    <b-form-group label="Monto">
                      <b-form-input
                        type="number"
                        v-model="percentage.amount"
                        @blur="event => copyValues(event, index)"
                      />
                    </b-form-group>
                  </b-col>
                  <b-col cols="12" md="6">
                    <b-form-group label="Porcentaje">
                      <b-form-input
                        type="number"
                        v-model="percentage.value"
                        @input="value => copyAmounts(value, index)"
                      />
                    </b-form-group>
                  </b-col>
                </b-row>
              </b-form-group>
            </b-col>
          </b-row>
        </b-container>
      </b-form>
    </div>
    <span v-if="formError">Se debe distribuir el 100% del gasto, falta distribuir ${{amountLeft}}</span>
    <template slot="modal-footer">
      <b-button variant="secondary" @click="cancelModal">{{ $t('forms.cancel') }}</b-button>
      <b-button variant="primary" @click="acceptModal" class="mr-1">{{ $t('forms.confirm') }}</b-button>
    </template>
  </b-modal>
</template>

<script>
export default {
  data() {
    return {
      percentagesForm: [],
      formError: false
    };
  },
  props: ["percentages", "amount"],
  methods: {
    acceptModal() {
      let totalValue = this.percentagesForm.reduce(
        (a, b) => a + parseFloat(b.value),
        0
      );
      if (totalValue === 100) {
        this.$emit("acceptModal");
      } else {
        this.formError = true;
      }
    },
    cancelModal() {
      this.$bvModal.hide("percentagesModal");
    },
    copyValues(event, index) {
      let inputValue = parseFloat(event.target.value);
      let percentageValue = (inputValue * 100) / parseFloat(this.amount);
      this.percentagesForm[index].value = percentageValue.toFixed(2);
    },
    copyAmounts(value, index) {
      let inputValue = parseFloat(value);
      let amountValue = (inputValue * parseFloat(this.amount)) / 100;
      this.percentagesForm[index].amount = amountValue.toFixed(2);
    }
  },
  watch: {
    percentages(newValue) {
      if (newValue.rows) {
        this.percentagesForm = newValue.rows.map(element => {
          return {
            percentage_consortium_id: element.id,
            value: 0,
            name: element.name,
            amount: 0
          };
        });
      }
    }
  },
  computed: {
    amountLeft() {
      let totalValue = this.percentagesForm.reduce(
        (a, b) => a + parseFloat(b.amount),
        0
      );
      return parseFloat(this.amount) - totalValue;
    }
  }
};
</script>
