<template>
  <div>
    <header-list :title="$t('menu.financial-statement')">
      <template v-slot:filters>
        <div class="d-block d-md-inline-block pt-1">
          <div class="d-inline-block float-md-left mr-1 align-top d-flex">
            <v-select
              class="mr-2"
              placeholder="Elegir por"
              label="text"
              v-model="typeConsortiumField"
              :options="typeOptions"
              :reduce="(typeOptions) => typeOptions.value"
              style="min-width:100px"
            />
            <simple-select
              :filterBy="typeConsortiumField"
              :apiUrl="consortiumSearchUrl"
              @onInput="onSelectedConsortium"
              valueField="consortium_id"
              placeholder="Consorcio"
              style="min-width:200px"
            />
            <b-button
              class="mx-2"
              size="xs"
              variant="outline-primary"
              @click="showFilters = !showFilters"
              >Filtros Avanzados</b-button
            >
          </div>
        </div>
        <page-options
          :from="from"
          :to="to"
          :total="total"
          :perPage="perPage"
          :pageSizes="pageSizes"
          :changePageSize="changePageSize"
        />
      </template>
      <template v-slot:buttons>
        <div class="top-right-button-container">
          <b-button
            variant="primary"
            class="top-right-button"
            @click="$router.push({ name: 'financial-statement-income-create' })"
            >{{ $t("buttons.create-income") }}</b-button
          >
          <b-button
            variant="primary"
            class="top-right-button"
            @click="
              $router.push({ name: 'financial-statement-outflow-create' })
            "
            >{{ $t("buttons.create-outflow") }}</b-button
          >
        </div>
      </template>
    </header-list>
    <b-collapse v-model="showFilters" class="mb-4">
      <FinancialStatementListFilter @setFilters="setFilters" />
    </b-collapse>
    <Datatable
      ref="datatable"
      :apiBase="apiBase"
      :columns="columns"
      :perPage="perPage"
      :filter="filter"
      @getPagination="getPagination"
      :slotNames="slotNames"
    >
      <template v-slot:due="props">
        <currency
          v-if="props.props.rowData.type_movement === 'outflow'"
          :amount="props.props.rowData.amount"
        />
        <span v-else>-</span>
      </template>
      <template v-slot:havings="props">
        <currency
          v-if="props.props.rowData.type_movement === 'income'"
          :amount="props.props.rowData.amount"
        />
        <span v-else>-</span>
      </template>
      <template v-slot:balance="props">
        <currency
          v-if="props.props.rowData.balance"
          :amount="props.props.rowData.balance"
        />
        <span v-else>-</span>
      </template>
    </Datatable>
  </div>
</template>

<script>
import HeaderList from "../../../../components/Common/HeaderList";
import SimpleSearch from "@/components/Filter/SimpleSearch";
import SimpleSelect from "@/components/Filter/Select";
import PageOptions from "@/components/Common/PageOptions";
import Datatable from "@/components/Common/Datatable";
import ChangePageMixin from "@/mixins/ChangePageMixin";
import dataTableMixin from "@/mixins/dataTableMixin";
import ConsortiumRepository from "@/repositories/ConsortiumRepository";
import vSelect from "vue-select";
import "vue-select/dist/vue-select.css";
import FinancialStatementListFilter from "@/containers/filters/FinancialStatementListFilter";

const BASEURL = process.env.VUE_APP_BASEURL;

export default {
  data() {
    return {
      name: "FinancialStatementList",
      slotNames: ["due", "havings", "balance"],
      consortiumSearchUrl: BASEURL + "/consortium",
      showFilters: false,
      columns: [
        {
          name: "date",
          title: "Fecha",
          titleClass: "",
          dataClass: "text-muted",
          width: "15%",
        },
        {
          name: "description",
          title: "Description",
          titleClass: "",
          dataClass: "text-muted",
          width: "30%",
        },
        {
          name: "__slot:due",
          title: "Debe",
          titleClass: "",
          dataClass: "text-muted red",
          width: "20%",
        },
        {
          name: "__slot:havings",
          title: "Haber",
          titleClass: "",
          dataClass: "text-muted",
          width: "20%",
        },
        {
          name: "__slot:balance",
          title: "Saldo",
          titleClass: "",
          dataClass: "text-muted",
          width: "15%",
        },
      ],
      typeOptions: [
        {
          text: "Orden",
          value: "order",
        },
        {
          text: "Razon Social",
          value: "business_name",
        },
        {
          text: "Nombre fantasia",
          value: "fancy_name",
        },
      ],
      typeConsortiumField: "order",
      apiBase: BASEURL + `/consortium/`,
      perPage: 10,
      pageSizes: [10, 15, 20, 25],
      idConsortiumSelected: "",
    };
  },
  methods: {
    addPartialFilters(filter) {
      this.partialFilters = { ...this.partialFilters, ...filter };
    },
    setFilters(filters) {
      let incomeFilters = filters;
      for (let key in incomeFilters) {
        if (incomeFilters[key] === "" || incomeFilters[key] === null) {
          delete incomeFilters[key];
        }
      }
      this.filter = incomeFilters;
      this.$nextTick(() => {
        this.$refs.datatable.$refs.vuetable.refresh();
      });
    },
    setApiBase(id) {
      this.apiBase = BASEURL + `/consortium/${id}/movement/`;
    },
    async getListConsortium() {
      return await ConsortiumRepository.getListConsortium(this.user.authHeader);
    },
    async onSelectedConsortium(field, idConsortium) {
      if (idConsortium != null) {
        this.setApiBase(idConsortium);
      }
    },
  },
  components: {
    HeaderList,
    SimpleSearch,
    SimpleSelect,
    PageOptions,
    Datatable,
    vSelect,
    FinancialStatementListFilter,
  },
  async mounted() {
    try {
      let consortiumList = await this.getListConsortium();
      this.idConsortiumSelected = consortiumList.rows[0].id;
      this.setApiBase(this.idConsortiumSelected);
    } catch (error) {
      this.$notify("error", "Ocurrio un error", error, {
        duration: 3000,
        permanent: false,
      });
      throw error;
    }
  },
  mixins: [ChangePageMixin, dataTableMixin],
};
</script>
<style>
.vuetable-detail-row {
  transform: translateY(-6px);
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1), 0 3px 20px rgba(0, 0, 0, 0.1) !important;
}
</style>
