<template>
  <div>
    <header-list :title="$t('pages.create-financial-statement-outflow')"></header-list>

    <b-row align-h="center">
      <b-colxx cols="12" lg="10">
        <b-card class="pt-3">
          <financial-statement-form
            ref="financialStatementOutflowForm"
            :submitOutflowMovement="submitOutflowMovement"
            v-bind.sync="formData"
          />
        </b-card>
      </b-colxx>
    </b-row>
  </div>
</template>

<script>
import HeaderList from "../../../../components/Common/HeaderList";
import FinancialStatementForm from "../../../../containers/forms/FinancialStatementOutflowForm";
import FinancialStatementRepository from "../../../../repositories/FinancialStatementRepository";
import BankMovementsRepository from "../../../../repositories/BankMovementsRepository";
import ChecksModal from "../../../../components/Form/FinancialStatementForm/ChecksModal";
import TransfersModal from "../../../../components/Form/FinancialStatementForm/TransfersModal";
import { mapGetters } from "vuex";
import moment from "moment";

export default {
  name: "financialStatementOutflowCreate",
  data() {
    return {
      formData: {
        consortium_id: null,
        description: "",
        date: null,
        cash_amount: 0,
        total_amount: "",
        ownChecks: [],
        otherChecks: [],
        transfers: []
      },
      ownCheck: null,
      amountError: false
    };
  },
  methods: {
    async submitOutflowMovement() {
      let validForm = this.validateForm("financialStatementOutflowForm");
      if (validForm) {
        try {
          let bank_account_movements = [];
          if (this.formData.transfers.length) {
            bank_account_movements = await this.submitTransfers();
          }
          this.formatMovement();
          let checks = this.cleanChecks();
          await FinancialStatementRepository.storeFinancialStatementOutflow(
            this.user.authHeader,
            { ...this.formData, checks, bank_account_movements },
            this.formData.consortium_id
          );
          this.$notify(
            "success",
            "Egreso creado",
            "El egreso fue creado satisfactoriamente.",
            { duration: 3000, permanent: false }
          );
          this.$router.push({ name: "financial-statement-list" });
        } catch (error) {
          this.$notify(
            "error",
            "Error creando egreso de estado financiero",
            error,
            { duration: 3000, permanent: false }
          );
        }
      }
    },
    dateFormatter(dateToFormat) {
      return moment(dateToFormat).format("DD-MM-YYYY");
    },
    formatMovement() {
      this.formData.date = this.dateFormatter(this.formData.date);
      if (!this.formData.cash_amount.length) {
        this.formData.cash_amount = 0;
      }
    },
    validateForm(refName) {
      this.$refs[refName].$v.$touch();
      return !this.$refs[refName].$v.$anyError;
    },
    async submitTransfers() {
      let transfersId = await this.formData.transfers.map(async transfer => {
        transfer.date = this.dateFormatter(this.formData.date);
        let response = await BankMovementsRepository.storeBankAccountMovement(
          this.user.authHeader,
          this.formData.consortium_id,
          transfer.bank_account_id,
          transfer
        );
        return response.id;
      });
      return await Promise.all(transfersId);
    },
    cleanChecks() {
      return [
        ...this.formData.ownChecks.map(check => check.id),
        ...this.formData.otherChecks.map(check => check.id)
      ];
    }
  },
  components: {
    HeaderList,
    FinancialStatementForm,
    ChecksModal,
    TransfersModal
  },
  computed: {
    ...mapGetters({
      user: "currentUser"
    })
  }
};
</script>
