<template>
  <b-modal id="confirmModal" :title="title">
    <p class="text-justify">{{ description }}</p>
    <template slot="modal-footer">
      <b-button variant="secondary" @click="cancelModal">{{ cancel }}</b-button>

      <b-button variant="primary" @click="acceptModal" class="mr-1">{{ confirm }}</b-button>
    </template>
  </b-modal>
</template>

<script>
export default {
  data() {
    return {};
  },
  props: ["title", "description", "confirm", "cancel"],
  methods: {
    acceptModal() {
      this.$emit("acceptModal");
    },
    cancelModal() {
      this.$bvModal.hide("confirmModal");
    }
  }
};
</script>
