<template>
  <span :class="currencyClass">{{ $n(amount, "currency", "es-AR") }}</span>
</template>

<script>
export default {
  name: "Currency",
  props: ["amount", "currencyClass"],
};
</script>

<style lang="scss" scoped></style>
