<template>
  <div>
    <b-row>
      <b-col xxs="12">
        <vuetable
          ref="vuetable"
          class="table-divided order-with-arrow"
          no-data-template="No se encontraron registros"
          :load-on-start="loadStart"
          :api-url="apiBase"
          :http-options="user.authHeader"
          :query-params="makeQueryParams"
          :per-page="perPage"
          :reactive-api-url="true"
          :fields="columns"
          pagination-path
          :row-class="onRowClass"
          :transform="transform"
          :detail-row-component="detailRow"
          @vuetable:pagination-data="onPaginationData"
          @vuetable:cell-clicked="onCellClicked"
          @vuetable:row-clicked="rowClicked"
        >
          <template :slot="name" slot-scope="props" v-for="name in slotNames">
            <slot :props="props" :name="name"></slot>
          </template>
          <template slot="actions" slot-scope="props">
            <button
              class="btn btn-xs btn-outline-secondary"
              style="border-color:transparent;"
              @click.stop="showContextMenu(props, $event)"
            >
              <i class="simple-icon-options-vertical" />
            </button>
          </template>
        </vuetable>
        <vuetable-pagination-bootstrap
          class="mt-4"
          ref="pagination"
          @vuetable-pagination:change-page="onChangePage"
        />
      </b-col>
    </b-row>
    <v-contextmenu ref="contextmenu">
      <v-contextmenu-item
        v-for="item in contextMenuItems"
        :key="item.text"
        @click="onContextMenuAction(item.action)"
      >
        <i :class="item.icon" />
        <span>{{ item.text }}</span>
      </v-contextmenu-item>
    </v-contextmenu>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import { paginationParser } from "../../utils/paginationParser";
import Vuetable from "vuetable-2/src/components/Vuetable";
import VuetablePaginationBootstrap from "../../components/Common/VuetablePaginationBootstrap";

export default {
  props: {
    apiBase: String,
    perPage: Number,
    filter: Object,
    columns: Array,
    contextMenuItems: Array,
    slotNames: Array,
    detailRow: { type: String, default: "" },
    loadStart: { type: Boolean, default: true },
  },
  data() {
    return {
      currentElement: null,
      selectedItems: [],
    };
  },
  methods: {
    makeQueryParams(sortOrder, currentPage, perPage) {
      this.selectedItems = [];
      return sortOrder[0]
        ? {
            sort_by: sortOrder[0] ? sortOrder[0].field : "",
            sort_dir: sortOrder[0] ? sortOrder[0].direction : "",
            page: currentPage,
            page_size: this.perPage,
            filters: JSON.stringify(this.filter),
          }
        : {
            page: currentPage,
            page_size: this.perPage,
            filters: JSON.stringify(this.filter),
          };
    },
    onRowClass(dataItem, index) {
      if (this.selectedItems.includes(dataItem.id)) {
        return "selected";
      }
      return "";
    },
    rowClicked(dataItem) {
      this.$emit("onRowClicked", dataItem);
      if (this.detailRow.length) {
        this.$refs.vuetable.toggleDetailRow(dataItem.id);
      }
    },
    onCellClicked(data, field, event) {
      this.$emit("onCellClicked", data, field, event);
    },
    transform(response) {
      return paginationParser(response);
    },
    onPaginationData(paginationData) {
      this.$emit("getPagination", paginationData);
      this.$refs.pagination.setPaginationData(paginationData);
    },
    async showContextMenu(props, event) {
      await this.$refs.contextmenu.show();
      let width = this.$refs.contextmenu.$refs.contextmenu.offsetWidth;
      this.currentElement = props.rowData;
      this.$refs.contextmenu.show({
        top: event.pageY,
        left: event.pageX - width,
      });
    },
    onContextMenuAction(action) {
      this.$emit("onContextMenuAction", action, this.currentElement);
    },
    onChangePage(page) {
      this.$refs.vuetable.changePage(page);
    },
  },
  computed: {
    isSelectedAll() {
      return this.selectedItems.length >= this.items.length;
    },
    isAnyItemSelected() {
      return (
        this.selectedItems.length > 0 &&
        this.selectedItems.length < this.items.length
      );
    },
    ...mapGetters({
      user: "currentUser",
    }),
  },
  components: {
    Vuetable,
    VuetablePaginationBootstrap,
  },
};
</script>
