<template>
    <b-row>
        <b-colxx xxs="12">
            <h1>{{ title }}</h1>
                <slot name="buttons"></slot>
            <piaf-breadcrumb />
            <b-collapse class="d-md-block">
                <slot name="filters"></slot>
            </b-collapse>
            <div class="separator mb-5" />
        </b-colxx>
    </b-row>
</template>

<script>
    export default {
        name: "HeaderList",
        props: [
            "title",
            "selectAll",
            "isSelectedAll",
            "isAnyItemSelected",
            "keymap",
            "changePageSize",
            "searchChange",
            "from",
            "to",
            "total",
            "perPage",
        ],
        data() {
            return {
                pageSizes: [4, 8, 12],
            }
        }
    }
</script>
