<template>
  <b-row>
    <b-colxx xxs="12">
      <div
        class="d-flex align-items-center justify-content-between"
        :class="headerClass"
      >
        <div>
          <h2 :class="titleClass">{{ title }}</h2>
        </div>
        <div class="d-flex align-items-baseline">
          <slot name="extra"></slot>
          <slot name="buttons"></slot>
        </div>
      </div>
      <slot name="children"></slot>
    </b-colxx>
  </b-row>
</template>

<script>
export default {
  name: "HeaderForm",
  props: [
    "title",
    "selectAll",
    "isSelectedAll",
    "isAnyItemSelected",
    "keymap",
    "titleClass",
    "headerClass",
  ],
};
</script>
