<template>
    <div class="float-md-right pt-1">
        <span class="text-muted text-small mr-1 mb-2"
        >{{ from }}-{{ to }} of {{ total }}</span>
        <b-dropdown
            id="ddown2"
            right
            :text="`${perPage}`"
            variant="outline-dark"
            class="d-inline-block"
            size="xs">
            <b-dropdown-item
                v-for="(size, index) in pageSizes"
                :key="index"
                @click="changePageSize(size)"
            >{{ size }}</b-dropdown-item>
        </b-dropdown>
    </div>
</template>

<script>
    export default {
        props: [
            'from',
            'to',
            'total',
            'perPage',
            'pageSizes',
            'changePageSize'
        ]
    }
</script>
