<template>
    <b-button
        :variant="variant"
        :class="class"
        @click="handleClick"
    >{{ name }}</b-button>
</template>

<script>
    export default {
        props: [
            'name',
            'variant',
            'class',
            'handleClick',
        ],
        data() {
            return {

            }
        },
    }
</script>
