<template>
    <div>
        <header-list :title="$t('pages.create-payment-order')"/>

        <b-row align-h="center">
            <b-colxx cols="12" lg="10">
                <b-card class="pt-3">
                    <payment-order-form ref="paymentOrderForm" :submitPaymentOrder="submitPaymentOrder" v-bind.sync="formData"/>
                </b-card>
            </b-colxx>
        </b-row>
    </div>
</template>

<script>
    import HeaderList from "@/components/Common/HeaderList";
    import ConsortiumPercentageRepository from "@/repositories/ConsortiumPercentageRepository";
    import PaymentOrderForm from "@/containers/forms/PaymentOrderForm";
    import { mapGetters } from "vuex";

    export default {
        name: "CreatePaymentOrder",
        data() {
            return {
                idConsortium: "",
                formData: {
                    date: "",
                    payment_order_type: "provider",
                    description: "",
                    provider_id: 0,
                    consortium_id: 0
                }
            }
        },
        methods: {
            async submitPaymentOrder() {
                let validate = this.validateForm('paymentOrderForm');
                if(validate) {
                    try {
                        await ConsortiumPercentageRepository.storeConsortiumPercentage(
                            this.user.authHeader,
                            this.formData,
                            this.idConsortium
                        );
                        this.$notify(
                            "success",
                            "Porcentaje creado",
                            "El porcentaje fue creado satisfactoriamente.",
                            { duration: 3000, permanent: false }
                        );
                        this.$router.push({ name: 'consortium-percentage-list' });
                    } catch (error) {
                        this.$notify(
                            "error",
                            "Error al crear el porcentaje",
                            error.response.data.message.position[0],
                            { duration: 3000, permanent: false }
                        );
                    }
                }
            },
            validateForm(refName) {
                this.$refs[refName].$v.$touch();
                return !this.$refs[refName].$v.$anyError;
            }
        },
        components: {
            HeaderList,
            PaymentOrderForm
        },
        beforeMount() {
            this.idConsortium = this.$route.params.id;
        },
        computed: {
            ...mapGetters({
                user: "currentUser",
            }),
        }
    }
</script>
