<template>
  <b-row align-h="center">
    <b-col cols="12" lg="10" xl="10">
      <b-card no-body>
        <b-card-body class="wizard wizard-default">
          <form-wizard
            nav-class="justify-content-between"
            :withValidate="true"
            :last-step-end="false"
            :top-nav-disabled="true"
            :isModalAble="isModalAble"
            ref="formWizard"
            @showModal="showModal"
            @submitConsortium="submitConsortium"
          >
            <tab
              :name="$t('wizard.first-step-name')"
              :desc="$t('wizard.create-consortium.first-step-description')"
              :validate="validateStep1"
              :submit="submitStep1"
              :selected="!lastStep"
              class="pt-2 pb-2"
            >
              <first-step
                v-bind.sync="formStep1"
                ref="firstStep"
                :disableInputs="isConsortiumCreated"
              />
            </tab>
            <tab
              :name="$t('wizard.second-step-name')"
              :desc="$t('wizard.create-consortium.second-step-description')"
              :validate="validateStep2"
              :submit="submitStep2"
              class="pt-2 pb-2"
            >
              <div class="wizard-basic-step">
                <b-form class="av-tooltip tooltip-label-right">
                  <b-container>
                    <b-row>
                      <b-col cols="12">
                        <b-card>
                          <b-form-group
                            :label="$t('forms.percentages')"
                            label-class="lead-small mb-2"
                            class="mb-0"
                          >
                            <div class="separator mb-4" />
                            <second-step
                              v-for="(item, index) in formStep2"
                              v-bind.sync="item"
                              :id="index"
                              @removePorcentage="removePorcentage"
                              :ref="`secondStep-${index}`"
                              :key="index"
                              :total="formStep2.length"
                            />
                            <div class="d-flex justify-content-center mt-4">
                              <button
                                type="button"
                                class="btn btn-primary"
                                @click="addPorcentage"
                                :disabled="formStep2.length >= 7"
                              >
                                {{
                                $t(
                                "wizard.create-consortium.add-percentage"
                                )
                                }}
                              </button>
                            </div>
                          </b-form-group>
                        </b-card>
                      </b-col>
                    </b-row>
                  </b-container>
                </b-form>
              </div>
            </tab>
            <tab
              :name="$t('wizard.third-step-name')"
              :desc="$t('wizard.create-consortium.third-step-description')"
              :validate="validateStep3"
              :submit="submitStep3"
              class="pt-2 pb-2"
            >
              <div class="wizard-basic-step">
                <b-form class="av-tooltip tooltip-label-right">
                  <b-container>
                    <b-row>
                      <b-col cols="12">
                        <b-card>
                          <b-form-group
                            :label="$t('forms.fu-data-title')"
                            label-class="lead-small mb-2"
                            class="mb-0"
                          >
                            <!-- intento de paginacion para mejorar performance cuando hay muchas uf -->
                            <!-- <b-pagination
                              v-model="currentPage"
                              :total-rows="rows"
                              :per-page="perPage"
                              aria-controls="my-form"
                            ></b-pagination>-->
                            <div class="separator mb-4" id="my-form">
                              <third-step
                                v-for="(item, index) in formStep3"
                                v-bind.sync="item"
                                :id="index"
                                :ref="`thirdStep-${index}`"
                                :key="index"
                                :disableInputs="areFUCreated"
                              />
                            </div>
                          </b-form-group>
                        </b-card>
                      </b-col>
                    </b-row>
                  </b-container>
                </b-form>
              </div>
            </tab>
            <tab
              :name="$t('wizard.fourth-step-name')"
              :desc="$t('wizard.create-consortium.fourth-step-description')"
              :submit="submitStep4"
              class="pt-2 pb-2"
              :selected="lastStep"
            >
              <div class="wizard-basic-step">
                <b-form class="av-tooltip tooltip-label-right">
                  <b-container>
                    <b-row>
                      <b-col cols="12">
                        <b-card class="pb-0">
                          <b-form-group
                            :label="$t('forms.add-percentage')"
                            label-class="lead-small mb-2"
                            class="mb-0"
                          >
                            <div class="separator mb-4" />
                            <b-form-row>
                              <b-table
                                striped
                                hover
                                :items="formStep4.elements"
                                :fields="formStep4.fields"
                                foot-clone
                              >
                                <template v-slot:head()="data">
                                  <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                      <span>{{ data.label }}</span>
                                    </div>
                                    <div v-show="data.label != 'ID'">
                                      <!-- <b-button-group> -->
                                      <b-button
                                        v-b-tooltip.hover
                                        title="Copiar"
                                        size="xs"
                                        variant="primary"
                                        @click="copyColumnValues(data.label)"
                                      >
                                        <i class="iconsminds-file-copy" />
                                      </b-button>
                                      <b-button
                                        v-b-tooltip.hover
                                        title="Pegar"
                                        size="xs"
                                        variant="primary"
                                        @click="pasteColumnValues(data.label)"
                                      >
                                        <i class="iconsminds-file-edit" />
                                      </b-button>
                                      <!-- </b-button-group> -->
                                    </div>
                                  </div>
                                </template>
                                <!-- <template v-slot:thead-top="data">
                                  <b-tr>
                                    <b-th colspan="1"
                                      ><span class="sr-only"
                                        >Name and ID</span
                                      ></b-th
                                    >
                                    <b-th variant="secondary">Type 1</b-th>
                                    <b-th variant="primary" colspan="3"
                                      >Type 2</b-th
                                    >
                                  </b-tr>
                                </template>-->
                                <template
                                  v-for="(field,
                                  index) in editableFieldsPercentage"
                                  v-slot:[`cell(${field.key})`]="{ item }" 
                                >
                                  <b-form-group :key="field.key">
                                    <b-form-input
                                      v-model="item[field.key]"
                                      :key="index"
                                      @blur="
                                        setLocalStorage(formStep4, 'formStep4')
                                      "
                                    />
                                    <b-form-invalid-feedback
                                      :key="
                                        item[field.key].functional_unit_number
                                      "
                                      v-if="
                                        item[field.key] > 100 ||
                                          item[field.key] === ''
                                      "
                                      class="d-block"
                                    >
                                      El valor debe estar entre 0 y
                                      100
                                    </b-form-invalid-feedback>
                                  </b-form-group>
                                </template>
                                <template v-slot:foot()="data">
                                  <b-tr>
                                    <b-td v-if="data.label == 'ID'">
                                      <span>Total</span>
                                    </b-td>
                                    <b-td v-else>
                                      <span v-if="percentageTotal[data.field.index]">
                                        {{
                                        `${
                                        percentageTotal[data.field.index]
                                        }${"%"}`
                                        }}
                                      </span>
                                      <span v-else>0%</span>
                                    </b-td>
                                  </b-tr>
                                </template>
                              </b-table>
                            </b-form-row>
                          </b-form-group>
                        </b-card>
                      </b-col>
                    </b-row>
                  </b-container>
                </b-form>
              </div>
              <b-modal
                id="percentageModal"
                ref="percentageModal"
                :title="$t('wizard.create-consortium.modal-percentage')"
              >
                <p class="text-justify">{{ $t("wizard.create-consortium.modal-text") }}</p>
                <template slot="modal-footer">
                  <b-button
                    variant="primary"
                    @click="acceptModal"
                    class="mr-1"
                  >{{ $t("wizard.continue") }}</b-button>
                  <b-button variant="secondary" @click="cancelModal">{{ $t("wizard.cancel") }}</b-button>
                </template>
              </b-modal>
            </tab>

            <tab type="done">
              <div class="wizard-basic-step text-center pt-3">
                <h2 class="mb-2">Listo!</h2>
                <p>Proceso terminado</p>
              </div>
            </tab>
          </form-wizard>
        </b-card-body>
      </b-card>
    </b-col>
  </b-row>
</template>

<script>
import FormWizard from "../../components/Form/Wizard/FormWizard";
import Tab from "../../components/Form/Wizard/Tab";
import FirstStepTab from "../../components/Form/CreateConsortiumForm/FirstStepTab";
import SecondStepTab from "../../components/Form/CreateConsortiumForm/SecondStepTab";
import ThirdStepTab from "../../components/Form/CreateConsortiumForm/ThirdStepTab";
import ConsortiumRepository from "../../repositories/ConsortiumRepository";
import FunctionalUnitsRepository from "../../repositories/FunctionalUnitsRepository";
import PercentagesRepository from "../../repositories/PercentagesRepository";
import createConsortiumMixin from "../../mixins/CreateConsortiumMixin";
import { mapGetters } from "vuex";
import { validationMixin } from "vuelidate";
const moment = require("moment");
const {
  required,
  email,
  minValue,
  minLength,
  maxLength,
  alpha
} = require("vuelidate/lib/validators");
export default {
  components: {
    tab: Tab,
    "form-wizard": FormWizard,
    "first-step": FirstStepTab,
    "second-step": SecondStepTab,
    "third-step": ThirdStepTab
  },
  data() {
    return {
      currentPage: 1,
      perPage: 10,
      isProcessing: false,
      lastStep: false,
      consortium: {},
      percentages: [],
      functionalUnits: [],
      formStep1: {
        order: "",
        business_name: "",
        address_street: "",
        address_number: "",
        country_id: null,
        province_id: null,
        location: "",
        postal_code: "",
        cuit: "",
        category: null,
        count_floors: "",
        count_functional_units: "",
        first_due_date: ""
      },
      formStep2: [
        {
          name: "",
          position: "1"
        }
      ],
      formStep3: [],
      formStep4: {
        fields: [],
        elements: []
      },
      percentageColumnCopy: [],
      isModalAble: true
    };
  },
  mixins: [validationMixin, createConsortiumMixin],
  validations: {},
  computed: {
    formattedPercentages() {
      return this.formStep2.map(element => {
        return {
          ...element,
          type: "spendings",
          particular_percentage: false,
          hidden_expense_spending: false,
          hidden_in_proration: false,
          hidden_percentage_value: false,
          equal_parts: false
        };
      });
    },
    editableFieldsPercentage() {
      return this.formStep4.fields.filter(field => field.editable);
    },
    percentageTotal() {
      return this.percentages.map((percentage, index) => {
        return this.formStep4.elements.reduce((a, functionalUnit) => {
          return functionalUnit[percentage.name]
            ? a + parseFloat(functionalUnit[percentage.name])
            : a + 0;
        }, 0);
      });
    },
    ...mapGetters({
      user: "currentUser"
    }),
    rows() {
      return this.formStep3.length;
    },
    isConsortiumCreated() {
      return !!this.consortium.id;
    },
    areFUCreated() {
      return !!this.functionalUnits.length;
    }
  },
  methods: {
    validateStep1() {
      this.$refs["firstStep"].$v.$touch();
      return !this.$refs["firstStep"].$v.$anyError;
    },
    submitStep1() {
      this.setLocalStorage(this.formStep1, "formStep1");
      let ammount = parseFloat(this.formStep1.count_functional_units);
      let difference = ammount - this.formStep3.length;
      this.functionalUnitsFormCreator(difference);
      this.setLocalStorage(this.formStep3, "formStep3");
    },
    validateStep2() {
      return this.arrayValidator(this.formStep2, "secondStep");
    },
    submitStep2() {
      this.setLocalStorage(this.formStep2, "formStep2");
      this.generateFieldsPercentage();
      this.isModalAble = true;
    },
    validateStep3() {
      return this.arrayValidator(this.formStep3, "thirdStep");
    },
    async submitStep3() {
      if (this.formStep4.elements.length != this.formStep3.length) {
        this.generateUfsPercentage();
      }
      window.scrollTo(0, 0);
    },
    async submitStep4() {
      await this.assignPercentages();
      localStorage.removeItem("formStep4");
    },
    addPorcentage(event) {
      event.preventDefault();
      this.formStep2.push({ name: "", position: this.formStep2.length + 1 });
    },
    removePorcentage(id) {
      this.formStep2.splice(id, 1);
    },
    generateFieldsPercentage() {
      /* Genera fields from porcentuales */
      let fields = [{ key: "functional_unit_number", label: "ID" }];
      this.formStep2.map((el, index) => {
        fields.push({
          key: el.name,
          label: el.name,
          index: el.position - 1,
          editable: true
        });
      });
      this.formStep4.fields = fields;
    },
    generateUfsPercentage() {
      /* Genera rows from ufs*/
      this.formStep4.elements = [];
      this.formStep3.forEach((functionalUnit, index) => {
        let completeFunctionalUnit = {
          functional_unit_number: functionalUnit.functional_unit_number
        };

        this.formStep2.map(
          percentage => (completeFunctionalUnit[percentage.name] = 0)
        );
        this.formStep4.elements.push({ ...completeFunctionalUnit });
      });
    },
    showModal() {
      this.$bvModal.show("percentageModal");
    },
    async acceptModal() {
      this.isModalAble = false;
      try {
        await this.$bvModal.hide("percentageModal");
        if (!this.isConsortiumCreated) {
          this.consortium = await this.submitConsortium(false);
        }
        if (!this.areFUCreated) {
          this.functionalUnits = await this.submitFunctionalunits();
        }
        this.percentages = await this.submitPercentages();
        this.$refs["formWizard"].nextTab();
        this.cleanLocalStorage();
        this.setLocalStorage(this.formStep4, "formStep4");
      } catch (error) {
        this.isModalAble = true;
        throw error;
      }
    },
    cancelModal() {
      this.$bvModal.hide("percentageModal");
    },
    copyColumnValues(name) {
      if (this.percentageColumnCopy.length != 0) {
        this.percentageColumnCopy = [];
      }
      this.formStep4.elements.map(el => {
        this.percentageColumnCopy.push(el[name]);
      });
    },
    pasteColumnValues(name) {
      this.percentageColumnCopy.map((el, index) => {
        this.formStep4.elements[index][name] = el;
      });
    },
    async submitConsortium(firstStep = true) {
      let validate = this.validateStep1();
      if (validate) {
        try {
          let consortium = await ConsortiumRepository.createConsortium(
            this.user.authHeader,
            this.formStep1
          );
          localStorage.removeItem("formStep1");
          if (firstStep) this.$router.push("/");
          this.$notify("success", "Consorcio creado exitosamente", null, {
            duration: 2000,
            permanent: false
          });
          this.setLocalStorage(consortium, "consortium");
          return consortium;
        } catch (error) {
          this.$notify("error", "Error en la creacion de Consorcio", error, {
            duration: 3000,
            permanent: false
          });
          throw error;
        }
      }
    },
    async submitFunctionalunits() {
      try {
        let functionalUnits = await FunctionalUnitsRepository.createFunctionalUnits(
          this.user.authHeader,
          {
            consortium_id: this.consortium.id,
            functional_units: this.formStep3
          }
        );
        this.$notify(
          "success",
          "Unidades Funcionales creadas exitosamente",
          null,
          {
            duration: 1000,
            permanent: false
          }
        );
        this.setLocalStorage(functionalUnits, "functionalUnits");
        return functionalUnits;
      } catch (error) {
        this.$notify(
          "error",
          "Error en la carga de Unidades Funcionales",
          error,
          {
            duration: 1000,
            permanent: false
          }
        );
        throw error;
      }
    },
    async submitPercentages() {
      try {
        let percentages = await PercentagesRepository.createPercentages(
          this.user.authHeader,
          this.formattedPercentages,
          this.consortium.id
        );
        this.$notify("success", "Porcentuales creados exitosamente", null, {
          duration: 1000,
          permanent: false
        });
        this.setLocalStorage(percentages, "percentages");

        return percentages;
      } catch (error) {
        this.$notify("error", "Error en la creacion de Porcentuales", error, {
          duration: 1000,
          permanent: false
        });
        throw error;
      }
    },
    async assignPercentages() {
      try {
        for (let i = 0; i < this.percentages.length; i++) {
          let functionalUnits = [];
          for (let j = 0; j < this.formStep4.elements.length; j++) {
            let percentageName = this.percentages[i].name;
            functionalUnits.push({
              value: parseFloat(this.formStep4.elements[j][percentageName]),
              functional_unit_id: this.functionalUnits[j].id
            });
          }
          await PercentagesRepository.assignPercentage(
            this.user.authHeader,
            this.consortium.id,
            this.percentages[i].id,
            functionalUnits
          );
        }
        this.$notify("success", "Porcentuales asignados exitosamente", null, {
          duration: 3000,
          permanent: false
        });
        setTimeout(() => {
          this.$router.push("/");
        }, 2000);
      } catch (error) {
        this.$notify("error", "Error en la asignacion de porcentuales", error, {
          duration: 3000,
          permanent: false
        });
        throw error;
      }
    },
    arrayValidator(formStep, string) {
      return !formStep.some((element, i) => {
        this.$refs[`${string}-${i}`][0].$v.$touch();

        return this.$refs[`${string}-${i}`][0].$v.$anyError;
      });
    },
    setLocalStorage(item, name) {
      localStorage.setItem(name, JSON.stringify(item));
    },
    cleanLocalStorage() {
      localStorage.removeItem("formStep1");
      localStorage.removeItem("formStep2");
      localStorage.removeItem("formStep3");
    },
    functionalUnitsFormCreator(difference) {
      if (difference > 0) {
        for (let i = 0; i < difference; i++) {
          this.formStep3.push({
            functional_unit_number: "1",
            floor: "5",
            functional_unit_type_id: "",
            owner_first_name: "ivan",
            owner_last_name: "jolanda",
            initial_balance: ""
          });
        }
      } else if (difference < 0) {
        let positivedifference = difference * -1;
        for (let i = 0; i < positivedifference; i++) {
          this.formStep3.pop();
        }
      }
    }
  }
};
</script>
