<template>
  <div>
    <header-list :title="$t('pages.edit-bank-account')"> </header-list>

    <b-row align-h="center">
      <b-colxx cols="12" lg="10">
        <b-card class="pt-3">
          <bank-account-form
            ref="bankAccountFormRef"
            :submitBankAccount="submitBankAccount"
            :editBankAccount="editBankAccount"
            v-bind.sync="formData"
          />
        </b-card>
      </b-colxx>
    </b-row>
  </div>
</template>

<script>
import HeaderList from "@/components/Common/HeaderList";
import BankAccountForm from "@/containers/forms/BankAccountForm";
import BankAccountsRepository from "@/repositories/BankAccountsRepository";
import { mapGetters } from "vuex";
import { isEmpty } from "lodash";

export default {
  name: "BankAccountCreate",
  data() {
    return {
      editBankAccount: true,
      formData: {
        consortium_id: null,
        bank_id: null,
        account_number: null,
        cbu: null,
        alias: "",
        type: null,
        branch_office: "",
        owner: "",
        show_data_in_expense: false,
        signatorie_1: null,
        signatorie_2: null,
        signatorie_3: null,
      },
    };
  },
  methods: {
    async submitBankAccount() {
      let validate = this.validateForm("bankAccountFormRef");
      if (validate) {
        try {
          await BankAccountsRepository.editBankAccount(
            this.user.authHeader,
            this.idConsortium,
            this.idBank,
            this.formData
          );
          this.$notify(
            "success",
            "Cuenta creada",
            "La Cuenta fue creada satisfactoriamente.",
            { duration: 3000, permanent: false }
          );
          this.$router.push({ name: "bank-accounts" });
        } catch (error) {
          this.$notify("error", "Error header", error.response.data.message, {
            duration: 3000,
            permanent: false,
          });
        }
      }
    },
    validateForm(refName) {
      this.$refs[refName].$v.$touch();
      return !this.$refs[refName].$v.$anyError;
    },
  },
  async beforeMount() {
    if (!isEmpty(this.$route.query)) {
      this.idConsortium = this.$route.query.idConsortium;
      this.idBank = this.$route.query.idBank;

      try {
        let bankAccount = await BankAccountsRepository.getBankAccount(
          this.user.authHeader,
          this.idConsortium,
          this.idBank
        );
        for (let key in this.formData) {
          this.formData[key] = bankAccount[key];
        }
      } catch (error) {
        throw error;
      }
    }
  },
  components: {
    HeaderList,
    BankAccountForm,
  },
  computed: {
    ...mapGetters({
      user: "currentUser",
    }),
  },
};
</script>

<style lang="scss" scoped></style>
