<template>
  <div>
    <header-list :title="$t('menu.bank-accounts')">
      <template v-slot:filters>
        <div class="d-block d-md-inline-block pt-1">
          <div class="d-inline-block float-md-left mr-1 align-top d-flex">
            <v-select
              class="mr-2"
              placeholder="Elegir por"
              label="text"
              v-model="typeConsortiumField"
              :options="typeOptions"
              :reduce="(typeOptions) => typeOptions.value"
              style="min-width:100px"
            />
            <simple-select
              :filterBy="typeConsortiumField"
              :apiUrl="consortiumSearchUrl"
              @onInput="onSelectedConsortium"
              valueField="consortium_id"
              placeholder="Consorcio"
              style="min-width:200px"
            />
          </div>
        </div>
        <page-options
          :from="from"
          :to="to"
          :total="total"
          :perPage="perPage"
          :pageSizes="pageSizes"
          :changePageSize="changePageSize"
        />
      </template>
      <template v-slot:buttons>
        <div class="top-right-button-container">
          <b-button
            v-b-modal.modalright
            variant="primary"
            class="top-right-button"
            @click="$router.push({ name: 'bank-account-create' })"
          >{{ $t("buttons.create-bank-account") }}</b-button>
        </div>
      </template>
    </header-list>
    <Datatable
      ref="datatable"
      :apiBase="apiBase"
      :columns="computedColumns"
      :perPage="perPage"
      :contextMenuItems="contextMenuItems"
      :filter="filter"
      :loadStart="false"
      @getPagination="getPagination"
      @onContextMenuAction="onContextMenuAction"
      :slotNames="slotNames"
    >
      <template v-slot:balance="props">
        <currency :amount="props.props.rowData.balance" />
      </template>
    </Datatable>
    <confirm-modal
      ref="confirmModal"
      :title="$t('forms.bank-account.title-modal')"
      :description="$t('forms.bank-account.description-modal')"
      :confirm="$t('forms.confirm')"
      :cancel="$t('forms.cancel')"
      @acceptModal="acceptModal"
    ></confirm-modal>
  </div>
</template>

<script>
import HeaderList from "@/components/Common/HeaderList";
import SimpleSearch from "@/components/Filter/SimpleSearch";
import SimpleSelect from "@/components/Filter/Select";
import PageOptions from "@/components/Common/PageOptions";
import Datatable from "@/components/Common/Datatable";
import ConfirmModal from "@/components/Common/ConfirmModal";

import BankAccountRepository from "@/repositories/BankAccountsRepository";

import ChangePageMixin from "@/mixins/ChangePageMixin";
import dataTableMixin from "@/mixins/dataTableMixin";

import vSelect from "vue-select";
import "vue-select/dist/vue-select.css";
const BASEURL = process.env.VUE_APP_BASEURL;

export default {
  name: "BankAccountsList",
  data() {
    return {
      consortiumSearchUrl: BASEURL + "/consortium",
      slotNames: ["balance"],
      typeOptions: [
        {
          text: "Orden",
          value: "order"
        },
        {
          text: "Razon Social",
          value: "business_name"
        },
        {
          text: "Nombre fantasia",
          value: "fancy_name"
        }
      ],
      typeConsortiumField: "business_name",
      perPage: 10,
      pageSizes: [10, 15, 20, 25],
      apiBase: BASEURL + `/consortium/${this.consortiumSelected}/bank-account`,
      columns: [
        {
          name: "bank.name",
          title: "Nombre Banco",
          titleClass: "",
          dataClass: "text-muted",
          width: "33%"
        },
        {
          name: "account_number",
          title: "Número Cuenta",
          titleClass: "",
          dataClass: "text-muted",
          width: "33%"
        },
        {
          name: "__slot:balance",
          title: "Saldo",
          titleClass: "",
          dataClass: "text-muted",
          width: "33%"
        }
      ],
      contextMenuItems: [
        {
          text: "Ver Perfil",
          icon: "simple-icon-book-open",
          action: "bank-account-profile"
        },
        {
          text: "Ver Movimientos",
          icon: "simple-icon-home",
          action: "bank-account-movements"
        },
        {
          text: "Deshabilitar",
          icon: "simple-icon-trash",
          action: "bank-account-disable"
        }
      ],
      consortiumSelected: null,
      bankSelected: null
    };
  },
  methods: {
    setApiBase(idConsortium) {
      if (idConsortium) {
        this.apiBase = BASEURL + `/consortium/${idConsortium}/bank-account`;
      }
    },
    onSelectedConsortium(field, idConsortium) {
      this.consortiumSelected = idConsortium;
      this.setApiBase(idConsortium);
    },
    acceptModal() {
      this.$refs.confirmModal.$bvModal.hide("confirmModal");
      this.bankAccountDisabled(this.consortiumSelected, this.bankSelected);
    },
    async bankAccountDisabled(idConsortium, idBank) {
      try {
        let response = await BankAccountRepository.deleteBankAccount(
          this.user.authHeader,
          idConsortium,
          idBank
        );
        this.$notify(
          "success",
          "Eliminar Cuenta Bancaria",
          "Se ha eliminado la cuenta exitosamente",
          {
            duration: 3000,
            permanent: false
          }
        );
        this.$refs.datatable.$refs.vuetable.refresh();
      } catch (error) {
        this.$notify(
          "error",
          "Eliminar Cuenta Bancaria",
          error.response.data.message.id[0],
          {
            duration: 3000,
            permanent: false
          }
        );
      }
    },
    onContextMenuAction(action, element) {
      switch (action) {
        case "bank-account-profile":
          this.$router.push({
            name: "bank-account-profile",
            query: {
              idConsortium: this.consortiumSelected,
              idBank: element.id
            }
          });
          break;

        case "bank-account-disable":
          this.bankSelected = element.id;
          this.$refs.confirmModal.$bvModal.show("confirmModal");
          break;

        case "bank-account-movements":
          this.$router.push({
            name: "bank-account-movements",
            query: {
              idConsortium: this.consortiumSelected,
              idBank: element.id
            }
          });
          break;

        default:
          break;
      }
    }
  },
  components: {
    HeaderList,
    SimpleSearch,
    SimpleSelect,
    PageOptions,
    Datatable,
    vSelect,
    ConfirmModal
  },
  mixins: [ChangePageMixin, dataTableMixin]
};
</script>

<style lang="scss" scoped></style>
