<template>
  <div>
    <header-list :title="$t('menu.movements')">
      <template v-slot:filters>
        <div class="d-block d-md-inline-block pt-1">
          <div class="d-inline-block float-md-left mr-1 align-top d-flex">
            <v-select
              class="mr-2"
              placeholder="Elegir por"
              label="text"
              v-model="typeConsortiumField"
              :options="typeOptions"
              :reduce="(typeOptions) => typeOptions.value"
              style="min-width:100px"
            />
            <simple-select
              class="mr-2"
              :filterBy="typeConsortiumField"
              :apiUrl="consortiumSearchUrl"
              :selected="idConsortiumSelected"
              @onInput="onSelectedConsortium"
              valueField="consortium_id"
              placeholder="Consorcio"
              style="min-width:200px"
            />
            <simple-select
              :apiUrl="bankAccountsSearchUrl"
              :selected="bankAccountSelected"
              filterBy="id"
              :getLabel="getLabel"
              @onInput="onInputBankAccount"
              @onSet="onSelectedBankAccount"
              placeholder="Cuenta Bancaria"
              style="min-width:200px"
              :disabled="!idConsortiumSelected"
            />
            <b-button
              class="mx-2"
              size="xs"
              variant="outline-primary"
              @click="showFilters = !showFilters"
              >Filtros Avanzados</b-button
            >
          </div>
        </div>
        <page-options
          :from="from"
          :to="to"
          :total="total"
          :perPage="perPage"
          :pageSizes="pageSizes"
          :changePageSize="changePageSize"
        />
      </template>
    </header-list>
    <b-collapse v-model="showFilters" class="mb-4">
      <BankAccountsFilter @setFilters="setFilters" />
    </b-collapse>
    <Datatable
      ref="datatable"
      :apiBase="apiBase"
      :columns="columns"
      :perPage="perPage"
      :filter="filter"
      :loadStart="false"
      @getPagination="getPagination"
      :slotNames="slotNames"
    >
      <template v-slot:description="props">
        <span>
          {{ trimDescription(props) }}
        </span>
      </template>
      <template v-slot:due="props">
        <currency
          v-if="props.props.rowData.type === 'outflow'"
          :amount="props.props.rowData.amount"
        />
        <span v-else>-</span>
      </template>
      <template v-slot:havings="props">
        <currency
          v-if="props.props.rowData.type === 'income'"
          :amount="props.props.rowData.amount"
        />
        <span v-else>-</span>
      </template>
      <template v-slot:balance="props">
        <currency
          v-if="props.props.rowData.balance"
          :amount="props.props.rowData.balance"
          :currencyClass="
            props.props.rowData.balance < 0 ? 'text-error' : 'text-success'
          "
        />
      </template>
    </Datatable>
  </div>
</template>

<script>
import HeaderList from "@/components/Common/HeaderList";
import SimpleSearch from "@/components/Filter/SimpleSearch";
import SimpleSelect from "@/components/Filter/Select";
import PageOptions from "@/components/Common/PageOptions";
import Datatable from "@/components/Common/Datatable";
import ChangePageMixin from "@/mixins/ChangePageMixin";
import dataTableMixin from "@/mixins/dataTableMixin";
import BankAccountsFilter from "@/containers/filters/BankAccountsFilter";
import ConsortiumRepository from "@/repositories/ConsortiumRepository";
import BankAccountsList from "@/repositories/BankAccountsRepository";
import { isEmpty } from "lodash";

import vSelect from "vue-select";
import "vue-select/dist/vue-select.css";
const BASEURL = process.env.VUE_APP_BASEURL;
export default {
  name: "BankAccountsListMovements",
  data() {
    return {
      showFilters: false,
      consortiumSearchUrl: BASEURL + "/consortium",
      typeConsortiumField: "business_name",
      typeOptions: [
        {
          text: "Orden",
          value: "order",
        },
        {
          text: "Razon Social",
          value: "business_name",
        },
        {
          text: "Nombre fantasia",
          value: "fancy_name",
        },
      ],
      slotNames: ["description", "due", "havings", "balance"],
      columns: [
        {
          name: "date",
          title: "Fecha",
          titleClass: "",
          dataClass: "text-muted",
          width: "15%",
        },
        {
          name: "__slot:description",
          title: "Description",
          titleClass: "",
          dataClass: "text-muted",
          width: "30%",
        },
        {
          name: "__slot:due",
          title: "Debe",
          titleClass: "",
          dataClass: "text-muted red",
          width: "20%",
        },
        {
          name: "__slot:havings",
          title: "Haber",
          titleClass: "",
          dataClass: "text-muted",
          width: "20%",
        },
        {
          name: "__slot:balance",
          title: "Saldo",
          titleClass: "",
          dataClass: "text-muted",
          width: "15%",
        },
      ],
      apiBase:
        BASEURL +
        `/consortium/:idConsortium/bank-account/:idBankAccount/movement`,
      perPage: 10,
      pageSizes: [10, 15, 20, 25],
      idConsortiumSelected: null,
      bankAccountSelected: null,
    };
  },
  computed: {
    bankAccountsSearchUrl() {
      let idConsortium = this.idConsortiumSelected;
      if (!idConsortium) return this.apiBase;
      return BASEURL + `/consortium/${this.idConsortiumSelected}/bank-account`;
    },
  },
  methods: {
    getLabelConsortium(option) {
      return `${option[this.typeConsortiumField]}`;
    },
    getLabel(option) {
      return `N° ${option.account_number}`;
    },
    addPartialFilters(filter) {
      this.partialFilters = { ...this.partialFilters, ...filter };
    },
    setFilters(filters) {
      let incomeFilters = filters;
      for (let key in incomeFilters) {
        if (incomeFilters[key] === "" || incomeFilters[key] === null) {
          delete incomeFilters[key];
        }
      }
      this.filter = incomeFilters;
      this.$nextTick(() => {
        this.$refs.datatable.$refs.vuetable.refresh();
      });
    },
    setApiBase(idConsortium, idBankAccount) {
      if (idConsortium && idBankAccount) {
        this.apiBase =
          BASEURL +
          `/consortium/${idConsortium}/bank-account/${idBankAccount}/movement`;
      }
    },
    async onSelectedConsortium(field, idConsortium) {
      this.idConsortiumSelected = idConsortium;
    },
    async onInputBankAccount(field, idBankAccount) {
      this.bankAccountSelected = null;
      this.setApiBase(this.idConsortiumSelected, idBankAccount);
    },
    async onSelectedBankAccount(field, idBankAccount) {
      this.setApiBase(this.idConsortiumSelected, idBankAccount);
    },
    async getListConsortium() {
      return await ConsortiumRepository.getListConsortium(this.user.authHeader);
    },
    async getListBankAccounts(idConsortium) {
      return await BankAccountsList.getBankAccountList(
        this.user.authHeader,
        idConsortium
      );
    },
    trimDescription(props) {
      let description = props.props.rowData.description;
      return description.length > 50
        ? `${description.substr(0, 50)}...`
        : description;
    },
  },
  mounted() {
    if (!isEmpty(this.$route.query)) {
      this.idConsortiumSelected = Number(this.$route.query.idConsortium);
      this.bankAccountSelected = Number(this.$route.query.idBank);
    }
  },
  components: {
    HeaderList,
    SimpleSearch,
    SimpleSelect,
    PageOptions,
    vSelect,
    Datatable,
    BankAccountsFilter,
  },
  mixins: [ChangePageMixin, dataTableMixin],
  watch: {
    idConsortiumSelected: function(data) {
      data === null ? (this.bankAccountSelected = null) : null;
    },
  },
};
</script>

<style lang="scss" scoped></style>
