<template>
  <div>
    <header-list :title="$t('menu.payment-orders')">
      <template v-slot:filters>
        <div class="d-block d-md-inline-block pt-1">
          <div class="d-inline-block float-md-left mr-1 align-top d-flex">
            <simple-select
                class="mr-1"
                filterBy="business_name"
                :apiUrl="consortiumSearchUrl"
                @onInput="searchChange"
                valueField="consortium_id"
                placeholder="Consorcio"
                style="min-width:200px"
            />
            <simple-select
                class="mr-1"
                filterBy="name"
                :apiUrl="providerSearchUrl"
                @onInput="searchChange"
                valueField="provider_id"
                placeholder="Proveedor"
                style="min-width:200px"
            />
            <v-select
                @input="val => searchChange('status', val)"
                placeholder="Estado"
                label="text"
                :options="statusOptions"
                :reduce="(statusOptions) => statusOptions.value"
                style="min-width:200px"
            />
            <b-button
                class="mx-2"
                size="xs"
                variant="outline-primary"
                @click="showFilters = !showFilters"
            >Filtros Avanzados
            </b-button>

          </div>
        </div>
        <page-options
            :from="from"
            :to="to"
            :total="total"
            :perPage="perPage"
            :pageSizes="pageSizes"
            :changePageSize="changePageSize"
        />
      </template>
      <template v-slot:buttons>
        <div class="top-right-button-container">
          <b-button
              variant="primary"
              class="top-right-button"
              @click="$router.push({ name: 'payment-orders-create' })"
          >{{ $t('buttons.create-new') }}
          </b-button>
        </div>
      </template>
    </header-list>

    <b-collapse v-model="showFilters" class="mb-4">
      <payment-orders-list-filter @setFilters="setFilters"/>
    </b-collapse>

    <Datatable
        ref="datatable"
        :apiBase="apiBase"
        :columns="computedColumns"
        :perPage="perPage"
        :contextMenuItems="contextMenuItems"
        :filter="filter"
        @getPagination="getPagination"
        @onContextMenuAction="onContextMenuAction"
        :slotNames="slotNames"
    >
      <template v-slot:date="props">
        <div>{{ DateFormatter(props.props.rowData.date) }}</div>
      </template>
      <template v-slot:type="props">
        <div>{{ typeFormatter(props.props.rowData.type) }}</div>
      </template>
      <template v-slot:name="props">
        <div>{{ nameFormatter(props.props.rowData) }}</div>
      </template>
      <template v-slot:description="props">
        <span v-b-tooltip.hover :title="props.props.rowData.description">{{
            descriptionFormatter(props.props.rowData.description)
          }}</span>
      </template>
      <template v-slot:status="props">
        <div class="w-10 w-sm-100">
          <b-badge pill :variant="statusVariant(props.props.rowData.status)">
            {{ statusFormatter(props.props.rowData.status) }}
          </b-badge>
        </div>
      </template>
      <template v-slot:amount="props">
        <div>{{ amountFormatter(props.props.rowData.amount) }}</div>
      </template>
    </Datatable>

    <confirm-modal
        ref="confirmModal"
        :title="$t('forms.headers.title-modal')"
        :description="$t('forms.payment-orders.delete-modal')"
        :confirm="$t('forms.confirm')"
        :cancel="$t('forms.cancel')"
        @acceptModal="acceptModal"
    ></confirm-modal>
  </div>
</template>

<script>
import HeaderList from '@/components/Common/HeaderList';
import SimpleSearch from '@/components/Filter/SimpleSearch';
import SimpleSelect from '@/components/Filter/Select';
import PageOptions from '@/components/Common/PageOptions';
import Datatable from '@/components/Common/Datatable';
import ChangePageMixin from '@/mixins/ChangePageMixin';
import dataTableMixin from '@/mixins/dataTableMixin';
import PaymentOrdersRepository from '@/repositories/PaymentOrdersRepository';
import ConfirmModal from '@/components/Common/ConfirmModal';
import vSelect from 'vue-select';
import PaymentOrdersListFilter from '../../../../components/Form/PaymentOrder/PaymentOrdersListFilter';
import 'vue-select/dist/vue-select.css';

const BASEURL = process.env.VUE_APP_BASEURL;

export default {
  data() {
    return {
      columns: [
        {
          name: '__slot:date',
          title: 'Fecha',
          titleClass: '',
          dataClass: 'text-muted',
          width: '13%',
        },
        {
          name: 'id',
          title: 'N°',
          titleClass: '',
          dataClass: 'text-muted',
          width: '4%',
        },
        {
          name: 'provider_id',
          title: 'Prov',
          titleClass: '',
          dataClass: 'text-muted',
          width: '4%',
        },
        {
          name: '__slot:name',
          title: 'Nombre',
          titleClass: '',
          dataClass: 'text-muted',
          width: '30%',
        },
        {
          name: '__slot:description',
          title: 'Descripción',
          titleClass: '',
          dataClass: 'text-muted',
          width: '35%',
        },
        {
          name: '__slot:amount',
          title: 'Monto',
          titleClass: '',
          dataClass: 'text-muted text-right',
          width: '10%',
        },
        {
          name: '__slot:status',
          title: 'Estado',
          titleClass: '',
          dataClass: 'text-muted',
          width: '10%',
        },
      ],
      statusOptions: [
        {
          text: 'Abierta',
          value: 'open',
        },
        {
          text: 'Anulada',
          value: 'annulled',
        },
        {
          text: 'Pagada',
          value: 'paid',
        },
      ],
      apiBase: BASEURL + '/payment-order/',
      consortiumSearchUrl: BASEURL + '/consortium',
      providerSearchUrl: BASEURL + '/provider',
      showFilters: false,
      perPage: 10,
      pageSizes: [10, 15, 20, 25],
      slotNames: ['date', 'amount', 'name', 'description', 'descriptionTooltip', 'status'],
      contextMenuItems: [
        {
          text: 'Abonar Orden de Pago',
          icon: 'simple-icon-layers',
          action: 'payment-orders-payment',
        },
        {
          text: 'Ver Orden de Pago',
          icon: 'simple-icon-book-open',
          action: 'payment-orders-edit',
        },
        {
          text: 'Anular Orden de Pago',
          icon: 'simple-icon-trash',
          action: 'payment-order-delete',
        },
      ],
    };
  },
  methods: {
    onContextMenuAction(action, paymentOrder, ele) {
      switch (action) {
        case 'payment-orders-edit':
          this.$router.push({
            name: 'payment-orders-edit',
            params: {id: paymentOrder.id},
          });
          break;

        case 'payment-order-delete':
          if (paymentOrder.status !== 'open') {
            this.$notify(
                'error',
                'Error al anular Orden de Pago',
                'No es posible abonar una orden de pago cuyo estado no sea "Abierta"',
                {duration: 5000, permanent: false},
            );
          } else {
            this.idSelect = paymentOrder.id;
            this.$refs.confirmModal.$bvModal.show('confirmModal');
          }
          break;

        case 'payment-orders-payment':
          if (paymentOrder.status !== 'open') {
            this.$notify(
                'error',
                'Error al abonar Orden de Pago',
                'No es posible abonar una orden de pago cuyo estado no sea "Abierta"',
                {duration: 5000, permanent: false},
            );
          } else {
            this.$router.push({
              name: 'payment-orders-payment',
              params: {id: paymentOrder.id},
            });
          }
          break;

        default:
          break;
      }
    },
    async deletePaymentOrders(id) {
      try {
        await PaymentOrdersRepository.annularPaymentOrder(
            this.user.authHeader,
            id,
        );
        this.$refs.datatable.$refs.vuetable.refresh();
        this.$notify(
            'success',
            'Orden de Pago anulada',
            'La Orden de Pago fue anulada satisfactoriamente.',
            {duration: 3000, permanent: false},
        );
      } catch (error) {
        this.$notify(
            'error',
            'Error al anular Orden de Pago',
            error.response.data.message,
            {duration: 5000, permanent: false},
        );
      }
    },
    acceptModal() {
      this.$refs.confirmModal.$bvModal.hide('confirmModal');
      this.deletePaymentOrders(this.idSelect);
    },
    DateFormatter(date) {
      return date ? date.replace(/-/g, '/') : '-';
    },
    typeFormatter(type) {
      return type === 'variable' ? 'Variable' : 'Fijo';
    },
    nameFormatter(props) {
      if (props.provider_id != null) {
        return props.name;
      }

      return '';
    },
    nameFormatter(props) {
      if (props.provider_id != null) {
        return props.name;
      }

      return '';
    },
    statusFormatter(status) {
      let prop = '';
      switch (status) {
        case 'open' :
          prop = 'Abierta';
          break;
        case 'annulled' :
          prop = 'Anulada';
          break;
        case 'paid' :
          prop = 'Pagada';
          break;
        default :
          prop = '';
          break;
      }

      return prop;
    },
    descriptionFormatter(description) {
      if (description.length > 35) {
        return description.substr(0, 35) + '...';
      }
      return description;
    },
    statusVariant(status) {
      let prop = '';
      switch (status) {
        case 'open' :
          prop = 'danger';
          break;
        case 'annulled' :
          prop = 'dark';
          break;
        case 'paid' :
          prop = 'success';
          break;
      }
      return prop;
    },

  },
  components: {
    HeaderList,
    SimpleSearch,
    PageOptions,
    Datatable,
    ConfirmModal,
    SimpleSelect,
    vSelect,
    PaymentOrdersListFilter,
  },
  computed: {},

  mixins: [ChangePageMixin, dataTableMixin],
};

</script>