<template>
  <div>
    <header-list :title="$t('pages.edit-payment-order')"/>

    <b-row align-h="center">
      <b-colxx cols="12" lg="10">
        <b-card class="pt-3">
          <payment-order-form ref="paymentOrderForm" :edit-payment-order="true" :submitPaymentOrder="submitPaymentOrder" v-bind.sync="formData"/>
        </b-card>
      </b-colxx>
    </b-row>

  </div>
</template>

<script>
import HeaderList from '@/components/Common/HeaderList';
import PaymentOrdersRepository from '@/repositories/PaymentOrdersRepository';
import PaymentOrderForm from '@/containers/forms/PaymentOrderForm';
import {mapGetters} from 'vuex';
import moment from 'moment';
import ProviderRepository from '@/repositories/ProviderRepository';

export default {
  name: 'PaymentOrdersEdit',
  data() {
    return {
      idConsortium: '',
      formData: {
        date: '',
        payment_order_type: 'provider',
        description: '',
        provider_id: 0,
        consortium_id: 0,
        spendings: [],
      },
    };
  },
  async beforeMount() {
    this.id = this.$route.params.id;
    let response = await PaymentOrdersRepository.showPaymentOrder(this.user.authHeader, this.id);
    this.formData = {
      id: response.id,
      date: response.date,
      payment_order_type: 'provider',
      description: response.description,
      provider_id: response.provider_id,
      consortium_id: 0,
      spendings: _.map(response.installments, (i) => {
        return {
          id: i.id,
          spending: {
            consortium: {
              fancy_name: i.spending.consortium.fancy_name,
            },
            description: i.spending.description,
          },
          invoice_number: i.invoice_number,
          number: i.number,
          amount: i.amount,
        };
      }),
    };
  },
  methods: {
    async submitPaymentOrder() {
      let submitData = {
        date: moment(this.formData.date).format('DD-MM-YYYY'),
        installments: _.map(this.formData.spendings, (s) => {
          return {id: s.id};
        }),
        description: this.formData.description,
      };

      let validate = this.validateForm('paymentOrderForm');

      if (validate) {
        try {
          await PaymentOrdersRepository.updatePaymentOrder(
              this.user.authHeader,
              submitData,
              this.formData.id,
          );
          this.$notify(
              'success',
              'Order de pago creada',
              'La orden de pago fue creada satisfactoriamente.',
              {duration: 3000, permanent: false},
          );
          this.$router.push({name: 'payment-orders-list'});
        } catch (error) {
          this.$notify(
              'error',
              'Error al crear la orden de pago',
              error.response.data.message.position[0],
              {duration: 3000, permanent: false},
          );
        }
      }
    },
    validateForm(refName) {
      this.$refs[refName].$v.$touch();
      return !this.$refs[refName].$v.$anyError;
    },
  },
  components: {
    HeaderList,
    PaymentOrderForm,
  },
  computed: {
    ...mapGetters({
      user: 'currentUser',
    }),
  },

};
</script>
