<template>
  <div>
    <header-list :title="$t('pages.payment-order-payment')"/>

    <b-row align-h="center">
      <b-colxx cols="12" lg="10">
        <b-card class="pt-3">
          <payment-order-payment-form
              ref="paymentOrderForm"
              :submitPaymentOrderPayment="submitPaymentOrderPayment"
              :paymentOrder="paymentOrderData"
              v-bind.sync="formData"/>
        </b-card>
      </b-colxx>
    </b-row>

  </div>
</template>

<script>
import HeaderList from '@/components/Common/HeaderList';
import PaymentOrdersRepository from '@/repositories/PaymentOrdersRepository';
import PaymentOrderPaymentForm from '@/containers/forms/PaymentOrderPaymentForm';
import {mapGetters} from 'vuex';
import moment from 'moment';

export default {
  name: 'PaymentOrderPayment',
  data() {
    return {
      paymentOrderData: {
        provider: {},
        installments: [],
      },
      formData: {
        date: '',
        transfers: [],
        cashes: [],
        checks: [],
      },
    };
  },
  methods: {
    async submitPaymentOrderPayment() {
      let submitData = {
        id: this.paymentOrderData.id,
        cashboxes: [],
      };

      let checksConsIds = _.map(this.formData.checks, 'consortium_id');
      let cashesConsIds = _.map(this.formData.cashes, 'consortium_id');
      let transfersConsIds = _.map(this.formData.transfers, 'consortium_id');

      let checksGrouped = _.groupBy(this.formData.checks, 'consortium_id');
      let cashesGrouped = _.groupBy(this.formData.cashes, 'consortium_id');
      let transfersGrouped = _.groupBy(this.formData.transfers, 'consortium_id');

      let consortiumIds = _.uniq(_.concat(checksConsIds, transfersConsIds, cashesConsIds));
      let paymentOrderDate = moment(this.formData.date).format('DD-MM-YYYY');

      consortiumIds.forEach(item => {
        let tmpObject = {
          consortium_id: item,
          date: paymentOrderDate,
        };

        if (cashesGrouped[item]) {
          tmpObject.cash_amount = cashesGrouped[item].length ?
              _.sumBy(cashesGrouped[item], a => parseFloat(a.amount)) :
              0;
        } else {
          tmpObject.cash_amount = 0;
        }

        if (checksGrouped[item] && checksGrouped[item].length) {
          tmpObject.checks = _.map(checksGrouped[item], 'id');
        } else {
          tmpObject.checks = [];
        }

        if (transfersGrouped[item] && transfersGrouped[item].length) {
          tmpObject.transfers = transfersGrouped[item];
        } else {
          tmpObject.transfers = [];
        }

        submitData.cashboxes.push(tmpObject);
      });

      let validate = this.validateForm('paymentOrderForm');

      if (validate) {
        try {
          await PaymentOrdersRepository.doPayment(
              this.user.authHeader,
              submitData,
          );
          this.$notify(
              'success',
              'Order de pago abonada',
              'La orden de pago fue abonada satisfactoriamente.',
              {duration: 3000, permanent: false},
          );
          this.$router.push({name: 'payment-orders-list'});
        } catch (error) {
          this.$notify(
              'error',
              'Error al abonar la orden de pago',
              error.response.data.message,
              {duration: 3000, permanent: false},
          );
        }
      }
    },
    validateForm(refName) {
      this.$refs[refName].$v.$touch();

      let checks = this.formData.checks;
      let cashes = this.formData.cashes;
      let transfers = this.formData.transfers;

      if ((checks.length + cashes.length + transfers.length) === 0) {
        this.$notify(
            'error',
            'Medios de pago insuficientes',
            'Debe seleccionar al menos un medio de pago',
            {duration: 3000, permanent: false},
        );
        return false;
      } else {
        let totalCash = this.formData.cashes.reduce((total, i) => total + parseFloat(i.amount) , 0);
        let totalChecks = this.formData.checks.reduce((total, i) => total + parseFloat(i.amount) , 0);
        let totalTransfer = this.formData.transfers.reduce((total, i) => total + parseFloat(i.amount) , 0);

        if ((totalCash + totalChecks + totalTransfer) < parseFloat(this.paymentOrderData.amount)) {
          this.$notify(
              'error',
              'Fondos insuficientes',
              'El total de fondos ingresados no puede ser menor al monto de la orden de pago',
              {duration: 3000, permanent: false},
          );
          return false;
        }
      }

      return !this.$refs[refName].$v.$anyError;
    },
  },
  components: {
    HeaderList,
    PaymentOrderPaymentForm,
  },
  async beforeMount() {
    this.paymentOrderId = this.$route.params.id;
    this.paymentOrderData = await PaymentOrdersRepository.showPaymentOrder(this.user.authHeader, this.paymentOrderId);
  },
  computed: {
    ...mapGetters({
      user: 'currentUser',
    }),
  },
};
</script>
