<template>
  <b-row>
    <b-col cols="12">
      <b-row>

        <b-col cols="12" sm="12">
          <RangeDateFilter
              ref="RangeDateFilter"
              @onInput="addPartialFilters"
              :labelGroup="$t('forms.filters.range-date')"
              fromField="date_from"
              :fromLabel="$t('forms.from-date')"
              toField="date_to"
              :toLabel="$t('forms.to-date')"
          />
        </b-col>
        <b-col cols="12" sm="12">
          <InputFilter
              ref="descriptionFilter"
              @onInput="addPartialFilters"
              label="Descripción"
              placeholder="Filtrar por descripción"
              field="description"
          />
        </b-col>
      </b-row>
    </b-col>
    <b-col cols="12">
      <div class="separator mt-2 mb-3" />
    </b-col>
    <b-col cols="12" class="d-flex justify-content-end">
      <b-button variant="outline-primary" class="mr-3" @click="cleanFilter">
        {{
          $t("forms.filters.erase")
        }}
      </b-button>
      <b-button variant="primary" @click="setFilters">
        {{
          $t("forms.filters.filter")
        }}
      </b-button>
    </b-col>
  </b-row>
</template>

<script>
import RangeDateFilter from "@/components/Filter/RangeDateFilter";
import RangeAmountFilter from "@/components/Filter/RangeAmountFilter";
import OptionsFilter from "@/components/Filter/OptionsFilter";
import InputFilter from "@/components/Filter/InputFilter";
import {es} from 'vuejs-datepicker/dist/locale';
import Datepicker from 'vuejs-datepicker';
export default {
  name: "PaymentOrdersListFilter",
  components: {
    RangeDateFilter,
    RangeAmountFilter,
    OptionsFilter,
    InputFilter,
    datepicker: Datepicker,
  },
  data() {
    return {
      partialFilters: {},
      es,
    };
  },
  methods: {
    addPartialFilters(filter = {}) {
      this.partialFilters = { ...this.partialFilters, ...filter };
    },
    setFilters() {
      let dateResponse = this.$refs.RangeDateFilter.validate();
      if (dateResponse) {
        this.$emit("setFilters", this.partialFilters);
      }
    },
    cleanFilter() {
      let refs = Object.keys(this.$refs);
      refs.map(refName => {
        this.$refs[refName].cleanFields();
      });
      this.partialFilters = {};
      this.setFilters();
    }
  }
};
</script>
<style lang="scss" scoped></style>
