<template>
  <div>
    <header-list :title="$t('pages.create-payment-order')"/>

    <b-row align-h="center">
      <b-colxx cols="12" lg="10">
        <b-card class="pt-3">
          <payment-order-form ref="paymentOrderForm" :submitPaymentOrder="submitPaymentOrder" v-bind.sync="formData"/>
        </b-card>
      </b-colxx>
    </b-row>

  </div>
</template>

<script>
import HeaderList from '@/components/Common/HeaderList';
import PaymentOrdersRepository from '@/repositories/PaymentOrdersRepository';
import PaymentOrderForm from '@/containers/forms/PaymentOrderForm';
import {mapGetters} from 'vuex';
import moment from 'moment';

export default {
  name: 'CreatePaymentOrder',
  data() {
    return {
      idConsortium: '',
      formData: {
        date: '',
        payment_order_type: 'provider',
        description: '',
        provider_id: 0,
        consortium_id: 0,
        spendings: [],
      },
    };
  },
  methods: {
    async submitPaymentOrder() {
      let submitData = _.clone(this.formData);
      submitData.date = moment(this.formData.date).format('DD-MM-YYYY');
      submitData.installments = _.map(submitData.spendings, (s) => {
        return {
          id: s.id,
        };
      });

      let validate = this.validateForm('paymentOrderForm');

      if (validate) {
        try {
          await PaymentOrdersRepository.createPaymentOrder(
              this.user.authHeader,
              submitData,
          );
          this.$notify(
              'success',
              'Order de pago creada',
              'La orden de pago fue creada satisfactoriamente.',
              {duration: 3000, permanent: false},
          );
          this.$router.push({name: 'payment-orders-list'});
        } catch (error) {
          this.$notify(
              'error',
              'Error al crear la orden de pago',
              error.response.data.message.position[0],
              {duration: 3000, permanent: false},
          );
        }
      }
    },
    validateForm(refName) {
      this.$refs[refName].$v.$touch();
      return !this.$refs[refName].$v.$anyError;
    },
  },
  components: {
    HeaderList,
    PaymentOrderForm,
  },
  beforeMount() {
    this.idConsortium = this.$route.params.id;
  },
  computed: {
    ...mapGetters({
      user: 'currentUser',
    }),
  },
};
</script>