<template>
  <div>
    <header-list :title="$t('pages.edit-functional-unit')"></header-list>

    <b-row align-h="center">
      <b-colxx cols="12" lg="10">
        <b-card class="pt-3" id="functionalUnitForm">
          <functional-unit-form
            ref="functionalUnitForm"
            :submitFU="submitFU"
            v-bind.sync="formData"
          >
            <b-form-group
              :label="$t('forms.functional-units.percentages')"
              label-class="lead-small mb-2"
              class="mb-4"
              v-if="percentages.length"
            >
              <div class="separator mb-4" id="percentagesForm" />
              <b-row>
                <functional-unit-percentages-form
                  v-for="percentage in percentages"
                  v-bind.sync="percentage"
                  :key="percentage.id"
                  :ref="`percentage${percentage.id}`"
                />
              </b-row>
            </b-form-group>
          </functional-unit-form>
        </b-card>
      </b-colxx>
    </b-row>
  </div>
</template>

<script>
import HeaderList from "../../../../components/Common/HeaderList";
import FunctionalUnitForm from "../../../../containers/forms/FunctionalUnitForm";
import FunctionalUnitPercentagesForm from "../../../../containers/forms/FunctionalUnitPercentagesForm";
import FunctionalUnitsRepository from "../../../../repositories/FunctionalUnitsRepository";
import FunctionalUnitPercentagesRepository from "../../../../repositories/FunctionalUnitPercentagesRepository";
import { mapGetters } from "vuex";

export default {
  name: "HeaderUpdate",
  data() {
    return {
      idFU: "",
      editFunctionalUnit: true,
      percentages: [],
      formData: {
        functional_unit_number: "",
        floor: "",
        department: "",
        functional_unit_type_id: null,
        owner_first_name: "",
        owner_last_name: "",
        m2: "",
        legal_state: "",
        type_forgive_interest: null
      }
    };
  },
  async beforeMount() {
    this.idFU = this.$route.params.idFU;
    try {
      let {
        functional_unit_number,
        floor,
        department,
        functional_unit_type_id,
        owner_first_name,
        owner_last_name,
        m2,
        legal_state,
        type_forgive_interest
      } = await FunctionalUnitsRepository.showFunctionalUnit(
        this.user.authHeader,
        this.idFU
      );
      this.percentages = await this.formatFUPercentages();
      this.formData = {
        functional_unit_number,
        floor,
        department,
        functional_unit_type_id,
        owner_first_name,
        owner_last_name,
        m2,
        legal_state,
        type_forgive_interest
      };
    } catch (error) {
      this.$notify(
        "error",
        "Error al obtener unidad funcional",
        error.response.data.message,
        { duration: 3000, permanent: false }
      );
    }
  },
  methods: {
    async submitFU() {
      let validateFU = this.validateFUForm("functionalUnitForm");
      let validatePercentages;
      if (this.percentages.length) {
        validatePercentages = this.percentages.every(percentage =>
          this.validatePercentagesForm(`percentage${percentage.id}`)
        );
      } else {
        validatePercentages = true;
      }

      if (validateFU && validatePercentages) {
        try {
          await FunctionalUnitsRepository.updateFunctionalUnit(
            this.user.authHeader,
            this.formData,
            this.idFU
          );
          if (this.percentages.length) {
            await FunctionalUnitPercentagesRepository.updateFunctionalUnitPercentages(
              this.user.authHeader,
              this.percentages,
              this.idFU
            );
          }
          this.$notify(
            "success",
            "Unidad funcional actualizada",
            "La unidad funcional fue actualizada satisfactoriamente.",
            { duration: 3000, permanent: false }
          );
          this.$router.push({ name: "functional-units-list" });
        } catch (error) {
          this.$notify(
            "error",
            "Error actualizando la unidad funcional",
            error.response.data.message,
            { duration: 3000, permanent: false }
          );
        }
      } else {
        this.scrollToError(validatePercentages);
      }
    },
    validateFUForm(refName) {
      this.$refs[refName].$v.$touch();
      return !this.$refs[refName].$v.$anyError;
    },
    validatePercentagesForm(refName) {
      this.$refs[refName][0].$v.$touch();
      return !this.$refs[refName][0].$v.$anyError;
    },
    scrollToError(validatePercentagesForm) {
      let elementID = !validatePercentagesForm
        ? "percentagesForm"
        : "functionalUnitForm";
      this.$scrollTo(`#${elementID}`, 200, {
        easing: "ease-in",
        offset: -50
      });
    },
    async formatFUPercentages() {
      let functionalUnitPercentages = await FunctionalUnitPercentagesRepository.showPercentages(
        this.user.authHeader,
        this.idFU
      );

      let formattedPercentages = functionalUnitPercentages.rows.map(
        fUPercentage => {
          return {
            id: fUPercentage.id,
            value: fUPercentage.value,
            name: fUPercentage.percentage_consortium.name
          };
        }
      );
      return formattedPercentages;
    }
  },
  components: {
    HeaderList,
    FunctionalUnitForm,
    FunctionalUnitPercentagesForm
  },
  computed: {
    ...mapGetters({
      user: "currentUser"
    })
  }
};
</script>
