<template>
  <div>
    <header-list :title="$t('menu.functional-units')">
      <template v-slot:filters>
        <simple-search placeholder="ID" :field="'id'" :searchChange="searchChange" />
        <page-options
          :from="from"
          :to="to"
          :total="total"
          :perPage="perPage"
          :pageSizes="pageSizes"
          :changePageSize="changePageSize"
        />
      </template>
    </header-list>
    <Datatable
      ref="datatable"
      :apiBase="apiBase"
      :columns="computedColumns"
      :perPage="perPage"
      :contextMenuItems="contextMenuItems"
      :filter="filter"
      @getPagination="getPagination"
      @onContextMenuAction="onContextMenuAction"
      :slotNames="slotNames"
    >
      <template v-slot:contact="props">
        <div>{{formatContact(props)}}</div>
      </template>
    </Datatable>
    <confirm-modal
      ref="confirmModal"
      :title="$t('forms.functional-units.title-modal')"
      :description="$t('forms.functional-units.description-modal')"
      :confirm="$t('forms.confirm')"
      :cancel="$t('forms.cancel')"
      @acceptModal="acceptModal"
    ></confirm-modal>
  </div>
</template>

<script>
import HeaderList from "@/components/Common/HeaderList";
import SimpleSearch from "@/components/Filter/SimpleSearch";
import PageOptions from "@/components/Common/PageOptions";
import Datatable from "@/components/Common/Datatable";
import ChangePageMixin from "@/mixins/ChangePageMixin";
import dataTableMixin from "@/mixins/dataTableMixin";
import FunctionalUnitsRepository from "@/repositories/FunctionalUnitsRepository";
import ConfirmModal from "@/components/Common/ConfirmModal";

const BASEURL = process.env.VUE_APP_BASEURL;

export default {
  data() {
    return {
      slotNames: ["contact"],
      columns: [
        {
          name: "functional_unit_number",
          title: "Nro de UF",
          titleClass: "",
          dataClass: "list-item-heading",
          width: "15%"
        },
        {
          name: "floor",
          title: "Piso",
          titleClass: "",
          dataClass: "list-item-heading",
          width: "35%"
        },
        {
          name: "__slot:contact",
          title: "Contacto Principal",
          titleClass: "",
          dataClass: "list-item-heading",
          width: "75%"
        }
      ],
      apiBase: BASEURL + "/functional-units/",
      perPage: 10,
      pageSizes: [10, 15, 20, 25],
      contextMenuItems: [
        {
          text: "Ver Perfil",
          icon: "simple-icon-book-open",
          action: "functional-unit-edit"
        },
        {
          text: "Ver Contactos",
          icon: "simple-icon-people",
          action: "functional-unit-contacts"
        },
        {
          text: "Borrar Unidad Funcional",
          icon: "simple-icon-trash",
          action: "functional-unit-delete"
        }
      ]
    };
  },
  created() {
    let consortiumId = this.$route.params.id;
    this.apiBase = `${this.apiBase}?consortium_id=${consortiumId}`;
  },
  methods: {
    onContextMenuAction(action, element) {
      switch (action) {
        case "functional-unit-edit":
          this.$router.push({
            name: "functional-units-edit",
            params: { idFU: element.id }
          });
          break;

        case "functional-unit-contacts":
          this.$router.push({
            name: "functional-units-contacts-list",
            params: { idFU: element.id }
          });
          break;

        case "functional-unit-delete":
          this.idSelect = element.id;
          this.$refs.confirmModal.$bvModal.show("confirmModal");
          break;

        default:
          break;
      }
    },
    async deleteFunctionalUnit(id) {
      try {
        await FunctionalUnitsRepository.destroyFunctionalUnit(
          this.user.authHeader,
          id
        );
        this.$refs.datatable.$refs.vuetable.refresh();
        this.$notify(
          "success",
          "Unidad Funcional eliminada",
          "La unidad funcional fue eliminada satisfactoriamente.",
          { duration: 3000, permanent: false }
        );
      } catch (error) {
        this.$notify(
          "error",
          "Error al eliminar unidad funcional",
          error.response.data.message,
          { duration: 3000, permanent: false }
        );
      }
    },
    acceptModal() {
      this.$refs.confirmModal.$bvModal.hide("confirmModal");
      this.deleteFunctionalUnit(this.idSelect);
    },
    formatContact(props) {
      return `${props.props.rowData.owner_first_name} ${props.props.rowData.owner_last_name}`;
    }
  },
  components: {
    HeaderList,
    SimpleSearch,
    PageOptions,
    Datatable,
    ConfirmModal
  },
  mixins: [ChangePageMixin, dataTableMixin]
};
</script>
