<template>
  <div>
    <ul :class="`nav nav-tabs ${navClass}`">
      <li
        :class="{
          'nav-item': true,
          'step-doing': tab.isActive,
          'step-done': tab.isDone,
        }"
        v-for="(tab, tabIndex) in filterTabs"
        v-bind:key="tab.name"
      >
        <a
          :class="{
            'nav-link': true,
            disabled: topNavDisabled,
          }"
          href="#"
          @click.prevent="clickedTab(tabIndex)"
        >
          <span>{{ tab.name }}</span>
          <small>{{ tab.desc }}</small>
        </a>
      </li>
    </ul>
    <slot></slot>
    <div class="separator my-4" />
    <div :class="`wizard-buttons ${navClass}`" v-if="!(lastStepEnd && isCompleted)">
      <div>
        <button
          type="button"
          class="mr-1 btn btn-primary"
          :disabled="!currentActive > 0"
          v-show="currentActive < 3"
          @click="previousTab()"
        >{{ $t("wizard.previous") }}</button>
      </div>
      <div class="d-flex">
        <button
          type="button"
          class="mr-1 btn btn-primary"
          v-show="currentActive == 0"
          v-b-tooltip.hover
          title="Crea consorcio inicial"
          @click="submitConsortium"
        >{{ $t("pages.create-consortium") }}</button>

        <button
          type="button"
          class="btn btn-primary"
          :disabled="currentActive >= totalTabs - 1"
          @click="nextTab()"
        >{{ $t("wizard.continue") }}</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "form-wizard",
  props: {
    navClass: {
      default: "justify-content-center"
    },
    lastStepEnd: {
      default: false
    },
    topNavDisabled: {
      default: false
    },
    withValidate: {
      default: false
    },
    done: {
      type: Function,
      default: () => {
        console.log("called done!");
      }
    },
    isModalAble: {
      default: false
    }
  },
  data() {
    return {
      tabs: [],
      currentActive: 0,
      totalTabs: 0,
      isCompleted: false
    };
  },
  created() {
    this.tabs = this.$children;
  },
  mounted() {
    this.totalTabs = this.tabs.filter(x => x.type != "done").length;
    if (localStorage.getItem("formStep4")) {
      try {
        this.currentActive = 3;
      } catch (e) {
        localStorage.removeItem("formStep4");
      }
    }
  },
  computed: {
    filterTabs() {
      return this.tabs.filter(tab => tab.type === "tab");
    }
  },
  methods: {
    submitConsortium() {
      this.$emit("submitConsortium");
    },
    tabStatusFix() {
      this.tabs.forEach((tab, tabIndex) => {
        let isDone = tab.isDone;
        if (!isDone) {
          isDone = this.currentActive > tabIndex;
        }
        tab.isDone = isDone;
        tab.isActive = false;
      });
    },
    clickedTab(tabIndex) {
      if (!this.topNavDisabled) {
        if (!(this.lastStepEnd && this.isCompleted)) {
          this.currentActive = tabIndex;
          this.tabStatusFix();
          this.tabs[this.currentActive].isActive = true;
        }
      }
    },
    previousTab() {
      this.currentActive--;
      this.tabStatusFix();
      this.tabs[this.currentActive].isActive = true;
    },

    nextTab() {
      let valid = true;
      if (this.withValidate) {
        valid = this.tabs[this.currentActive].validate();
        if (valid) {
          if (this.currentActive === 2 && this.isModalAble) {
            this.$emit("showModal");
            return;
          } else {
            try {
              this.tabs[this.currentActive].submit();
            } catch (error) {
              throw error;
            }
          }
        }
      }
      if (valid) {
        this.currentActive++;
        this.tabStatusFix();
        if (this.currentActive >= this.totalTabs) {
          this.isCompleted = true;
          const doneTab = this.tabs.find(x => x.type == "done");
          if (doneTab) {
            doneTab.isActive = true;
          } else this.tabs[this.currentActive - 1].isActive = true;
          this.done();
        } else this.tabs[this.currentActive].isActive = true;
      }
    }
  }
};
</script>
